<template>
  <v-flex class="mt-2">
    <template>
      <v-alert class="mt-5" type="warning" icon="mdi-bell" dismissible>
        Pastikan resi sudah dalam keadaan confirm / on proses sebelum di scan
      </v-alert>

      <v-combobox
        class="mt-2"
        @change="onChangeCombobox"
        v-model="dataOnCheck"
        label="Masukan resi"
        multiple
        small-chips
        flat
        outlined
      >
      </v-combobox>
      <v-combobox
        v-model="dataChecked"
        label="Resi deterima"
        multiple
        outlined
        small-chips
        flat
        readonly
      >
      </v-combobox>
    </template>
    <v-form ref="form">
      <!--  reusable component   -->
      <div v-if="dataDouble.length > 0">
        <v-list-item-subtitle
          >{{ dataDouble.length }} data double :</v-list-item-subtitle
        >
        <v-list>
          <v-list-item class="red--text" v-for="row in dataDouble" :key="row">{{
            row
          }}</v-list-item>
        </v-list>
      </div>

      <slot></slot>
    </v-form>
    <div style="padding: 50px 0px">
      <v-flex class="d-flex justify-end">
        <v-btn color="error" @click="reset" elevation="0" v-if="data.length > 0"
          >Reset</v-btn
        >
        <v-btn
          @click="updateStatus"
          elevation="0"
          color="primary"
          class="ml-2"
          v-if="data.length > 0"
          >Update Status</v-btn
        >
      </v-flex>
    </div>
      <ScanResiSuccessDialogVue
      ref="refScanResiSuccessDialog"
  />
  </v-flex>
</template>
<script>
import FScanResi from "../../services/ft-scan-resi-service.js";
import ScanResiSuccessDialogVue from './ScanResiSuccessDialog.vue';
export default {
  components:{ScanResiSuccessDialogVue},
  props: {
    data: Array,
  },
  data() {
    return {
      dataOnCheck: [],
      dataChecked: [],

      dataDouble: [],

      snackbarSucces: false,
      timeout: 9000,
      doubleResiSound: new Audio("/assets/sound/scanResiSoundError.mp3"),
    };
  },
  methods: {
    onChangeCombobox() {
      /* get last data on model */
      let resi = this.dataOnCheck[this.dataOnCheck.length - 1].trim();
      /* check double or not */
      if (this.dataChecked.find((e) => e === resi)) {
        this.dataDouble.push(resi);
        /* remove resi other than duplicate */
        this.dataOnCheck = this.dataOnCheck.filter((e) => e !== resi);
        /* show error */
        return this.$swal({
          title: `Resi Double`,
          html: `Sialakan cek resi <span style="color:blue;">${resi}</span> kembali sebelum di scan`,
          icon: "error",
          confirmButtonText: "Tutup",
          preConfirm: () => {
            this.doubleResiSound.pause();
            this.doubleResiSound.currentTime = 0;
          },
          didOpen: () => {
            this.doubleResiSound.play();
          },
        });
      }

      /* TODO: kirim ke parent tolong diubah, , pakai emit, konsep reusable component */
      FScanResi.scanResi(resi, "scan")
        .then((response) => {
          if (response.data.code === 200) {
            /* if not exist on data checked */
            if (!this.dataChecked.find((e) => e === resi)) {
              /* then add to dataChecked also remove awb from dataOnCheck */
              this.data.push(response.data.data);
              this.dataChecked.push(resi);
              /* remove awb from array */
              this.dataOnCheck = this.dataOnCheck.filter((e) => e !== resi);
            }
          }
        })
        .catch((err) => {
          /* if awb doesnt exist on database */
          if (
            err.response.status === 404 &&
            err.response.data.message === "No entity found for query"
          ) {
            this.$swal({
              title: `Resi Tidak Di Temukan`,
              html: `Sialakan cek resi <span style="color:blue;">${resi}</span> kembali sebelum di scan`,
              icon: "warning",
              confirmButtonText: "Tutup",
              preConfirm: () => {
                this.doubleResiSound.pause();
                this.doubleResiSound.currentTime = 0;
              },
              didOpen: () => {
                this.doubleResiSound.play();
              },
            });
            /* remove awb from array */
            this.dataOnCheck = this.dataOnCheck.filter((e) => e !== resi);
          }
        });
    },
    updateStatus() {
      if (this.$refs.form.validate()) {
        /* TODO: kirim ke parent tolong diubah, , pakai emit, konsep reusable component */
        FScanResi.updateResi({
          awb: this.data.map((e) => e.deliveryNumber),
          type: "scan",
        }).then(
          (response) => {
            const { data } = response.data;
            this.reset();
            this.$swal({
              title:`Berhasil Update Status Resi`,
              html:`Silakan klik <span style="color:blue;">Detail</span>  untuk melihat detail informasi mengenai resi yang telah di update status nya`,
              icon:'success',
              showCancelButton:true,
              cancelButtonText: 'Close',
              confirmButtonText:'Detail',
              preConfirm:() => {
                  this.$refs.refScanResiSuccessDialog.showDialog(data,'scan update status')
              }

            })
            /* fetch summary on parent */
            this.$emit("fetchSummary");
          },
          (error) => {
            if (error.response.status === 401) {
              this.snackBarMesage = "Anda tidak mempunyai Akses!!";
              this.snackbar = true;
            }
          }
        );
      }
    },
    reset() {
      this.$emit("resetData");
      this.dataOnCheck = [];
      this.dataDouble = [];
      this.dataChecked = [];
    },
  },
};
</script>
<style scoped></style>
