<template>
  <div class="align-self-center">
    <v-dialog
      v-model="dialogShow"
      :width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeDialog"
      transition="dialog-top-transition"
    >
      <v-card style="position: relative">
        <v-toolbar color="rgb(66,103,178)" elevation="0" dark dense>
          <v-toolbar-title>Detail {{ title }}</v-toolbar-title>
             <v-spacer></v-spacer>
           <v-btn icon dark @click="closeDialog">
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-toolbar>

        <v-card-text class="justify-center">
          <v-row>
            <v-col cols="12" sm="12" md="12">
              <v-alert color="orange darken-1" class="mt-3" dark>
                Click salah satu data, otomatis membuka tab baru halaman input
                order
              </v-alert>
              <v-skeleton-loader
                v-if="loading"
                class="mx-auto"
                type="table"
                transition="scale-transition"
              >
              </v-skeleton-loader>
              <v-data-table
                @click:row="redirectToInputOrder"
                :items="items"
                v-if="!loading"
                :headers="headers"
                class="elevation-0 row-pointer"
              >
                <template v-slot:[`item.orderDate`]="{ item }">
                  {{ dateFormattedDatefns(item.orderDate) }}
                </template>
                <template v-slot:[`item.count`]="{ item }">
                  {{ item.count }} resi
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>

        <v-overlay absolute opacity="0.2" :value="overlay">
          <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import moment from "moment";
import { dateFormattedDatefns } from "../../../../utils/date-utils";
export default {
  name: "ScanResiSummaryDialog",
  data() {
    return {
      title: "",
      dialogShow: false,
      overlay: false,
      loading: false,
      formDialogOptions: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noConfirm: false,
      },
      items: [],
      headers: [
        {
          text: "Order Date",
          value: "orderDate",
          width: "50%",
        },
        {
          text: "Total",
          value: "count",
          width: "50%",
        },
      ],
    };
  },
  methods: {
    dateFormattedDatefns(value) {
      return dateFormattedDatefns(value);
    },
    redirectToInputOrder(item) {
      this.overlay = true;
      let route = this.$router.resolve({
        path:
          `/sales/` +
          (this.title === "confirmed" ? 1 : 2) +
          "/" +
          this.startDate(item.orderDate) +
          "/" +
          this.endDate(item.orderDate),
      });
      window.open(route.href, "_blank");
      this.overlay = false;
    },
    startDate(date) {
      let startTime = "00:00:00";
      let startDatetimeStr = `${date} ${startTime}`;
      return moment(startDatetimeStr, "YYYY-MM-DD HH:mm:ss").valueOf();
    },
    endDate(date) {
      let endTime = "23:59:59";
      let endDatetimeStr = `${date} ${endTime}`;
      return moment(endDatetimeStr, "YYYY-MM-DD HH:mm:ss").valueOf();
    },
    showDialog(data, type) {
      this.overlay = false;
      this.items = data.reverse();
      this.title = type;
      this.dialogShow = true;
    },
    closeDialog() {
      this.overlay = false;

        this.dialogShow = false;
        this.items = [];

    },
  },
};
</script>
