<template>
  <div class="align-self-center">
    <v-dialog
      v-model="dialogShow"
      :width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeDialog"
      transition="dialog-top-transition"
    >

      <v-card style="position: relative">
        <v-toolbar color="rgb(66,103,178)" elevation="0" dark dense>
          <v-toolbar-title>Detail {{ title }}</v-toolbar-title>
            <v-spacer></v-spacer>
           <v-btn icon dark @click="closeDialog">
              <v-icon>mdi-close</v-icon>
            </v-btn>
        </v-toolbar>
         <v-row class="mt-5 mx-2" style="position: relative">
            <v-col cols="12" sm="12" md="6" xs="12">
              <v-card
                color="grey darken-1"
                elevation="0"
                tile
                class="no-gutters white--text"
              >
                <v-card-title class="subtitle-2">
                  <span class="font-weight-black">Total Resi Update Status</span>
                </v-card-title>
                <v-card-text
                  class="white--text d-flex justify-space-between align-center"
                >
                  <span class="text-h4">{{ items.count.all }}</span>
                </v-card-text>
              </v-card>
            </v-col>
             <v-col cols="12" sm="12" md="6" xs="12">
              <v-card
                color="green darken-1"
                elevation="0"
                tile
                class="no-gutters white--text"
              >
                <v-card-title class="subtitle-2">
                  <span class="font-weight-black">Total Resi Success di Update</span>
                </v-card-title>
                <v-card-text
                  class="white--text d-flex justify-space-between align-center"
                >
                  <span class="text-h4">{{ items.count.success }}</span>
                </v-card-text>
              </v-card>
            </v-col>
             <v-col cols="12" sm="12" md="6" xs="12">
              <v-card
                color="yellow darken-4"
                elevation="0"
                tile
                class="no-gutters white--text"
              >
                <v-card-title class="subtitle-2">
                  <span class="font-weight-black">Total Resi Tidak Ditemukan</span>
                </v-card-title>
                <v-card-text
                  class="white--text d-flex justify-space-between align-center"
                >
                  <span class="text-h4">{{ items.count.notFound }}</span>
                </v-card-text>
              </v-card>
            </v-col>
              <v-col cols="12" sm="12" md="6" xs="12">
              <v-card
                color="red darken-1"
                elevation="0"
                tile
                class="no-gutters white--text"
              >
                <v-card-title class="subtitle-2">
                  <span class="font-weight-black">Total Resi Tidak Sesuai</span>
                </v-card-title>
                <v-card-text
                  class="white--text d-flex justify-space-between align-center"
                >
                  <span class="text-h4">{{ items.count.notMatch }}</span>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        <v-card-text class="justify-center">

          <v-row>
            <v-col cols="12" sm="12" md="12">
              <v-skeleton-loader
                v-if="loading"
                class="mx-auto"
                type="table"
                transition="scale-transition"
              >
              </v-skeleton-loader>
              <v-data-table
                :items="SuccessComputed"
                v-if="!loading"
                :headers="headersSuccess"
                class="elevation-0 row-pointer"
              >
              </v-data-table>
            </v-col>
          </v-row>
           <v-row>
            <v-col cols="12" sm="12" md="12">
              <v-skeleton-loader
                v-if="loading"
                class="mx-auto"
                type="table"
                transition="scale-transition"
              >
              </v-skeleton-loader>
              <v-data-table
                :items="NotFoundComputed"
                v-if="!loading"
                :headers="headersNotFound"
                class="elevation-0 row-pointer"
              >
              </v-data-table>
            </v-col>
          </v-row>
           <v-row>
            <v-col cols="12" sm="12" md="12">
              <v-skeleton-loader
                v-if="loading"
                class="mx-auto"
                type="table"
                transition="scale-transition"
              >
              </v-skeleton-loader>
              <v-data-table
                :items="NotMatchComputed"
                v-if="!loading"
                :headers="headersNotMatch"
                class="elevation-0 row-pointer"
              >
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>

        <v-overlay absolute opacity="0.2" :value="overlay">
          <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: "ScanResiSuccessDialog",
  data() {
    return {
      title: "",
      dialogShow: false,
      overlay: false,
      loading: false,
      formDialogOptions: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noConfirm: false,
      },
      items: [],
      headersSuccess: [
        {
          text: "Success Resi",
          value: "item",
          width: "100%",
        },

      ],
       headersNotFound: [
        {
          text: "Not Found Resi",
          value: "item",
          width: "100%",
        },

      ],
      headersNotMatch: [
        {
          text: "Not Match Resi",
          value: "item",
          width: "100%",
        },

      ],
    };
  },
  computed:{
    SuccessComputed(){
      return this.items.data.success.map(item => ({item}))
    },
     NotFoundComputed(){
      return this.items.data.notfound.map(item => ({item}))
    },
     NotMatchComputed(){
      return this.items.data.notMatch.map(item => ({item}))
    }
  },
  methods: {
    showDialog(data,title) {
      this.loading = true
      this.title = title
      this.items = data
      this.dialogShow = true;
       this.overlay = false;
        this.loading = false
    },
    closeDialog() {
      this.overlay = false;
      this.dialogShow = false;
    },
  },
};
</script>
