<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <v-card flat>
        <v-tabs
          :vertical="$vuetify.breakpoint.mdAndUp"
          :centered="$vuetify.breakpoint.smAndDown"
          color="deep-purple accent-4"
          background-color="#F5F5FF5F"
        >
          <v-tab class="justify-md-start" disabled>
            <v-icon left>
              {{ firstTabIcon }}
            </v-icon>
            {{ firstTabTitle }}
          </v-tab>

          <v-tab class="justify-start" @click="tabCompanyClick"> Config </v-tab>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <p>Application Setting</p>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FGeneralConfigTable ref="reFGroupNotification" />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FGeneralConfigTable from "../components/FGeneralConfigTable";

export default {
  name: "GeneralConfigView",
  components: { FGeneralConfigTable },
  data() {
    return {
      firstTabTitle: "General Config",
      firstTabIcon: "mdi-file",
    };
  },
  methods: {
    tabUsersClick() {},
    tabCompanyClick() {},
  },
};
</script>

<style></style>
