<template>
  <div class="Discount">
    <div class="white">
      <v-divider />
      <v-card-text class="py-2 mx-2 text-body-1 font-weight-medium"
        >Discount template</v-card-text
      >
    </div>
    <v-row class="mx-2 my-2">
      <v-col cols="12">
        <v-card flat>
          <v-tabs
            :centered="$vuetify.breakpoint.smAndDown"
            :vertical="$vuetify.breakpoint.mdAndUp"
            background-color="#F5F5FF5F"
            color="deep-purple accent-4"
          >
            <v-tab class="justify-start"> Data </v-tab>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <DiscountTable ref="reftabReturnTableClick" />
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import DiscountTable from "@/modules/discount/components/DiscountTable.vue";

export default {
  name: "Discount",
  components: { DiscountTable },
  data() {
    return {};
  },
  methods: {
    initFetch() {},
  },
  mounted() {},
};
</script>
