<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <div
        class="d-flex flex-column flex-lg-row justify-start justify-lg-space-between align-lg-center"
      >
        <v-card-title>
          {{ firstTabTitle }}
        </v-card-title>
        <v-btn
          color="primary"
          @click="readAllNotification"
          elevation="0"
          class="mr-2 ml-2 mb-3"
        >
          Tandai semua dibaca
        </v-btn>
      </div>
      <v-card class="mt-2 ml-2 mr-2">
        <v-tabs
          :vertical="$vuetify.breakpoint.mdAndUp"
          :centered="$vuetify.breakpoint.smAndDown"
          color="deep-purple accent-4"
          background-color="#F5F5FF5F"
        >
          <v-tab class="justify-start" v-for="item in items" :key="item.id">
            <v-badge
              color="blue"
              :content="
                item.totalNotification === 0 ? '0' : item.totalNotification
              "
            >
              {{ item.namaLabel }}
            </v-badge>
          </v-tab>

          <v-tab-item v-for="item in items" :key="item.id">
            <div
              style="height: 700px; overflow-y: auto"
              v-if="item.notificationList.length > 0"
            >
              <v-card flat class="py-5">
                <template v-for="d in item.notificationList">
                  <v-hover :key="d.id" v-slot="{ hover }">
                    <div
                      @click="readNotification(d.id, d.more)"
                      :style="
                        hover
                          ? 'cursor:pointer;background-color: #dfe6e9'
                          : d.isRead
                          ? 'cursor:pointer;'
                          : 'cursor:pointer;background-color: rgb(122, 164, 250)'
                      "
                    >
                      <v-card-text class="d-flex align-start py-2">
                        <v-avatar color="primary white--text" size="40">{{
                          d.username.substring(0, 2)
                        }}</v-avatar>
                        <div class="flex-column mx-2">
                          <div>
                            <b>{{ d.username }}</b>
                            <b class="red--text ml-2" v-if="d.allTeam"
                              >Announce To All Team</b
                            >
                          </div>
                          <b>{{ d.created | toDiffHuman }}</b>
                          <div class="mb-0">
                            <div v-html="d.description" v-if="d.more"></div>
                            <div
                              v-html="d.description.slice(0, 200)"
                              v-else
                            ></div>
                            <div>
                              <span
                                @click="expandNotification(d.id, d.more)"
                                v-if="d.description.length > 200 && !d.more"
                                class="blue--text"
                              >
                                more</span
                              >
                              <span
                                @click="expandNotification(d.id, d.more)"
                                v-if="d.more"
                                class="blue--text"
                              >
                                less</span
                              >
                            </div>
                          </div>
                        </div>
                      </v-card-text>
                      <v-divider class="mx-4"></v-divider>
                    </div>
                  </v-hover>
                </template>
              </v-card>
            </div>
            <v-card flat class="py-5" v-else style="height: 700px">
              <v-card-text class="text-center"
                >Belum ada notifikasi</v-card-text
              >
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FGroupNotification from "../../top-notification/services/f-notification-service";
import momentTimzone from "moment-timezone";

export default {
  name: "Notification",
  components: {},
  data() {
    return {
      firstTabTitle: "Notification",
      firstTabIcon: "mdi-file-tree",
      expansionModel: [],
    };
  },
  filters: {
    toDiffHuman: function (date) {
      return momentTimzone.tz(date, "Asia/Jakarta").locale("id").fromNow();
    },
  },
  computed: {
    items() {
      return this.$store.state.notification
        .itemNotificationLabelWithNotificationItem;
    },
  },
  methods: {
    fetchNotification() {
      this.$store.dispatch(
        "notification/loadNotificationLabelWithNotificationItem"
      );
    },
    readNotification(id) {
      let tmpNotif = [];
      this.items.map((e) => (tmpNotif = [...tmpNotif, ...e.notificationList]));
      if (tmpNotif.find((e) => e.id === id).isRead === false) {
        FGroupNotification.readFNotification([id]).then(() => {
          this.fetchNotification();
        });
      }
    },
    readAllNotification() {
      let tmpNotif = [];
      this.items.map(
        (e) =>
          (tmpNotif = [...tmpNotif, ...e.notificationList.map((t) => t.id)])
      );
      FGroupNotification.readFNotification(tmpNotif).then(() => {
        this.fetchNotification();
      });
    },
    expandNotification(id, more) {
      const a = this.items.map((d) => {
        return {
          ...d,
          notificationList: [
            ...d.notificationList.filter((e) => e.id !== id),
            { ...d.notificationList.find((e) => e.id === id), more: !more },
          ].sort((a, b) => {
            return b.id - a.id;
          }),
        };
      });
      this.$store.commit(
        "notification/loadNotificationLabelWithNotificationItem",
        a
      );
    },
  },
  mounted() {
    this.fetchNotification();
  },
};
</script>

<style scoped></style>
