<template>
  <div>
    <v-dialog
      v-model="dialogShow"
      :max-width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeForm"
      :fullscreen="$vuetify.breakpoint.smAndDown"
      :hide-overlay="$vuetify.breakpoint.smAndDown"
    >
      <v-card>
        <v-form v-model="valid" ref="form">
          <v-toolbar dark color="primary" flat dense>
            <v-btn icon dark @click="closeForm">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{ title }}</v-toolbar-title>

            <span class="ml-2 mr-2 font-weight-medium grey--text"> | </span>
            <span v-if="formMode === 'EDIT_FORM'">EDIT </span>
            <span class="font-weight-light ml-1 mr-1">ITEM</span>
            <span v-if="formMode === 'NEW_FORM'"> BARU</span>

            <span
              class="ml-2 mr-2 font-weight-medium grey--text"
              v-show="isItemModified"
            >
              |
            </span>
            <v-chip
              class="ma-2"
              color="warning"
              outlined
              x-small
              v-show="isItemModified"
            >
              <v-icon left> mdi-pencil </v-icon>
              modfied
            </v-chip>

            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn
                dark
                text
                @click="save"
                :disabled="!valid || isItemModified === false"
                class="hidden-md-and-up"
              >
                Simpan
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="itemModified.title"
                    label="Judul"
                    :rules="rulesLenght"
                  ></v-text-field>
                </v-col>
                <v-col
                  v-if="formMode !== 'NEW_FORM' && haveRoleAdmin"
                  cols="12"
                  sm="12"
                  md="6"
                >
                  <v-text-field
                    v-model="itemModified.userBean.username"
                    label="Pelapor"
                    disabled
                    :rules="rulesNotEmtpy"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" :md="formMode !== 'NEW_FORM' ? 6 : 12">
                  <v-autocomplete
                    v-model="itemModified.feedbackCategoryBean"
                    :rules="rulesNotEmtpy"
                    :items="itemsFFeedbackCategory"
                    item-value="id"
                    item-text="name"
                    dense
                    chips
                    deletable-chips
                    color="blue-grey lighten-2"
                    label="Kategori"
                    persistent-hint
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-textarea
                    v-model="itemModified.description"
                    label="Deskripsi"
                    :rules="rulesLenght"
                  ></v-textarea>
                </v-col>

                <v-col>
                  <div class="align-self-center">
                    <v-btn
                      elevation="0"
                      @click="showDialogUpload"
                      class="subtitle-1"
                    >
                      <v-icon>mdi mdi-attachment</v-icon>
                      Attachment
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-chip
              class="ml-4"
              color="error"
              outlined
              close
              small
              v-show="formDialogOptions.errorMessage"
            >
              {{ formDialogOptions.errorMessage }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              outlined
              text
              @click="closeForm"
              class="hidden-sm-and-down"
            >
              Batal
            </v-btn>
            <v-btn
              color="blue darken-1"
              outlined
              text
              @click="save"
              :disabled="!valid || isItemModified === false"
              class="hidden-sm-and-down"
            >
              Simpan
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>

      <UploadImageMicroservice
        ref="refUploadDialog"
        folder_upload="feedbackImage"
        :model_id="this.itemModified.id"
        @eventUploadSuccess="completeUploadSuccess"
      >
      </UploadImageMicroservice>

      <CloseConfirmDialog
        ref="refCloseConfirmDialog"
        @eventFromCloseConfirm="passingEventFromCloseConfirm"
      ></CloseConfirmDialog>

      <v-snackbar v-model="snackbar">
        {{ snackBarMesage }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
        </template>
      </v-snackbar>
    </v-dialog>
  </div>
</template>

<script>
import CloseConfirmDialog from "../../../components/utils/CloseConfirmDialog";
import FormMode from "../../../models/form-mode";
import FFeedbackService from "../services/f-feedback-service";
import FFeedback from "../models/f-feedback";
import FFeedbackCategoryService from "../services/f-feedback-category-service";
import UploadImageMicroservice from "../../../components/utils/UploadImageMicroserviceDialog";
import FileService from "../../../services/apiservices/file_service/file-service";

export default {
  components: { UploadImageMicroservice, CloseConfirmDialog },
  props: {
    formMode: String,
  },
  data() {
    return {
      title: "Feedback",
      snackBarMesage: "",
      snackbar: false,

      imageOverlay: false,

      dialogShow: false,
      formDialogOptions: {
        title1: "",
        title2: "",
        message1: "",
        message2: "",
        errorMessage: "",
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },

      selectedItemIndex: -1,
      itemDefault: "",
      itemModified: new FFeedback(0),
      selectFDivision: { id: 0, name: "" },
      itemsFFeedbackCategory: [],

      valid: false,
      rulesLenght: [
        (v) => !!v || " Tidak Boleh Kosong",
        (v) => v.length <= 255 || "Maksimal 255 Karakter",
        (v) => v.length > 1 || "Harus lebih besar dari 1 karakter",
      ],
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],

      transparent: "rgba(255, 255, 255, 0)",
    };
  },
  computed: {
    isItemModified() {
      const defaultItem = JSON.stringify(this.itemDefault);
      const modifiedItem = JSON.stringify(this.itemModified);
      return defaultItem !== modifiedItem;
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
  },
  watch: {},

  methods: {
    lookupImageUrl(item) {
      if (item.imagePath === undefined || item.imagePath === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        const { VITE_API_UPLOAD_SERVICE_URL } = import.meta.env;
        return VITE_API_UPLOAD_SERVICE_URL + item.imagePath;
      }
    },
    lookupImageUrlLazy() {
      return "./assets/images/no_image_available.jpeg";
    },
    completeUploadSuccess: function (response) {
      const { data } = response;
      if (
        this.itemModified.imagePath !== undefined &&
        this.itemModified.imagePath !== ""
      ) {
        FileService.deleteImageMicroservice(this.itemModified.imagePath).then(
          (response) => {
            console.log(response.data);
          },
          (error) => {
            console.log(error.response);
          }
        );
      }

      if (data[0] !== "") {
        this.$refs.refUploadDialog.closeDialog();
        this.itemModified.imagePath = data[0];
        this.saveCreateOnly();
      }
    },

    showDialogUpload() {
      if (
        this.itemModified.title !== "" &&
        this.itemModified.description !== "" &&
        this.itemModified.feedbackCategoryBean !== 0
      ) {
        if (this.itemModified.id === 0) {
          this.saveCreateOnly();
        }
        this.$refs.refUploadDialog.showDialog();
      } else {
        this.snackBarMesage = "Lengkapi form terlebih dahulu";
        this.snackbar = true;
      }
    },

    showDialog(selectedIndex, item, itemsFFeedbackCategory) {
      // console.log("show UserDialog " + item.id)
      // console.log(this.formMode)
      this.dialogShow = !this.dialogShow;
      if (selectedIndex > -1) {
        this.selectedIndex = selectedIndex;
        this.initializeEditMode(item);
      } else {
        this.itemDefault = new FFeedback(0, "");
        this.itemModified = new FFeedback(0, "");
        this.selectedIndex = -1;
      }
      this.itemsFFeedbackCategory = itemsFFeedbackCategory;
    },
    setDialogState(value) {
      this.dialogShow = value;
    },
    save() {
      if (this.isItemModified === false) {
        this.dialogShow = false;
        this.$emit("eventFromFormDialog1", this.itemModified);
        return;
      }
      if (this.$refs.form.validate()) {
        if (this.formMode === FormMode.EDIT_FORM) {
          FFeedbackService.updateFFeedbackService({
            ...this.itemModified,
            feedbackCategoryBean: this.itemModified.feedbackCategoryBean.id,
            userBean: this.itemModified.userBean.id,
          }).then(
            () => {
              this.$emit("eventFromFormDialogEdit", this.itemModified);
            },
            (error) => {
              this.formDialogOptions.errorMessage = error.response.data.message;
            }
          );
        } else {
          this.itemModified.userBean = this.currentUser.id;
          FFeedbackService.createFFeedbackService(this.itemModified).then(
            (response) => {
              this.$emit("eventFromFormDialogNew", response.data);
            },
            (error) => {
              this.formDialogOptions.errorMessage = error.response.data.message;
            }
          );
        }
      }
    },
    saveCreateOnly() {
      this.itemModified.userBean = this.currentUser.id;
      FFeedbackService.createFFeedbackService(this.itemModified).then(
        (response) => {
          this.$emit("update:formMode", FormMode.EDIT_FORM);
          const { id } = response.data;
          this.itemModified.id = id;
        },
        (error) => {
          this.formDialogOptions.errorMessage = error.response.data.message;
        }
      );
    },
    saveUpdateOnly() {
      FFeedbackService.updateFFeedbackService({
        ...this.itemModified,
        feedbackCategoryBean: this.itemModified.feedbackCategoryBean.id,
        userBean: this.itemModified.userBean.id,
      }).then(
        () => {},
        (error) => {
          this.formDialogOptions.errorMessage = error.response.data.message;
        }
      );
    },
    closeForm() {
      if (!this.isItemModified) {
        this.dialogShow = false;
        this.$emit("eventFromFormDialog1", this.itemModified);
      } else {
        this.$refs.refCloseConfirmDialog.showDialog(
          " Sudah terdapat modifikasi data",
          "Tetap tutup dan reset perubahan?"
        );
      }
    },
    passingEventFromCloseConfirm(value) {
      if (value === "OKE") this.dialogShow = false;
    },
    initializeEditMode(item) {
      this.itemDefault = item;
      this.itemModified = item;
      this.formDialogOptions.errorMessage = "";
      FFeedbackService.getFFeedbackServiceById(item.id).then(
        (response) => {
          this.itemDefault = Object.assign({}, response.data);
          this.itemModified = response.data;
        },
        (error) => {
          console.log(error);
        }
      );

      FFeedbackCategoryService.getAllFFeedbackCategoryService().then(
        (response) => {
          this.itemsFFeedbackCategory = response.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
};
</script>
<style scoped>
.show-btns {
  color: #4267b2 !important;
  opacity: 1;
}
</style>
