<template>
  <v-card class="elevation-0">
    <v-card-title>
      {{ title }}
      <v-spacer></v-spacer>

      <v-text-field
        v-on:keyup.enter="searchOnEnter"
        v-on:blur="searchOnEnter"
        append-icon="mdi-magnify"
        hint="Nama Kategori (press ENTER to search)"
        label="Search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-model="selectedItems"
      :single-select="!multiSelect"
      :show-select="multiSelect"
      :headers="headers"
      :items="FFeedbackFiltered"
      :page.sync="currentPage"
      :items-per-page="pageSize"
      hide-default-footer
      class="elevation-0"
      @page-count="totalTablePages = totalPaginationPages"
    >
      <template v-slot:[`item.created`]="{ item }">
        <div class="text-caption small">
          <div>
            {{
              new Date(item.created).toLocaleString("id").replace(["."], ":")
            }}
          </div>
        </div>
      </template>

      <template v-slot:[`item.description`]="{ item }">
        <div class="text-caption small">
          <div>
            {{
              item.description.length > 200
                ? item.description.substring(0, 200) + "..."
                : item.description
            }}
          </div>
        </div>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-btn @click="showDialogEdit(item)" icon :disabled="multiSelect">
          <v-icon small color="warning"> mdi-pencil </v-icon>
        </v-btn>

        <v-btn
          v-if="haveRoleAdmin"
          @click="deleteDialogShow(item)"
          icon
          :disabled="multiSelect"
        >
          <v-icon small color="red accent-4"> mdi-delete </v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <v-container>
      <v-row justify="end" align="center">
        <v-col cols="4" md="2" sm="2">
          <v-select
            v-model="pageSize"
            :items="pageSizes"
            label="Items per page"
          ></v-select>
        </v-col>
        <v-col cols="10" md="9" sm="8" align="right">
          <v-pagination
            v-model="currentPage"
            :length="totalPaginationPages"
            total-visible="8"
            circle
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>

    <DeleteConfirmDialog
      ref="refDeleteConfirmDialog"
      @eventFromDeleteConfirmDialog1="deleteItemConfirmedSingleSelect"
    ></DeleteConfirmDialog>

    <FeedbackDialog
      :formMode.sync="formMode"
      ref="refFormDialog"
      @eventFromFormDialogNew="saveDataNew"
      @eventFromFormDialogEdit="saveDataEdit"
    ></FeedbackDialog>

    <v-snackbar v-model="snackbar">
      {{ snackBarMesage }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </v-card>
</template>

<script>
import DeleteConfirmDialog from "../../../components/utils/DeleteConfirmDialog";
import FormMode from "../../../models/form-mode";
import FFeedbackService from "../services/f-feedback-service";
import FFeedback from "../models/f-feedback";
import FeedbackDialog from "./FeedbackDialog";

export default {
  components: { FeedbackDialog, DeleteConfirmDialog },
  data() {
    return {
      title: "Feedback",
      snackbar: false,
      snackBarMesage: "",

      multiSelect: false,
      selectedItems: [],

      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      pageSize: 10,
      pageSizes: [10, 25, 50, 150, 500],

      search: "",
      headers: [
        {
          text: "",
          align: "center",
          sortable: false,
          value: "avatar",
        },
        { text: "Kategori", value: "feedbackCategoryBean.name" },
        { text: "Judul", value: "title" },
        { text: "Deskripsi", value: "description" },
        { text: "Pelapor", value: "userBean.username" },
        { text: "Created", value: "created" },
        { text: "Actions", value: "actions", sortable: false },
      ],

      formMode: "",
      itemSelectedIndex: -1,
      itemSelected: "",
      FFeedback: [new FFeedback(0, "")],
    };
  },
  watch: {
    currentPage: {
      handler: function (value) {
        if (value) this.fetchFFeedback();
      },
    },
    pageSize: {
      handler: function () {
        const refreshData = this.currentPage == 1;
        this.currentPage = 1;
        if (refreshData) {
          this.fetchFFeedback();
        }
      },
    },
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    FFeedbackFiltered() {
      return this.FFeedback;
    },
  },
  methods: {
    saveDataNew(itemFromRest) {
      this.itemSelected = itemFromRest;
      this.closeDialog();
      this.fetchFFeedback();
    },
    saveDataEdit(item) {
      this.itemSelected = item;
      try {
        Object.assign(
          this.fFeedbackCategories[this.itemSelectedIndex],
          this.itemSelected
        );
      } catch (e) {
        this.fetchFFeedback();
        e.toString();
      }
      this.closeDialog();
    },
    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        //Krusial untuk search
        this.currentPage = 1;
        this.search = event.target.value;
        this.fetchFFeedback();
      }
    },
    fetchFFeedback() {
      FFeedbackService.getAllFFeedbackServiceContaining(
        this.currentPage,
        this.pageSize,
        "id",
        "DESC",
        this.search
      ).then(
        (response) => {
          const { items, totalPages } = response.data;
          this.totalPaginationPages = totalPages;
          this.FFeedback = items;
        },
        (error) => {
          console.log(error.response);
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },
    linkNeated(link) {
      return link.replace(/\s+/g, "-").toLocaleLowerCase();
    },
    showDialogEdit(item) {
      this.itemSelectedIndex = this.FFeedbackFiltered.indexOf(item);
      const itemModified = Object.assign({}, item);
      this.formMode = FormMode.EDIT_FORM;
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.itemsFDivision
      );
    },
    deleteDialogShow(item) {
      this.itemSelectedIndex = this.FFeedbackFiltered.indexOf(item);
      this.itemSelected = Object.assign({}, item);
      this.$refs.refDeleteConfirmDialog.showDialog(
        this.itemSelectedIndex,
        item.username
      );
    },
    deleteDialogMultiShow() {
      if (this.multiSelect === true) {
        this.$refs.refDeleteConfirmDialog.showDialogMulti(
          this.selectedItems,
          `${this.selectedItems.length} items selected`
        );
      }
    },
    deleteItemConfirmedSingleSelect() {
      const deletedItem = this.FFeedback[this.itemSelectedIndex];
      FFeedbackService.deleteFFeedbackService(deletedItem.id).then(
        () => {
          this.FFeedback.splice(this.itemSelectedIndex, 1);
          this.closeDialog();
        },
        (error) => {
          console.log(error);
          this.snackBarMesage = "gagal hapus (digunakan oleh data anak)";
          this.snackbar = true;
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
        }
      );
    },
    closeDialog() {
      this.formMode = "";
      this.$refs.refDeleteConfirmDialog.setDialogState(false);
      this.$refs.refFormDialog.setDialogState(false);

      this.$nextTick(() => {
        this.itemSelected = Object.assign({}, new FFeedback());
        this.itemSelectedIndex = -1;
      });
    },
    getColorStatusActive(trueFalse) {
      if (trueFalse === true) return "green";
      else if (trueFalse === false) return "gray";
      else return "gray";
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.fetchFFeedback();
    }
  },
};
</script>

<style scoped></style>
