<template>
  <v-container>
   <v-row class="mt-5">
    <div class="text-h4">Password & Security</div>
  </v-row>
  </v-container>
</template>
<script>
export default {
  components:{},
  data(){
    return {

    }
  },
  computed:{

  },
  methods:{

  },
  mounted(){

  }
}
</script>
<style scoped>

</style>
