<template>
  <v-container>
    <v-row class="mt-5">
      <div class="text-h4">Profile</div>
    </v-row>
    <v-row class="mt-10">
      <v-col cols="12" md="12">
        <div class="d-flex">
          <div class="d-flex">
            <v-img
              :src="lookupImageUrlLazy()"
              max-width="150"
              style="border-radius: 100%"
            >
            </v-img>
            <div class="align-self-end">
              <v-btn class="primary" fab small>
                <v-icon color="white">mdi-pencil</v-icon>
              </v-btn>
            </div>
          </div>
          <div class="ma-5">
            <div class="text-h5">
              {{ currentUser.username }}
            </div>
            <div class="text-body-1 gray--text font-weight-light">
              {{ loadAuthorities }}
            </div>
            <div class="text-caption text-capitalize">
              {{ lookupFDivision }}
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
    <v-row class="mt-10">
      <div class="text-h5">Informasi Pribadi</div>
    </v-row>
    <v-row>
      <v-col cols="12" md="6">
        <v-subheader>Username</v-subheader>
        <v-text-field
          v-model="currentUser.username"
          background-color="secondary"
          class="mb-5"
          disabled
          flat
          hide-details="auto"
          solo
        >
        </v-text-field>
      </v-col>
      <v-col cols="12" md="6">
        <v-subheader>Email</v-subheader>
        <v-text-field
          v-model="currentUser.email"
          background-color="secondary"
          class="mb-5"
          disabled
          flat
          hide-details="auto"
          solo
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6" md="6">
        <v-subheader>No telp</v-subheader>
        <v-text-field
          v-model="currentUser.phone"
          background-color="secondary"
          class="mb-5"
          disabled
          flat
          hide-details="auto"
          solo
        >
        </v-text-field>
      </v-col>
      <v-col cols="6" md="6">
        <v-subheader>Tgl Lahir</v-subheader>
        <v-text-field
          v-model="currentUser.birthDate"
          background-color="secondary"
          class="mb-5"
          disabled
          flat
          hide-details="auto"
          solo
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <div>
        <div class="text-h5">Informasi Tambahan</div>
      </div>
    </v-row>
    <v-row>
      <v-col cols="6" md="6">
        <v-subheader>Division/Bidang</v-subheader>
        <v-text-field
          v-model="lookupFDivision"
          background-color="secondary"
          class="mb-5"
          disabled
          flat
          hide-details="auto"
          solo
        >
        </v-text-field>
      </v-col>
      <v-col cols="6" md="6">
        <v-subheader>Level Organisasi</v-subheader>
        <v-text-field
          v-model="currentUser.organizationLevel"
          background-color="secondary"
          class="mb-5"
          disabled
          flat
          hide-details="auto"
          solo
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6" md="6">
        <v-subheader>Authorities</v-subheader>
        <v-text-field
          v-model="loadAuthorities"
          background-color="secondary"
          class="mb-5"
          disabled
          flat
          hide-details="auto"
          solo
        >
        </v-text-field>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import FSalesman from "../../../models/f-salesman";
import FDivisionService from "../../division/services/f-division-service";
import FSalesmanService from "../../pegawai/services/f-salesman-service";

export default {
  components: {},
  data() {
    return {
      fSalesman: new FSalesman(),
      itemsFDivision: [{ id: 0, kode1: "", description: "-" }],
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    loadAuthorities() {
      let authorities = "";
      this.currentUser.roles.map((autho) => {
        authorities += ` ${autho}`;
      });

      return authorities;
    },
    lookupFDivision() {
      const str = this.itemsFDivision.filter(
        (x) => x.id == this.currentUser.fdivisionBean
      );
      if (str.length > 0) {
        return `${str[0].description} - ${this.currentUser.fdivisionBean}`;
      } else {
        return "-";
      }
    },
  },
  methods: {
    lookupImageUrlLazy() {
      return "./assets/images/no_image_available.jpeg";
    },
    fetchDivision() {
      FDivisionService.getAllFDivision().then(
        (response) => {
          // console.log(response.data)
          this.itemsFDivision = response.data;
        },
        (error) => {
          console.log(error.response);
        }
      );
      if (this.currentUser.salesmanOf > 0) {
        FSalesmanService.getFSalesmanById(this.currentUser.salesmanOf).then(
          (response) => {
            this.fSalesman = response.data;
          },
          (error) => {
            console.log(error);
          }
        );
      }
    },
  },
  mounted() {
    this.fetchDivision();
  },
};
</script>
<style scoped></style>
