<template>
  <v-card class="elevation-0">
    <v-card-title>
      {{ title }}
      <v-spacer></v-spacer>
      <v-text-field
        v-on:keyup.enter="searchOnEnter"
        v-on:blur="searchOnEnter"
        append-icon="mdi-magnify"
        hint="Nama Kategori (press ENTER to search)"
        label="Search"
      >
      </v-text-field>
    </v-card-title>
    <v-data-table
      v-model="selectedItems"
      :single-select="!multiSelect"
      :show-select="multiSelect"
      :headers="headers"
      :items="fCategoryExpedisi"
      :page.sync="currentPage"
      :items-per-page="pageSize"
      hide-default-footer
      class="elevation-0"
      @page-count="totalTablePages = totalPagianationPages"
    >
      <template v-slot:top>
        <v-row align="center" class="ml-4 mr-4" justify="end">
          <v-btn fab dark color="green" x-small @click="showDialogNew">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-row>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn @click="showDialogEdit(item)" icon :disabled="multiSelect">
          <v-icon small color="warning"> mdi-pencil </v-icon>
        </v-btn>

        <v-btn @click="deleteDialogShow(item)" icon :disabled="multiSelect">
          <v-icon small color="red accent-4"> mdi-delete </v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <v-container>
      <v-row justify="end" align="center">
        <v-col cols="4" md="2" sm="2">
          <v-select
            v-model="pageSize"
            :items="pageSizes"
            label="Items per page"
          ></v-select>
        </v-col>
        <v-col cols="10" md="9" sm="8" align="right">
          <v-pagination
            v-model="currentPage"
            :length="totalPagianationPages"
            total-visible="8"
            circle
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>
    <DeleteConfirmDialog
      ref="refDeleteConfirmDialog"
      @eventFromDeleteConfirmDialog1="deleteItemConfirmedSingleSelect"
    ></DeleteConfirmDialog>
    <FCategorySupportTicketExpedisiDialog
      :formMode.sync="formMode"
      ref="refFormDialog"
      @eventFromFormDialogNew="saveDataNew"
      @eventFromFormDialogEdit="saveDataEdit"
    ></FCategorySupportTicketExpedisiDialog>

    <v-snackbar v-model="snackbar">
      {{ snackBarMessage }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </v-card>
</template>
<script>
import FCategoryTicketExpedisi from "../../services/f-category-ticket-expedisi-service";
import FCategoryTicket from "../../models/f-category-ticket";
import DeleteConfirmDialog from "../../../../components/utils/DeleteConfirmDialog";
import FPayMethod from "../../../../models/f-pay-method";
import FCategorySupportTicketExpedisiDialog from "./FCategorySupportTicketExpedisiDialog.vue";
import FormMode from "../../../../models/form-mode";

export default {
  components: { DeleteConfirmDialog, FCategorySupportTicketExpedisiDialog },
  data() {
    return {
      title: "Kategori tiket Ekspedisi",
      snackbar: false,
      snackBarMessage: "",

      multiSelect: false,
      selectedItems: [],

      currentPage:1,
      totalTablePages:1,
      totalPagianationPages:1,
      pageSize:10,
      pageSizes:[10,25,50,150,500],

      search: "",
      headers: [
        {
          text: "",
          align: "center",
          sortable: false,
          value: "",
        },
        { text: "Nama", value: "name" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      formMode: "",
      itemSelectedIndex: -1,
      itemSeleceted: "",
      fCategoryExpedisi: [new FCategoryTicket(0, "")],
    };
  },
  watch:{
    currentPage:{
      handler:function (value) {
        if (value) this.fetchFCategorySupportTicketExpedisi()
      },
    },
     pageSize:{
        handler: function () {
          const refreshData = this.currentPage == 1;
          this.currentPage = 1;
          if (refreshData) {
            this.fetchFCategorySupportTicketExpedisi();
          }
        }
      }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    fCategoryExpedisiFiltered() {
      return this.fCategoryExpedisi;
    },
  },
  methods: {
    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        this.currentPage = 1;
        this.search = event.target.value;
        this.fetchFCategorySupportTicketExpedisi();
      }
    },
    fetchFCategorySupportTicketExpedisi() {
      FCategoryTicketExpedisi.getAllTicketCategoryExpedisi(
        this.currentPage,
        this.pageSize,
        "id",
        "DESC",
        this.search
      ).then(
        (response) => {
          const { items, totalPages } = response.data.data;
          this.totalPagianationPages = totalPages;
          this.fCategoryExpedisi = items;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    showDialogNew() {
      this.itemSelectedIndex = -1;
      const itemModified = Object.assign({}, "");
      // this.formDialogShow = true
      this.formMode = FormMode.NEW_FORM;
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.itemsFDivision
      );
    },
    saveDataNew(itemFromRest) {
      this.itemSelected = itemFromRest;
      this.closeDialog();
      this.fetchFCategorySupportTicketExpedisi();
    },
    showDialogEdit(item) {
      this.itemSelectedIndex = this.fCategoryExpedisiFiltered.indexOf(item);
      const itemModified = Object.assign({}, item);
      // this.formDialogShow = true
      this.formMode = FormMode.EDIT_FORM;
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.itemsFDivision
      );
    },
    saveDataEdit(item) {
      this.itemSelected = item;
      try {
        Object.assign(
          this.fCategoryExpedisi[this.itemSelectedIndex],
          this.itemSelected
        );
      } catch (e) {
        this.fetchFCategorySupportTicket();
        e.toString();
      }
      this.closeDialog();
    },
    deleteDialogShow(item) {
      this.itemSelectedIndex = this.fCategoryExpedisiFiltered.indexOf(item);
      this.itemSeleceted = Object.assign({}, item);
      this.$refs.refDeleteConfirmDialog.showDialog(
        this.itemSelectedIndex,
        item.username
      );
    },
    deleteItemConfirmedSingleSelect() {
      const deletedItem = this.fCategoryExpedisi[this.itemSelectedIndex];
      FCategoryTicketExpedisi.deleteFTicketCategoryExpedisi(
        deletedItem.id
      ).then(
        () => {
          this.fCategoryExpedisi.splice(this.itemSelectedIndex, 1);
          this.closeDialog();
        },
        (error) => {
          console.log(error);
          this.snackBarMesage = error.data.message;
          this.snackbar = true;
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
        }
      );
    },
    closeDialog() {
      this.formMode = "";
      this.$refs.refDeleteConfirmDialog.setDialogState(false);
      this.$refs.refFormDialog.setDialogState(false);

      this.$nextTick(() => {
        this.itemSelected = Object.assign({}, new FPayMethod());
        this.itemSelectedIndex = -1;
      });
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.fetchFCategorySupportTicketExpedisi();
    }
  },
};
</script>
<style scoped></style>
