<template>
  <div>
    <v-dialog
      v-model="showPopUp"
      transition="dialog-transition"
      max-width="600"
    >
      <template>
        <v-card rounded="lg">
          <v-card-text class="pb-0">
            <v-carousel
              v-model="model"
              :show-arrows="dataBanner.length > 1"
              hide-delimiter-background
            >
              <div>
                <v-toolbar-title
                  class="d-flex justify-space-between align-center pt-5"
                >
                  <v-card-text
                    class="font-weight-medium pl-0 pr-0 text-subtitle-1"
                    ref="titleNotification"
                  ></v-card-text>
                  <v-btn icon color="red" @click="closePopup">
                    <v-icon>mdi-close</v-icon></v-btn
                  >
                </v-toolbar-title>
              </div>

              <div v-for="data in dataBanner" :key="data.id">
                <v-carousel-item
                  :href="data.isRedirect ? data.urlRedirect : false"
                  class="py-2"
                >
                  <v-sheet height="100%" tile>
                    <v-row class="fill-height" align="center" justify="center">
                      <v-img
                        width="550"
                        height="440"
                        :src="lookupImageUrl(data)"
                        :alt="data.titleNotification"
                      />
                    </v-row>
                  </v-sheet>
                </v-carousel-item>
              </div>
            </v-carousel>
          </v-card-text>
          <v-card-actions>
            <v-checkbox
              v-model="checkbox"
              label="Tutup sampai login"
            ></v-checkbox>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
    <DashboardUtama ref="formContainer" />
  </div>
</template>

<script>
import DashboardUtama from "../components/Dashboard";
import FBannerService from "../../banner/services/f-banner-service";
export default {
  name: "Dashboard",
  components: {
    DashboardUtama,
  },
  data() {
    return {
      model: 0,
      showPopUp: false,
      checkbox: false,
      dataBanner: [],
      connection: null,
      client: null,
    };
  },
  mounted() {
    let isBanner = JSON.parse(localStorage.getItem("isBannerDashboard"));
    if (isBanner) {
      if (isBanner === true) {
        return this.fetchBanner(isBanner);
      }
      this.showPopUp = isBanner;
    }
  },
  methods: {
    lookupImageUrl(item) {
      if (item.imagePath === undefined || item.imagePath === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        const { VITE_API_UPLOAD_SERVICE_URL } = import.meta.env;
        return VITE_API_UPLOAD_SERVICE_URL + item.imagePath;
      }
    },
    fetchBanner(isBanner) {
      FBannerService.getNotificationBannerContainingDashboard(
        1,
        5,
        "priority",
        "DESC"
      ).then(
        (res) => {
          const { items } = res.data;
          this.dataBanner = items;
          if (items.length > 0) {
            this.showPopUp = isBanner;
          }
        },
        (err) => {
          console.log(err);
        }
      );
    },
    closePopup() {
      if (this.checkbox) {
        localStorage.setItem("isBannerDashboard", !this.checkbox);
      }
      this.showPopUp = false;
    },
  },
};
</script>

<style scoped></style>
