<template>
  <v-card class="elevation-0">
    <loading
      :active.sync="loading"
      :background-color="'rgb(66, 103, 178)'"
      :can-cancel="false"
      :is-full-page="true"
      :opacity="1"
    >
      <LogoLoaderVue />
    </loading>
    <v-card-title>
      {{ title }}
      <v-spacer></v-spacer>

      <v-text-field
        append-icon="mdi-magnify"
        label="Discount"
        v-on:blur="searchOnEnter"
        v-on:keyup.enter="searchOnEnter"
      ></v-text-field>
    </v-card-title>

    <div>
      <v-skeleton-loader
        v-if="loading"
        class="mx-auto"
        transition="scale-transition"
        type="table"
      >
      </v-skeleton-loader>

      <v-data-table
        v-if="!loading"
        :headers="headers"
        :items="data"
        :items-per-page="paginated.pageSize"
        :page.sync="paginated.currentPage"
        align="start"
        class="elevation-0"
        dense
        hide-default-footer
        @page-count="paginated.totalTablePages = paginated.totalPaginationPages"
      >
        <template v-slot:top>
          <v-row align="start" class="ml-4 mr-4">
            <div class="d-flex align-center">
              <v-select
                v-model="paginated.pageSize"
                :items="paginated.pageSizes"
                label="Items per page"
              ></v-select>
            </div>

            <v-spacer></v-spacer>

            <v-btn
              color="green"
              dark
              elevation="0"
              fab
              x-small
              @click="showDialogCreate"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-row>
        </template>
        <template v-slot:[`item.number`]="{ index }">
          {{ index + (paginated.currentPage - 1) * paginated.pageSize + 1 }}
        </template>

        <template v-slot:[`item.created`]="{ item }">
          <div class="text-caption small">
            <div>
              {{
                new Date(item.created).toLocaleString("id").replace(["."], ":")
              }}
            </div>
          </div>
        </template>

        <template v-slot:[`item.status`]="{ item }">
          <div class="text-caption small">
            <div>
              {{ item.status ? "Active" : "Non active" }}
            </div>
          </div>
        </template>

        <template v-slot:[`item.modified`]="{ item }">
          <div class="text-caption small">
            <div>
              {{
                new Date(item.modified).toLocaleString("id").replace(["."], ":")
              }}
            </div>
          </div>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn icon @click="showDialogEdit(item)">
            <v-icon color="warning" small> mdi-pencil </v-icon>
          </v-btn>

          <v-btn icon @click="deleteDialogShow(item)">
            <v-icon color="red accent-4" small> mdi-delete </v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </div>

    <v-container>
      <v-row align="center" justify="end">
        <v-col align="right" cols="10" md="9" sm="8">
          <v-pagination
            v-model="paginated.currentPage"
            :length="paginated.totalPaginationPages"
            circle
            total-visible="8"
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>

    <discount-dialog
      ref="dialog"
      @eventFromFormDialogEdit="editDiscount"
      @eventFromFormDialogNew="saveDiscount"
    />
    <delete-dialog
      ref="refDeleteConfirmDialog"
      @eventFromDeleteConfirmDialog1="deleteDiscount"
    ></delete-dialog>
  </v-card>
</template>

<script>
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import LogoLoaderVue from "../../public/components/LogoLoader.vue";
import FDiscountService from "@/modules/discount/services/f-discount-service";
import DiscountDialog from "@/modules/discount/components/DiscountDialog.vue";
import DeleteDialog from "@/components/utils/DeleteConfirmDialog.vue";

export default {
  components: {
    DeleteDialog,
    DiscountDialog,
    Loading,
    LogoLoaderVue,
  },
  data() {
    return {
      loading: false,
      title: "Data discount",
      paginated: {
        currentPage: 1,
        totalPaginationPages: 1,
        pageSize: 10,
        pageSizes: [10, 25, 50, 150, 500],
        search: "",
      },

      headers: [
        {
          text: "No",
          value: "number",
          width: "5%",
          sortable: false,
        },
        { text: "Nilai", value: "value", width: "15%" },
        { text: "Status", value: "status", width: "15%" },
        { text: "Created date", value: "created", width: "15%" },
        { text: "Modified Status", value: "modified", width: "15%" },
        { text: "Modified by", value: "modifiedBy", width: "15%" },
        { text: "Actions", value: "actions", align: "start", sortable: false },
      ],
      data: [],
    };
  },
  watch: {
    "paginated.currentPage": {
      handler: function (value) {
        if (value) {
          this.initFetch();
        }
      },
    },
    "paginated.pageSize": {
      handler: function (value) {
        const refreshData = this.paginated.currentPage === 1;
        this.paginated.currentPage = 1;
        if (refreshData) {
          this.initFetch();
        }
      },
    },
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    returnData() {
      return this.data;
    },
  },
  methods: {
    initFetch() {
      FDiscountService.getAllPaginated(
        this.paginated.currentPage,
        this.paginated.pageSize,
        "created",
        "DESC",
        this.paginated.search
      ).then((res) => {
        const data = res.data.data;
        this.data = data.items;
        this.paginated.totalPaginationPages = data.totalPages;
      });
    },

    deleteDiscount(index) {
      let item = this.data[index];
      FDiscountService.delete(item.id)
        .then((res) => {
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
          this.$swal({
            title: "Success",
            text: "Berhasil hapus data",
            icon: "success",
            confirmButtonText: "Tutup",
          });
          this.initFetch();
        })
        .catch((err) => {
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
          this.$swal({
            title: "Success",
            text: err.response.data.message,
            icon: "error",
            confirmButtonText: "Tutup",
          });
        });
    },

    editDiscount(item) {
      this.$swal({
        title: "Success",
        text: "Berhasil edit data",
        icon: "success",
        confirmButtonText: "Tutup",
      });
      this.initFetch();
    },

    saveDiscount(item) {
      this.$swal({
        title: "Success",
        text: "Berhasil simpan data",
        icon: "success",
        confirmButtonText: "Tutup",
      });
      this.initFetch();
    },

    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        this.currentPage = 1;
        this.search = event.target.value;
        this.initFetch();
      }
    },

    linkNeated(link) {
      return link.replace(/\s+/g, "-").toLocaleLowerCase();
    },

    deleteDialogShow(item) {
      let index = this.data.indexOf(item);
      this.$refs.refDeleteConfirmDialog.showDialog(
        index,
        "yakin hapus data ?",
        `Data discount ${item.value}`
      );
    },

    showDialogEdit(item) {
      this.$refs.dialog.initializeEditMode(item);
    },

    showDialogCreate(item) {
      this.$refs.dialog.initializeNewMode();
    },

    closeDialog() {},
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.initFetch();
    }
  },
};
</script>

<style scoped></style>
