<template>
  <div>
    <v-dialog
      v-model="dialogShow"
      :fullscreen="$vuetify.breakpoint.smAndDown"
      :hide-overlay="$vuetify.breakpoint.smAndDown"
      :max-width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      persistent
      @keydown.esc.prevent="closeDialog"
    >
      <v-card>
        <v-form ref="form">
          <v-toolbar color="primary" dark dense flat>
            <v-btn dark icon @click="closeDialog">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-toolbar-title>Discount</v-toolbar-title>

            <span class="ml-2 mr-2 font-weight-medium grey--text"> | </span>
            <span v-if="formMode === 'EDIT_FORM'">EDIT </span>
            <span class="font-weight-light ml-1 mr-1">ITEM</span>
            <span v-if="formMode === 'NEW_FORM'"> BARU</span>

            <span
              v-show="isItemModified"
              class="ml-2 mr-2 font-weight-medium grey--text"
            >
              |
            </span>
            <v-chip
              v-show="isItemModified"
              class="ma-2"
              color="warning"
              outlined
              x-small
            >
              <v-icon left> mdi-pencil </v-icon>
              modfied
            </v-chip>

            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn
                :disabled="isItemModified === false"
                class="hidden-md-and-up"
                dark
                text
                @click="save"
              >
                Simpan
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" md="6" sm="6">
                  <v-text-field
                    v-model="itemDefault.value"
                    dense
                    label="Jumlah discount"
                    type="number"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" sm="6">
                  <v-radio-group v-model="itemDefault.status" label="Status">
                    <v-radio :value="true" label="Ya"></v-radio>
                    <v-radio :value="false" label="Tidak"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-chip
              v-show="formDialogOptions.errorMessage"
              class="ml-4"
              close
              color="error"
              outlined
              small
            >
              {{ formDialogOptions.errorMessage }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-btn
              class="hidden-sm-and-down"
              color="blue darken-1"
              outlined
              text
              @click="closeDialog"
            >
              Batal
            </v-btn>
            <v-btn
              :disabled="isItemModified === false"
              class="hidden-sm-and-down"
              color="blue darken-1"
              outlined
              text
              @click="save"
            >
              Simpan
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>

      <close-confirm-dialog
        ref="refCloseConfirmDialog"
        @eventFromCloseConfirm="passingEventFromCloseConfirm"
      ></close-confirm-dialog>

      <v-snackbar v-model="snackbar">
        {{ snackBarMesage }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
        </template>
      </v-snackbar>
    </v-dialog>
  </div>
</template>

<script>
import CloseConfirmDialog from "../../../components/utils/CloseConfirmDialog";
import FormMode from "../../../models/form-mode";
import FDiscount from "@/modules/discount/models/f-dsicount";
import FDiscountService from "@/modules/discount/services/f-discount-service";

export default {
  name: "DiscountDialog",
  components: { CloseConfirmDialog },
  data() {
    return {
      formMode: FormMode.NEW_FORM,
      dialogShow: false,
      snackbar: false,
      snackBarMesage: "",
      formDialogOptions: {
        title1: "",
        title2: "",
        message1: "",
        message2: "",
        errorMessage: "",
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      selectedItemIndex: -1,
      itemDefault: new FDiscount(),
      itemModified: "",
      rulesLength: [
        (v) => !!v || " Tidak Boleh Kosong",
        (v) => v.length <= 255 || "Maksimal 255 Karakter",
        (v) => v.length > 1 || "Harus lebih besar dari 1 karakter",
      ],
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
    };
  },
  computed: {
    isItemModified() {
      const defaultItem = JSON.stringify(this.itemDefault);
      const modifiedItem = JSON.stringify(this.itemModified);
      return defaultItem !== modifiedItem;
    },
  },
  methods: {
    initializeNewMode() {
      this.dialogShow = true;
      this.itemDefault = new FDiscount();
      this.itemModified = new FDiscount();
      this.formMode = FormMode.NEW_FORM;
    },
    setDialogState(value) {
      this.dialogShow = value;
    },
    save() {
      if (this.isItemModified === false) {
        this.dialogShow = false;
        this.$emit("eventFromFormDialog1", this.itemModified);
        return;
      }

      if (this.$refs.form.validate()) {
        if (this.formMode === FormMode.EDIT_FORM) {
          FDiscountService.update(this.itemDefault.id, {
            value: this.itemDefault.value,
            status: this.itemDefault.status,
          }).then(
            () => {
              this.dialogShow = false;
              this.$emit("eventFromFormDialogEdit", this.itemModified);
            },
            (error) => {
              this.formDialogOptions.errorMessage = error.response.data.message;
            }
          );
        } else {
          FDiscountService.create({
            value: this.itemDefault.value,
            status: this.itemDefault.status,
          }).then(
            (response) => {
              this.dialogShow = false;
              this.$emit("eventFromFormDialogNew", response.data);
            },
            (error) => {
              this.formDialogOptions.errorMessage = error.response.data.message;
            }
          );
        }
      }
    },
    closeDialog() {
      if (!this.isItemModified) {
        this.dialogShow = false;
        this.$emit("eventFromFormDialog1", this.itemModified);
      } else {
        this.$refs.refCloseConfirmDialog.showDialog(
          " Sudah terdapat modifikasi data",
          "Tetap tutup dan reset perubahan?"
        );
      }
    },
    passingEventFromCloseConfirm(value) {
      if (value === "OKE") this.dialogShow = false;
    },
    initializeEditMode(item) {
      this.dialogShow = true;
      this.itemDefault = { ...item };
      this.itemModified = { ...item };
      this.formMode = FormMode.EDIT_FORM;
      this.formDialogOptions.errorMessage = "";
    },
  },
};
</script>
<style scoped>
.show-btns {
  color: #4267b2 !important;
  opacity: 1;
}
</style>
