<template>
  <v-card flat class="elevation-0">
    <loading
      :active.sync="loading"
      :can-cancel="false"
      :background-color="'rgb(66, 103, 178)'"
      :opacity="1"
      :is-full-page="true"
    >
      <LogoLoaderVue />
    </loading>
    <v-card-title>
      {{ title }}
      <v-spacer></v-spacer>

      <v-text-field
        v-on:keyup.enter="searchOnEnter"
        v-on:blur="searchOnEnter"
        append-icon="mdi-magnify"
        label="Nomor Awb"
      ></v-text-field>

      <v-btn
        v-if="haveRoleAdmin"
        @click="showDialogImport"
        icon
        fab
        color="rgb(66, 103, 178)"
        small
        class="ml-2"
      >
        <v-icon>mdi-upload</v-icon>
      </v-btn>

      <v-btn
        v-if="haveRoleAdmin"
        @click="showDialogImportStatus"
        icon
        fab
        color="rgb(66, 103, 178)"
        small
        class="ml-2"
      >
        <v-icon>mdi-update</v-icon>
      </v-btn>

      <v-btn
        @click="showDialogExportReturn"
        icon
        fab
        color="rgb(66, 103, 178)"
        small
        class="ml-2"
      >
        <v-icon>mdi-download</v-icon>
      </v-btn>

      <v-btn
        @click="showFilter = !showFilter"
        icon
        fab
        color="rgb(66, 103, 178)"
        small
        class="ml-2"
      >
        <v-icon>mdi-filter</v-icon>
      </v-btn>
    </v-card-title>

    <v-expand-transition>
      <v-card
        color="rgb(66, 103, 178)"
        class="mx-2 mb-1 elevation-0 white--text"
        v-show="showFilter === true"
      >
        <v-card-text>
          <v-row>
            <v-col cols="12" sm="4" md="3">
              <v-autocomplete
                v-model="filterFwarehouses"
                :items="itemsFWarehouseActive"
                item-value="id"
                item-text="description"
                auto-select-first
                dense
                chips
                small-chips
                deletable-chips
                color="white"
                label="Pilih warehouse"
                dark
                class="text--white"
                persistent-hint
                multiple
                hide-details
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    close
                    @click="data.select"
                    @click:close="removeAutoCompleteFWarehouse(data.item)"
                  >
                    <v-avatar left>
                      <v-img
                        :lazy-src="lookupImageUrlLazy(data.item)"
                        :src="lookupImageUrl(data.item)"
                      ></v-img>
                    </v-avatar>
                    <span class="font-weight-regular caption">
                      {{ data.item.kode1 }}
                    </span>
                  </v-chip>
                </template>

                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-avatar>
                      <v-img
                        :lazy-src="lookupImageUrlLazy(data.item)"
                        :src="lookupImageUrl(data.item)"
                      ></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        data.item.description
                      }}</v-list-item-title>
                      <v-list-item-subtitle>{{
                        data.item.kode1
                      }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-col>

            <!-- Status table -->

            <v-col cols="12" v-if="haveRoleAdmin" sm="4" md="3">
              <v-autocomplete
                v-model="filterFReturnStatus"
                :items="itemsEStatusRekons"
                item-value="id"
                item-text="shortDesc"
                auto-select-first
                dense
                chips
                small-chips
                deletable-chips
                color="white"
                label="Pilih status"
                dark
                class="text--white"
                persistent-hint
                multiple
                hide-details
              >
              </v-autocomplete>
            </v-col>

            <v-col cols="12" sm="4" md="4">
              <v-flex class="d-flex justify-center align-center">
                <span class="subtitle-2 mr-2 white--text">
                  Tanggal Rekonsiliasi
                </span>
                <DateRangePicker
                  style="width: 50%"
                  :ranges="ranges"
                  v-model="datePickerRangeReturn"
                  :locale-data="dprLocale"
                  @update="changeDatePickerRange"
                  :autoApply="dprAutoApply"
                  :showDropdowns="dprShowDropdowns"
                ></DateRangePicker>
              </v-flex>
            </v-col>

            <v-col cols="12" sm="4" md="2">
              <v-flex lass="d-flex justify-end align-center">
                <v-btn color="white" @click="runExtendedFilter">
                  Terapkan
                </v-btn>
              </v-flex>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-expand-transition>

    <div>
      <v-skeleton-loader
        v-if="loading"
        class="mx-auto"
        type="table"
        transition="scale-transition"
      >
      </v-skeleton-loader>
      <v-data-table
        v-if="!loading"
        v-model="selectedItems"
        :single-select="!multiSelect"
        :show-select="multiSelect"
        :headers="headers"
        :items="fWarehousesFiltered"
        :page.sync="currentPage"
        :items-per-page="pageSize"
        hide-default-footer
        class="elevation-0"
        @page-count="totalTablePages = totalPaginationPages"
        align="start"
      >
        <template v-slot:[`item.number`]="{ index }">
          {{ index + (currentPage - 1) * pageSize + 1 }}
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <v-btn @click="showDialogEdit(item)" icon :disabled="multiSelect">
            <v-icon small color="info"> mdi-eye </v-icon>
          </v-btn>
        </template>

        <template v-slot:[`item.deliveryNumber`]="{ item }">
          <p style="padding: 0; margin: 0">{{ item.memberName }}</p>
          <span>{{ item.warehouseCode }}</span
          ><br />
          <span class="my-2" style="color: blue"
            >#{{ item.deliveryNumber }}</span
          ><br />
          <v-chip x-small dark :color="lookupEStatusReturnColor(item.status)">
            <span>{{ lookupEStatusReturn(item.status).shortDesc }}</span>
          </v-chip>
        </template>

        <template v-slot:[`item.created`]="{ item }">
          <div class="text-caption small font-weight-light grey--text">
            <div>
              {{
                new Date(item.created).toLocaleString("id").replace(["."], ":")
              }}
            </div>
          </div>
        </template>

        <template v-slot:[`item.modifiedStatus`]="{ item }">
          <div class="text-caption small font-weight-light grey--text">
            <div>
              {{
                item.modifiedStatus
                  ? new Date(item.modifiedStatus)
                      .toLocaleString("id")
                      .replace(["."], ":")
                  : "-"
              }}
            </div>
          </div>
        </template>

        <template v-slot:[`item.deliveryDate`]="{ item }">
          <div>
            <div>{{ item.deliveryDate == "" ? "-" : item.deliveryDate }}</div>
          </div>
        </template>

        <template v-slot:[`item.codRp`]="{ item }">
          <div>
            <div>{{ formattedCurrencyValue("", item.codRp) }}</div>
          </div>
        </template>

        <template v-slot:[`item.ongkirRp`]="{ item }">
          <div>
            <div>{{ formattedCurrencyValue("", item.ongkirRp) }}</div>
          </div>
        </template>

        <template v-slot:[`item.penangananRp`]="{ item }">
          <div>
            <div>{{ formattedCurrencyValue("", item.penangananRp) }}</div>
          </div>
        </template>

        <template v-slot:[`item.pajakOngkir`]="{ item }">
          <div>
            <div>{{ formattedCurrencyValue("", item.pajakOngkir) }}</div>
          </div>
        </template>

        <template v-slot:[`item.pajakCod`]="{ item }">
          <div>
            <div>{{ formattedCurrencyValue("", item.pajakCod) }}</div>
          </div>
        </template>

        <template v-slot:[`item.totalDiterima`]="{ item }">
          <div>
            <div>{{ formattedCurrencyValue("", item.totalDiterima) }}</div>
          </div>
        </template>
      </v-data-table>
    </div>

    <v-container>
      <v-row justify="end" align="center">
        <v-col cols="4" md="2" sm="2">
          <v-select
            v-model="pageSize"
            :items="pageSizes"
            label="Items per page"
          ></v-select>
        </v-col>
        <v-col cols="10" md="9" sm="8" align="right">
          <v-pagination
            v-model="currentPage"
            :length="totalPaginationPages"
            total-visible="8"
            circle
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>

    <FReturnDialog
      :formMode.sync="formMode"
      ref="refFormDialog"
      @eventFromFormDialogEdit="saveDataEdit"
    ></FReturnDialog>

    <FRekonExportDialog
      :formMode.sync="formMode"
      ref="refFormDialogExport"
    ></FRekonExportDialog>

    <FRekonImportUpdateDialog
      :formMode.sync="formMode"
      ref="refFormDialogImportStatus"
      @ChangeStatusRekonByImport="ChangeStatusRekonByImport"
    >
    </FRekonImportUpdateDialog>

    <FRekonImportDialog
      :formMode.sync="formMode"
      ref="refFormDialogImport"
      @ChangeAwbByImport="ChangeAwbByImport"
    >
    </FRekonImportDialog>

    <v-snackbar v-model="snackbar">
      {{ snackBarMesage }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </v-card>
</template>

<script>
import FRekonService from "../../services/f-rekon-service";
import FileService from "../../../../services/apiservices/file_service/file-service";
import FDivisionService from "../../../division/services/f-division-service";

import FormMode from "../../../../models/form-mode";
import FWarehouse from "../../models/f-warehouse";
import FDivision from "../../../../models/f-division";
import ERole from "../../../../models/e-role";

import FReturnDialog from "../return/FReturnDialog";
import {
  dateFormattedDatefnsWithTime,
  dateFormattedDatefns,
  dateFormattedDatefnsShort,
  dateFormattedDatefnsWithTimeShort,
} from "@/utils/date-utils";

import { format, parseISO } from "date-fns";

import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import FRekonFilter from "../../../../models/payload/f-rekon-filter";
import { EStatusRekons } from "../../../../models/e-status-rekon";

import FRekonExportDialog from "./FRekonExportDialog.vue";
import FRekonImportDialog from "./FRekonImportDialog.vue";
import FRekonImportUpdateDialog from "./FRekonImportUpdateDialog.vue";

import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import LogoLoaderVue from "../../../public/components/LogoLoader.vue";

export default {
  components: {
    FReturnDialog,
    DateRangePicker,
    FRekonExportDialog,
    FRekonImportDialog,
    FRekonImportUpdateDialog,
    Loading,
    LogoLoaderVue,
  },
  //  components: { FReturnDialog, DateRangePicker, FRekonExportDialog, FRekonImportDialog, FRekonImportUpdateDialog},
  data() {
    let today = new Date();
    today.setHours(12, 0, 0, 0);
    let yesterday = new Date();
    yesterday.setDate(today.getDate() - 1);
    yesterday.setHours(12, 0, 0, 0);

    return {
      loading: false,
      ranges: {
        Today: [today, today],
        Yesterday: [yesterday, yesterday],
        "This month": [
          new Date(today.getFullYear(), today.getMonth(), 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 31, 12, 0, 0, 0),
        ],
        "This year": [
          new Date(today.getFullYear(), 0, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), 11, 31, 12, 0, 0, 0),
        ],
        "Last month": [
          new Date(today.getFullYear(), today.getMonth() - 1, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 0, 12, 0, 0, 0),
        ],
      },
      title: "Rekonsiliasi",

      snackbar: false,
      showFilter: false,
      snackBarMesage: "",

      multiSelect: false,
      selectedItems: [],
      filterFwarehouses: [],
      filterFReturnStatus: [],
      itemsEStatusRekons: EStatusRekons,

      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      pageSize: 10,
      pageSizes: [10, 25, 50, 150, 500],

      datePickerRangeReturn: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(),
      },
      search: "",

      dprLocale: {
        direction: "ltr", //direction of text
        format: "dd/mm/yyyy",
        separator: " - ", //separator between the two ranges
        applyLabel: "Terapkan",
        cancelLabel: "Batal",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        // daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
        // monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
        firstDay: 1, //ISO first day of week - see moment documenations for details
      },
      dprAutoApply: true,
      dprShowDropdowns: true,

      headers: [
        {
          text: "No",
          value: "number",
          width: "5%",
          sortable: false,
        },
        { text: "Tanggal Order", value: "deliveryDate", width: "10%" },
        { text: "Delivery Number", value: "deliveryNumber", width: "10%" },
        { text: "Expedisi", value: "courier", width: "10%" },
        { text: "Distributor", value: "distributor", width: "10%" },
        { text: "Shop Name", value: "shopName", width: "5%" },
        { text: "Penerima", value: "customerName", width: "10%" },
        { text: "Items", value: "remark", width: "10%" },

        //  { text: 'Uang Masuk', value: 'codRp', width: '10%' },
        //  { text: 'Ongkir', value: 'ongkirRp', width: '10%' },
        //  { text: 'Penanganan COD', value: 'penangananRp', width: '10%' },
        //  { text: 'Pajak Ongkir', value: 'pajakOngkir', width: '10%' },
        //  { text: 'Pajak COD', value: 'pajakCod', width: '10%' },
        { text: "Uang Diterima", value: "totalDiterima", width: "10%" },

        { text: "Created", value: "created", width: "15%" },
        { text: "Change", value: "modifiedStatus", width: "15%" },
        //  { text: 'Actions', value: 'actions', align:'start', sortable: false },
      ],

      formMode: "",
      itemSelectedIndex: -1,
      itemSelected: "",
      fWarehouses: [new FWarehouse(1, "001")],
      itemsFDivision: [new FDivision()],
      itemsFExpedisi: [],
    };
  },
  watch: {
    currentPage: {
      handler: function (value) {
        if (value) {
          if (this.showFilter) {
            this.runExtendedFilter();
          } else {
            this.fetchFWarehouse();
          }
        }
      },
    },
    pageSize: {
      handler: function (value) {
        const refreshData = this.currentPage == 1;
        this.currentPage = 1;
        if (refreshData) {
          if (this.showFilter) {
            this.runExtendedFilter();
          } else {
            this.fetchFWarehouse();
          }
          console.log("Change PageSize " + value);
        }
        // console.log("page size = " + value + " >> " + this.totalPages)
      },
    },
  },
  computed: {
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    itemsFWarehouse() {
      return this.$store.state.data.listFWarehouse;
    },
    itemsFWarehouseActive() {
      return this.$store.state.data.listFWarehouse.filter(
        (x) => x.statusActive === true
      );
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    fWarehousesFiltered() {
      return this.fWarehouses;
    },
    itemsFSalesman() {
      const listFSalesman = [];

      if (
        this.currentUser.salesmanOf > 0 &&
        [ERole.ROLE_CS].some((x) => this.currentUser.roles.includes(x))
      ) {
        this.$store.state.data.listFSalesman
          .filter((x) => x.id === this.currentUser.salesmanOf)
          .forEach((item) => {
            listFSalesman.push(item);
          });
      } else {
        this.$store.state.data.listFSalesman.forEach((item) => {
          listFSalesman.push(item);
        });
      }

      return listFSalesman;
    },
  },
  methods: {
    toISOLocal(d) {
      var z = (n) => ("0" + n).slice(-2);
      var zz = (n) => ("00" + n).slice(-3);
      var off = d.getTimezoneOffset();
      var sign = off > 0 ? "-" : "+";
      off = Math.abs(off);

      return (
        d.getFullYear() +
        "-" +
        z(d.getMonth() + 1) +
        "-" +
        z(d.getDate()) +
        "T" +
        z(d.getHours()) +
        ":" +
        z(d.getMinutes()) +
        ":" +
        z(d.getSeconds()) +
        "." +
        zz(d.getMilliseconds()) +
        sign +
        z((off / 60) | 0) +
        ":" +
        z(off % 60)
      );
    },
    showDialogImport() {
      this.$refs.refFormDialogImport.showDialog();
    },
    showDialogImportStatus() {
      this.$refs.refFormDialogImportStatus.showDialog();
    },
    ChangeStatusRekonByImport(awbs, status) {
      FRekonService.updateFRekonByImport({
        awbs: awbs,
        status: status,
      }).then(
        (response) => {
          if (response.data.message == "OK") {
            if (this.showFilter) {
              this.runExtendedFilter();
            } else {
              this.fetchFWarehouse();
            }
            this.$swal({
              title: "Success",
              text: "Berhasil update data",
              icon: "success",
              confirmButtonText: "Tutup",
            });
          }
        },
        (error) => {
          console.log(error.response);
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },
    ChangeAwbByImport(awbs) {
      FRekonService.createRekonByAwbs(awbs).then(
        (response) => {
          if (response.data.success.length > 0) {
            if (this.showFilter) {
              this.runExtendedFilter();
            } else {
              this.fetchFWarehouse();
            }
            this.$swal({
              title: "Success import data",
              text:
                "Terdapat resi berhasil (" +
                response.data.success.map(
                  (e, i) => e + (i !== response.data.success.length ? "," : "")
                ) +
                "). dan resi gagal import (" +
                response.data.decline.map(
                  (e, i) => e + (i !== response.data.decline.length ? "," : "")
                ) +
                ")",
              icon: "success",
              confirmButtonText: "Tutup",
            });
          }
        },
        (error) => {
          console.log(error.response);
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },
    showDialogExportReturn() {
      this.$refs.refFormDialogExport.showDialog();
    },
    lookupEStatusReturnColor(statusRekon) {
      const str = this.itemsEStatusRekons.filter((x) => x.id === statusRekon);
      if (str.length > 0) {
        return `${str[0].color}`;
      } else {
        return "-";
      }
    },
    lookupEStatusReturn(statusRekon) {
      const str = this.itemsEStatusRekons.filter((x) => x.id === statusRekon);
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },
    runExtendedFilter() {
      this.loading = true;
      let filter = new FRekonFilter();

      if (this.filterFwarehouses.length > 0) {
        filter.fwarehouseIds = this.filterFwarehouses;
      } else {
        filter.fwarehouseIds = this.itemsFWarehouse.map((item) => item.id);
      }

      if (this.filterFReturnStatus.length > 0) {
        filter.status = this.filterFReturnStatus;
      } else {
        filter.status = this.itemsEStatusRekons.map((item) => item.id);
      }

      filter.fsalesmanIds = this.itemsFSalesman.map((item) => item.id);

      filter.dateFrom = this.toISOLocal(this.datePickerRangeReturn.startDate);
      filter.dateTo = this.toISOLocal(this.datePickerRangeReturn.endDate);

      filter.pageNo = this.currentPage;
      filter.pageSize = this.pageSize;
      filter.sortBy = "id";
      filter.order = "DESC";
      filter.search = this.search;

      FRekonService.getAllFRekonContainingExt(filter).then(
        (response) => {
          this.loading = false;
          const { items, totalPages } = response.data;
          this.fWarehouses = items;
          this.totalPaginationPages = totalPages;
        },
        (error) => {
          this.loading = false;
          console.log(error.response);
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },
    changeDatePickerRange() {
      // console.log(`${this.datePickerRangeReturn.startDate} >> ${this.datePickerRangeReturn.endDate}`)
    },
    dateFormattedDatefns(value) {
      return dateFormattedDatefns(value);
    },
    dateFormattedDatefnsShort(value) {
      return dateFormattedDatefnsShort(value);
    },
    dateFormattedDatefnsWithTime(value) {
      return dateFormattedDatefnsWithTime(value);
    },
    dateFormattedDatefnsWithTimeShort(value) {
      return dateFormattedDatefnsWithTimeShort(value);
    },

    computedDateFormattedDatefnsWithTime(value) {
      let strDate = "";
      try {
        strDate = value ? format(parseISO(value), "yyyy-MM-dd HH:mm") : "";
      } catch (e) {
        e.toString();
      }
      return strDate;
    },
    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        //Krusial untuk search
        // console.log(`${event.target.value} vs ${this.search}`)
        this.currentPage = 1;
        this.search = event.target.value;
        if (this.showFilter) {
          this.runExtendedFilter();
        } else {
          this.fetchFWarehouse();
          this.fetchParent();
        }
      }
    },
    fetchParent() {
      this.loading = true;
      this.$store.dispatch("data/loadFWarehouse");

      if (
        this.currentUser.salesmanOf > 0 &&
        [
          ERole.ROLE_CS,
          ERole.ROLE_AGEN,
          ERole.ROLE_RSL_1,
          ERole.ROLE_RSL_2,
        ].some((x) => this.currentUser.roles.includes(x))
      ) {
        this.$store.dispatch("data/loadFSalesmanChildrenAndMe");
      } else {
        this.$store.dispatch("data/loadFSalesman");
      }

      if (this.currentUser.organizationLevel === "DIV") {
        FDivisionService.getFDivisionById(this.currentUser.fdivisionBean).then(
          (response) => {
            this.loading = false;
            this.itemsFDivision = [response.data];
            // console.log(response.data.items)
          },
          (error) => {
            this.loading = false;
            console.log(error.response);
          }
        );
      } else {
        FDivisionService.getAllFDivision().then(
          (response) => {
            this.loading = false;
            // console.log(JSON.stringify(response.data))
            this.itemsFDivision = response.data;
          },
          (error) => {
            this.loading = false;
            console.log(error.response);
          }
        );
      }

      //  FExpedisiService.getAllFExpedisi().then(
      //      response =>{
      //        this.itemsFExpedisi = response.data
      //        // console.log(`Hello sini ${this.itemsFWarehouseSalesBrand}`)
      //      },
      //      error=>{
      //        console.log(error.response)
      //      }
      //  )
    },
    fetchFWarehouse() {
      FRekonService.getAllRekonContaining(
        this.currentPage,
        this.pageSize,
        "created",
        "DESC",
        this.search
      ).then(
        (response) => {
          const { items, totalPages } = response.data;
          this.fWarehouses = items;
          this.totalPaginationPages = totalPages;

          console.log(`TotalPage ${totalPages} and TotalItems ${items} `);
        },
        (error) => {
          console.log(error.response);
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },

    linkNeated(link) {
      return link.replace(/\s+/g, "-").toLocaleLowerCase();
    },

    showDialogNew() {
      this.itemSelectedIndex = -1;
      const itemModified = Object.assign({}, "");
      // this.formDialogShow = true
      this.formMode = FormMode.NEW_FORM;
      // this.$refs.refFormDialog.showDialog(this.itemSelectedIndex, itemModified, this.itemsFDivision, this.itemsWarehouseType,
      //     this.itemsFWarehouseSalesBrand, this.itemsFWarehouseGroup3, this.itemsFWarehouse, this.itemsFWarehouse, this.itemsFPegawai)
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.itemsFDivision
      );
    },

    showDialogEdit(item) {
      this.itemSelectedIndex = this.fWarehousesFiltered.indexOf(item);
      const itemModified = Object.assign({}, item);
      this.formMode = FormMode.EDIT_FORM;
      // this.$refs.refFormDialog.showDialog(this.itemSelectedIndex, itemModified, this.itemsFDivision,  this.itemsWarehouseType,
      //     this.itemsFWarehouseSalesBrand, this.itemsFWarehouseGroup3, this.itemsFWarehouse, this.itemsFWarehouse, this.itemsFPegawai)
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.itemsFDivision
      );
    },
    saveDataEdit(item) {
      this.itemSelected = item;
      try {
        Object.assign(
          this.fWarehouses[this.itemSelectedIndex],
          this.itemSelected
        );
      } catch (e) {
        this.fetchFWarehouse();
        e.return;
      }
      this.closeDialog();
    },
    closeDialog() {
      // this.myConfirmDialog = false
      this.formMode = "";
      this.$refs.refDeleteConfirmDialog.setDialogState(false);
      this.$refs.refFormDialog.setDialogState(false);

      this.$nextTick(() => {
        this.itemSelected = Object.assign({}, new FWarehouse());
        this.itemSelectedIndex = -1;
      });
    },

    getColorStatusActive(trueFalse) {
      if (trueFalse === true) return "green";
      else if (trueFalse === false) return "gray";
      else return "gray";
    },

    lookupFDivision(fdivisionBean) {
      const str = this.itemsFDivision.filter((x) => x.id === fdivisionBean);
      if (str.length > 0) {
        return str[0].description;
      } else {
        return "-";
      }
    },
    lookupFWarehouse(fwarehouseBean) {
      const str = this.itemsFWarehouse.filter((x) => x.id === fwarehouseBean);
      if (str.length > 0) {
        return `${str[0].description} (${str[0].kode1})`;
      } else {
        return "-";
      }
    },

    lookupImageUrl(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_low(item.avatarImage);
      }
    },
    lookupImageUrlLazy(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_verylow(item.avatarImage);
      }
    },

    onImgError: function (event) {
      /**
       * masih belum fungsi
       */
      console.log(event);
    },
    computedDateFormattedDatefns(value) {
      return value ? format(parseISO(value), "dd-MMM-yyyy") : "";
    },
    formattedCurrencyValue(prefix, value) {
      if (!value) {
        return "0";
      }
      // return "Rp." + parseFloat(value).toFixed(0).toLocaleString()
      return prefix + "" + parseFloat(value.toFixed(2)).toLocaleString();
    },
    removeAutoCompleteFWarehouse(item) {
      const index = this.filterFwarehouses.indexOf(item.id);
      if (index >= 0) this.filterFwarehouses.splice(index, 1);
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.fetchFWarehouse();
      this.fetchParent();
    }
  },
};
</script>

<style scoped></style>
