<template>
  <div class="align-self-center">
    <v-dialog
      v-model="dialogShow"
      :width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeDialog"
      transition="dialog-top-transition"
    >
      <v-card>
        <v-toolbar color="rgb(66, 103, 178)" elevation="0" dark dense>
          <v-toolbar-title>Read File Excel | Update status</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn color="white" icon @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text class="justify-center">
          <v-row justify="center" align="center">
            <v-col cols="6">
              <v-file-input
                v-model="currentFile"
                show-size
                counter
                label="Pilih File Excel"
                accept=".xls,.xlsx"
                @change="selectFile"
              ></v-file-input>
            </v-col>
            <v-col cols="4" class="mt-5">
              <v-autocomplete
                filled
                dense
                v-model="statusSelected"
                placeholder="Pilih status"
                :items="statusType"
              ></v-autocomplete>
            </v-col>
            <v-col cols="2" class="pl-2">
              <v-btn
                style="color: white"
                color="rgb(66, 103, 178)"
                @click="startUpload"
                :disabled="!currentFile"
              >
                Update
                <v-icon right style="color: white">mdi-cloud-upload</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" sm="12" md="12">
              <v-skeleton-loader
                v-if="loading"
                class="mx-auto"
                type="table"
                transition="scale-transition"
              >
              </v-skeleton-loader>

              <v-data-table
                v-if="!loading"
                :headers="headers"
                :items="itemsComputed"
                item-key="name"
                class="elevation-1"
                height="400"
                calculate-widths
                hide-default-footer
                disable-pagination
              >
                <template v-slot:[`item.number`]="{ item }">
                  <span
                    ><v-icon small color="green" v-if="item.statusUpload === 1"
                      >mdi-check-circle</v-icon
                    ></span
                  >
                  <span
                    ><v-icon small color="red" v-if="item.statusUpload === 2"
                      >mdi-close</v-icon
                    ></span
                  >
                  {{ item.number }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import readXlsxFile from "read-excel-file";

export default {
  name: "FRekonImportUpdateDialog",
  props: {},
  components: {},
  inject: {
    theme: {
      default: { isDark: false },
    },
  },
  data() {
    return {
      loading: false,
      statusType: [
        {
          text: "PAY IN",
          value: 0,
        },
        {
          text: "PAY OUT",
          value: 1,
        },
      ],

      dialogShow: false,
      formDialogOptions: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },

      currentFile: undefined,

      statusSelected: "0",
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],

      headers: [
        {
          text: "No",
          value: "number",
          width: "8%",
          sortable: false,
        },
        { text: "Delivery number", value: "awb", width: "92%" },
      ],
      items: [],
    };
  },
  computed: {
    itemsComputed() {
      return this.items;
    },
  },

  methods: {
    selectFile(file) {
      this.currentFile = file;
      this.progress = 0;
      this.message = "";

      let rowKe = 0;
      readXlsxFile(this.currentFile).then((rows) => {
        rows.forEach((item) => {
          if (item[0] !== null) {
            this.items.push({
              number: rowKe + 1,
              awb: item[0],
            });
            rowKe++;
          }
        });
      });
    },

    startUpload() {
      this.loading = true;
      if (!this.currentFile) {
        this.message = "Please select an Image!";
        return;
      }

      let items = [];
      this.items.forEach((item) => {
        items.push(item.awb);
      });

      this.dialogShow = false;
      this.$emit("ChangeStatusRekonByImport", items, this.statusSelected);
      this.loading = false;
      this.currentFile = null;
      this.items = [];
      this.dialogShow = false;
    },

    showDialog() {
      this.dialogShow = true;
    },
    closeDialog() {
      this.currentFile = null;
      this.items = [];
      this.dialogShow = false;
    },
  },
};
</script>

<style scoped></style>
