<template>
  <div class="align-self-center">
    <!-- <loading :active.sync="loading"
        :can-cancel="false"
        :on-cancel="onCancel"
        :is-full-page="true">
      </loading> -->
    <v-dialog
      v-model="dialogShow"
      :width="formDialogOptions.width"
      :style="{ zIndex: 99 }"
      @keydown.esc.prevent="closeDialog"
      transition="dialog-top-transition"
    >
      <v-card>
        <v-toolbar color="rgb(66, 103, 178)" elevation="0" dark dense>
          <v-toolbar-title>Filter export</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn color="white" icon @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text class="justify-center">
          <v-form v-model="valid" ref="form">
            <v-row justify="center" align="center" class="mt-5">
              <v-col cols="12">
                <DateRangePicker
                  style="width: 100%"
                  :ranges="ranges"
                  v-model="datePickerRangeRekon"
                  :locale-data="dprLocale"
                  @update="changeDatePickerRange"
                  :autoApply="dprAutoApply"
                  :showDropdowns="dprShowDropdowns"
                ></DateRangePicker>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  :rules="rulesNotEmtpy"
                  v-model="exportData.sort"
                  placeholder="Pilih sort"
                  :items="sortBy"
                  filled
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  :rules="rulesNotEmtpy"
                  v-model="exportData.order"
                  placeholder="Pilih order"
                  :items="orderList"
                  filled
                ></v-autocomplete>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="exportData.total"
                  :rules="rulesNotEmtpy"
                  hint="Masukan jumlah data"
                  label="Jumlah data export"
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="pl-2">
                <v-btn
                  style="color: white"
                  color="rgb(66, 103, 178)"
                  @click="saveExport"
                >
                  Export
                  <v-icon right style="color: white">mdi-download</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import writeXlsxFile from "write-excel-file";
import FileSaver from "file-saver";
import FRekonService from "../../services/f-rekon-service";
import ESchemaRekonsiliasi from "../../../../models/e-schema-rekon";
import { EStatusRekons } from "../../../../models/e-status-rekon";
import { dateFormattedDatefnsWithTime } from "@/utils/date-utils";
import FRekonFilter from "../../../../models/payload/f-rekon-filter";
import ERole from "../../../../models/e-role";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";

// import Loading from 'vue-loading-overlay';
// import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: "FRekonExportDialog",
  props: {},
  // components:{
  //   DateRangePicker, Loading
  // },
  components: {
    DateRangePicker,
  },
  inject: {
    theme: {
      default: { isDark: false },
    },
  },
  data() {
    let today = new Date();
    today.setHours(12, 0, 0, 0);
    let yesterday = new Date();
    yesterday.setDate(today.getDate() - 1);
    yesterday.setHours(12, 0, 0, 0);

    return {
      loading: false,
      ranges: {
        Today: [today, today],
        Yesterday: [yesterday, yesterday],
        "This month": [
          new Date(today.getFullYear(), today.getMonth(), 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 31, 12, 0, 0, 0),
        ],
        "This year": [
          new Date(today.getFullYear(), 0, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), 11, 31, 12, 0, 0, 0),
        ],
        "Last month": [
          new Date(today.getFullYear(), today.getMonth() - 1, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 0, 12, 0, 0, 0),
        ],
      },
      valid: false,
      exportData: {
        order: "DESC",
        sort: "created",
        total: 5000,
      },
      datePickerRangeRekon: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(),
      },
      orderList: [
        {
          text: "Descending",
          value: "DESC",
        },
        {
          text: "Ascending",
          value: "ASC",
        },
      ],
      sortBy: [
        {
          text: "Order date",
          value: "deliveryDate",
        },
        {
          text: "Distributor",
          value: "ftdistributorBean",
        },
        {
          text: "Shop Name",
          value: "shopName",
        },
        {
          text: "Created date",
          value: "created",
        },
        {
          text: "Status",
          value: "status",
        },
      ],
      filterFwarehouses: [],
      filterFReturnStatus: [],
      itemsEStatusRekons: EStatusRekons,
      dialogShow: false,
      formDialogOptions: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      dprLocale: {
        direction: "ltr", //direction of text
        format: "dd/mm/yyyy",
        separator: " - ", //separator between the two ranges
        applyLabel: "Terapkan",
        cancelLabel: "Batal",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        // daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
        // monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
        firstDay: 1, //ISO first day of week - see moment documenations for details
      },
      dprAutoApply: true,
      dprShowDropdowns: true,
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
    };
  },
  computed: {
    itemsFWarehouse() {
      return this.$store.state.data.listFWarehouse;
    },
    itemsFWarehouseActive() {
      return this.$store.state.data.listFWarehouse.filter(
        (x) => x.statusActive === true
      );
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    fWarehousesFiltered() {
      return this.fWarehouses;
    },
    itemsFSalesman() {
      const listFSalesman = [];

      if (
        this.currentUser.salesmanOf > 0 &&
        [ERole.ROLE_CS].some((x) => this.currentUser.roles.includes(x))
      ) {
        this.$store.state.data.listFSalesman
          .filter((x) => x.id === this.currentUser.salesmanOf)
          .forEach((item) => {
            listFSalesman.push(item);
          });
      } else {
        this.$store.state.data.listFSalesman.forEach((item) => {
          listFSalesman.push(item);
        });
      }

      return listFSalesman;
    },
  },
  methods: {
    toISOLocal(d) {
      var z = (n) => ("0" + n).slice(-2);
      var zz = (n) => ("00" + n).slice(-3);
      var off = d.getTimezoneOffset();
      var sign = off > 0 ? "-" : "+";
      off = Math.abs(off);

      return (
        d.getFullYear() +
        "-" +
        z(d.getMonth() + 1) +
        "-" +
        z(d.getDate()) +
        "T" +
        z(d.getHours()) +
        ":" +
        z(d.getMinutes()) +
        ":" +
        z(d.getSeconds()) +
        "." +
        zz(d.getMilliseconds()) +
        sign +
        z((off / 60) | 0) +
        ":" +
        z(off % 60)
      );
    },
    changeDatePickerRange() {},
    showDialog() {
      this.dialogShow = true;
    },
    dateFormattedDatefnsWithTime(value) {
      return dateFormattedDatefnsWithTime(value);
    },
    saveExport() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        let filter = new FRekonFilter();
        if (this.filterFwarehouses.length > 0) {
          filter.fwarehouseIds = this.filterFwarehouses;
        } else {
          filter.fwarehouseIds = this.itemsFWarehouse.map((item) => item.id);
        }

        if (this.filterFReturnStatus.length > 0) {
          filter.status = this.filterFReturnStatus;
        } else {
          filter.status = this.itemsEStatusRekons.map((item) => item.id);
        }

        filter.fsalesmanIds = this.itemsFSalesman.map((item) => item.id);

        filter.dateFrom = this.toISOLocal(this.datePickerRangeRekon.startDate);
        filter.dateTo = this.toISOLocal(this.datePickerRangeRekon.endDate);

        filter.pageNo = 1;
        filter.pageSize = this.exportData.total;
        filter.sortBy = this.exportData.sort;
        filter.order = this.exportData.order;

        FRekonService.getAllFRekonContainingExt(filter).then((response) => {
          let schema = ESchemaRekonsiliasi;
          let fileBits = "file_rekap_rekonsiliasi.xlsx";

          let fRekonRepots = [];
          const rows = response.data.items;

          rows.forEach((row, index) => {
            let tempStatusName = "-";

            EStatusRekons.map((e) => {
              if (e.id === row.status) {
                tempStatusName = e.shortDesc;
              }
            });

            fRekonRepots.push({
              no: index + 1,
              deliveryNumber: row.deliveryNumber,
              deliveryDate: row.deliveryDate,
              warehouseCode: row.warehouseCode,
              courier: row.courier,
              salesman: row.salesName,
              distributor: row.distributor,
              ShopName: row.shopName,
              customerName: row.customerName,
              remark: row.remark,
              codRp: row.codRp,
              ongkirRp: row.ongkirRp,
              penangananRp: row.penangananRp,
              pajakOngkir: row.pajakOngkir,
              pajakCod: row.pajakCod,
              totalDiterima: row.totalDiterima,
              penambahanRp: row.penambahanRp,
              status: tempStatusName,
              createdAt: this.toISOLocal(new Date(row.created)),
              ChangeAt: row.modifiedStatus
                ? dateFormattedDatefnsWithTime(row.modifiedStatus)
                : "-",
            });
          });
          writeXlsxFile(fRekonRepots, {
            schema,
            fontSize: 9,
            headerStyle: {
              backgroundColor: "#f1c232",
              fontWeight: "bold",
              alignVertical: "center",
              fontSize: 9,
              align: "center",
            },

            fileName: fileBits,
          });
          this.loading = false;
          let file = new File(fileBits, "file_rekap_rekonsiliasi.txt", {
            type: "xlsx/plain;charset=utf-8",
          });
          FileSaver.saveAs(file);
        });
      }
    },
    closeDialog() {
      this.dialogShow = false;
    },
  },
  mounted() {},
};
</script>

<style scoped></style>
