<template>
  <Notification />
</template>

<script>
import Notification from "../components/Notification";
export default {
  name: "NotificationView",
  components: {
    Notification,
  },
};
</script>

<style scoped></style>
