<template>
  <div>
    <v-dialog
      v-model="dialogShow"
      :max-width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeForm"
      :fullscreen="$vuetify.breakpoint.smAndDown"
      :hide-overlay="$vuetify.breakpoint.smAndDown"
    >
      <v-card>
        <v-form v-model="valid" ref="form">
          <v-toolbar dark color="primary" flat dense>
            <v-btn icon dark @click="closeForm">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{ title }}</v-toolbar-title>

            <span class="ml-2 mr-2 font-weight-medium grey--text"> | </span>
            <span class="font-weight-light ml-1 mr-1">ITEM</span>
            <span v-if="formMode === 'NEW_FORM'"> BARU</span>

            <span
              class="ml-2 mr-2 font-weight-medium grey--text"
              v-show="isItemModified"
            >
              |
            </span>
            <v-chip
              class="ma-2"
              color="warning"
              outlined
              x-small
              v-show="isItemModified"
            >
              <v-icon left> mdi-pencil </v-icon>
              modfied
            </v-chip>

            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn
                dark
                text
                @click="save"
                :disabled="!valid || isItemModified === false"
                class="hidden-md-and-up"
              >
                Simpan
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <v-autocomplete
                    v-model="itemModified.support_ticket_category_ekspedisi_id "
                    :items="itemsFKategoriTicket"
                    item-value="id"
                    item-text="name"
                    dense
                    chips
                    small-chips
                    deletable-chips
                    clearable
                    label="Kategori"
                    hide-details
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-autocomplete
                    v-model="itemModified.sales_transaction_id"
                    :items="itemsFtSalesh"
                    :search-input.sync="searchAwbComputed"
                    item-value="id"
                    item-text="deliveryNumber"
                    dense
                    chips
                    small-chips
                    label="Delivery number"
                    hide-details
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        small
                        v-bind="data.attrs"
                        :seletedValue="data.selected"
                        :input-value="data.selected"
                        @click="data.select"
                      >
                        {{ data.item.deliveryNumber }} -
                        {{ data.item.receiverName }} -
                        {{ data.item.expedisiName }}
                      </v-chip>
                    </template>

                    <template v-slot:item="data">
                      <v-chip small>
                        {{ data.item.deliveryNumber }}/({{
                          data.item.expedisiName
                        }}) - {{ data.item.receiverName }}
                      </v-chip>
                    </template>
                  </v-autocomplete>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-autocomplete
                    v-model="itemModified.priority"
                    :items="itemsPriority"
                    item-value="name"
                    item-text="name"
                    dense
                    chips
                    small-chips
                    deletable-chips
                    clearable
                    label="Priority"
                    hide-details
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <p class="subtitle-1">Deskripsi</p>
                  <vue-editor
                    :editorToolbar="customToolbar"
                    v-model="itemModified.description"
                  ></vue-editor>
                </v-col>
                <v-col>
                  <v-btn
                    v-if="itemModified.image_file_name"
                    plain
                    :href="lookupImageUrl(itemModified)"
                    class="pa-0"
                    target="_blank"
                  >
                    <v-img
                      :src="lookupImageUrl(itemModified)"
                      width="100"
                    ></v-img>
                  </v-btn>
                  <div class="align-self-center mt-5">
                    <v-btn
                      elevation="0"
                      @click="showDialogUpload"
                      class="subtitle-1"
                    >
                      <v-icon>mdi mdi-attachment</v-icon>
                      Attachment
                    </v-btn>
                  </div>
                </v-col>
                <v-col
                  v-if="itemModified.sales_transaction_id"
                  cols="12"
                  sm="12"
                  md="12"
                >
                  <template>
                    <p class="space-1">AWB:{{ salesTicket.deliveryNumber }}</p>
                    <p class="space-1">
                      Receiver Name:{{ salesTicket.receiverName }}
                    </p>
                    <p class="space-1">
                      Phone Number:{{ salesTicket.phoneNumber }}
                    </p>
                    <p class="space-1">
                      Goods Description:{{ salesTicket.remark }}
                    </p>
                    <p class="space-1">
                      COD/NON-COD:
                      {{
                        salesTicket.codPrice === 0
                          ? salesTicket.amountAfterDiscPlusRpAfterPpn_FG
                          : salesTicket.codPrice
                      }}
                    </p>
                    <p class="space-1">
                      Last status: {{ salesTicket.deliveryStatusDescription }}
                    </p>
                    <p class="space-1">
                      Origin Code: {{ salesTicket.originCode }}
                    </p>
                    <p class="space-1">Dest Code: {{ salesTicket.destCode }}</p>
                  </template>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-chip
              class="ml-4"
              color="error"
              outlined
              close
              small
              v-show="formDialogOptions.errorMessage"
            >
              {{ formDialogOptions.errorMessage }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              outlined
              text
              @click="closeForm"
              class="hidden-sm-and-down"
            >
              Batal
            </v-btn>
            <v-btn
              color="blue darken-1"
              outlined
              text
              @click="save"
              :disabled="!valid || isItemModified === false"
              class="hidden-sm-and-down"
            >
              Simpan
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>

      <CloseConfirmDialog
        ref="refCloseConfirmDialog"
        @eventFromCloseConfirm="passingEventFromCloseConfirm"
      ></CloseConfirmDialog>

      <UploadImageMicroservice
        ref="refUploadDialog"
        folder_upload="ticketing"
        :model_id="this.itemModified.id"
        @eventUploadSuccess="completeUploadSuccess"
      >
      </UploadImageMicroservice>

      <v-snackbar v-model="snackbar">
        {{ snackBarMesage }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
        </template>
      </v-snackbar>
    </v-dialog>
  </div>
</template>

<script>
import CloseConfirmDialog from "../../../components/utils/CloseConfirmDialog";
import FSupportTicketService from "../services/f-support-ticket-service";
import FileService from "../../../services/apiservices/file_service/file-service";
import UploadImageMicroservice from "../../../components/utils/UploadImageMicroserviceDialog";
import { VueEditor } from "vue2-editor";
import FormMode from "../../../models/form-mode";
import FtsalesTicket from "../../../models/f-sales-ticket";
import FSupportTicketExpedisi from "../models/f-support-ticket-expedisi";
import FSupportTicketExpedisiService from "../services/f-support-ticket-expedisi-service"

export default {
  components: { UploadImageMicroservice, CloseConfirmDialog, VueEditor },
  props: {
    formMode: String,
  },
  data() {
    return {
      title: "Buat tiket",
      snackBarMesage: "",
      kategoriTicket: null,
      FtsalesTicket: null,
      snackbar: false,
      searchAwb: "",
      itemsFtSalesh: [],
      salesTicket: new FtsalesTicket(),
      customToolbar: [
        ["bold", "italic", "underline"],
        [
          {
            align: "",
          },
          {
            align: "center",
          },
          {
            align: "right",
          },
          {
            align: "justify",
          },
        ],
        ["blockquote", "code-block"],
        [
          {
            list: "ordered",
          },
          {
            list: "bullet",
          },
          {
            list: "check",
          },
        ],
        [
          {
            indent: "-1",
          },
          {
            indent: "+1",
          },
        ],
        [
          {
            color: [],
          },
          {
            background: [],
          },
        ], // dropdown with defaults from theme
        ["clean"],
      ],
      itemsPriority: [
        {
          id: 0,
          name: "LOW",
        },
        {
          id: 1,
          name: "MEDIUM",
        },
        {
          id: 2,
          name: "HIGH",
        },
      ],

      FPriority: 0,
      imageOverlay: false,

      dialogShow: false,
      formDialogOptions: {
        title1: "",
        title2: "",
        message1: "",
        message2: "",
        errorMessage: "",
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },

      itemDefault: "",
      itemModified: new FSupportTicketExpedisi(0),

      valid: false,
      rulesLenght: [
        (v) => !!v || " Tidak Boleh Kosong",
        (v) => v.length <= 255 || "Maksimal 255 Karakter",
        (v) => v.length > 1 || "Harus lebih besar dari 1 karakter",
      ],
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],

      transparent: "rgba(255, 255, 255, 0)",
    };
  },
  computed: {
     itemsFKategoriTicket(){
      return this.$store.state.data.listFTicketCategoryEkspedisi;
    },
    isItemModified() {
      const defaultItem = JSON.stringify(this.itemDefault);
      const modifiedItem = JSON.stringify(this.itemModified);
      return defaultItem !== modifiedItem;
    },
    searchAwbComputed: {
      get() {
        return this.searchAwb;
      },
      set(searchInput) {
        if (this.searchAwb !== searchInput && searchInput.length >= 3) {
          this.searchAwb = searchInput;
          this.searchSaleByDeliveryNumber();
        }
      },
    },
    salesTicketComputed: {
      get() {
        return "";
      },
      set() {
        this.lookupSaleTicket(this.itemModified.sales_transaction_id);
        console.log(this.modifiedItem.saleTransactionId);
      },
    },
  },
  mounted() {
  },

  methods: {
    lookupImageUrl(item) {
      if (item.image_file_name === undefined || item.image_file_name === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_low(item.image_file_name);
      }
    },
    lookupImageUrlLazy(item) {
      // return './assets/images/no_image_available.jpeg'
      return FileService.image_url_verylow(item.image_file_name);
    },
    lookupSaleTicket(saleTransactionId) {
      const data = this.itemsFtSalesh.find(
        (element) => element.id === saleTransactionId
      );
      console.log(data);
      if (data != null) {
        this.salesTicket.id = data.id;
        this.salesTicket.deliveryNumber = data.deliveryNumber;
        this.salesTicket.receiverName = data.receiverName;
        this.salesTicket.phoneNumber = data.phoneNumber;
        this.salesTicket.codPrice = data.codPrice;
        this.salesTicket.amountAfterDiscPlusRpAfterPpn_FG =
          data.amountAfterDiscPlusRpAfterPpn_FG;
        this.salesTicket.storeName = data.storeName;
        this.salesTicket.subArea = data.subArea;
        this.salesTicket.expedisiName = data.expedisiName;
        this.salesTicket.expedisiCity = data.expedisiCity;
        this.salesTicket.expedisiDisctrict = data.expedisiCity;
        this.salesTicket.expedisiAddress = data.expedisiAddress;
        this.salesTicket.deliveryStatusCode = data.deliveryStatusCode;
        this.salesTicket.deliveryStatusDescription =
          data.deliveryStatusDescription;
        this.salesTicket.remark = data.remark;
        this.salesTicket.destCode = data.destCode;
        this.salesTicket.originCode = data.originCode;
      }
    },
    showDialogUpload() {
      this.$refs.refUploadDialog.showDialog();
    },
    completeUploadSuccess: function (response) {
      const { data } = response;
      if (
        this.itemModified.image_file_name !== undefined &&
        this.itemModified.image_file_name !== ""
      ) {
        FileService.deleteImage(
          this.itemModified.image_file_name
        ).then(
          (response) => {
            console.log(response.data);
          },
          (error) => {
            console.log(error.response);
          }
        );
      }

      if (data.message !== "") {
        this.$refs.refUploadDialog.closeDialog();
        this.itemModified.image_file_name = data.message;
      }
    },
    saveCreateOnly() {
      FSupportTicketService.createFSupportTicket({
        ...this.itemModified,
        message: this.itemModified.description,
      }).then(
        (response) => {
          this.$emit("update:formMode", FormMode.EDIT_FORM);
          const { id } = response.data;
          this.itemModified.id = id;
          this.$refs.refUploadDialog.model_id = id;
        },
        (error) => {
          this.formDialogOptions.errorMessage = error.response.data.message;
        }
      );
    },
    updateCreateOnly() {
      FSupportTicketService.updateFSupportTicket(
        { ...this.itemModified, message: this.itemModified.description },
        this.itemModified.id
      ).then(
        (response) => {
          this.$emit("update:formMode", FormMode.EDIT_FORM);
          const { id } = response.data;
          this.itemModified.id = id;
          this.$refs.refUploadDialog.model_id = id;
        },
        (error) => {
          this.formDialogOptions.errorMessage = error.response.data.message;
        }
      );
    },
    searchSaleByDeliveryNumber() {
      FSupportTicketExpedisiService.salesTransactionExpedisiByDeliveryNumber(
        this.searchAwb
      ).then(
        (res) => {
          this.itemsFtSalesh = res.data;
        },
        (err) => {
          console.log(err);
        }
      );
    },
    showDialog() {
      this.dialogShow = !this.dialogShow;
      this.itemDefault = new FSupportTicketExpedisi(0);
      this.selectedIndex = -1;
    },
    setDialogState(value) {
      this.dialogShow = value;
    },
    save() {
      if (this.$refs.form.validate()) {
        this.$emit("loadTicketingExpedisi")
        FSupportTicketExpedisiService.createFSupportExpedisiTicket({
          sales_transaction_id:this.itemModified.sales_transaction_id,
          receipt_number:this.salesTicket.deliveryNumber,
          support_ticket_category_ekspedisi_id:this.itemModified.support_ticket_category_ekspedisi_id ,
          description:this.itemModified.description,
          priority:this.itemModified.priority,
          message:this.itemModified.description,
          image_file_name: this.itemModified.image_file_name
        }).then(
          () => {
            this.dialogShow = false;
            this.snackbar = true;
            this.snackBarMesage = "Berhasil membuat tiket";
            this.$swal({
              title: "Success",
              text: "Berhasil membuat tiket",
              icon: "success",
              confirmButtonText: "Tutup",
            });
          },
          (error) => {
            this.formDialogOptions.errorMessage = error.response.data.message;
          }
        );
      }
    },
    closeForm() {
      if (!this.isItemModified) {
        this.dialogShow = false;
        this.$emit("eventFromFormDialog1", {
          ...this.itemModified,
          message: this.itemModified.description,
        });
      } else {
        this.$refs.refCloseConfirmDialog.showDialog(
          " Sudah terdapat modifikasi data",
          "Tetap tutup dan reset perubahan?"
        );
      }
    },
    passingEventFromCloseConfirm(value) {
      if (value === "OKE") this.dialogShow = false;
    },
  },
  watch: {
    itemModified: {
      handler() {
        this.lookupSaleTicket(this.itemModified.sales_transaction_id);
      },
      deep: true,
    },
  },
};
</script>
<style scoped>
.show-btns {
  color: #4267b2 !important;
  opacity: 1;
}

.space-1 {
  margin-top: 3px !important;
}
</style>
