<template>
  <div>
    <v-dialog
      v-model="dialogShow"
      :max-width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeForm"
      :fullscreen="$vuetify.breakpoint.smAndDown"
      :hide-overlay="$vuetify.breakpoint.smAndDown"
    >
      <v-card>
        <v-form v-model="valid" ref="form">
          <v-toolbar dark color="primary" flat dense>
            <v-toolbar-title
              >{{ title }} - {{ item.deliveryNumber }}/{{
                item.ticket_status
              }}</v-toolbar-title
            >
            <v-spacer></v-spacer>
            <v-btn icon dark @click="closeForm">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" md="4">
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-autocomplete
                        v-model="item.category_id"
                        :items="itemsFKategoriTicket"
                        item-value="id"
                        item-text="name"
                        dense
                        chips
                        small-chips
                        deletable-chip
                        disabled
                        clearable
                        label="Kategori"
                        hide-details
                      ></v-autocomplete>
                    </v-col>
                    <v-col cols="12" sm="12" md="12" class="mb-0 pb-0">
                      <v-text-field
                        v-model="item.priority"
                        disabled
                        label="Priority"
                      ></v-text-field>
                    </v-col>
                    <v-col class="mt-0 pt-0" cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="item.deliveryNumber"
                        disabled
                        label="Delivery number"
                      ></v-text-field>
                    </v-col>
                    <v-col class="pt-0" cols="12" sm="12" md="12">
                      <div class="d-flex justify-space-between align-center">
                        <v-btn
                          x-small
                          class="no-gutters pa-0"
                          plain
                          :href="`https://wa.me/62${item.destPhone}`"
                          target="_blank"
                        >
                          <v-icon x-medium color="green">mdi-whatsapp</v-icon>
                          <span class="caption ml-2"> Customer </span>
                        </v-btn>

                        <v-btn
                          x-small
                          class="no-gutters"
                          plain
                          :href="`https://wa.me/62${item.destPhone}`"
                          target="_blank"
                        >
                          <v-icon x-medium color="green">mdi-whatsapp</v-icon>
                          <span class="caption ml-2"> Seller </span>
                        </v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-divider />
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-btn
                        elevation="0"
                        @click="updateTicketCase(1)"
                        color="green lighten white--text"
                        v-if="item.ticket_status !== 'CLOSED'"
                        >CLOSE</v-btn
                      >

                      <v-btn
                        elevation="0"
                        @click="updateTicketCase(2)"
                        class="ml-2"
                        color="primary"
                        v-if="
                          item.ticket_status !== 'CLOSED' &&
                          item.ticket_status !== 'PENDING' &&
                          haveRoleAdminAndEkspedisi
                        "
                        >PROCCESS</v-btn
                      >
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <p>AWB: {{ itemsFtSales.awb }}</p>
                      <p>Receiver Name: {{ itemsFtSales.receiver }}</p>
                      <p>Phone Number: +62{{ itemsFtSales.receiverPhone }}</p>
                      <p>
                        Goods Description: {{ itemsFtSales.goodDescription }}
                      </p>
                      <p>
                        COD/NON-COD:
                        {{
                          itemsFtSales.codPrice === 0
                            ? itemsFtSales.nonCodPrice
                            : itemsFtSales.codPrice
                        }}
                      </p>
                      <p>
                        Last status:
                        {{
                          lastStatus(itemsFtSales.status)
                        }}
                      </p>
                      <p>Origin Code: {{ itemsFtSales.originCode }}</p>
                      <p>Dest Code: {{ itemsFtSales.destCode }}</p>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col>
                  <v-col cols="12">
                    <div class="text-subtitle-1 font-weight-medium">
                      Percakapan
                    </div>
                  </v-col>
                  <v-col cols="12" md="12">
                    <v-card-text class="grey lighten-5 rounded py-5">
                      <v-row
                        ref="overflowConversation"
                        class="overflow-y-auto"
                        style="height: 500px"
                      >
                        <v-col
                          cols="12"
                          md="12"
                          v-for="row in conversationChats"
                          :key="row.id"
                        >
                          <div
                            v-if="row.created_by !== currentUser.username"
                            :class="
                              !row.isRead ? 'grey lighten-3 pa-3 py-3' : ''
                            "
                            :style="{
                              cursor: !row.isRead ? 'pointer' : 'default',
                            }"
                            @click="readMessageAct(row.id, row.isRead)"
                          >
                            <div class="pl-0 pb-2 font-weight-medium">
                              <span>{{ row.created_by }}</span>
                              <span
                                style="font-size: 10px"
                                class="grey--text lighten-2 ml-2"
                                >({{
                                  dateFormattedFullDateWithTimefns(
                                    row.created_at
                                  )
                                }})</span
                              >
                            </div>
                            <div class="d-flex justify-start align-center">
                              <v-card-text
                                v-html="row.message"
                                class="orange text-left white--text rounded"
                                style="width: auto"
                              >
                              </v-card-text>
                              <v-btn text elevation="0" x-small class="ml-2">
                                <v-icon left small class="grey--text lighten-1">
                                  mdi mdi-eye
                                </v-icon>
                                {{ row.readCount }}
                              </v-btn>
                            </div>

                            <div v-if="row.image" class="mt-5">
                              <span class="" v-if="row.image !== ''"
                                >Proof Attached:</span
                              >
                              <v-btn
                                target="_blank"
                                v-if="row.image !== ''"
                                text
                                tile
                                x-small
                                @click="showDialogImagePreview(row)"
                                class="blue--text pl-2"
                              >
                                <v-icon left> mdi mdi-attachment </v-icon>
                                Clik to open image
                              </v-btn>
                              <div
                                class="d-flex justify-end"
                                v-if="!row.isRead"
                              >
                                <v-btn
                                  target="_blank"
                                  text
                                  x-small
                                  class="blue--text pl-0 ml-2"
                                  >Sudah dibaca</v-btn
                                >
                              </div>
                            </div>
                          </div>

                          <div v-else>
                            <v-card-text
                              class="pr-0 pb-2 font-weight-medium text-right"
                              ><span
                                style="font-size: 10px"
                                class="grey--text lighten-2 mr-2"
                                >({{
                                  dateFormattedFullDateWithTimefns(
                                    row.created_at
                                  )
                                }})</span
                              >
                              <span>{{ row.created_by }}</span></v-card-text
                            >
                            <div class="d-flex justify-end align-center">
                              <v-btn
                                text
                                elevation="0"
                                x-small
                                class="mr-2 grey--text lighten-1"
                              >
                                <v-icon left small> mdi mdi-eye </v-icon>
                                {{ row.readCount }}
                              </v-btn>
                              <v-card-text
                                v-html="row.message"
                                class="primary text-right white--text rounded"
                                style="width: auto"
                              >
                              </v-card-text>
                            </div>
                            <div
                              v-if="row.image !== ''"
                              class="d-flex justify-end mt-2"
                            >
                              <span class="" v-if="row.image !== ''"
                                >Proof Attached:</span
                              >
                              <v-btn
                                target="_blank"
                                @click="showDialogImagePreview(row)"
                                v-if="row.image !== ''"
                                text
                                tile
                                x-small
                                class="blue--text pl-2"
                              >
                                <v-icon left> mdi mdi-attachment </v-icon>
                                Clik to open image
                              </v-btn>
                            </div>
                          </div>
                        </v-col>
                      </v-row>
                    </v-card-text>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <div v-if="progress">
                      <v-progress-linear
                        v-model="progress"
                        color="blue"
                        rounded
                        height="25"
                        reactive
                      >
                        <strong>{{ progress }} %</strong>
                      </v-progress-linear>
                    </div>
                    <v-file-input
                      label="Attachment"
                      v-model="file"
                      chips
                      show-size
                      small-chips
                      truncate-length="50"
                      @change="uploadImage"
                    ></v-file-input>
                    <div class="d-flex justify-space-between align-center">
                      <v-text-field
                        @keyup.enter="createMessage"
                        rounded
                        v-model="message"
                        hide-details="auto"
                        light
                        outlined
                        label="Masukan pesan"
                      ></v-text-field>
                      <v-btn
                        rounded
                        :disabled="
                          this.message.length === 0 && !this.dialogProgres
                        "
                        @click.prevent="createMessage"
                        class="align-self-start green lighten white--text ml-2"
                        height="55"
                        elevation="0"
                      >
                        <v-icon>mdi-send</v-icon>
                      </v-btn>
                    </div>
                  </v-col>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-form>
      </v-card>

      <CloseConfirmDialog
        ref="refCloseConfirmDialog"
        @eventFromCloseConfirm="passingEventFromCloseConfirm"
      ></CloseConfirmDialog>

      <ImagePreviewDialog ref="refImagePreviewDialog"> </ImagePreviewDialog>

      <v-snackbar v-model="snackbar">
        {{ snackBarMesage }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
        </template>
      </v-snackbar>
    </v-dialog>
  </div>
</template>

<script>
import CloseConfirmDialog from "../../../components/utils/CloseConfirmDialog";
import FSupportTicketService from "../services/f-support-ticket-service";
import { dateFormattedFullDateWithTimefns } from "@/utils/date-utils";
import UploadService from "../../../services/apiservices/file_service/file-upload-service";
import ImagePreviewDialog from "../../../components/utils/ImagePreviewDialog.vue";
import { EStatusPengirimans } from "../../../models/e-status-pengiriman";

export default {
  components: { CloseConfirmDialog, ImagePreviewDialog },
  props: {
    formMode: String,
  },
  data() {
    return {
      title: "Conversation",
      item: {
        // ini data dari parent
        id: "",
        description: "",
        priority: "",
        ticket_status: "",
        deliveryNumber: "",
        destPhone: "",
        salesmanPhone: "",
        sales_transaction_id: 0,
        category_id: "",
        category: "",
        created_by: "",
        created_at: "",
        updated_at: "",
      },
      EStatusPengirimans: EStatusPengirimans,
      file: null,
      snackBarMesage: "",
      kategoriTicket: null,
      FtsalesTicket: null,
      snackbar: false,
      message: "",
      conversationChats: [],
      imageFileName: "",
      itemsFtSales: [],
      customToolbar: [
        ["bold", "italic", "underline"],
        [
          {
            align: "",
          },
          {
            align: "center",
          },
          {
            align: "right",
          },
          {
            align: "justify",
          },
        ],
        ["blockquote", "code-block"],
        [
          {
            list: "ordered",
          },
          {
            list: "bullet",
          },
          {
            list: "check",
          },
        ],
        [
          {
            indent: "-1",
          },
          {
            indent: "+1",
          },
        ],
        [
          {
            color: [],
          },
          {
            background: [],
          },
        ], // dropdown with defaults from theme
        ["clean"],
      ],
      itemsPriority: [
        {
          id: 0,
          name: "LOW",
        },
        {
          id: 1,
          name: "MEDIUM",
        },
        {
          id: 2,
          name: "HIGH",
        },
      ],

      FPriority: 0,
      imageOverlay: false,
      dialogProgres: false,
      progress: 0,
      dialogShow: false,
      formDialogOptions: {
        title1: "",
        title2: "",
        message1: "",
        message2: "",
        errorMessage: "",
        color: "grey lighten-3",
        width: 1000,
        zIndex: 200,
        noconfirm: false,
      },

      itemDefault: "",
      // itemModified: new FSupportTicket(""),

      valid: false,
      rulesLenght: [
        (v) => !!v || " Tidak Boleh Kosong",
        (v) => v.length <= 255 || "Maksimal 255 Karakter",
        (v) => v.length > 1 || "Harus lebih besar dari 1 karakter",
      ],
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],

      transparent: "rgba(255, 255, 255, 0)",
      ImageFileUrl: "",
    };
  },
  computed: {
    itemsFKategoriTicket() {
      return this.$store.state.data.listFTicketCategory;
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    haveRoleAdminAndEkspedisi() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2") ||
          this.currentUser.roles.includes("ROLE_EKSPEDISI")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
  },
  mounted() {},
  methods: {
    lastStatus(status){
      let salesStatus =  EStatusPengirimans.find(
        (e) => e.id === status
        )
       if (!salesStatus) {
        return "-"
       }else{
        return salesStatus.description
       }

    },
    readMessageAct(id, isRead) {
      if (isRead === false) {
        FSupportTicketService.readConversationTicketing(id).then(
          (response) => {
            if (response.status === 200) {
              this.message = "";
              let data = this.conversationChats.find((e) => e.id == id);
              data.isRead = true;
              data.user_read_count += 1;
              this.$store.dispatch("ticketing/loadTicketingNotification");
              this.fetchConversation()
            }
          },
          (error) => {
            this.formDialogOptions.errorMessage = error.response.data.message;
          }
        );
      }
    },
    dateFormattedFullDateWithTimefns(value) {
      return dateFormattedFullDateWithTimefns(value);
    },
    updateTicketCase(status) {
      this.$emit("eventOnUpdateTicket", {
        category_id: this.item.category_id,
        description: this.item.description,
        priority: this.item.priority,
        id: this.item.id,
        status: status,
      });
      this.closeForm();
    },
    showDialogUpload() {
      // this.$refs.refUploadDialog.showDialog()
    },
    showDialogImagePreview(item) {
      console.log(item)
      this.ImageFileUrl = item.image;
      this.$refs.refImagePreviewDialog.setImageUrl(this.ImageFileUrl);
      this.$refs.refImagePreviewDialog.showDialog();
    },
    uploadImage() {
      if (this.file !== null) {
        UploadService.uploadImage(
          this.file,
          (event) => {
            this.progress = Math.round((100 * event.loaded) / event.total);
          },
        )
          .then((responseImage) => {
            this.imageFileName = responseImage.data.message;
          })
          .catch((err) => {
            this.message = "Could not upload the image! " + err;
          });
        return;
      }
      this.progress = 0;
    },
    createMessage() {
      this.dialogProgres = true;
      this.progress = 0;
      if (this.file !== null) {
        FSupportTicketService.createConversationTicketing(this.item.id, {
          message: this.message,
          image_file_name: this.imageFileName,
        }).then(
          () => {
            this.dialogProgres = false;
            this.fetchConversation();
            this.file = null;
            this.message = "";
            this.scrollDown();
            this.progress = 0;
          },
          (error) => {
            this.formDialogOptions.errorMessage = error.response.data.message;
          }
        );
      } else {
        FSupportTicketService.createConversationTicketing(this.item.id, {
          message: this.message,
          image_file_name: "",
        }).then(
          () => {
            this.dialogProgres = false;
            this.fetchConversation();
            this.message = "";
            this.scrollDown();
          },
          (error) => {
            this.formDialogOptions.errorMessage = error.response.data.message;
          }
        );
      }
    },
    fetchConversation() {
      FSupportTicketService.getConversationTicketing(this.item.id).then(
        (res) => {
          this.itemsFtSales = res.data.data.detail;
          this.conversationChats = res.data.data.conversation.sort((a, b) =>
            a.created_at > b.created_at ? 1 : -1
          );
          this.scrollDown();
        },
        (err) => {
          console.log(err);
        }
      );
    },
    scrollDown() {
      this.$nextTick(function () {
        const el = this.$refs.overflowConversation;
        el.scrollTop = el.scrollHeight;
      });
    },
    showDialog(item) {
      this.item = item; // passing from parent
      this.fetchConversation();
      this.dialogShow = !this.dialogShow;
      this.selectedIndex = -1;
    },
    setDialogState(value) {
      this.dialogShow = value;
    },
    closeForm() {
      this.dialogShow = false;
    },
    passingEventFromCloseConfirm(value) {
      if (value === "OKE") this.dialogShow = false;
    },
  },
  watch: {
  },
};
</script>
<style scoped>
.show-btns {
  color: #4267b2 !important;
  opacity: 1;
}

.margin-right-1 {
  margin-right: 6px;
}
</style>
