<template>
  <div>
    <apexcharts
      width="350"
      :options="chartOptionsComputed"
      :series="ekspedisiReturnSeries"
    ></apexcharts>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  name: "PieReturnExpedisi",
  props: {
    ekspedisiReturnLabels: [],
    ekspedisiReturnSeries: [],
  },
  components: {
    apexcharts: VueApexCharts,
  },
  computed: {
    chartOptionsComputed() {
      let chartOptions = {
        chart: {
          width: 380,
          type: "pie",
        },
        labels: this.ekspedisiReturnLabels,
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 300,
                type: "pie",
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      };
      return chartOptions;
    },
  },
  methods: {},
};
</script>
