<template>
  <div>
    <apexcharts
      width="350"
      :options="chartOptionsComputed"
      :series="brandSeries"
    ></apexcharts>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  name: "PieSalesContributions",
  props: {
    brandLabels: [],
    brandSeries: [],
  },
  components: {
    apexcharts: VueApexCharts,
  },
  data: function () {
    return {};
  },
  computed: {
    chartOptionsComputed() {
      let chartOptions = {
        chart: {
          width: 380,
          type: "pie",
        },
        labels: this.brandLabels,

        /**
         * Kasih gradient lebih cantik dikit
         */
        fill: {
          type: "gradient",
        },

        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 300,
                type: "pie",
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      };
      return chartOptions;
    },
  },
  methods: {},
};
</script>

<style scoped></style>
