<template>
  <apexcharts
    width="350"
    :options="chartOptionsComputed"
    :series="series"
  ></apexcharts>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  name: "PieSalesContributionsByDivision",
  props: {
    labels: [],
    series: [],
  },
  components: {
    apexcharts: VueApexCharts,
  },
  computed: {
    chartOptionsComputed() {
      return {
        chart: {
          type: "pie",
        },
        labels: this.labels,
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 300,
                type: "pie",
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      };
    },
  },
};
</script>
