<template>
  <div>
    <apexcharts
      width="350"
      :options="chartOptionsComputed"
      :series="contributionSalesSeries"
    ></apexcharts>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  name: "contributionSalesPie",
  props: {
    contributionSalesLabels: [],
    contributionSalesSeries: [],
  },
  components: {
    apexcharts: VueApexCharts,
  },
  watch: {
    brandSeries: {
      handler: function (value) {
        if (value.length > 0) {
          this.series = value;
        }
      },
    },
  },
  data: function () {
    return {};
  },
  computed: {
    chartOptionsComputed() {
      let chartOptions = {
        chart: {
          width: 380,
          type: "pie",
        },
        labels: this.contributionSalesLabels,

        /**
         * Kasih gradient lebih cantik dikit
         */
        fill: {
          type: "gradient",
        },

        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 300,
                type: "pie",
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      };
      return chartOptions;
    },
  },
  methods: {},
};
</script>

<style scoped></style>
