<template>
  <v-row class="mx-2">
    <v-col cols="12">
      <FtSaleshTable title="Print resi" ref="refTabSaleshClick" />
    </v-col>
  </v-row>
</template>

<script>
// import PrintResiTable from "../components/print-resi/PrintResiTable";
import FtSaleshTable from "../components/invoice-type1/FtSaleshTable";

export default {
  components: { FtSaleshTable },
  data() {
    return {};
  },
  methods: {
    tabSaleshClick() {
      try {
        this.$refs.refTabSaleshClick.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
