<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <FSaleshTable ref="refReturnManagementClick" />
    </v-col>
  </v-row>
</template>

<script>
import FSaleshTable from "../components/return-managment/ReturnManagement";

export default {
  components: { FSaleshTable },
  data() {
    return {};
  },
  methods: {
    tabSaleshClick() {
      try {
        this.$refs.refReturnManagementClick.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
