<template>
  <div>
    <v-row class="mt-5 mx-2" style="position: relative">
      <v-col cols="12" sm="12" md="6" xs="12">
        <v-card
          color="yellow darken-4"
          elevation="0"
          class="rounded no-gutters white--text"
        >
          <v-card-title class="subtitle-2">
            <span class="font-weight-black">Total resi confirm unprocess</span>
          </v-card-title>
          <v-card-text
            class="white--text d-flex justify-space-between align-center"
          >
            <span class="text-h4">{{ updatedStatus.unProcessConfirm }}</span>
            <v-btn @click="onProcessDetail('confirmed')" text color="white"
              >detail</v-btn
            >
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" sm="12" md="6" xs="12">
        <v-card
          color="brown darken-1"
          elevation="0"
          class="rounded no-gutters white--text"
        >
          <v-card-title class="subtitle-2">
            <span class="font-weight-black"
              >Total resi on process un wait to pickup</span
            >
          </v-card-title>
          <v-card-text
            class="white--text d-flex justify-space-between align-center"
          >
            <span class="text-h4">{{ updatedStatus.unProcessOnProcess }}</span>
            <v-btn @click="onProcessDetail('process')" text color="white"
              >detail</v-btn
            >
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" sm="12" md="3" xs="12">
        <v-card
          color="grey darken-1"
          elevation="0"
          class="rounded no-gutters white--text"
        >
          <v-card-title class="subtitle-2">
            <span class="font-weight-black">Total scan resi</span>
          </v-card-title>
          <v-card-text class="white--text">
            <span class="text-h4">{{ data.length }}</span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="3" xs="12">
        <v-card
          color="orange darken-1"
          elevation="0"
          class="rounded no-gutters white--text"
        >
          <v-card-title class="subtitle-2">
            <span class="font-weight-black">Total on proses</span>
          </v-card-title>
          <v-card-text class="white--text">
            <span class="text-h4">{{ updatedStatus.onProcess }}</span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="3" xs="12" class="d-flex child-flex">
        <v-card
          color="red darken-1"
          elevation="0"
          class="rounded no-gutters white--text"
        >
          <v-card-title class="subtitle-2">
            <span class="font-weight-black">Total wait to pickup</span>
          </v-card-title>
          <v-card-text class="white--text">
            <span class="text-h4">{{ updatedStatus.waitToPickup }}</span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="3" xs="12" class="d-flex child-flex">
        <v-card
          color="green darken-1"
          elevation="0"
          class="rounded no-gutters white--text"
        >
          <v-card-title class="subtitle-2">
            <span class="font-weight-black">Total Pickup</span>
          </v-card-title>
          <v-card-text class="white--text">
            <span class="text-h4">{{ updatedStatus.pickup }}</span>
          </v-card-text>
        </v-card>
      </v-col>

      <v-overlay absolute opacity="0.3" :value="overlay">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-row>
    <v-row class="mx-2">
      <v-col cols="12">
        <v-card flat>
          <v-tabs
            :vertical="$vuetify.breakpoint.mdAndUp"
            :centered="$vuetify.breakpoint.smAndDown"
            color="deep-purple accent-4"
            background-color="F5F5FF5F"
          >
            <v-tab class="justify-md-start" disabled>
              <v-icon left>{{ firsTabIcon }}</v-icon>
              {{ firsTabTitle }}
            </v-tab>
            <v-tab class="justify-start"> Scan Resi </v-tab>
            <v-tab class="justify-start"> Serah terima </v-tab>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <p></p>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <ScanResiTable
                    :data="data"
                    @resetData="resetData"
                    @onCountAll="onCountAll"
                    @fetchSummary="scanSummary"
                  >
                    <template v-if="data.length > 0">
                      <v-simple-table dense>
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th class="text-left">#</th>
                              <th class="text left">Awb</th>
                              <th class="text left">Ekspedisi</th>
                              <th class="text-left">items</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="(row, index) in data.slice().reverse()"
                              :key="row.deliveryNumber"
                            >
                              <td>{{ index + 1 }}</td>
                              <td>{{ row.deliveryNumber }}</td>
                              <td>
                                <v-img
                                  height="50"
                                  width="50"
                                  :src="lookupImageUrl(row.ekspedisiPath)"
                                />
                                {{ row.ekspedisi }}
                              </td>
                              <td>{{ row.remark }}</td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </template>
                  </ScanResiTable>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <ScanResiSerahTerimaTableVue
                    :data="dataScanSerahTerima"
                    @resetData="resetDataSerahTerima"
                    @onCountAll="onCountAll"
                    @fetchSummary="scanSummary"
                  >
                    <template v-if="dataScanSerahTerima.length > 0">
                      <v-simple-table dense>
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th class="text-left">#</th>
                              <th class="text left">Awb</th>
                              <th class="text left">Ekspedisi</th>
                              <th class="text-left">Items</th>
                              <th class="text-left">Tanggal scan</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              v-for="(row, index) in dataScanSerahTerima
                                .slice()
                                .reverse()"
                              :key="row.deliveryNumber"
                            >
                              <td>{{ index + 1 }}</td>
                              <td>{{ row.deliveryNumber }}</td>
                              <td>
                                <v-img
                                  height="50"
                                  width="50"
                                  :src="lookupImageUrl(row.ekspedisiPath)"
                                />
                                {{ row.ekspedisi }}
                              </td>
                              <td>{{ row.remark }}</td>
                              <td>{{ row.scanAt }}</td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </template>
                  </ScanResiSerahTerimaTableVue>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-col>
    </v-row>
    <ScanResiSummaryDialaogDetail ref="refScanResiSummaryDialaogDetail" />
  </div>
</template>
<script>
import ScanResiSummaryDialaogDetail from "../components/scan-resi/ScanResiSummaryDialaog.vue";
import ScanResiTable from "../components/scan-resi/ScanResiTable.vue";
import FScanResi from "../services/ft-scan-resi-service";
import FileService from "../../../services/apiservices/file_service/file-service";
import ScanResiSerahTerimaTableVue from "../components/scan-resi/ScanResiSerahTerimaTable.vue";
export default {
  name: "ScanResi",
  components: {
    ScanResiTable,
    ScanResiSerahTerimaTableVue,
    ScanResiSummaryDialaogDetail,
  },
  data() {
    return {
      firsTabTitle: "Scan",
      overlay: true,
      firsTabIcon: "mdi-home-variant",
      data: [],
      dataScanSerahTerima: [],
      updatedStatus: {
        unProcessConfirm: 0,
        unProcessOnProcess: 0,
        onProcess: 0,
        waitToPickup: 0,
        pickup: 0,
      },
    };
  },
  methods: {
    onProcessDetail(type) {
      FScanResi.summaryScanDetail(type).then(
        (response) => {
          const { data } = response.data;
          this.$refs.refScanResiSummaryDialaogDetail.showDialog(data, type);
        },
        (error) => {
          console.log(error);
        }
      );
    },
    scanSummary() {
      this.updatedStatus = {
        unProcessConfirm: 0,
        unProcessOnProcess: 0,
        onProcess: 0,
        waitToPickup: 0,
        pickup: 0,
      }; /* reset summary */
      this.overlay = true;
      FScanResi.summaryScan().then(
        (response) => {
          const { data, unprocessed } = response.data.data;

          unprocessed.forEach((row) => {
            if (row.status === 1) {
              this.updatedStatus.unProcessConfirm = row.count;
            } else if (row.status === 2) {
              this.updatedStatus.unProcessOnProcess = row.count;
            }
          });

          data.forEach((summary) => {
            if (summary.status === 2) {
              this.updatedStatus.onProcess = summary.count;
            } else if (summary.status === 3) {
              this.updatedStatus.waitToPickup = summary.count;
            } else if (summary.status === 4) {
              this.updatedStatus.pickup = summary.count;
            }
          });

          this.overlay = false;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    lookupImageUrl(item) {
      return FileService.image_url_verylow(item);
    },
    onCountAll(count) {
      this.updatedStatus.all = count;
    },
    resetData() {
      this.data = [];
    },
    resetDataSerahTerima() {
      this.dataScanSerahTerima = [];
    },
  },
  mounted() {
    this.scanSummary();
  },
};
</script>
<style scoped></style>
