<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <FPromotionRuleshTable ref="refTabPromotionRuleshClick" />
    </v-col>
  </v-row>
</template>

<script>
import FPromotionRuleshTable from "../components/FPromotionRuleshTable";

export default {
  components: { FPromotionRuleshTable },
  data() {
    return {
      firstTabTitle: "SETTING PROMOTIONS",
      firstTabIcon: "mdi-gift",
    };
  },
  methods: {
    tabMaterialClick() {
      try {
        this.$refs.refTabPromotionRuleshClick.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
