<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <OrgChartKomisi />
    </v-col>
  </v-row>
</template>

<script>
import OrgChartKomisi from "../components/komisi/OrgChartKomisi";

export default {
  components: {
    OrgChartKomisi,
  },
  data() {
    return {};
  },
  methods: {},
  mounted() {},
};
</script>

<style scoped></style>
