<template>
  <v-row class="mx-2 my-5">
    <v-col cols="12" lg="12">
      <SalesReportTable ref="refTabSalesReportClick" />
    </v-col>
  </v-row>
</template>

<script>
import SalesReportTable from "../components/reports/SalesReport";

export default {
  components: { SalesReportTable },
};
</script>

<style scoped></style>
