<template>
  <div>
    <v-row class="ma-6">
      <div class="text-h5">Pengaturan Akun</div>
    </v-row>
    <v-row class="my-1 mx-3">
      <v-col>
        <v-card flat>
          <v-tabs
            :centered="$vuetify.breakpoint.smAndDown"
            :vertical="$vuetify.breakpoint.mdAndUp"
            background-color="F5F5FF5F"
            color="primary"
          >
            <v-tab class="justify-start mt-5 ml-10 mb-5">
              <v-icon class="mr-5"> mdi-account </v-icon>
              Profile
            </v-tab>
            <!-- <v-tab class="justify-start mt-5 ml-10 mb-5">
      <v-icon class="mr-5">
        mdi-pencil
      </v-icon>
      Edit Profile
    </v-tab> -->
            <v-tab class="justify-start mt-5 ml-10 mb-5">
              <v-icon class="mr-5"> mdi-lock </v-icon>
              Password & Security
            </v-tab>
            <v-tab class="justify-start mt-5 ml-10 mb-5">
              <v-icon class="mr-5"> mdi-credit-card </v-icon>
              Billing
            </v-tab>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <Profile />
                </v-card-text>
              </v-card>
            </v-tab-item>
            <!-- <v-tab-item>
        <v-card flat>
          <v-card-text>
            <FChangeProfile/>
          </v-card-text>
        </v-card>
      </v-tab-item> -->
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <PasswordAndSecurityVue />
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <PasswordAndSecurityVue />
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-col>
    </v-row>
  </div>
  <!-- <div class="ma-5 text-h2">
     Setting
   </div> -->
  <!-- <FChangeProfile></FChangeProfile> -->
</template>

<script>
import Profile from "../components/Profile.vue";
// import FChangeProfile from "../components/FChangeProfile";
import PasswordAndSecurityVue from "../components/PasswordAndSecurity.vue";

export default {
  name: "ChangeProfile",
  components: { Profile, PasswordAndSecurityVue },
  data() {
    return {};
  },
  computed: {},
  methods: {},
  mounted() {},
};
</script>

<style scoped>
.v-tab {
  text-transform: capitalize;
}
</style>
