<template>
  <div style="padding-top: 72px !important">
    <v-footer class="py-15 px-10" color="#4267B2">
      <v-container>
        <v-row justify="center" no-gutters>
          <v-col cols="12">
            <v-img
              max-width="214"
              max-height="89"
              src="./assets/landing/logoTransparent.png"
            ></v-img>
          </v-col>
          <v-col cols="12">
            <v-row align="start" justify="center">
              <v-col cols="12" md="3">
                <v-list
                  class="primary white--text text-body-1 list_footer"
                  dark
                >
                  <v-list-item
                    class="white--text text-h5 font-weight-bold my-4 pl-0"
                  >
                    CV. Sastro Digital Asia
                  </v-list-item>
                  <v-list-item class="white--text text-body-2 pl-0">
                    Jl. Ade Irma Suryani No. 50, Monjok, Selaparang. Kota
                    Mataram. NTB. 83239
                  </v-list-item>
                  <v-list-item class="pl-0">
                    <div class="icon_media mt-4">
                      <a><v-icon color="white">mdi-facebook</v-icon></a>
                      <a><v-icon color="white">mdi-instagram</v-icon></a>
                      <a><v-icon color="white">mdi-twitter</v-icon></a>
                      <a><v-icon color="white">mdi-linkedin</v-icon></a>
                    </div>
                  </v-list-item>
                </v-list>
              </v-col>
              <v-col cols="12" md="3" offset-md="1">
                <v-list
                  class="primary white--text text-body-1 list_footer"
                  dark
                >
                  <v-list-item class="white--text text-h5 font-weight-bold"
                    >Service</v-list-item
                  >
                  <v-list-item>Management Order</v-list-item>
                  <v-list-item>Fullfilment</v-list-item>
                  <v-list-item>Kirimin paket</v-list-item>
                </v-list>
              </v-col>
              <v-col cols="12" md="4" offset-md="1">
                <v-list
                  class="primary white--text text-body-1 list_footer"
                  dark
                >
                  <v-list-item class="white--text text-h5 font-weight-bold"
                    >Company</v-list-item
                  >
                  <v-list-item>Privacy Policy</v-list-item>
                  <v-list-item link target="_blank" to="/term_condition"
                    >Term & Condition</v-list-item
                  >
                </v-list>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
  </div>
</template>
<script>
export default {
  name: "AppFooter",
};
</script>

<style scoped>
.icon_media > a {
  margin-right: 12px;
}

.list_footer > li {
  margin-top: 10px;
}

.list_footer {
  list-style-type: none;
  padding-left: 0 !important;
}
</style>
