<template>
    <v-img
        lazy-src="/assets/logoLoader.gif"
        max-height="250"
        max-width="250"
        src="/assets/logoLoader.gif"
    ></v-img>
</template>

  <script>
  export default {

  }
  </script>
