<template>
  <div>
    <!--    <v-row-->
    <!--      style="background-color: #4267B2"-->
    <!--      justify="center"-->
    <!--      no-gutters-->
    <!--    >-->
    <!--      <v-col-->
    <!--        class="py-4 white&#45;&#45;text"-->
    <!--        cols="12"-->
    <!--      >-->
    <!--        <v-container class="py-0">-->
    <!--          <strong>Pengumuman</strong>-->
    <!--        </v-container>-->
    <!--      </v-col>-->
    <!--    </v-row>-->

    <v-container class="pl-0 pr-0 pt-lg-12">
      <v-navigation-drawer v-model="drawer" app>
        <v-list>
          <div class="d-flex justify-center pt-5">
            <v-img
              max-width="150"
              max-height="95"
              src="/assets/landing/logo.png"
              alt="Logo sellin"
            />
          </div>
          <v-list-item
            route
            v-for="item in menuItems"
            :key="item.title"
            :to="item.path"
          >
            <v-list-item-content class="ml-10">
              {{ item.title }}
            </v-list-item-content>
          </v-list-item>

          <v-list-item>
            <v-list-item-content class="mx-3">
              <v-btn
                color="primary white--text"
                elevation="0"
                to="/login"
                class="font-weight-bold"
              >
                <span v-if="currentUser == null">Login</span>
                <span v-else>Dashboard</span>
              </v-btn>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar flat>
        <div class="d-flex align-center justify-lg-start justify-end">
          <span class="hidden-sm-and-up">
            <v-app-bar-nav-icon @click="drawer = !drawer"> </v-app-bar-nav-icon>
          </span>
          <v-toolbar-title>
            <router-link to="/" tag="span" style="cursor: pointer">
              <v-img
                max-width="150"
                max-height="95"
                src="/assets/landing/logo.png"
                alt="Logo sellin"
              />
            </router-link>
          </v-toolbar-title>
        </div>
        <v-spacer class="hidden-sm-only"></v-spacer>
        <v-toolbar-items class="hidden-xs-only" style="border-radius: 10px">
          <v-btn
            text
            class="font-weight-bold nav_btn"
            v-for="item in menuItems"
            :key="item.title"
            :to="item.path"
          >
            <span>{{ item.title }}</span>
          </v-btn>

          <v-btn
            outlined
            class="font-weight-bold nav_btn"
            :to="'/login'"
            small
            v-text="currentUser ? 'Dashboard' : 'Sign In'"
          >
            Sign in
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  data() {
    return {
      drawer: false,
      menuItems: [
        { title: "Home", path: "/" },
        { title: "Service", path: "/#service" },
        { title: "About", path: "/#about" },
      ],
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    isHasRoleExpedisiComputed() {
      if (this.currentUser.roles) {
        return (
          this.currentUser.roles.find((e) => e.includes("ROLE_EKSPEDISI")) ===
            "ROLE_EKSPEDISI" && this.currentUser.roles.length === 1
        );
      } else {
        return false;
      }
    },
  },
  methods: {
    signIn() {
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
  },
};
</script>

<style scoped>
.theme--light.v-btn--active,
.theme--light.v-btn--active {
  color: #4267b2 !important;
}

.theme--light.v-btn--active:last-child,
.theme--light.v-btn--active:last-child {
  color: white !important;
}

.nav_btn:hover::before {
  color: #4267b2 !important;
  background-color: transparent;
}

.nav_btn:before {
  background-color: transparent;
}

.nav_btn:hover {
  color: #4267b2 !important;
}

.nav_btn:last-child {
  border-radius: 10px;
  height: 100px;
  color: white;
  background-color: #4267b2;
}

.nav_btn:last-child:hover {
  color: white !important;
}

.v-toolbar__items > .v-btn {
  height: 70% !important;
  margin-right: 10px;
}
</style>
