<template>
  <nav>
    <v-navigation-drawer
      dark
      color="primary"
      app
      v-model="drawer"
      v-if="showNavbar"
    >
      <v-layout column align-center>
        <v-flex class="my-5">
          <v-img
            lazy-src="/assets/images/logo_sidebar_small.png"
            max-height="120"
            max-width="120"
            src="/assets/images/logo_sidebar_small.png"
          ></v-img>
        </v-flex>
      </v-layout>

      <v-divider></v-divider>

      <v-list>
        <v-list-item v-if="isHasRoleExpedisiComputed" light route to="/tickets">
          <v-list-item-icon>
            <v-icon>mdi-ticket</v-icon>
          </v-list-item-icon>
          <v-list-item-subtitle>Ticketing</v-list-item-subtitle>
        </v-list-item>
        <v-list-item route to="/dashboard" v-if="!isHasRoleExpedisiComputed">
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-subtitle>Dashboard</v-list-item-subtitle>
        </v-list-item>

        <v-list-item route to="/notification">
          <v-list-item-icon>
            <v-badge
              v-if="totalAllNotif > 0"
              color="red"
              :content="totalAllNotif"
            >
              <v-icon>mdi mdi-bell</v-icon>
            </v-badge>
            <v-icon v-else>mdi mdi-bell</v-icon>
          </v-list-item-icon>
          <v-list-item-subtitle>Notification</v-list-item-subtitle>
        </v-list-item>

        <v-list-item
          route
          to="/catalog-product"
          v-if="!isHasRoleExpedisiComputed"
        >
          <v-list-item-icon>
            <v-icon>mdi-archive</v-icon>
          </v-list-item-icon>
          <v-list-item-subtitle>Catalog Product</v-list-item-subtitle>
        </v-list-item>

        <v-list-item
          v-if="!isHasRoleExpedisiComputed"
          @click="showDialogOpenTicket"
        >
          <v-list-item-icon>
            <v-icon>mdi-ticket</v-icon>
          </v-list-item-icon>
          <v-list-item-subtitle>Buat ticket</v-list-item-subtitle>
        </v-list-item>

        <v-list-group
          v-for="nav_drawer in nav_drawers.filter((x) => x.visible)"
          :key="nav_drawer.title"
          style="color: white !important"
          :prepend-icon="nav_drawer.icon"
          no-action
          small
          v-model="nav_drawer.active"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title class="body-2" v-text="nav_drawer.title">
              </v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="submenu in nav_drawer.items.filter((x) => x.visible)"
            :key="submenu.title"
            link
            router
            :to="submenu.route"
          >
            <template>
              <v-list-item-content>
                <v-list-item-title class="body-2" v-text="submenu.title">
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item-icon>
              <v-icon small>{{ submenu.icon }}</v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>

        <v-list-item
          route
          to="/sales-export"
          v-if="
            currentUser.roles.includes('ROLE_PIUTANG') &&
            currentUser.salesmanOf === 0
          "
        >
          <v-list-item-icon>
            <v-icon>mdi-printer</v-icon>
          </v-list-item-icon>
          <v-list-item-subtitle>Export sale</v-list-item-subtitle>
        </v-list-item>

        <v-list-item
          route
          to="/feedback"
          v-if="!haveRoleAdmin && !isHasRoleExpedisiComputed"
        >
          <v-list-item-icon>
            <v-icon>mdi-ticket</v-icon>
          </v-list-item-icon>
          <v-list-item-subtitle>Feedback</v-list-item-subtitle>
        </v-list-item>

        <v-list-item
          @click="showDialogFeedback"
          v-if="!isHasRoleExpedisiComputed"
        >
          <v-list-item-icon>
            <v-icon>mdi-ticket</v-icon>
          </v-list-item-icon>
          <v-list-item-subtitle>Buat Feedback</v-list-item-subtitle>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <FeedbackDialog
      ref="refFeedbackDialog"
      @eventFromFormDialogNew="saveDataEdit"
      @eventFromFormDialogEdit="saveDataEdit"
      :formMode="formMode"
    ></FeedbackDialog>
    <DialogTicketing ref="refFormDialogTicketing"></DialogTicketing>
    <DialogTicketingConversation ref="refConversationDialog">
    </DialogTicketingConversation>
  </nav>
</template>

<script>
import ERole from "../../../models/e-role";
import FileService from "../../../services/apiservices/file_service/file-service";
import "moment/locale/id";
import DialogTicketing from "../../ticketing/components/DialogTicketing";
import FeedbackDialog from "../../feedback/components/FeedbackDialog";
import FFeedbackCategoryService from "../../feedback/services/f-feedback-category-service";
import DialogTicketingConversation from "../../ticketing/components/DialogTicketingConversation.vue";

export default {
  components: { FeedbackDialog, DialogTicketing, DialogTicketingConversation },
  data() {
    return {
      formMode: "NEW_FORM",
      top_menus: [
        {
          icon: "mdi-help-box",
          title: "Ubah Profile",
          route: "/change-profile",
          visible: true,
        },
      ],
      drawer: true,
      dataNotificationTicketing: [],
      dataTicketingConversation: [],
      ticketingValue: {},
    };
  },
  computed: {
    totalAllNotif() {
      let total = 0;
      this.notification.map((f) => {
        total += f.totalNotification;
      });
      return total;
    },
    notification() {
      return this.$store.state.notification
        .itemNotificationLabelWithNotificationItem;
    },
    isHasRoleExpedisiComputed() {
      if (this.currentUser.roles) {
        return (
          this.currentUser.roles.find((e) => e.includes("ROLE_EKSPEDISI")) ===
            "ROLE_EKSPEDISI" && this.currentUser.roles.length === 1
        );
      } else {
        return false;
      }
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    showNavbar() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles;
      }
      return false;
    },

    nav_drawers() {
      return [
        {
          title: "Mitra",
          icon: "mdi-account-group",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_USER,
            ERole.ROLE_SALES,
            ERole.ROLE_AGEN,
            ERole.ROLE_RSL_1,
            ERole.ROLE_RSL_2,
            ERole.ROLE_CS,
            ERole.ROLE_PURCHASE,
            ERole.ROLE_PURCHASE_1,
            ERole.ROLE_PURCHASE_2,
            ERole.ROLE_INVENTORY_1,
            ERole.ROLE_INVENTORY_2,
            ERole.ROLE_AGEN,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Pelanggan",
              route: "/customer",
              icon: "mdi-account-group",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_SALES,
                ERole.ROLE_AGEN,
                ERole.ROLE_RSL_1,
                ERole.ROLE_RSL_2,
                ERole.ROLE_CS,
                ERole.ROLE_SALES,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Kategori",
              route: "/cust-category",
              icon: "mdi-file-tree",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Wilayah",
              route: "/cust-region",
              icon: "mdi-map",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Supplier",
              route: "/supplier",
              icon: "mdi-factory",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_PURCHASE,
                ERole.ROLE_PURCHASE_1,
                ERole.ROLE_PURCHASE_2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Ekspedisi",
              route: "/expedisi",
              icon: "mdi-truck-fast",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "MP Store",
              route: "/mp-store",
              icon: "mdi-flash",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_AGEN,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
        {
          title: "Pembelian",
          icon: "mdi-factory",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_USER,
            ERole.ROLE_PURCHASE,
            ERole.ROLE_PURCHASE_1,
            ERole.ROLE_PURCHASE_2,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "PO",
              route: "/purchase-order",
              icon: "mdi-email-outline",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_PURCHASE,
                ERole.ROLE_PURCHASE_1,
                ERole.ROLE_PURCHASE_2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Good Receipt",
              route: "/purchase-gr",
              icon: "mdi-truck",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_PURCHASE,
                ERole.ROLE_PURCHASE_1,
                ERole.ROLE_PURCHASE_2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Invoice",
              route: "/purchase-invoice-type1",
              icon: "mdi-credit-card-outline",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_PURCHASE,
                ERole.ROLE_PURCHASE_1,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
        {
          title: "Penjualan",
          icon: "mdi-cart",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_USER,
            ERole.ROLE_SALES,
            ERole.ROLE_AGEN,
            ERole.ROLE_RSL_1,
            ERole.ROLE_RSL_2,
            ERole.ROLE_CS,
            ERole.ROLE_INVENTORY,
            ERole.ROLE_INVENTORY_1,
            ERole.ROLE_INVENTORY_2,
            ERole.ROLE_FINANCE,
            ERole.ROLE_PIUTANG,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Input Order",
              route: "/sales",
              icon: "mdi-cart",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_SALES,
                ERole.ROLE_AGEN,
                ERole.ROLE_RSL_1,
                ERole.ROLE_RSL_2,
                ERole.ROLE_CS,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Warehouse & Delivery",
              route: "/sales-delivery",
              icon: "mdi-truck-fast",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_INVENTORY,
                ERole.ROLE_INVENTORY_1,
                ERole.ROLE_INVENTORY_2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Print Resi",
              route: "/sales-print",
              icon: "mdi-printer",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_INVENTORY,
                ERole.ROLE_INVENTORY_1,
                ERole.ROLE_INVENTORY_2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Scan Resi",
              route: "/scan-resi",
              icon: "mdi-barcode-scan",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_INVENTORY,
                ERole.ROLE_INVENTORY_1,
                ERole.ROLE_INVENTORY_2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Rekonsiliasi",
              route: "/rekonsiliasi",
              icon: "mdi-book",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_SALES,
                ERole.ROLE_AGEN,
                ERole.ROLE_RSL_1,
                ERole.ROLE_RSL_2,
                ERole.ROLE_FINANCE,
                ERole.ROLE_PIUTANG,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Update status",
              route: "/updateStatusSales",
              icon: "mdi-cart",
              visible:
                this.currentUser.id == "264" || this.currentUser.id == "1",
            },
            {
              title: "Export sale",
              route: "/sales-export",
              icon: "mdi-printer",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_SALES /* admin input direct */,
                ERole.ROLE_CS,
                ERole.ROLE_AGEN,
                ERole.ROLE_RSL_1,
                ERole.ROLE_INVENTORY,
                ERole.ROLE_INVENTORY_1,
                ERole.ROLE_INVENTORY_2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Return Management",
              route: "/sales-return-management",
              icon: "mdi-cart-off",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_INVENTORY,
                ERole.ROLE_INVENTORY_1,
                ERole.ROLE_INVENTORY_2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
        {
          title: "Ticketing",
          icon: "mdi-ticket",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_USER,
            ERole.ROLE_SALES,
            ERole.ROLE_AGEN,
            ERole.ROLE_RSL_1,
            ERole.ROLE_RSL_2,
            ERole.ROLE_CS,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Tickets",
              route: "/tickets",
              icon: "",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_SALES,
                ERole.ROLE_AGEN,
                ERole.ROLE_RSL_1,
                ERole.ROLE_RSL_2,
                ERole.ROLE_CS,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Kategori",
              route: "/ticket-category",
              icon: "",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Master Status",
              route: "/ticket-master-status",
              icon: "",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
        {
          title: "Pembayaran",
          icon: "mdi-credit-card",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_USER,
            ERole.ROLE_HUTANG,
            ERole.ROLE_HUTANG_1,
            ERole.ROLE_PIUTANG,
            ERole.ROLE_PIUTANG_1,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Invoice",
              route: "/pembayaran-ar-invoice",
              icon: "mdi-cart",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_PIUTANG,
                ERole.ROLE_PIUTANG_1,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Hutang",
              route: "/pembayaran-ap",
              icon: "mdi-factory",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_HUTANG,
                ERole.ROLE_HUTANG_1,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Piutang",
              route: "/pembayaran-ar",
              icon: "mdi-account-group",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_PIUTANG,
                ERole.ROLE_PIUTANG_1,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Metode Bayar",
              route: "/pay-method",
              icon: "mdi-credit-card",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
        {
          title: "Inventory",
          icon: "mdi-credit-card",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_USER,
            ERole.ROLE_SALES,
            ERole.ROLE_INVENTORY,
            ERole.ROLE_INVENTORY_1,
            ERole.ROLE_INVENTORY_2,
            ERole.ROLE_PURCHASE,
            ERole.ROLE_PURCHASE_1,
            ERole.ROLE_PURCHASE_2,
            ERole.ROLE_AGEN,
            ERole.ROLE_RSL_1,
            ERole.ROLE_RSL_2,
            ERole.ROLE_PIUTANG,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Penyesuaian",
              route: "/penyesuaian-stock",
              icon: "mdi-scale-balance",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_INVENTORY,
                ERole.ROLE_INVENTORY_1,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Mutasi/Transfer",
              route: "/mutasi-transfer-stock",
              icon: "mdi-share",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_INVENTORY,
                ERole.ROLE_INVENTORY_1,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Stock Barang",
              route: "/stock-barang",
              icon: "mdi-cube",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_SALES,
                ERole.ROLE_INVENTORY,
                ERole.ROLE_INVENTORY_1,
                ERole.ROLE_INVENTORY_2,
                ERole.ROLE_PURCHASE,
                ERole.ROLE_PURCHASE_1,
                ERole.ROLE_PURCHASE_2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Warehouse",
              route: "/warehouse",
              icon: "mdi-home-variant",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Return",
              route: "/return",
              icon: "mdi-book",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_SALES,
                ERole.ROLE_AGEN,
                ERole.ROLE_RSL_1,
                ERole.ROLE_RSL_2,
                ERole.ROLE_INVENTORY,
                ERole.ROLE_INVENTORY_1,
                ERole.ROLE_INVENTORY_2,
                ERole.ROLE_PIUTANG,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
        {
          title: "Produk",
          icon: "mdi-barcode",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_USER,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Produk",
              route: "/product",
              icon: "mdi-barcode",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_SALES,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Kategori",
              route: "/product-category",
              icon: "mdi-file-tree",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_SALES,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Brand",
              route: "/product-sales-brand",
              icon: "mdi-file",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Tax",
              route: "/product-ar-payment",
              icon: "mdi-cash",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
        {
          title: "Promotions",
          icon: "mdi-gift",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_USER,
            ERole.ROLE_SALES,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Setting Promosi",
              route: "/setting-promosi",
              icon: "mdi-gift",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Report",
              route: "/promotions-report",
              icon: "mdi-chart-line",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
                ERole.ROLE_SALES,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
        {
          title: "Laporan",
          icon: "mdi-chart-pie",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_AGEN,
            ERole.ROLE_RSL_1,
            ERole.ROLE_PIUTANG,
            ERole.ROLE_SALES,
            ERole.ROLE_CS,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Sales to Items",
              route: "/reports",
              icon: "mdi-chart-line",
              visible: true,
            },
            {
              title: "Analisis",
              route: "/reports-analisis",
              icon: "mdi-chart-line",
              visible: true,
            },
            {
              title: "Tim",
              route: "/report-komisi",
              icon: "mdi-account-multiple-outline",
              visible: true,
            },
          ],
        },
        {
          title: "Information",
          icon: "mdi-bell",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Banner",
              route: "/banner-setting",
              icon: "mdi-message",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Top Notification",
              route: "/admin-notification-top",
              icon: "mdi-message",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Bottom Notification",
              route: "/admin-notification-buttom",
              icon: "mdi-help",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Feedback",
              route: "/feedback",
              icon: "mdi-message",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
        {
          title: "Admin",
          icon: "mdi-cog-outline",
          active: false,
          visible: [
            ERole.ROLE_ADMIN,
            ERole.ROLE_ADMIN1,
            ERole.ROLE_ADMIN2,
            ERole.ROLE_USER,
          ].some((x) => this.currentUser.roles.includes(x)),
          items: [
            {
              title: "Discount",
              route: "/discount",
              icon: "mdi-cart",
              visible: [ERole.ROLE_ADMIN, ERole.ROLE_ADMIN1].some((x) =>
                this.currentUser.roles.includes(x)
              ),
            },
            {
              title: "Sistem",
              route: "/admin-sistem",
              icon: "mdi-cog",
              visible: [ERole.ROLE_ADMIN, ERole.ROLE_ADMIN1].some((x) =>
                this.currentUser.roles.includes(x)
              ),
            },
            {
              title: "General Config",
              route: "/general-config",
              icon: "mdi-file",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
            {
              title: "Struktur Organisasi",
              route: "/admin-struktur-organisasi",
              icon: "mdi-file-tree",
              visible: [
                ERole.ROLE_ADMIN,
                ERole.ROLE_ADMIN1,
                ERole.ROLE_ADMIN2,
                ERole.ROLE_USER,
              ].some((x) => this.currentUser.roles.includes(x)),
            },
          ],
        },
      ];
    },
  },

  methods: {
    closeDialogFeedback() {
      this.$refs.refFeedbackDialog.setDialogState(false);
    },
    saveDataEdit() {
      this.closeDialogFeedback();
    },
    showDialogFeedback() {
      FFeedbackCategoryService.getAllFFeedbackCategoryService().then(
        (res) => {
          this.$refs.refFeedbackDialog.showDialog(-1, null, res.data);
        },
        (err) => {
          console.log(err);
        }
      );
    },
    showDialogOpenTicket() {
      this.initTicketShow();
    },
    initTicketShow() {
      this.$refs.refFormDialogTicketing.showDialog();
    },
    lookupImageUrl(item) {
      // console.log(JSON.stringify(item))
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/account_icon.png";
      } else {
        return FileService.image_url_verylow(item.avatarImage);
      }
    },
    lookupImageUrlLazy() {
      return "./assets/images/account_icon.png";
    },
  },
};
</script>

<style>
.v-navigation-drawer__content {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
}

.v-navigation-drawer__content::-webkit-scrollbar {
  display: none;
}
</style>

<style scoped>
.small-line-height {
  line-height: 0.1;
}

@media only screen and (min-width: 1024px) {
  .mw-full {
    max-width: 25%;
  }
}

@media only screen and (max-width: 768px) {
  .mw-full {
    max-width: 100%;
  }
}
</style>
