<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <v-card flat>
        <v-tabs
          :vertical="$vuetify.breakpoint.mdAndUp"
          :centered="$vuetify.breakpoint.smAndDown"
          color="deep-purple accent-4"
          background-color="#F5F5FF5F"
        >
          <v-tab class="justify-md-start" disabled>
            <v-icon left>
              {{ firstTabIcon }}
            </v-icon>
            {{ firstTabTitle }}
          </v-tab>
          <v-tab class="justify-start" @click="tabFeedbackMethodClick">
            Feedback
          </v-tab>
          <v-tab
            v-if="haveRoleAdmin"
            class="justify-start"
            @click="tabFeedbackCategoryMethodClick"
          >
            Kategori
          </v-tab>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <p></p>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FeedbackTable ref="reftabFeedbackCategoryMethodClick" />
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item v-if="haveRoleAdmin">
            <v-card flat>
              <v-card-text>
                <FeedbackCategoryTable
                  ref="reftabFeedbackCategoryMethodClick"
                />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FeedbackCategoryTable from "../components/FeedbackCategoryTable";
import FeedbackTable from "../components/FeedbackTable";

export default {
  components: { FeedbackCategoryTable, FeedbackTable },
  data() {
    return {
      firstTabTitle: "Data",
      firstTabIcon: "mdi-credit-card",
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
  },
  methods: {
    tabFeedbackMethodClick() {},
    tabFeedbackCategoryMethodClick() {},
  },
};
</script>

<style scoped></style>
