<template>
  <v-card class="mt-2">
    <!--    <v-toolbar-->
    <!--        flat-->
    <!--        light-->
    <!--    >-->
    <!--      <v-toolbar-title>{{ firstTabTitle }}</v-toolbar-title>-->
    <!--    </v-toolbar>-->

    <v-tabs vertical color="deep-purple accent-4" background-color="#F5F5FF5F">
      <v-tab class="justify-md-start" disabled>
        <v-icon left> mdi-cog-outline </v-icon>
        Options
      </v-tab>
      <v-tab class="justify-start" @click="tabUsersClick" active-class="">
        <v-icon left> mdi-account-multiple-outline </v-icon>
        Users
      </v-tab>
      <v-tab class="justify-start" @click="tabCompanyClick">
        PERUSAHAAN INDUK
      </v-tab>
      <v-tab class="justify-start" @click="tabDivisionClick">
        DISTRIBUTOR
      </v-tab>
      <v-tab class="justify-start" @click="tabWarehouseClick">
        Warehouse
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <p>Application Setting</p>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <UsersTable ref="refUsersTable" />
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <FCompanyTable ref="refCompanyTable" />
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <FDivisionTable ref="refDivisionTable" />
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <FWarehouseTable ref="refWarehouseTable" />
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</template>

<script>
import UsersTable from "../modules/admin/components/UsersTable";
import FCompanyTable from "../modules/company/components/FCompanyTable";
import FDivisionTable from "../modules/division/components/FDivisionTable";
import FWarehouseTable from "../components/setting/FWarehouseTable";

export default {
  name: "Setting",
  components: { UsersTable, FCompanyTable, FDivisionTable, FWarehouseTable },
  data() {
    return {
      tabTitle: "Sistem Setting",
    };
  },
  methods: {
    tabUsersClick() {
      this.$refs.refUsersTable.fetchParent();
    },
    tabCompanyClick() {
      this.$refs.refCompanyTable.fetchParent();
    },
    tabDivisionClick() {
      this.$refs.refDivisionTable.fetchParent();
    },
    tabWarehouseClick() {
      this.$refs.refWarehouseTable.fetchParent();
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>

<style scoped></style>
