<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <v-card flat class="px-5 py-5">
        <h3>Update status sales</h3>

        <v-btn
          @click="importDialogShow"
          icon
          fab
          right
          color="rgb(66, 103, 178)"
          class="ml-2"
        >
          <v-icon>mdi-upload</v-icon>
          Upload
        </v-btn>

        <v-card
          flat
          dark
          color="rgb(66, 103, 178)"
          style="padding: 20px; margin-bottom: 10px"
        >
          <p>
            Terdapat {{ alreadySaved.length }} yang sudah berhasil diubah
            database :
          </p>
          <span v-for="(s, i) in alreadySaved" :key="i">
            {{ s }}{{ alreadySaved.length - 1 == i ? "" : ", " }}
          </span>
        </v-card>

        <template>
          <v-combobox
            filled
            v-model="model"
            :filter="filter"
            :hide-no-data="!search"
            :items="items"
            :search-input.sync="search"
            hide-selected
            label="Masukan airwaybill"
            multiple
            small-chips
            solo
          >
            <template v-slot:no-data>
              <v-list-item>
                <span class="subheading">Create</span>
                <v-chip :color="`${colors[nonce - 1]} lighten-3`" label small>
                  {{ search }}
                </v-chip>
              </v-list-item>
            </template>
            <template v-slot:selection="{ attrs, item, parent, selected }">
              <v-chip
                v-if="item === Object(item)"
                v-bind="attrs"
                :color="`${item.color} lighten-3`"
                :input-value="selected"
                label
                small
              >
                <span class="pr-2">
                  {{ item.text }}
                </span>
                <v-icon small @click="parent.selectItem(item)">
                  $delete
                </v-icon>
              </v-chip>
            </template>
            <template v-slot:item="{ index, item }">
              <v-text-field
                v-if="editing === item"
                v-model="editing.text"
                autofocus
                flat
                background-color="transparent"
                hide-details
                solo
                @keyup.enter="edit(index, item)"
              ></v-text-field>
              <v-chip
                v-else
                :color="`${item.color} lighten-3`"
                dark
                label
                small
              >
                {{ item.text }}
              </v-chip>
              <v-spacer></v-spacer>
              <v-list-item-action @click.stop>
                <v-btn icon @click.stop.prevent="edit(index, item)">
                  <v-icon>{{
                    editing !== item ? "mdi-pencil" : "mdi-check"
                  }}</v-icon>
                </v-btn>
              </v-list-item-action>
            </template>
          </v-combobox>
        </template>
        <v-form ref="form">
          <template v-if="data.length > 0">
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">#</th>
                    <th class="text-left">DeliveryNumber</th>
                    <th width="40%" class="text-left">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(row, index) in data" :key="row.awb">
                    <td>{{ index + 1 }}</td>
                    <td>{{ row.deliveryNumber }}</td>
                    <td>
                      <v-select
                        :rules="rulesNotEmtpy"
                        :items="selectItems"
                        v-model="row.status"
                        label="Status"
                      ></v-select>
                    </td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </template>
        </v-form>

        <div style="padding: 50px 0px">
          <v-flex class="d-flex justify-end">
            <v-btn color="error" @click="reset" v-if="items.length > 1"
              >Reset</v-btn
            >
            <v-btn @click="checkAwb" class="ml-2" v-if="data.length < 1"
              >Check</v-btn
            >
            <v-btn @click="save" class="ml-2" v-if="data.length > 0"
              >Simpan</v-btn
            >
          </v-flex>
        </div>

        <FReturnImportDialogVue
          ref="refImportDialog"
          @checkAwbByImport="checkAwbByImport"
        >
        </FReturnImportDialogVue>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FSalesService from "../modules/sales/services/ft-salesh-service";
import FReturnImportDialogVue from "../modules/inventory/components/return/FReturnImportDialog.vue";
export default {
  components: { FReturnImportDialogVue },
  data() {
    return {
      activator: null,
      attach: null,
      colors: ["green", "purple", "indigo", "cyan", "teal", "orange"],
      editing: null,
      editingIndex: -1,
      items: [{ header: "Select an option or create one" }],
      nonce: 1,
      menu: false,
      model: [],
      x: 0,
      search: null,
      y: 0,
      data: [],
      alreadySaved: [],
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
      selectItems: [
        { text: "Pending", value: 0 },
        { text: "Confirmed", value: 1 },
        { text: "Packing", value: 2 },
        { text: "Wait PickUp", value: 3 },
        { text: "PickUp", value: 4 },
        { text: "Delivery", value: 5 },
        { text: "Delivered", value: 6 },
        // paid
        // complain
        { text: "Canceled", value: 9 },
        { text: "Return", value: 10 },
        { text: "Return Process", value: 11 },
        { text: "Return Complete", value: 12 },

        { text: "COD to REG", value: 13 },
        { text: "Paket Rusak / Hilang", value: 14 },
        { text: "Proses Claim", value: 15 },
        { text: "Berhasil Claim", value: 16 },
        { text: "Invalid Awb", value: 401 },
      ],
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted() {
    console.log(this.currentUser.id != 264);
    if (this.currentUser.id != 1 && this.currentUser.id != 264) {
      return this.$router.push("/login");
    }
  },
  watch: {
    model(val, prev) {
      if (val.length === prev.length) return;

      this.model = val.map((v) => {
        if (typeof v === "string") {
          v = {
            text: v,
            color: this.colors[this.nonce - 1],
          };

          this.items.push(v);

          this.nonce++;
        }

        return v;
      });
    },
  },
  methods: {
    importDialogShow() {
      this.$refs.refImportDialog.showDialog();
    },
    importExcelCompleted() {},
    save() {
      if (this.$refs.form.validate()) {
        let tmpItem = [];

        this.data.map((e) => {
          tmpItem.push({
            deliveryNumber: e.deliveryNumber,
            status: parseInt(e.status),
          });
        });

        FSalesService.batchUpdateStatusPengiriman(tmpItem).then(
          (response) => {
            if (response.data.length > 0) {
              this.alreadySaved = response.data;
            }
            this.data = [];
            this.model = [];
          },
          (error) => {
            console.log(error.response);
            if (error.response.status === 401) {
              this.snackBarMesage = "Anda tidak mempunyai Akses!!";
              this.snackbar = true;
            }
          }
        );
      }
    },
    checkAwb() {
      if (this.model.length > 0) {
        this.model.map((e) => {
          this.data.push({
            deliveryNumber: e.text,
            status: "",
          });
        });
      }
    },
    checkAwbByImport(items) {
      if (items.length > 0) {
        this.model.map((e) => {
          this.data.push({
            deliveryNumber: e,
            status: "",
          });
        });
        this.model = items;
      }
    },
    reset() {
      this.model = [];
      this.data = [];
      this.alreadySaved = [];
    },
    edit(index, item) {
      if (!this.editing) {
        this.editing = item;
        this.editingIndex = index;
      } else {
        this.editing = null;
        this.editingIndex = -1;
      }
    },
    filter(item, queryText, itemText) {
      if (item.header) return false;

      const hasValue = (val) => (val != null ? val : "");

      const text = hasValue(itemText);
      const query = hasValue(queryText);

      return (
        text.toString().toLowerCase().indexOf(query.toString().toLowerCase()) >
        -1
      );
    },
  },
};
</script>

<style></style>
