<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <v-card flat>
        <v-tabs
          :vertical="$vuetify.breakpoint.mdAndUp"
          :centered="$vuetify.breakpoint.smAndDown"
          color="deep-purple accent-4"
          background-color="#F5F5FF5F"
        >
          <v-tab class="justify-md-start" disabled>
            <v-icon left>
              {{ firstTabIcon }}
            </v-icon>
            {{ firstTabTitle }}
          </v-tab>

          <v-tab class="justify-start" @click="tabCompanyClick">
            Notification
          </v-tab>
          <v-tab class="justify-start" @click="tabDivisionClick"> Label </v-tab>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <p>Application Setting</p>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FNotification ref="refDivisionTable" />
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FNotificationLabel ref="reFLabelNotification" />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FNotificationLabel from "../components/FNotificationLabelTable";
import FNotification from "../components/FNotificationTable";

export default {
  name: "TopNotificationView",
  components: { FNotificationLabel, FNotification },
  data() {
    return {
      firstTabTitle: "Notification",
      firstTabIcon: "mdi-file-tree",
    };
  },
  methods: {
    tabUsersClick() {
      // this.$refs.refUsersTable.fetchParent()
    },
    tabCompanyClick() {
      //Company tidak mempunyai Parent Table
      // this.$refs.reFLabelNotification.fetchParent()
    },
    tabDivisionClick() {
      try {
        this.$refs.refDivisionTable.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
