<template>
  <div>
    <v-card class="elevation-0" color="#EEEE">
      <v-card-text>
        <FtSaleshFilterExt
          :dashboard="true"
          ref="refFtSaleshFilterExt"
          @runExtendedFilterFromChild="runExtendedFilterFromChild"
        ></FtSaleshFilterExt>
      </v-card-text>
    </v-card>

    <v-row class="mb-2 mx-2">
      <v-col cols="12" sm="3" md="3" xs="12" class="d-flex child-flex">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg no-gutters"
              max-width="500"
              min-height="130"
              style="position: relative"
            >
              <v-card-title class="subtitle-2">
                <span class="font-weight-black">TOTAL</span>
              </v-card-title>
              <v-card-text>
                <v-flex class="d-flex">
                  Rp.<span class="font-weight-bold ml-1">{{
                    formattedCurrencyValue("", allSumSummaryPacket)
                  }}</span>
                  <v-spacer></v-spacer>
                  <span class="font-weight-bold mr-1">{{
                    formattedCurrencyValue("", allCountSummaryPacket)
                  }}</span
                  >paket
                </v-flex>
              </v-card-text>
              <v-card-actions
                class="grey lighten-4"
                style="position: absolute; bottom: 0; right: 0; left: 0"
              >
                <span class="caption font-weight-bold"> 100% </span>
                <v-spacer></v-spacer>
                <router-link
                  class="caption"
                  style="text-decoration: none"
                  :to="
                    `/sales/` +
                    999 +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  ><v-icon>mdi-chevron-right</v-icon></router-link
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-hover>
      </v-col>

      <v-col cols="12" sm="3" md="3" xs="12" class="d-flex child-flex">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg no-gutters"
              max-width="500"
              min-height="130"
              style="position: relative"
            >
              <v-card-title class="subtitle-2">
                <v-icon
                  small
                  :color="
                    lookupEStatusPengiriman(eStatusPengiriman.WAIT_CONFIRM)
                      .color
                  "
                  class="mr-2"
                  >mdi-check-circle-outline</v-icon
                >
                <span>{{
                  lookupEStatusPengiriman(eStatusPengiriman.WAIT_CONFIRM)
                    .description
                }}</span>
              </v-card-title>
              <v-card-text>
                <v-flex class="d-flex">
                  <span
                    >Rp.
                    {{ formattedCurrencyValue("", sumOrCount("sum", 0)) }}</span
                  >
                  <v-spacer></v-spacer>
                  <span>{{ sumOrCount("count", 0) }} paket</span>
                </v-flex>
              </v-card-text>
              <v-card-actions
                class="grey lighten-4"
                style="position: absolute; bottom: 0; right: 0; left: 0"
              >
                <span class="caption">
                  {{ sumOrCount("count", 0) }} dari
                  {{ formattedCurrencyValue("", allCountSummaryPacket) }}
                  paket ({{
                    (
                      formattedCurrencyValue(
                        "",
                        sumOrCount("count", 0) /
                          (allCountSummaryPacket + sumOrCount("count", 0))
                      ) * 100
                    ).toFixed()
                  }}%)
                </span>
                <v-spacer></v-spacer>
                <router-link
                  class="caption"
                  style="text-decoration: none"
                  :to="
                    `/sales/` +
                    eStatusPengiriman.WAIT_CONFIRM +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  ><v-icon>mdi-chevron-right</v-icon></router-link
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-hover>
      </v-col>

      <v-col cols="12" sm="3" md="3" xs="12" class="d-flex child-flex">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg no-gutters"
              max-width="500"
              min-height="130"
              style="position: relative"
            >
              <v-card-title class="subtitle-2">
                <v-icon
                  small
                  :color="
                    lookupEStatusPengiriman(eStatusPengiriman.CONFIRMED).color
                  "
                  class="mr-2"
                  >mdi-check-circle-outline</v-icon
                >
                <span>{{
                  lookupEStatusPengiriman(eStatusPengiriman.CONFIRMED)
                    .description
                }}</span>
              </v-card-title>
              <v-card-text>
                <v-flex class="d-flex">
                  <span
                    >Rp.
                    {{ formattedCurrencyValue("", sumOrCount("sum", 1)) }}</span
                  >
                  <v-spacer></v-spacer>
                  <span>{{ sumOrCount("count", 1) }} paket</span>
                </v-flex>
              </v-card-text>
              <v-card-actions
                class="grey lighten-4"
                style="position: absolute; bottom: 0; right: 0; left: 0"
              >
                <span class="caption">
                  {{ sumOrCount("count", 1) }} dari
                  {{ formattedCurrencyValue("", allCountSummaryPacket) }}
                  paket ({{
                    (
                      formattedCurrencyValue(
                        "",
                        sumOrCount("count", 1) / allCountSummaryPacket
                      ) * 100
                    ).toFixed()
                  }}%)
                </span>
                <v-spacer></v-spacer>
                <router-link
                  class="caption"
                  style="text-decoration: none"
                  :to="
                    `/sales/` +
                    eStatusPengiriman.CONFIRMED +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  ><v-icon>mdi-chevron-right</v-icon></router-link
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-hover>
      </v-col>

      <v-col cols="12" sm="3" md="3" xs="12" class="d-flex child-flex">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg no-gutters"
              max-width="500"
              min-height="130"
              style="position: relative"
            >
              <v-card-title class="subtitle-2">
                <v-icon
                  small
                  :color="
                    lookupEStatusPengiriman(eStatusPengiriman.ON_PACKING).color
                  "
                  class="mr-2"
                  >mdi-check-circle-outline</v-icon
                >
                <span>{{
                  lookupEStatusPengiriman(eStatusPengiriman.ON_PACKING)
                    .description
                }}</span>
              </v-card-title>
              <v-card-text>
                <v-flex class="d-flex">
                  <span
                    >Rp.
                    {{
                      formattedCurrencyValue(
                        "",
                        sumOrCount("sum", eStatusPengiriman.ON_PACKING)
                      )
                    }}</span
                  >
                  <v-spacer></v-spacer>
                  <span
                    >{{
                      sumOrCount("count", eStatusPengiriman.ON_PACKING)
                    }}
                    paket</span
                  >
                </v-flex>
              </v-card-text>
              <v-card-actions
                class="grey lighten-4"
                style="position: absolute; bottom: 0; right: 0; left: 0"
              >
                <span class="caption">
                  {{ sumOrCount("count", eStatusPengiriman.ON_PACKING) }} dari
                  {{ formattedCurrencyValue("", allCountSummaryPacket) }}
                  paket ({{
                    (
                      formattedCurrencyValue(
                        "",
                        sumOrCount("count", eStatusPengiriman.ON_PACKING) /
                          allCountSummaryPacket
                      ) * 100
                    ).toFixed()
                  }}%)
                </span>
                <v-spacer></v-spacer>
                <router-link
                  class="caption"
                  style="text-decoration: none"
                  :to="
                    `/sales/` +
                    eStatusPengiriman.ON_PACKING +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  ><v-icon>mdi-chevron-right</v-icon></router-link
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-hover>
      </v-col>
    </v-row>

    <v-row class="mt-2 mx-2">
      <v-col class="d-flex child-flex" cols="12" md="4" sm="4" xs="12">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg no-gutters"
              max-width="500"
              min-height="130"
              style="position: relative"
            >
              <v-card-title class="subtitle-2">
                <v-icon
                  small
                  :color="
                    lookupEStatusPengiriman(eStatusPengiriman.ON_DELIVERY).color
                  "
                  class="mr-2"
                  >mdi-check-circle-outline</v-icon
                >
                <span>{{
                  lookupEStatusPengiriman(eStatusPengiriman.ON_DELIVERY)
                    .description
                }}</span>
              </v-card-title>
              <v-card-text>
                <v-flex class="d-flex">
                  <span
                    >Rp.
                    {{
                      formattedCurrencyValue(
                        "",
                        sumOrCount("sum", eStatusPengiriman.ON_DELIVERY)
                      )
                    }}</span
                  >
                  <v-spacer></v-spacer>
                  <span
                    >{{
                      sumOrCount("count", eStatusPengiriman.ON_DELIVERY)
                    }}
                    Paket</span
                  >
                </v-flex>
              </v-card-text>
              <v-card-actions
                class="grey lighten-4"
                style="position: absolute; bottom: 0; right: 0; left: 0"
              >
                <span class="caption">
                  {{ sumOrCount("count", eStatusPengiriman.ON_DELIVERY) }} dari
                  {{ formattedCurrencyValue("", allCountSummaryPacket) }}
                  paket (
                  {{
                    (
                      formattedCurrencyValue(
                        "",
                        sumOrCount("count", eStatusPengiriman.ON_DELIVERY) /
                          allCountSummaryPacket
                      ) * 100
                    ).toFixed()
                  }}%)
                </span>
                <v-spacer></v-spacer>
                <router-link
                  class="caption"
                  style="text-decoration: none"
                  :to="
                    `/sales/` +
                    eStatusPengiriman.ON_DELIVERY +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  ><v-icon>mdi-chevron-right</v-icon></router-link
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-hover>
      </v-col>

      <v-col class="d-flex child-flex" cols="12" md="4" sm="4" xs="12">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg"
              max-width="500"
              min-height="130"
              style="position: relative"
            >
              <v-card-title class="subtitle-2">
                <v-icon
                  small
                  :color="
                    lookupEStatusPengiriman(eStatusPengiriman.RETURN_PROCESS)
                      .color
                  "
                  class="mr-2"
                  >mdi-check-circle-outline</v-icon
                >
                <span>{{
                  lookupEStatusPengiriman(eStatusPengiriman.RETURN_PROCESS)
                    .description
                }}</span>
              </v-card-title>
              <v-card-text>
                <v-flex class="d-flex">
                  <span
                    >Rp.
                    {{
                      formattedCurrencyValue(
                        "",
                        sumOrCount("sum", eStatusPengiriman.RETURN_PROCESS)
                      )
                    }}
                  </span>
                  <v-spacer></v-spacer>
                  <span
                    >{{
                      sumOrCount("count", eStatusPengiriman.RETURN_PROCESS)
                    }}
                    paket</span
                  >
                </v-flex>
              </v-card-text>
              <v-card-actions
                class="grey lighten-4"
                style="position: absolute; bottom: 0; right: 0; left: 0"
              >
                <span class="caption">
                  {{ sumOrCount("count", eStatusPengiriman.RETURN_PROCESS) }}
                  dari
                  {{ formattedCurrencyValue("", allCountSummaryPacket) }}
                  paket ({{
                    (
                      formattedCurrencyValue(
                        "",
                        sumOrCount("count", eStatusPengiriman.RETURN_PROCESS) /
                          allCountSummaryPacket
                      ) * 100
                    ).toFixed()
                  }}%)
                </span>
                <v-spacer></v-spacer>
                <router-link
                  class="caption"
                  style="text-decoration: none"
                  :to="
                    `/sales/` +
                    eStatusPengiriman.RETURN_PROCESS +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  ><v-icon>mdi-chevron-right</v-icon></router-link
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-hover>
      </v-col>

      <v-col class="d-flex child-flex" cols="12" md="4" sm="4" xs="12">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg"
              max-width="500"
              min-height="130"
              style="position: relative"
            >
              <v-card-title class="subtitle-2">
                <v-icon
                  small
                  :color="
                    lookupEStatusPengiriman(eStatusPengiriman.RETURN_LOCKED)
                      .color
                  "
                  class="mr-2"
                  >mdi-lock</v-icon
                >
                <span>{{
                  lookupEStatusPengiriman(eStatusPengiriman.RETURN_LOCKED)
                    .description
                }}</span>
              </v-card-title>
              <v-card-text>
                <v-flex class="d-flex">
                  <span
                    >Rp.
                    {{
                      formattedCurrencyValue(
                        "",
                        sumOrCount("sum", eStatusPengiriman.RETURN_LOCKED)
                      )
                    }}
                  </span>
                  <v-spacer></v-spacer>
                  <span
                    >{{
                      sumOrCount("count", eStatusPengiriman.RETURN_LOCKED)
                    }}
                    paket</span
                  >
                </v-flex>
              </v-card-text>
              <v-card-actions
                class="grey lighten-4"
                style="position: absolute; bottom: 0; right: 0; left: 0"
              >
                <span class="caption">
                  {{ sumOrCount("count", eStatusPengiriman.RETURN_LOCKED) }}
                  dari
                  {{ formattedCurrencyValue("", allCountSummaryPacket) }}
                  paket (
                  {{
                    (
                      formattedCurrencyValue(
                        "",
                        sumOrCount("count", eStatusPengiriman.RETURN_LOCKED) /
                          allCountSummaryPacket
                      ) * 100
                    ).toFixed(0)
                  }}%)
                </span>
                <v-spacer></v-spacer>
                <router-link
                  class="caption"
                  style="text-decoration: none"
                  :to="
                    `/sales/` +
                    eStatusPengiriman.RETURN_LOCKED +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  ><v-icon>mdi-chevron-right</v-icon></router-link
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-hover>
      </v-col>

      <v-col class="d-flex child-flex" cols="12" md="12" sm="12" xs="12">
        <v-hover>
          <template>
            <v-card class="rounded-lg no-gutters" flat height="100%">
              <v-card-title class="subtitle-2">
                <v-icon
                  :color="
                    lookupEStatusPengiriman(eStatusPengiriman.RECEIVED).color
                  "
                  class="mr-2"
                  small
                  >mdi-check-circle-outline</v-icon
                >
                <span>{{
                  lookupEStatusPengiriman(eStatusPengiriman.RECEIVED)
                    .description
                }}</span>

                <v-spacer></v-spacer>
                <router-link
                  :to="
                    `/sales/` +
                    eStatusPengiriman.RECEIVED +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  class="caption"
                  style="text-decoration: none"
                >
                  <span class="caption">
                    {{ sumOrCount("count", eStatusPengiriman.RECEIVED) }} dari
                    {{ formattedCurrencyValue("", allCountSummaryPacket) }}
                    paket ({{
                      (
                        formattedCurrencyValue(
                          "",
                          sumOrCount("count", eStatusPengiriman.RECEIVED) /
                            allCountSummaryPacket
                        ) * 100
                      ).toFixed()
                    }}%)
                  </span>
                </router-link>
              </v-card-title>
              <v-card-text>
                <div class="d-flex">
                  <v-flex class="d-flex flex-column">
                    <span>Total</span>
                    <span
                      >Rp.
                      {{
                        formattedCurrencyValue(
                          "",
                          sumOrCount("sum", eStatusPengiriman.RECEIVED)
                        )
                      }}</span
                    >
                    <v-spacer></v-spacer>
                    <span
                      >{{
                        sumOrCount("count", eStatusPengiriman.RECEIVED)
                      }}
                      paket</span
                    >
                  </v-flex>
                  <v-divider class="mr-2" vertical />
                  <v-flex class="d-flex flex-column">
                    <span>COD</span>
                    <span
                      >Rp.
                      {{
                        formattedCurrencyValue("", summaryPayment.cod.sum)
                      }}</span
                    >
                    <v-spacer></v-spacer>
                    <span>{{ summaryPayment.cod.count }} paket</span>
                  </v-flex>
                  <v-divider class="mx-2" vertical />
                  <v-flex class="d-flex flex-column">
                    <span>Non Cod</span>
                    <span
                      >Rp.
                      {{
                        formattedCurrencyValue("", summaryPayment.non_cod.sum)
                      }}</span
                    >
                    <v-spacer></v-spacer>
                    <span>{{ summaryPayment.non_cod.count }} paket</span>
                  </v-flex>
                </div>
              </v-card-text>
            </v-card>
          </template>
        </v-hover>
      </v-col>

      <!--   paid   -->
      <v-col cols="12" sm="4" md="4" xs="12" class="d-flex child-flex">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg no-gutters"
              max-width="500"
              min-height="130"
              style="position: relative"
            >
              <v-card-title class="subtitle-2">
                <v-icon
                  small
                  :color="lookupEStatusPengiriman(eStatusPengiriman.PAID).color"
                  class="mr-2"
                  >mdi-check-circle-outline</v-icon
                >
                <span>{{
                  lookupEStatusPengiriman(eStatusPengiriman.PAID).description
                }}</span>
              </v-card-title>
              <v-card-text>
                <div class="d-flex">
                  <span
                    >Rp.
                    {{ formattedCurrencyValue("", sumOrCount("sum", 7)) }}</span
                  >
                  <v-spacer></v-spacer>
                  <span>{{ sumOrCount("count", 7) }} paket</span>
                </div>
              </v-card-text>
              <v-card-actions
                class="grey lighten-4"
                style="position: absolute; bottom: 0; right: 0; left: 0"
              >
                <span class="caption">
                  {{ sumOrCount("count", 7) }} dari
                  {{ formattedCurrencyValue("", allCountSummaryPacket) }}
                  paket ({{
                    (
                      formattedCurrencyValue(
                        "",
                        sumOrCount("count", 7) /
                          (allCountSummaryPacket + sumOrCount("count", 7))
                      ) * 100
                    ).toFixed()
                  }}%)
                </span>
                <v-spacer></v-spacer>
                <router-link
                  class="caption"
                  style="text-decoration: none"
                  :to="
                    `/sales/` +
                    eStatusPengiriman.PAID +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  ><v-icon>mdi-chevron-right</v-icon></router-link
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-hover>
      </v-col>

      <v-col cols="12" sm="4" md="4" xs="12" class="d-flex child-flex">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg"
              style="position: relative"
              min-height="130"
            >
              <v-card-title class="subtitle-2">
                <v-icon
                  small
                  :color="
                    lookupEStatusPengiriman(eStatusPengiriman.RETURN_COMPLETE)
                      .color
                  "
                  class="mr-2"
                  >mdi-check-circle-outline</v-icon
                >
                <span>{{
                  lookupEStatusPengiriman(eStatusPengiriman.RETURN_COMPLETE)
                    .description
                }}</span>
              </v-card-title>
              <v-card-text>
                <v-flex class="d-flex">
                  <span
                    >Rp.
                    {{
                      formattedCurrencyValue(
                        "",
                        sumOrCount("sum", eStatusPengiriman.RETURN_COMPLETE)
                      )
                    }}
                  </span>
                  <v-spacer></v-spacer>
                  <span
                    >{{
                      sumOrCount("count", eStatusPengiriman.RETURN_COMPLETE)
                    }}
                    paket</span
                  >
                </v-flex>
              </v-card-text>

              <v-card-actions
                class="grey lighten-4"
                style="position: absolute; bottom: 0; right: 0; left: 0"
              >
                <span class="caption">
                  {{ sumOrCount("count", eStatusPengiriman.RETURN_COMPLETE) }}
                  dari
                  {{ formattedCurrencyValue("", allCountSummaryPacket) }}
                  paket (
                  {{
                    (
                      formattedCurrencyValue(
                        "",
                        sumOrCount("count", eStatusPengiriman.RETURN_COMPLETE) /
                          allCountSummaryPacket
                      ) * 100
                    ).toFixed(0)
                  }}%)
                </span>
                <v-spacer></v-spacer>
                <router-link
                  class="caption"
                  style="text-decoration: none"
                  :to="
                    `/sales/` +
                    eStatusPengiriman.RETURN_COMPLETE +
                    `/` +
                    new Date(ftSaleshFilter.dateFrom).getTime() +
                    `/` +
                    new Date(ftSaleshFilter.dateTo).getTime()
                  "
                  ><v-icon>mdi-chevron-right</v-icon></router-link
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-hover>
      </v-col>

      <v-col cols="12" sm="4" md="4" xs="12" class="d-flex child-flex">
        <v-hover>
          <template>
            <v-card
              flat
              class="rounded-lg"
              style="position: relative"
              min-height="130"
            >
              <v-card-title class="subtitle-2">
                <span>Rasio Retur</span>
              </v-card-title>
              <v-card-text>
                <v-flex class="d-flex justify-center">
                  <span class="headline font-weight-bold primary--text">
                    <span
                      class="headline red--text font-weight-bold"
                      :class="
                        ((sumOrCount(
                          'count',
                          eStatusPengiriman.RETURN_PROCESS
                        ) +
                          sumOrCount(
                            'count',
                            eStatusPengiriman.RETURN_LOCKED
                          )) /
                          sumOrCount('count', eStatusPengiriman.RECEIVED)) *
                          100 >
                        10
                          ? 'red--text'
                          : 'blue--text'
                      "
                    >
                      {{
                        formattedPecahan(
                          ((sumOrCount(
                            "count",
                            eStatusPengiriman.RETURN_PROCESS
                          ) +
                            sumOrCount(
                              "count",
                              eStatusPengiriman.RETURN_LOCKED
                            ) +
                            sumOrCount(
                              "count",
                              eStatusPengiriman.RETURN_COMPLETE
                            )) /
                            (sumOrCount("count", eStatusPengiriman.RECEIVED) +
                              sumOrCount("count", eStatusPengiriman.PAID))) *
                            100
                        )
                      }}
                    </span>
                    <span class="subtitle-1 black--text">%</span>
                  </span>
                </v-flex>
              </v-card-text>
            </v-card>
          </template>
        </v-hover>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <ReportAnalisisSales
          :division="summaryChartDivision"
          :salesman="summaryChartSalemsan"
          :brand="summaryChartBrand"
          :channel="summarychartChannel"
          :ekspedisi="summaryChartEkspedisi"
          :return-ekspedisi="summaryChartEkspedisiReturn"
          :material-group3="summaryChartMaterialGroup3"
        ></ReportAnalisisSales>
      </v-col>
    </v-row>

    <v-overlay absolute opacity="0.3" :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import DashboardSummary from "../models/dashboardSummary";
import EStatusPengiriman, {
  EStatusPengirimans,
} from "../../../models/e-status-pengiriman";
import FtSaleshFilterExt from "../../sales/components/FtSaleshFilterExt";
import ReportAnalisisSales from "../../laporan/components/analisis/ReportAnalisisSales";
import FtSaleshExtService from "../../sales/services/ft-salesh-ext-service";

export default {
  components: {
    ReportAnalisisSales,
    FtSaleshFilterExt,
  },
  data() {
    return {
      loading: false,
      title: "DASHBOARD",
      menuDate1: false,
      filterOrderDateFrom: "",
      menuDate2: false,
      filterOrderDateTo: "",
      dprLocale: {
        direction: "ltr", //direction of text
        format: "dd/mm/yyyy",
        separator: " - ", //separator between the two ranges
        applyLabel: "Terapkan",
        cancelLabel: "Batal",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        // daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
        // monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
        firstDay: 1, //ISO first day of week - see moment documenations for details
      },
      dprAutoApply: true,
      dprShowDropdowns: true,
      showFilter: false,
      ftSaleshFilter: new DashboardSummary(),

      snackbar: false,
      snackBarMesage: "",

      itemsEStatusPengiriman: EStatusPengirimans,
      eStatusPengiriman: EStatusPengiriman,

      summary: [],
      summaryPayment: {
        non_cod: {
          count: 0,
          sum: 0.0,
        },
        cod: {
          count: 0,
          sum: 0.0,
        },
      },
      summaryChartDivision: [],
      summaryChartSalemsan: [],
      summarychartChannel: [],
      summaryChartBrand: [],
      summaryChartMaterialGroup3: [],
      summaryChartEkspedisi: [],
      summaryChartEkspedisiReturn: [],
    };
  },
  computed: {
    allCountSummaryPacket() {
      return this.summary.reduce((accumulator, current) => {
        if (current.status === 401 || current.status === 9) {
          /* invalid awb & cancel */
          return accumulator + 0;
        } else {
          return accumulator + current.count;
        }
      }, 0);
    },
    allSumSummaryPacket() {
      return this.summary.reduce((accumulator, current) => {
        if (current.status === 401 || current.status === 9) {
          /* invalid awb & cancel */
          return accumulator + 0;
        } else {
          return accumulator + parseInt(current.sum);
        }
      }, 0);
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    runExtendedFilterFromChild(value, filterBy) {
      this.runExtendedFilter(value, filterBy);
    },
    runExtendedFilter(value, filterBy) {
      this.loading = true;
      if (value instanceof DashboardSummary) {
        this.ftSaleshFilter = value;
      }
      this.ftSaleshFilter.filterBy = filterBy;
      FtSaleshExtService.getSummaryDashboard(this.ftSaleshFilter).then(
        (response) => {
          const { summary, chart, summary_payment } = response.data.data;

          this.summaryChartDivision = chart.division;
          this.summaryChartSalemsan = chart.salesman;
          this.summarychartChannel = chart.channel;
          this.summaryChartBrand = chart.brand;
          this.summaryChartMaterialGroup3 = chart.materialGroup3;
          this.summaryChartEkspedisi = chart.ekspedisi;
          this.summaryChartEkspedisiReturn = chart.ekspedisiReturn;

          this.summary = summary;
          this.summaryPayment = summary_payment;
          this.loading = false;
        }
      );
    },
    sumOrCount(type, status) {
      if (this.summary.length > 0) {
        let data = this.summary.find((row) => row.status === status);
        if (data) {
          // if exist
          if (type == "count") {
            return data.count;
          } else {
            return parseInt(data.sum);
          }
        }
        return 0;
      }
      return 0; // data doesnt exist
    },
    formattedCurrencyValue(prefix, value) {
      if (!value) {
        return "0";
      }
      return prefix + "" + parseFloat(value).toLocaleString();
    },
    formattedPecahan(value) {
      if (!value) {
        return "0";
      }
      return parseFloat(value).toFixed(1);
    },
    lookupEStatusPengiriman(statusPengiriman) {
      const str = this.itemsEStatusPengiriman.filter(
        (x) => x.id === statusPengiriman
      );
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },
    lookupEStatusPengirimanColor(statusPengiriman) {
      const str = this.itemsEStatusPengiriman.filter(
        (x) => x.id === statusPengiriman
      );
      if (str.length > 0) {
        return `${str[0].color}`;
      } else {
        return "-";
      }
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.$store.dispatch("notification/loadNotificationGroup");
      this.$refs.refFtSaleshFilterExt.datePickerRangeOrder.startDate =
        new Date();
      this.$refs.refFtSaleshFilterExt.runExtendedFilterFromChild();
    }
  },
};
</script>
