<template>
  <div>
    <v-dialog
      v-model="dialogShow"
      :max-width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeDialog"
      persistent
      :fullscreen="$vuetify.breakpoint.smAndDown"
      :hide-overlay="$vuetify.breakpoint.smAndDown"
    >
      <!--      scrollable-->
      <v-card>
        <v-form v-model="valid" ref="form">
          <v-toolbar dark color="primary" flat dense>
            <v-btn icon dark @click="closeDialog">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-toolbar-title>Notification Group</v-toolbar-title>

            <span class="ml-2 mr-2 font-weight-medium grey--text"> | </span>
            <span v-if="formMode === 'EDIT_FORM'">EDIT </span>
            <span class="font-weight-light ml-1 mr-1">ITEM</span>
            <span v-if="formMode === 'NEW_FORM'"> BARU</span>

            <span
              class="ml-2 mr-2 font-weight-medium grey--text"
              v-show="isItemModified"
            >
              |
            </span>
            <v-chip
              class="ma-2"
              color="warning"
              outlined
              x-small
              v-show="isItemModified"
            >
              <v-icon left> mdi-pencil </v-icon>
              modfied
            </v-chip>

            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn
                dark
                text
                @click="save"
                :disabled="!valid || isItemModified === false"
                class="hidden-md-and-up"
              >
                Simpan
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    v-model="itemModified.question"
                    :rules="rulesNotEmtpy"
                    label="Question"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-switch
                    v-model="itemModified.showQuestion"
                    :label="itemModified.showQuestion ? 'Aktif' : 'Non-Aktif'"
                    x-small
                    class="pa-3"
                  ></v-switch>
                </v-col>

                <v-col cols="12" sm="6" md="12">
                  <v-radio-group v-model="itemModified.direct" label="Direct ?">
                    <v-radio label="Yes" value="1"> </v-radio>
                    <v-radio label="No" value="0"> </v-radio>
                  </v-radio-group>
                </v-col>

                <v-col
                  v-if="itemModified.direct === '1'"
                  class="d-flex"
                  cols="12"
                  sm="12"
                >
                  <v-autocomplete
                    v-model="itemModified.user_id"
                    :items="items"
                    label="User"
                    hint="Username"
                  ></v-autocomplete>
                </v-col>

                <!-- jika non direct -->
                <v-col
                  @click="onCLickNonDirectButton"
                  v-if="itemModified.direct === '0'"
                  cols="12"
                  sm="12"
                  md="12"
                >
                  <v-btn>
                    <v-icon>mdi mdi-plus</v-icon>
                  </v-btn>
                </v-col>

                <v-row
                  cols="12"
                  v-for="(row, index) in itemModified.userList"
                  :key="index"
                >
                  <v-col
                    v-if="itemModified.direct === '0'"
                    class="d-flex"
                    cols="12"
                    sm="5"
                  >
                    <v-autocomplete
                      v-if="itemModified.direct === '0'"
                      v-model="row.user_id"
                      :items="items"
                      :rules="rulesNotEmtpy"
                      label="User"
                      hint="Username"
                    ></v-autocomplete>
                  </v-col>

                  <v-col
                    v-if="itemModified.direct === '0'"
                    class="d-flex"
                    cols="12"
                    sm="5"
                  >
                    <v-text-field
                      v-model="row.posisi"
                      label="Posisi"
                    ></v-text-field>
                  </v-col>

                  <v-col v-if="itemModified.direct === '0' && index !== 0">
                    <v-btn @click="onClickRemoveUserListItem(index)">
                      <v-icon>mdi mdi-minus</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-chip
              class="ml-4"
              color="error"
              outlined
              close
              small
              v-show="formDialogOptions.errorMessage"
            >
              {{ formDialogOptions.errorMessage }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              outlined
              text
              @click="closeDialog"
              class="hidden-sm-and-down"
            >
              Batal
            </v-btn>
            <v-btn
              color="blue darken-1"
              outlined
              text
              @click="save"
              :disabled="!valid || isItemModified === false"
              class="hidden-sm-and-down"
            >
              Simpan
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>

      <close-confirm-dialog
        ref="refCloseConfirmDialog"
        @eventFromCloseConfirm="passingEventFromCloseConfirm"
      ></close-confirm-dialog>
    </v-dialog>
  </div>
</template>

<script>
import FNotificationGroupService from "../../top-notification/services/f-notification-service";
import CloseConfirmDialog from "../../../components/utils/CloseConfirmDialog";
import FormMode from "../../../models/form-mode";
import FGroupNotificationRequest from "../../top-notification/models/f-notification-group";

export default {
  name: "GroupNotificationDialog",
  components: { CloseConfirmDialog },
  props: {
    formMode: String,
  },
  data() {
    return {
      dialogShow: false,
      formDialogOptions: {
        title1: "",
        title2: "",
        message1: "",
        message2: "",
        errorMessage: "",
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },

      items: [],

      is_direct: "1",
      selectedItemIndex: -1,
      itemDefault: new FGroupNotificationRequest(0, "", "1", true),
      itemModified: new FGroupNotificationRequest(0, "", "1", true),

      valid: false,
      rulesLength: [
        (v) => !!v || " Tidak Boleh Kosong",
        (v) => v.length <= 255 || "Maksimal 255 Karakter",
        (v) => v.length > 1 || "Harus lebih besar dari 1 karakter",
      ],
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
    };
  },
  computed: {
    isItemModified() {
      const defaultItem = JSON.stringify(this.itemDefault);
      const modifiedItem = JSON.stringify(this.itemModified);
      return defaultItem !== modifiedItem;
    },
  },
  watch: {
    itemModified(newItemModified) {
      if (newItemModified.direct === 1) {
        this.itemModified.userList = [];
      } else {
        if (this.itemModified.userList.length < 1) {
          this.itemModified.userList.push({
            user_id: "",
            posisi: "",
          });
        }
      }
    },
  },
  methods: {
    onCLickNonDirectButton() {
      this.itemModified.userList.push({
        user_id: "",
        posisi: "",
      });
    },
    onClickRemoveUserListItem(index) {
      this.itemModified.userList = this.itemModified.userList.filter(
        (row, rindex) => {
          return rindex !== index;
        }
      );
    },
    showDialog(selectedIndex, item, listUsers) {
      // console.log("show UserDialog " + item.id)
      this.items = listUsers;
      this.dialogShow = !this.dialogShow;
      if (selectedIndex > -1) {
        this.selectedIndex = selectedIndex;
        this.initializeEditMode(item);
      } else {
        this.itemDefault = new FGroupNotificationRequest(0, "", "1", true);
        this.itemModified = new FGroupNotificationRequest(0, "", "1", true);
        this.selectedIndex = -1;
      }
    },
    setDialogState(value) {
      this.dialogShow = value;
    },
    save() {
      if (this.isItemModified === false) {
        //Close aja
        this.dialogShow = false;
        this.$emit("eventFromFormDialog1", this.itemModified);
        return;
      }
      if (this.$refs.form.validate()) {
        this.itemModified.direct = this.itemModified.direct === "1";

        // when direct, set empty user list
        if (
          this.itemModified.userList[0].user_id === "" ||
          this.itemModified.direct
        ) {
          this.itemModified.userList = [];
        }

        if (!this.itemModified.direct) {
          this.itemModified.user_id = null;
        }

        if (this.formMode === FormMode.EDIT_FORM) {
          FNotificationGroupService.updateFNotificationGroup(
            this.itemModified
          ).then(
            () => {
              // console.log(response.data)
              this.$emit("eventFromFormDialogEdit", this.itemModified);
            },
            (error) => {
              // console.log(error);
              this.formDialogOptions.errorMessage = error.response.data.message;
            }
          );
        } else {
          FNotificationGroupService.createFNotificationGroup(
            this.itemModified
          ).then(
            (response) => {
              this.$emit("eventFromFormDialogNew", response.data);
            },
            (error) => {
              this.formDialogOptions.errorMessage = error.response.data.message;
            }
          );
        }
      }
    },
    closeDialog() {
      if (!this.isItemModified) {
        this.dialogShow = false;
        this.$emit("eventFromFormDialog1", this.itemModified);
      } else {
        this.$refs.refCloseConfirmDialog.showDialog(
          " Sudah terdapat modifikasi data",
          "Tetap tutup dan reset perubahan?"
        );
      }
    },
    passingEventFromCloseConfirm(value) {
      if (value === "OKE") this.dialogShow = false;
    },
    initializeEditMode(item) {
      // this.itemDefault = item
      this.itemModified = item;

      if (item.direct === true) {
        this.itemModified.direct = "1";
        // this.itemDefault.direct = '1'
      } else {
        this.itemModified.direct = "0";
        // this.itemDefault.direct = '0'
      }

      this.formDialogOptions.errorMessage = "";
    },
  },
};
</script>
