<template>
  <v-card class="elevation-0">
    <v-card-title>
      Notification Template
      <v-spacer></v-spacer>

      <!--      v-model="search"-->
      <!--      @keyup.enter="searchOnEnter"-->
      <v-text-field
        v-on:keyup.enter="searchOnEnter"
        v-on:blur="searchOnEnter"
        append-icon="mdi-magnify"
        hint="Template (press ENTER to search)"
        label="Search"
      ></v-text-field>
      <!--          single-line-->
      <!--          hide-details-->
    </v-card-title>
    <v-data-table
      v-model="selectedItems"
      :single-select="!multiSelect"
      :show-select="multiSelect"
      :headers="headers"
      :items="fGroupNotificationTemplateFiltered"
      :page.sync="currentPage"
      :items-per-page="pageSize"
      hide-default-footer
      class="elevation-0"
      @page-count="totalTablePages = totalPaginationPages"
    >
      <template v-slot:top>
        <v-row align="center" class="ml-4 mr-4">
          <!--                      <v-switch-->
          <!--                          v-model="multiSelect"-->
          <!--                          :label="multiSelect?'Multi Select':'Single Select'"-->
          <!--                          x-small-->
          <!--                          class="pa-3"-->
          <!--                      ></v-switch>-->
          <!--                      <v-btn-->
          <!--                          fab-->
          <!--                          dark-->
          <!--                          color="red accent-4"-->
          <!--                          x-small-->
          <!--                          :disabled="!multiSelect"-->
          <!--                          class="mr-2"-->
          <!--                          @click="deleteDialogMultiShow"-->
          <!--                      >-->
          <!--                        <v-icon>mdi-delete</v-icon>-->
          <!--                      </v-btn>-->

          <v-spacer></v-spacer>

          <v-btn
            fab
            dark
            color="green"
            x-small
            @click="showDialogNew"
            :disabled="multiSelect"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-row>
      </template>

      <!--      <template v-slot:[`item.fcompanyBean`]="{ item }">-->
      <!--        {{ lookupFCompany(item.fcompanyBean) }}-->
      <!--      </template>-->
      <!--      <template v-slot:[`item.statusActive`]="{ item }">-->
      <!--        <v-chip-->
      <!--            :color="getColorStatusActive(item.statusActive)"-->
      <!--            dark-->
      <!--            small-->
      <!--        >-->
      <!--          {{ item.statusActive==true?'Aktif': '-' }}-->
      <!--        </v-chip>-->
      <!--      </template>-->

      <template v-slot:[`item.actions`]="{ item }">
        <v-btn @click="showDialogEdit(item)" icon :disabled="multiSelect">
          <v-icon small color="warning"> mdi-pencil </v-icon>
        </v-btn>

        <v-btn @click="deleteDialogShow(item)" icon :disabled="multiSelect">
          <v-icon small color="red accent-4"> mdi-delete </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <!--    @page-count="pageCount = $event"-->

    <v-container>
      <v-row justify="end" align="center">
        <v-col cols="4" md="2" sm="2">
          <v-select
            v-model="pageSize"
            :items="pageSizes"
            label="Items per page"
          ></v-select>
        </v-col>
        <v-col cols="10" md="9" sm="8" align="right">
          <v-pagination
            v-model="currentPage"
            :length="totalPaginationPages"
            total-visible="8"
            circle
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>

    <delete-dialog
      ref="refDeleteConfirmDialog"
      @eventFromDeleteConfirmDialog1="deleteItemConfirmedSingleSelect"
      @eventFromDeleteConfirmDialog2="deleteItemConfirmedMultiSelect"
    ></delete-dialog>

    <FGroupNotificationTemplateDialog
      :formMode="formMode"
      ref="refFormDialog"
      @eventFromFormDialogNew="saveDataNew"
      @eventFromFormDialogEdit="saveDataEdit"
    ></FGroupNotificationTemplateDialog>

    <v-snackbar v-model="snackbar">
      {{ snackBarMesage }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </v-card>
</template>

<script>
import FGroupNotification from "../../top-notification/services/f-notification-service";
import DeleteDialog from "../../../components/utils/DeleteConfirmDialog";
import FGroupNotificationTemplateDialog from "./FGroupNotificationTemplateDialog";
import FormMode from "../../../models/form-mode";
import FGroupNotificationRequest from "../../top-notification/models/f-notification-group";

export default {
  components: { FGroupNotificationTemplateDialog, DeleteDialog },
  data() {
    return {
      snackbar: false,
      snackBarMesage: "",

      multiSelect: false,
      selectedItems: [],

      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      pageSize: 10,
      pageSizes: [10, 25, 50, 150, 500],
      search: "",
      headers: [
        {
          text: "Template",
          align: "start",
          sortable: false,
          value: "template",
        },
        { text: "Group", value: "group_name" },
        { text: "Actions", value: "actions", sortable: false },
      ],

      formMode: "",
      itemSelectedIndex: -1,
      itemSelected: "",
      fGroupNotificationTemplate: [new FGroupNotificationRequest(0, "", "")],
      itemsGroup: [],
    };
  },
  watch: {
    currentPage: {
      handler: function (value) {
        if (value) this.fetchFGroupNotificationTemplate();
      },
    },
    pageSize: {
      handler: function (value) {
        const refreshData = this.currentPage === 1;
        this.currentPage = 1;
        if (refreshData) {
          console.log("Change PageSize " + value);
          this.fetchFGroupNotificationTemplate();
        }
        // console.log("page size = " + value + " >> " + this.totalPages)
      },
    },
  },
  computed: {
    fGroupNotificationTemplateFiltered() {
      return this.fGroupNotificationTemplate;
    },
  },
  methods: {
    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        //Krusial untuk search
        this.currentPage = 1;
        this.search = event.target.value;
        this.fetchFGroupNotificationTemplate();
      }
    },
    fetchFGroupNotificationTemplate() {
      FGroupNotification.getAllFNotificationTemplateContainingTemplate(
        this.currentPage,
        this.pageSize,
        "id",
        "DESC",
        this.search
      ).then(
        (response) => {
          const { items, totalPages } = response.data;
          this.fGroupNotificationTemplate = items;
          this.totalPaginationPages = totalPages;
          console.log(`TotalPage ${totalPages} and TotalItems ${items} `);
        },
        (error) => {
          console.log(error.response);
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },
    fetchFGroupNotificationSimple() {
      FGroupNotification.getAllFNotificationGroupSimple().then(
        (response) => {
          this.itemsGroup = response.data;
        },
        (error) => {
          console.log(error.response);
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },
    linkNeated(link) {
      return link.replace(/\s+/g, "-").toLocaleLowerCase();
    },

    showDialogNew() {
      this.itemSelectedIndex = -1;
      const itemModified = Object.assign({}, "");
      this.formMode = FormMode.NEW_FORM;
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.itemsGroup
      );
    },
    saveDataNew(itemFromRest) {
      this.itemSelected = itemFromRest;
      this.closeDialog();
      this.fetchFGroupNotificationTemplate();
    },

    showDialogEdit(item) {
      this.itemSelectedIndex =
        this.fGroupNotificationTemplateFiltered.indexOf(item);
      const itemModified = Object.assign({}, item);
      this.formMode = FormMode.EDIT_FORM;
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.itemsGroup
      );
    },
    saveDataEdit(item) {
      this.itemSelected = item;
      Object.assign(
        this.fGroupNotificationTemplate[this.itemSelectedIndex],
        this.itemSelected
      );
      this.closeDialog();
    },

    deleteDialogShow(item) {
      this.itemSelectedIndex =
        this.fGroupNotificationTemplateFiltered.indexOf(item);
      this.itemSelected = Object.assign({}, item);
      this.$refs.refDeleteConfirmDialog.showDialog(
        this.itemSelectedIndex,
        item.question
      );
    },
    deleteDialogMultiShow() {
      if (this.multiSelect === true) {
        this.$refs.refDeleteConfirmDialog.showDialogMulti(
          this.selectedItems,
          `${this.selectedItems.length} items selected`
        );
      }
    },
    deleteItemConfirmedSingleSelect(index) {
      console.log("delete SingleItem: " + index);

      const deletedItem =
        this.fGroupNotificationTemplate[this.itemSelectedIndex];
      FGroupNotification.deleteFNotificationTemplateById(deletedItem.id).then(
        () => {
          this.fGroupNotificationTemplate.splice(this.itemSelectedIndex, 1);
          this.closeDialog();
        },
        (error) => {
          console.log(error);
          this.snackBarMesage = "gagal hapus (digunakan oleh data anak)";
          this.snackbar = true;
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
        }
      );
    },
    deleteItemConfirmedMultiSelect(items) {
      if (items.length > -1) {
        let itemIds = [];
        for (let i = 0; i < items.length; i++) {
          itemIds.push(items[i].id);
        }
        FGroupNotification.deleteAllFCompany(itemIds).then(
          (response) => {
            if (response.data) {
              for (let i = 0; i < items.length; i++) {
                if (
                  !response.data.includes(items[i].id) ||
                  response.data.length === 0
                ) {
                  const index = this.fGroupNotificationTemplateFiltered.indexOf(
                    items[i]
                  );
                  this.fGroupNotificationTemplate.splice(index, 1);
                }
                if (response.data.length > 0) {
                  this.snackBarMesage = `${response.data.length} items gagal hapus (digunakan oleh data anak)`;
                  this.snackbar = true;
                }

                console.log(
                  "Undeleted Items: " + response.data + " = " + items[i].id
                );
              }
              this.closeDialog();
            }
          },
          (error) => {
            console.log("error " + error);
          }
        );
      }
    },
    closeDialog() {
      this.formMode = "";
      this.$refs.refDeleteConfirmDialog.setDialogState(false);
      this.$refs.refFormDialog.setDialogState(false);

      this.$nextTick(() => {
        this.itemSelected = Object.assign({}, new FGroupNotificationRequest());
        this.itemSelectedIndex = -1;
      });
    },

    getColorStatusActive(trueFalse) {
      if (trueFalse === true) return "green";
      else if (trueFalse === false) return "gray";
      else return "gray";
    },
  },
  mounted() {
    this.fetchFGroupNotificationTemplate();
    this.fetchFGroupNotificationSimple();
  },
};
</script>

<style scoped></style>
