<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <FtArPaymentdTable ref="refFtArPaymentd" />
    </v-col>
  </v-row>
</template>

<script>
import FtArPaymentdTable from "../components/FtArpaymentdTable";

export default {
  components: { FtArPaymentdTable },
  data() {
    return {};
  },
  methods: {},
};
</script>

<style scoped></style>
