<template>
  <v-row class="mx-2">
    <v-col cols="12">
      <FSaleshTable title="Pembayaran Ar" ref="refTabSaleshClick" />
    </v-col>
  </v-row>
</template>

<script>
import FSaleshTable from "../../sales/components/invoice-type1/FtSaleshTable";

export default {
  components: { FSaleshTable },
  data() {
    return {};
  },
  methods: {
    tabSaleshClick() {
      try {
        this.$refs.refTabSaleshClick.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
