<template>
  <v-card class="elevation-0">
    <v-card-title>
      Banner
      <v-spacer></v-spacer>

      <v-text-field
        v-on:keyup.enter="searchOnEnter"
        v-on:blur="searchOnEnter"
        append-icon="mdi-magnify"
        hint="Nama banner (press ENTER to search)"
        label="Search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      v-model="selectedItems"
      :single-select="!multiSelect"
      :show-select="multiSelect"
      :headers="headers"
      :items="fGroupNotificationFiltered"
      :page.sync="currentPage"
      :items-per-page="pageSize"
      hide-default-footer
      class="elevation-0"
      @page-count="totalTablePages = totalPaginationPages"
    >
      <template v-slot:top>
        <v-row align="center" class="ml-4 mr-4">
          <v-spacer></v-spacer>

          <v-btn
            fab
            dark
            color="green"
            x-small
            @click="showDialogNew"
            :disabled="multiSelect"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-row>
      </template>

      <template v-slot:[`item.imagePath`]="{ item }">
        <div class="ma-2">
          <v-img :src="lookupImageUrl(item)" max-width="50" max-height="50" />
        </div>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-btn @click="showDialogEdit(item)" icon :disabled="multiSelect">
          <v-icon small color="warning"> mdi-pencil </v-icon>
        </v-btn>

        <v-btn @click="deleteDialogShow(item)" icon :disabled="multiSelect">
          <v-icon small color="red accent-4"> mdi-delete </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <!--    @page-count="pageCount = $event"-->

    <v-container>
      <v-row justify="end" align="center">
        <v-col cols="4" md="2" sm="2">
          <v-select
            v-model="pageSize"
            :items="pageSizes"
            label="Items per page"
          ></v-select>
        </v-col>
        <v-col cols="10" md="9" sm="8" align="right">
          <v-pagination
            v-model="currentPage"
            :length="totalPaginationPages"
            total-visible="8"
            circle
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>

    <delete-dialog
      ref="refDeleteConfirmDialog"
      @eventFromDeleteConfirmDialog1="deleteItemConfirmedSingleSelect"
      @eventFromDeleteConfirmDialog2="deleteItemConfirmedMultiSelect"
    ></delete-dialog>

    <FBannerDialog
      :formMode="formMode"
      ref="refFormDialog"
      @eventFromFormDialogNew="saveDataNew"
      @eventFromFormDialogEdit="saveDataEdit"
    ></FBannerDialog>

    <v-snackbar v-model="snackbar">
      {{ snackBarMesage }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </v-card>
</template>

<script>
import FGroupNotification from "../../top-notification/services/f-notification-service";
import DeleteDialog from "../../../components/utils/DeleteConfirmDialog";
import FBannerDialog from "./FBannerDialog";
import FormMode from "../../../models/form-mode";
import FLabelNotification from "../../top-notification/models/f-label-notification";
import FBannerService from "../services/f-banner-service";
import FBanner from "../models/f-banner";
import FileService from "../../../services/apiservices/file_service/file-service";

export default {
  components: { DeleteDialog, FBannerDialog },
  data() {
    return {
      snackbar: false,
      showFilter: false,
      snackBarMesage: "",

      multiSelect: false,
      selectedItems: [],
      filterFwarehouses: [],
      filterFReturnStatus: [],

      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      pageSize: 10,
      pageSizes: [10, 25, 50, 150, 500],

      search: "",
      headers: [
        {
          text: "Nama",
          align: "start",
          sortable: false,
          value: "titleNotification",
        },
        {
          text: "Path",
          value: "imagePath",
        },
        {
          text: "Priority",
          value: "priority",
        },
        {
          text: "Redirect",
          value: "urlRedirect",
        },
        { text: "Actions", value: "actions", sortable: false },
      ],

      formMode: "",
      itemSelectedIndex: -1,
      itemSelected: "",
      fGroupNotification: [new FBanner(0)],

      items: [],
    };
  },
  watch: {
    currentPage: {
      handler: function (value) {
        if (value) this.fetchFBannerNotification();
      },
    },
    pageSize: {
      handler: function (value) {
        const refreshData = this.currentPage === 1;
        this.currentPage = 1;
        if (refreshData) {
          console.log("Change PageSize " + value);
          this.fetchFBannerNotification();
        }
        // console.log("page size = " + value + " >> " + this.totalPages)
      },
    },
  },
  computed: {
    fGroupNotificationFiltered() {
      return this.fGroupNotification;
    },
  },
  methods: {
    lookupImageUrl(item) {
      if (item.imagePath === undefined || item.imagePath === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        const { VITE_API_UPLOAD_SERVICE_URL } = import.meta.env;
        return VITE_API_UPLOAD_SERVICE_URL + item.imagePath;
      }
    },
    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        //Krusial untuk search
        this.currentPage = 1;
        this.search = event.target.value;
        this.fetchFBannerNotification();
      }
    },
    fetchFBannerNotification() {
      FBannerService.getNotificationBannerContaining(
        this.currentPage,
        this.pageSize,
        "id",
        "DESC",
        this.search
      ).then(
        (response) => {
          const { items, totalPages } = response.data;
          this.fGroupNotification = items;
          this.totalPaginationPages = totalPages;
        },
        (error) => {
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },

    linkNeated(link) {
      return link.replace(/\s+/g, "-").toLocaleLowerCase();
    },

    showDialogNew() {
      this.itemSelectedIndex = -1;
      const itemModified = Object.assign({}, "");
      this.formMode = FormMode.NEW_FORM;
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.items
      );
    },

    saveDataNew(itemFromRest) {
      this.itemSelected = itemFromRest;
      this.closeDialog();
      this.fetchFBannerNotification();
    },

    showDialogEdit(item) {
      this.itemSelectedIndex = this.fGroupNotificationFiltered.indexOf(item);
      const itemModified = Object.assign({}, item);
      this.formMode = FormMode.EDIT_FORM;
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.items
      );
    },
    saveDataEdit(item) {
      this.itemSelected = item;
      Object.assign(
        this.fGroupNotification[this.itemSelectedIndex],
        this.itemSelected
      );
      this.closeDialog();
    },

    deleteDialogShow(item) {
      this.itemSelectedIndex = this.fGroupNotificationFiltered.indexOf(item);
      this.itemSelected = Object.assign({}, item);
      this.$refs.refDeleteConfirmDialog.showDialog(
        this.itemSelectedIndex,
        item.question
      );
    },
    deleteDialogMultiShow() {
      if (this.multiSelect === true) {
        this.$refs.refDeleteConfirmDialog.showDialogMulti(
          this.selectedItems,
          `${this.selectedItems.length} items selected`
        );
      }
    },
    deleteItemConfirmedSingleSelect(index) {
      console.log(index);
      const deletedItem = this.fGroupNotification[this.itemSelectedIndex];

      if (deletedItem.imagePath !== undefined && deletedItem.imagePath !== "") {
        // delete file
        FileService.deleteImageMicroservice(deletedItem.imagePath).then(
          (response) => {
            console.log(response.data);
          },
          (error) => {
            console.log(error.response);
          }
        );
      }

      FBannerService.deleteFBannerById(deletedItem.id).then(
        () => {
          this.fGroupNotification.splice(this.itemSelectedIndex, 1);
          this.closeDialog();
        },
        (error) => {
          console.log(error);
          this.snackBarMesage = "gagal hapus (digunakan oleh data anak)";
          this.snackbar = true;
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
        }
      );
    },
    deleteItemConfirmedMultiSelect(items) {
      if (items.length > -1) {
        let itemIds = [];
        for (let i = 0; i < items.length; i++) {
          itemIds.push(items[i].id);
        }
        FGroupNotification.deleteAllFCompany(itemIds).then(
          (response) => {
            if (response.data) {
              for (let i = 0; i < items.length; i++) {
                if (
                  !response.data.includes(items[i].id) ||
                  response.data.length === 0
                ) {
                  const index = this.fGroupNotificationFiltered.indexOf(
                    items[i]
                  );
                  this.fGroupNotification.splice(index, 1);
                }
                if (response.data.length > 0) {
                  this.snackBarMesage = `${response.data.length} items gagal hapus (digunakan oleh data anak)`;
                  this.snackbar = true;
                }

                console.log(
                  "Undeleted Items: " + response.data + " = " + items[i].id
                );
              }
              this.closeDialog();
            }
          },
          (error) => {
            console.log("error " + error);
          }
        );
      }
    },
    closeDialog() {
      this.formMode = "";
      this.$refs.refDeleteConfirmDialog.setDialogState(false);
      this.$refs.refFormDialog.setDialogState(false);

      this.$nextTick(() => {
        this.itemSelected = Object.assign({}, new FLabelNotification());
        this.itemSelectedIndex = -1;
      });
    },

    getColorStatusActive(trueFalse) {
      if (trueFalse === true) return "green";
      else if (trueFalse === false) return "gray";
      else return "gray";
    },
  },
  mounted() {
    this.fetchFBannerNotification();
  },
};
</script>

<style scoped></style>
