<template>
  <div>
    <v-dialog
      v-model="dialogShow"
      :max-width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeDialog"
      persistent
      :fullscreen="$vuetify.breakpoint.smAndDown"
      :hide-overlay="$vuetify.breakpoint.smAndDown"
    >
      <!--      scrollable-->
      <v-card>
        <v-form v-model="valid" ref="form">
          <v-toolbar dark color="primary" flat dense>
            <v-btn icon dark @click="closeDialog">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-toolbar-title>Banner</v-toolbar-title>

            <span class="ml-2 mr-2 font-weight-medium grey--text"> | </span>
            <span v-if="formMode === 'EDIT_FORM'">EDIT </span>
            <span class="font-weight-light ml-1 mr-1">ITEM</span>
            <span v-if="formMode === 'NEW_FORM'"> BARU</span>

            <span
              class="ml-2 mr-2 font-weight-medium grey--text"
              v-show="isItemModified"
            >
              |
            </span>
            <v-chip
              class="ma-2"
              color="warning"
              outlined
              x-small
              v-show="isItemModified"
            >
              <v-icon left> mdi-pencil </v-icon>
              modfied
            </v-chip>

            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn
                dark
                text
                @click="save"
                :disabled="!valid || isItemModified === false"
                class="hidden-md-and-up"
              >
                Simpan
              </v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col>
                  <div class="align-self-center">
                    <p class="red--text subtitle-1">
                      Note : ukuran banner 550x440
                    </p>
                    <v-hover v-slot="{ hover }">
                      <v-card
                        :elevation="hover ? 10 : 1"
                        :class="[
                          { 'on-hover': hover },
                          hover
                            ? 'card-hover-opacity'
                            : 'card-not-hover-opacity',
                        ]"
                      >
                        <v-img
                          :lazy-src="lookupImageUrlLazy(itemModified)"
                          :src="lookupImageUrl(itemModified)"
                          height="225px"
                        >
                          <v-card-title class="text-h6 white--text fill-height">
                            <v-row
                              class="fill-height flex-column"
                              justify="space-between"
                            >
                              <v-spacer />
                              <div class="align-self-center">
                                <v-btn
                                  :class="{ 'show-btns': hover }"
                                  :color="'transparent'"
                                  icon
                                  large
                                  dark
                                  outlined
                                  @click="showDialogUpload"
                                >
                                  <v-icon
                                    :class="{ 'show-btns': hover }"
                                    :color="'transparent'"
                                    large
                                  >
                                    mdi-upload
                                  </v-icon>
                                </v-btn>
                              </div>
                            </v-row>
                          </v-card-title>
                        </v-img>
                      </v-card>
                    </v-hover>
                  </div>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="itemModified.titleNotification"
                    label="Name"
                    type="text"
                    :rules="rulesNotEmtpy"
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="itemModified.priority"
                    label="Priority"
                    type="number"
                    :rules="rulesNotEmtpy"
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-radio-group
                    label="Is redirect?"
                    v-model="itemModified.isRedirect"
                  >
                    <v-radio label="Ya" :value="true"></v-radio>
                    <v-radio label="Tidak" :value="false"></v-radio>
                  </v-radio-group>
                </v-col>

                <v-col v-if="itemModified.isRedirect" cols="12" sm="12" md="12">
                  <v-text-field
                    v-model="itemModified.urlRedirect"
                    label="Url redirect"
                    type="text"
                    dense
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-chip
              class="ml-4"
              color="error"
              outlined
              close
              small
              v-show="formDialogOptions.errorMessage"
            >
              {{ formDialogOptions.errorMessage }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              outlined
              text
              @click="closeDialog"
              class="hidden-sm-and-down"
            >
              Batal
            </v-btn>
            <v-btn
              color="blue darken-1"
              outlined
              text
              @click="save"
              :disabled="!valid || isItemModified === false"
              class="hidden-sm-and-down"
            >
              Simpan
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>

      <UploadImageMicroservice
        ref="refUploadDialog"
        folder_upload="banner"
        :model_id="this.itemModified.id"
        @eventUploadSuccess="completeUploadSuccess"
      >
      </UploadImageMicroservice>

      <close-confirm-dialog
        ref="refCloseConfirmDialog"
        @eventFromCloseConfirm="passingEventFromCloseConfirm"
      ></close-confirm-dialog>

      <v-snackbar v-model="snackbar">
        {{ snackBarMesage }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
        </template>
      </v-snackbar>
    </v-dialog>
  </div>
</template>

<script>
import CloseConfirmDialog from "../../../components/utils/CloseConfirmDialog";
import FormMode from "../../../models/form-mode";
import FBanner from "../models/f-banner";
import FBannerService from "../services/f-banner-service";
import FileService from "../../../services/apiservices/file_service/file-service";
import UploadImageMicroservice from "../../../components/utils/UploadImageMicroserviceDialog";

export default {
  name: "FGroupNotificationTemplateDialog",
  components: { UploadImageMicroservice, CloseConfirmDialog },
  props: {
    formMode: String,
  },
  data() {
    return {
      dialogShow: false,
      snackbar: false,
      snackBarMesage: "",
      formDialogOptions: {
        title1: "",
        title2: "",
        message1: "",
        message2: "",
        errorMessage: "",
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      selectedItemIndex: -1,
      itemDefault: new FBanner(0),
      itemModified: new FBanner(0),

      valid: false,
      rulesLength: [
        (v) => !!v || " Tidak Boleh Kosong",
        (v) => v.length <= 255 || "Maksimal 255 Karakter",
        (v) => v.length > 1 || "Harus lebih besar dari 1 karakter",
      ],
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
      items: [],
    };
  },
  computed: {
    isItemModified() {
      const defaultItem = JSON.stringify(this.itemDefault);
      const modifiedItem = JSON.stringify(this.itemModified);
      return defaultItem !== modifiedItem;
    },
  },
  watch: {},
  methods: {
    lookupImageUrl(item) {
      if (item.imagePath === undefined || item.imagePath === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        const { VITE_API_UPLOAD_SERVICE_URL } = import.meta.env;
        return VITE_API_UPLOAD_SERVICE_URL + item.imagePath;
      }
    },
    lookupImageUrlLazy() {
      return "./assets/images/account_icon.png";
    },
    showDialogUpload() {
      if (
        this.itemModified.titleNotification !== undefined &&
        this.itemModified.isRedirect !== undefined &&
        this.itemModified.priority !== undefined
      ) {
        if (this.itemModified.id === 0) {
          this.saveCreateOnly();
        }
        this.$refs.refUploadDialog.showDialog();
      } else {
        this.snackBarMesage = "Semua field harus diisi terlebih dahulu";
        this.snackbar = true;
      }
    },
    completeUploadSuccess: function (response) {
      const { data } = response;
      if (
        this.itemModified.imagePath !== undefined &&
        this.itemModified.imagePath !== ""
      ) {
        FileService.deleteImageMicroservice(this.itemModified.imagePath).then(
          (response) => {
            console.log(response.data);
          },
          (error) => {
            console.log(error.response);
          }
        );
      }

      if (data[0] !== "") {
        this.$refs.refUploadDialog.closeDialog();
        this.itemModified.imagePath = data[0];
        this.saveCreateOnly();
      }
    },
    showDialog(selectedIndex, item, pay) {
      this.items = pay;
      this.dialogShow = !this.dialogShow;
      if (selectedIndex > -1) {
        this.selectedIndex = selectedIndex;
        this.initializeEditMode(item);
      } else {
        this.itemDefault = new FBanner(0);
        this.itemModified = new FBanner(0);
        this.selectedIndex = -1;
      }
    },
    setDialogState(value) {
      this.dialogShow = value;
    },
    saveCreateOnly() {
      FBannerService.createFBanner(this.itemModified).then(
        (response) => {
          this.$emit("update:formMode", FormMode.EDIT_FORM);
          const { id } = response.data;
          this.itemModified.id = id;
          this.$refs.refUploadDialog.model_id = id;
        },
        (error) => {
          this.formDialogOptions.errorMessage = error.response.data.message;
        }
      );
    },
    save() {
      if (this.isItemModified === false) {
        //Close aja
        this.dialogShow = false;
        this.$emit("eventFromFormDialog1", this.itemModified);
        return;
      }
      if (this.$refs.form.validate()) {
        if (this.formMode === FormMode.EDIT_FORM) {
          FBannerService.updateFBanner(this.itemModified).then(
            () => {
              // console.log(response.data)
              this.$emit("eventFromFormDialogEdit", this.itemModified);
            },
            (error) => {
              // console.log(error);
              this.formDialogOptions.errorMessage = error.response.data.message;
            }
          );
        } else {
          FBannerService.createFBanner(this.itemModified).then(
            (response) => {
              this.$emit("eventFromFormDialogNew", response.data);
            },
            (error) => {
              this.formDialogOptions.errorMessage = error.response.data.message;
            }
          );
        }
      }
    },
    closeDialog() {
      if (!this.isItemModified) {
        this.dialogShow = false;
        this.$emit("eventFromFormDialog1", this.itemModified);
      } else {
        this.$refs.refCloseConfirmDialog.showDialog(
          " Sudah terdapat modifikasi data",
          "Tetap tutup dan reset perubahan?"
        );
      }
    },
    passingEventFromCloseConfirm(value) {
      if (value === "OKE") this.dialogShow = false;
    },
    initializeEditMode(item) {
      // this.itemDefault = item
      console.log(item);
      this.itemModified = item;
      this.formDialogOptions.errorMessage = "";
    },
  },
};
</script>
<style scoped>
.show-btns {
  color: #4267b2 !important;
  opacity: 1;
}
</style>
