<template>
  <div>
    <div class="white">
      <v-divider />
      <v-card-text class="py-2 mx-2 text-body-1 font-weight-medium"
        >Catalog product</v-card-text
      >
    </div>
    <v-row class="my-5 mx-2">
      <v-col cols="12" lg="3">
        <v-card flat>
          <v-card-title>Filter catalog </v-card-title>
          <v-divider />
          <v-card-text>
            <div
              class="text--subtitle-1 primary--text text-decoration-underline text-right"
              style="cursor: pointer"
              @click="clearFilter()"
            >
              Clear All
            </div>
          </v-card-text>
          <v-container>
            <v-combobox
              v-model="category"
              :item="category"
              append-icon=""
              deletable-chips
              flat
              multiple
              outlined
              @change="onChangeCategory"
            >
              <template v-slot:selection="{ attrs, item }">
                <v-chip color="primary" label small v-bind="attrs">
                  <span>{{ item }}</span>
                </v-chip>
              </template>
            </v-combobox>
            <v-combobox
              v-model="brands"
              :item="brands"
              append-icon=""
              deletable-chips
              flat
              multiple
              outlined
              @change="onChangeBrand"
            >
              <template v-slot:selection="{ attrs, item }">
                <v-chip color="primary" label small v-bind="attrs">
                  <span>{{ item }}</span>
                </v-chip>
              </template>
            </v-combobox>
          </v-container>
          <v-expansion-panels v-model="panel" flat multiple>
            <v-expansion-panel>
              <v-expansion-panel-header class="py-0"
                >Filter Brand</v-expansion-panel-header
              >
              <v-expansion-panel-content class="py-0">
                <v-text-field
                  dense
                  filled
                  placeholder="Search brand"
                  prepend-inner-icon="mdi-magnify"
                  v-on:keyup.enter="searchAndFetchBrand"
                ></v-text-field>
                <div v-if="loadSearchBrand === '' && brandSelected.length > 0">
                  <template v-for="brand in brandSelected">
                    <v-checkbox
                      :key="brand.id"
                      v-model="brands"
                      :label="brand.description"
                      :value="brand.description"
                      class="shrink mr-2"
                      hide-details
                      @click="brandOnClick(brand)"
                    ></v-checkbox>
                  </template>
                </div>
                <div>
                  <template v-for="brand in dataBranch">
                    <v-checkbox
                      v-if="!brands.includes(brand.description)"
                      :key="brand.id"
                      v-model="brands"
                      :label="brand.description"
                      :value="brand.description"
                      class="shrink mr-2"
                      hide-details
                      @click="brandOnClick(brand)"
                    ></v-checkbox>
                  </template>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
              <v-expansion-panel-header class="py-0"
                >Filter Category</v-expansion-panel-header
              >
              <v-expansion-panel-content class="py-0">
                <v-text-field
                  dense
                  filled
                  placeholder="Search category"
                  prepend-inner-icon="mdi-magnify"
                  v-on:keyup.enter="searchAndFetchCategory"
                ></v-text-field>
                <div
                  v-if="searchCategory === '' && categorySeleceted.length > 0"
                >
                  <template v-for="categorys in categorySeleceted">
                    <v-checkbox
                      :key="categorys.id"
                      v-model="category"
                      :label="categorys.description"
                      :value="categorys.description"
                      class="shrink mr-2"
                      hide-details
                      @click="categoryOnClick(categorys)"
                    >
                      <template v-slot:label>
                        <div>{{ categorys.description }}</div>
                        <v-spacer></v-spacer>
                        <div>{{ categorys.count }}</div>
                      </template>
                    </v-checkbox>
                  </template>
                </div>
                <div>
                  <template v-for="categorys in dataCategory">
                    <v-checkbox
                      v-if="!category.includes(categorys.description)"
                      :key="categorys.id"
                      v-model="category"
                      :label="categorys.description"
                      :value="categorys.description"
                      class="shrink mr-2"
                      hide-details
                      @click="categoryOnClick(categorys)"
                    >
                      <template v-slot:label>
                        <div>{{ categorys.description }}</div>
                        <v-spacer></v-spacer>
                        <div>{{ categorys.count }}</div>
                      </template>
                    </v-checkbox>
                  </template>
                </div>
              </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
              <v-expansion-panel-header class="py-0"
                >Filter harga</v-expansion-panel-header
              >
              <v-expansion-panel-content class="py-0">
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="startPrice"
                      placeholder="Start price"
                      prefix="Rp"
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field
                      v-model="endPrice"
                      placeholder="End price"
                      prefix="Rp"
                      type="number"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
      </v-col>
      <v-col cols="12" lg="9">
        <div>
          <v-row>
            <v-col cols="12" md="12" sm="12">
              <div class="d-flex">
                <v-text-field
                  v-model="search"
                  class="mt-2"
                  flat
                  label="Search product"
                  prepend-inner-icon="mdi-magnify"
                  solo
                  v-on:keyup.enter="searchOnEnter"
                ></v-text-field>

                <div class="d-flex">
                  <v-btn
                    class="mx-5 mt-2 elevation-0"
                    color="primary"
                    medium
                    style="height: 48px"
                    @click="fetchParent()"
                  >
                    filter
                  </v-btn>
                </div>
              </div>
            </v-col>
            <v-col
              v-for="i in itemsCatalog"
              :key="i.id"
              cols="12"
              md="4"
              sm="6"
            >
              <v-card
                class="mx-3 my-2"
                flat
                min-height="250px"
                style="cursor: pointer"
                @click="onClickCard(i)"
              >
                <template slot="progress">
                  <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
                  ></v-progress-linear>
                </template>

                <v-img
                  :lazy-src="lookupImageUrlLazy(i.image)"
                  :src="lookupImageUrl(i.image)"
                  height="100%"
                ></v-img>

                <v-card-text>
                  <div class="text-caption gray--text">
                    {{ `${i.product_brand} : ${i.product_code}` }}
                  </div>
                </v-card-text>

                <v-card-title class="text-heading-6">{{
                  i.product_name
                }}</v-card-title>

                <v-card-text>
                  <div class="text-subtitle-2 gray--text">Price</div>
                  <div class="text-subtitle-1 green--text">
                    {{ formattedCurrencyValue("Rp ", i.price) }}
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>

          <v-dialog
            v-model="dialog"
            max-width="600"
            transition="dialog-top-transition"
          >
            <template>
              <v-card
                v-if="tmpDetail !== null"
                :loading="loading"
                min-height="500px"
                style="cursor: pointer"
                @click="onClickCard(tmpDetail.id)"
              >
                <template slot="progress">
                  <v-progress-linear
                    color="deep-purple"
                    height="10"
                    indeterminate
                  ></v-progress-linear>
                </template>

                <v-img
                  :lazy-src="lookupImageUrlLazy(tmpDetail.image)"
                  :src="lookupImageUrl(tmpDetail.image)"
                  height="100%"
                ></v-img>

                <v-divider class="mx-4"></v-divider>

                <v-card-title>{{ tmpDetail.product_name }}</v-card-title>

                <v-card-text>
                  <div class="text-subtitle-1 green--text">
                    {{ formattedCurrencyValue("Rp ", tmpDetail.price) }}
                  </div>
                </v-card-text>

                <v-divider class="mx-4"></v-divider>
              </v-card>
            </template>
          </v-dialog>

          <div class="text-center mt-5">
            <v-pagination
              v-model="currentPage"
              :length="totalPaginationPages"
              :total-visible="7"
              circle
            ></v-pagination>
          </div>
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import FCatalogProductService from "../services/f-catalog-product-service";
import FileService from "../../../services/apiservices/file_service/file-service";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  name: "CatalogProduct",
  components: {},
  data() {
    return {
      panel: [0, 1, 2],
      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      pageSize: 9,
      search: "",
      itemsCatalog: [],
      loading: false,
      dialog: false,
      tmpDetail: null,
      startPrice: 0,
      endPrice: 500000,
      dataCategory: [],
      dataBranch: [],
      brands: [],
      categorySeleceted: [],
      brandSelected: [],
      category: [],
      searchBrand: "",
      searchCategory: "",
      items: [],
    };
  },
  watch: {
    currentPage: {
      handler: function (value) {
        if (value) {
          this.fetchParent();
        }
      },
    },

    startPrice: {
      handler: function (value) {
        this.startPrice = value;
        this.fetchParent();
      },
    },
    endPrice: {
      handler: function (value) {
        this.endPrice = value;
        this.fetchParent();
      },
    },
    search: {
      handler: function (value) {
        this.search = value;
      },
    },
  },
  computed: {
    loadSearchBrand() {
      return this.searchBrand;
    },
    loadSearchCategory() {
      return this.searchCategory;
    },
  },
  methods: {
    brandOnClick(brand) {
      if (!this.brands.includes(brand.description)) {
        this.brandSelected = this.brandSelected.filter(
          (e) => e.id !== brand.id
        );
      } else {
        this.brandSelected.push(brand);
      }
      this.currentPage = 1;
      this.fetchParent();
    },
    categoryOnClick(category) {
      if (!this.category.includes(category.description)) {
        this.categorySeleceted = this.categorySeleceted.filter(
          (e) => e.id !== category.id
        );
      } else {
        this.categorySeleceted.push(category);
      }
      this.currentPage = 1;
      this.fetchParent();
    },
    onChangeCategory() {
      this.currentPage = 1;
      let checkCategory;
      checkCategory = this.categorySeleceted.filter((e) =>
        this.category.includes(e.description)
      );
      this.categorySeleceted = checkCategory;
      this.fetchParent();
    },
    onChangeBrand() {
      this.currentPage = 1;
      let checkBrand;
      checkBrand = this.brandSelected.filter((e) =>
        this.brands.includes(e.description)
      );
      this.brandSelected = checkBrand;
      this.fetchParent();
    },
    fetchParent() {
      let brands = [];
      this.brandSelected.map((e) => {
        brands.push(e.id);
      });
      let categorys = [];
      this.categorySeleceted.map((e) => {
        categorys.push(e.id);
      });
      this.loading = true;
      FCatalogProductService.getAllPaginatedProductCatalog({
        page: this.currentPage,
        pageSize: this.pageSize,
        order: "DESC",
        sortBy: "id",
        search: this.search,
        brand: brands,
        category: categorys,
        price_start: this.startPrice,
        price_end: this.endPrice,
      }).then((response) => {
        this.loading = false;
        const { items, totalPages } = response.data.data;
        this.itemsCatalog = items;
        this.totalPaginationPages = totalPages;
      });
    },
    lookupImageUrl(image) {
      if (image === undefined || image === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_low(image);
      }
    },
    lookupImageUrlLazy(image) {
      return FileService.image_url_verylow(image);
    },
    searchAndFetchCategory(event) {
      if (this.searchCategory !== event.target.value) {
        this.searchCategory = event.target.value;
        this.loadCategoryProduct();
      }
    },
    searchAndFetchBrand(event) {
      if (this.searchBrand !== event.target.value) {
        this.searchBrand = event.target.value;
        this.loadBrandProduct();
      }
    },
    searchOnEnter() {
      this.currentPage = 1;
      this.fetchParent();
    },
    formattedCurrencyValue(prefix, value) {
      if (!value) {
        return "Rp 0";
      }
      return prefix + "" + parseFloat(value).toLocaleString();
    },
    onClickCard(item) {
      this.dialog = true;
      this.tmpDetail = item;
    },
    showDialogFilterCatalogProductDialog(brands, categorys) {
      this.$refs.refFilterCatalogProductdialog.showDialog();
      this.$refs.refFilterCatalogProductdialog.setBrandAndCategoryProduct(
        brands,
        categorys
      );
    },
    loadCategoryProduct() {
      FCatalogProductService.getCategoryGroup3({
        search: this.searchCategory,
        type: "count",
        limit: 5,
      }).then(
        (response) => {
          this.dataCategory = response.data.data;
        },
        (error) => {
          return Promise.reject(error);
        }
      );
    },
    loadBrandProduct() {
      FCatalogProductService.getBrand({
        search: this.searchBrand,
        limit: 5,
      }).then(
        (response) => {
          this.dataBranch = response.data.data;
        },
        (error) => {
          return Promise.reject(error);
        }
      );
    },
    clearFilter() {
      this.startPrice = 0;
      this.endPrice = 500000;
      this.selectedCategory = [];
      this.categorySeleceted = [];
      this.brandSelected = [];
      this.brands = [];
      this.category = [];
      this.fetchParent();
    },
  },
  mounted() {
    this.loadCategoryProduct();
    this.loadBrandProduct();
    this.fetchParent();
  },
};
</script>

<style scoped>
.v-autocomplete >>> fieldset {
  border: none;
  background-color: white;
}

.v-expansion-panel-content >>> .v-expansion-panel-content__wrap {
  padding-bottom: 0 !important;
}
</style>
