<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12" md="8">
      <v-card flat class="elevation-0">
        <loading
          :active.sync="isLoading"
          :can-cancel="false"
          :on-cancel="onCancel"
          :background-color="'rgb(66, 103, 178)'"
          :opacity="1"
          :is-full-page="true"
        >
          <LogoLoaderVue />
        </loading>
        <v-row class="ma-2 my-2" align="center">
          <v-col cols="12" sm="4" md="6">
            <v-flex class="d-flex align-center">
              <span class="subtitle-2 mr-2"> Order date </span>
              <DateRangePicker
                opens="right"
                v-model="datePickerRangeOrder"
                :locale-data="dprLocale"
                @update="changeDatePickerRange"
                :autoApply="dprAutoApply"
                :showDropdowns="dprShowDropdowns"
              ></DateRangePicker>
            </v-flex>
          </v-col>

          <v-col cols="12" sm="4" md="6">
            <v-flex class="d-flex align-center">
              <span class="subtitle-2 mr-2"> Invoice date </span>
              <DateRangePicker
                opens="right"
                v-model="datePickerRangeInv"
                :locale-data="dprLocale"
                @update="changeDatePickerRange"
                :autoApply="dprAutoApply"
                :showDropdowns="dprShowDropdowns"
              ></DateRangePicker>
            </v-flex>
          </v-col>

          <v-col cols="12" sm="6" md="6">
            <v-autocomplete
              v-model="filterFexpedisies"
              :items="itemsFExpedisi.filter((x) => x.statusActive)"
              item-value="id"
              item-text="description"
              auto-select-first
              dense
              chips
              small-chips
              deletable-chips
              color="lighten-2"
              label="Expedisi"
              persistent-hint
              multiple
              hide-details
            >
              <template v-slot:selection="data">
                <v-chip
                  v-bind="data.attrs"
                  :input-value="data.selected"
                  close
                  @click="data.select"
                  @click:close="removeAutoCompleteFExpedisi(data.item)"
                >
                  <v-avatar left>
                    <v-img
                      :lazy-src="lookupImageUrlLazy(data.item)"
                      :src="lookupImageUrl(data.item)"
                    ></v-img>
                  </v-avatar>
                  <span class="font-weight-regular caption">
                    {{ data.item.kode1 }}
                  </span>
                </v-chip>
              </template>

              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-avatar>
                    <v-img
                      :lazy-src="lookupImageUrlLazy(data.item)"
                      :src="lookupImageUrl(data.item)"
                    ></v-img>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>{{
                      data.item.description
                    }}</v-list-item-title>
                    <v-list-item-subtitle>{{
                      data.item.kode2
                    }}</v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
          </v-col>

          <v-col cols="12" sm="6" md="6">
            <v-autocomplete
              v-model="filterEstatusPengiriman"
              :items="itemsEStatusPengiriman"
              item-value="id"
              item-text="shortDesc"
              dense
              chips
              small-chips
              deletable-chips
              clearable
              label="Status Pengiriman"
              multiple
              hide-details
            ></v-autocomplete>

            <v-autocomplete
              v-if="!haveRoleAdmin && !haveRoleInventory"
              v-model="filterBy"
              :items="[
                { id: 'all', value: 'All team' },
                { id: 'directCs', value: 'Personal Team' },
              ]"
              item-value="id"
              item-text="value"
              placeholder="Filter by"
            ></v-autocomplete>
          </v-col>

          <v-col cols="12" sm="12" md="12">
            <v-textarea
              v-model="multiResi"
              placeholder="SDS220220874,JO0162746504"
              label="Specific export (resi pisah dengan koma)"
            ></v-textarea>
          </v-col>
        </v-row>
        <v-card-actions class="overflow-x-auto">
          <v-btn elevation="0" @click="onclickExportSales">
            Export sales
          </v-btn>
          <v-btn
            v-if="!haveRoleCSOnly"
            elevation="0"
            class="ml-2"
            @click="onclickExportSalesDetail"
          >
            Export Detail
          </v-btn>
          <v-btn
            v-if="haveRoleAdmin"
            elevation="0"
            class="ml-2"
            @click="onclickExportSalesDetailDesGreen"
          >
            Export Detail Des Green
          </v-btn>
          <v-btn
            v-if="!haveRoleCSOnly"
            elevation="0"
            class="ml-2"
            @click="onclickExportSalesDetailSimple"
          >
            Export Detail simple
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import ESchemaSalesDetail from "../../../models/e-schema-sales-detail";
import ESchemaSalesExt from "../../../models/e-schema-sales-ext";
import FtSaleshFilter from "../../../models/payload/ft-salesh-filter";
import ESchemaSales from "../../../models/e-schema-sales";
import ESchemaDefault from "../../../models/e-schema-default";
import ESchemaSalesAgen from "../../../models/e-schema-agen";
import writeXlsxFile from "write-excel-file";
import FileSaver from "file-saver";
import ERole from "../../../models/e-role";
import { EStatusPengirimans } from "../../../models/e-status-pengiriman";
import FtSaleshService from "../../sales/services/ft-salesh-service";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import "vue-loading-overlay/dist/vue-loading.css";
import Loading from "vue-loading-overlay";
import LogoLoaderVue from "../../public/components/LogoLoader.vue";
import ESchemaSalesDetailSimple from "../../../models/e-schema-sales-detail-simple";
import FtSaleshExtService from "../../sales/services/ft-salesh-ext-service";
import moment from "moment-timezone/moment-timezone-utils";
export default {
  components: {
    DateRangePicker,
    Loading,
    LogoLoaderVue,
  },
  data() {
    return {
      isLoading: false,

      itemsEStatusPengiriman: EStatusPengirimans,
      model: [],

      filterFdivisions: [],
      filterFsalesmans: [],
      filterFstores: [],
      filterFexpedisies: [],
      filterFmaterials: [],
      filterEstatusPengiriman: [],
      filterFwarehouses: [],

      filterByGroupMaterialOrdered: [],
      itemsGroupMaterialOrdered: [],

      datePickerRangeOrder: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(),
      },
      datePickerRangeInv: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(),
      },
      dprLocale: {
        direction: "ltr", //direction of text
        format: "dd/mm/yyyy",
        separator: " - ", //separator between the two ranges
        applyLabel: "Terapkan",
        cancelLabel: "Batal",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        // daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
        // monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
        firstDay: 1, //ISO first day of week - see moment documenations for details
      },
      dprAutoApply: true,
      dprShowDropdowns: true,
      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      multiResi: "",
      totalWrite: 0,
      filterBy: "all",
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },

    haveRoleAdminMutlak() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_ADMIN")) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleInventory() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_INVENTORY") ||
          this.currentUser.roles.includes("ROLE_INVENTORY_1") ||
          this.currentUser.roles.includes("ROLE_INVENTORY_2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRolePiutang() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_PIUTANG")) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleAgen() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_AGEN")) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleSales() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_RSL_1") ||
          this.currentUser.roles.includes("ROLE_RSL_2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleCSOnly() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_CS")) {
          isValid = true;
        }
      }
      return isValid;
    },

    formMode: {
      get() {
        return this.$store.state.sales.formMode;
      },
      set(value) {
        this.$store.dispatch("sales/updateFormMode", value);
      },
    },
    ftSaleshsFiltered() {
      return this.ftSaleshs;
    },
    itemsFDivision() {
      return this.$store.state.data.listFDivision;
    },
    itemsFMaterial() {
      return this.$store.state.data.listFMaterial;
    },
    itemsFExpedisi() {
      return this.$store.state.data.listFExpedisi;
    },
    itemsFWarehouse() {
      return this.$store.state.data.listFWarehouse;
    },
    itemsFWarehouseActive() {
      return this.$store.state.data.listFWarehouse.filter(
        (x) => x.statusActive === true
      );
    },
    itemsFSalesman() {
      const listFSalesman = [];

      if (
        this.currentUser.salesmanOf > 0 &&
        [ERole.ROLE_CS].some((x) => this.currentUser.roles.includes(x))
      ) {
        this.$store.state.data.listFSalesman
          .filter((x) => x.id === this.currentUser.salesmanOf)
          .forEach((item) => {
            listFSalesman.push(item);
          });
      } else {
        this.$store.state.data.listFSalesman.forEach((item) => {
          listFSalesman.push(item);
        });
      }

      return listFSalesman;
    },
    itemsFPayMethod() {
      return this.$store.state.data.listFPayMethod;
    },
    itemsFStore() {
      return this.$store.state.data.listFStore;
    },

    itemsFCustomer() {
      return this.$store.state.data.listFCustomer;
    },
    itemsFCustomerGroup() {
      return this.$store.state.data.listFCustomerGroup;
    },
  },
  methods: {
    onCancel() {},
    changeDatePickerRange() {
      // console.log(`${this.datePickerRangeOrder.startDate} >> ${this.datePickerRangeOrder.endDate}`)
    },
    removeAutoCompleteFExpedisi(item) {
      const index = this.filterFexpedisies.indexOf(item.id);
      if (index >= 0) this.filterFexpedisies.splice(index, 1);
    },

    onclickExportSales() {
      this.isLoading = true;
      let orderDateFrom = moment(
        this.toISOLocal(this.datePickerRangeOrder.startDate)
      ).format("YYYY-MM-DD");
      let orderDateTo = moment(
        this.toISOLocal(this.datePickerRangeOrder.endDate)
      ).format("YYYY-MM-DD");
      let invoiceDateFrom = moment(
        this.toISOLocal(this.datePickerRangeInv.startDate)
      ).format("YYYY-MM-DD");
      let invoiceDateTo = moment(
        this.toISOLocal(this.datePickerRangeInv.endDate)
      ).format("YYYY-MM-DD");

      FtSaleshExtService.getExportBySalesCs({
        fdivisionIds: this.filterFdivisions,
        fsalesmanIds: this.filterFsalesmans,
        fstoreIds: this.filterFstores,
        fexpedisiIds: this.filterFexpedisies,
        statusPengirimanIds: this.filterEstatusPengiriman,
        fmaterialIds: this.filterFmaterials,
        fwarehouseIds: this.filterFwarehouses,
        dateFrom: orderDateFrom,
        dateTo: orderDateTo,
        dateInvoiceFrom: invoiceDateFrom,
        dateInvoiceTo: invoiceDateTo,
        filterBy: this.filterBy,
        value: this.multiResi,
      })
        .then((response) => {
          let headerLine =
            response.headers["content-disposition"].split("filename=")[1];
          let fileURL = window.URL.createObjectURL(new Blob([response.data]));
          let fileLink = document.createElement("a");
          fileLink.href = fileURL;
          fileLink.setAttribute("download", headerLine);
          document.body.appendChild(fileLink);
          fileLink.click();
          this.isLoading = false;
        })
        .catch(() => {
          this.$swal({
            title: "Gagal ambil data",
            text: "terdapat kesalahan, silahkan coba lagi",
            icon: "error",
            confirmButtonText: "Tutup",
          });
          this.isLoading = false;
        });
    },

    onclickExportSalesDetailSimple() {
      this.isLoading = true;
      let orderDateFrom = this.toISOLocal(this.datePickerRangeOrder.startDate);
      let orderDateTo = this.toISOLocal(this.datePickerRangeOrder.endDate);
      let invoiceDateFrom = this.toISOLocal(this.datePickerRangeInv.startDate);
      let invoiceDateTo = this.toISOLocal(this.datePickerRangeInv.endDate);

      FtSaleshExtService.getExportBySalesDetailSimple({
        fdivisionIds: this.filterFdivisions,
        fsalesmanIds: this.filterFsalesmans,
        fstoreIds: this.filterFstores,
        fexpedisiIds: this.filterFexpedisies,
        statusPengirimanIds: this.filterEstatusPengiriman,
        fmaterialIds: this.filterFmaterials,
        fwarehouseIds: this.filterFwarehouses,
        dateFrom: orderDateFrom,
        dateTo: orderDateTo,
        dateInvoiceFrom: invoiceDateFrom,
        dateInvoiceTo: invoiceDateTo,
        filterBy: this.filterBy,
        value: this.multiResi,
      })
        .then((response) => {
          let headerLine =
            response.headers["content-disposition"].split("filename=")[1];
          let fileURL = window.URL.createObjectURL(new Blob([response.data]));
          let fileLink = document.createElement("a");
          fileLink.href = fileURL;
          fileLink.setAttribute("download", headerLine);
          document.body.appendChild(fileLink);
          fileLink.click();
          this.isLoading = false;
        })
        .catch(() => {
          this.$swal({
            title: "Gagal ambil data",
            text: "terdapat kesalahan, silahkan coba lagi",
            icon: "error",
            confirmButtonText: "Tutup",
          });
          this.isLoading = false;
        });
    },
    onclickExportSalesDetail() {
      this.isLoading = true;
      let orderDateFrom = this.toISOLocal(this.datePickerRangeOrder.startDate);
      let orderDateTo = this.toISOLocal(this.datePickerRangeOrder.endDate);
      let invoiceDateFrom = this.toISOLocal(this.datePickerRangeInv.startDate);
      let invoiceDateTo = this.toISOLocal(this.datePickerRangeInv.endDate);

      FtSaleshExtService.getExportBySalesDetail({
        fdivisionIds: this.filterFdivisions,
        fsalesmanIds: this.filterFsalesmans,
        fstoreIds: this.filterFstores,
        fexpedisiIds: this.filterFexpedisies,
        statusPengirimanIds: this.filterEstatusPengiriman,
        fmaterialIds: this.filterFmaterials,
        fwarehouseIds: this.filterFwarehouses,
        dateFrom: orderDateFrom,
        dateTo: orderDateTo,
        dateInvoiceFrom: invoiceDateFrom,
        dateInvoiceTo: invoiceDateTo,
        filterBy: this.filterBy,
        value: this.multiResi,
      })
        .then((response) => {
          let headerLine =
            response.headers["content-disposition"].split("filename=")[1];
          let fileURL = window.URL.createObjectURL(new Blob([response.data]));
          let fileLink = document.createElement("a");
          fileLink.href = fileURL;
          fileLink.setAttribute("download", headerLine);
          document.body.appendChild(fileLink);
          fileLink.click();
          this.isLoading = false;
        })
        .catch(() => {
          this.$swal({
            title: "Gagal ambil data",
            text: "terdapat kesalahan, silahkan coba lagi",
            icon: "error",
            confirmButtonText: "Tutup",
          });
          this.isLoading = false;
        });
    },
    onclickExportSalesDetailDesGreen() {
      this.isLoading = true;
      let orderDateFrom = this.toISOLocal(this.datePickerRangeOrder.startDate);
      let orderDateTo = this.toISOLocal(this.datePickerRangeOrder.endDate);
      let invoiceDateFrom = this.toISOLocal(this.datePickerRangeInv.startDate);
      let invoiceDateTo = this.toISOLocal(this.datePickerRangeInv.endDate);

      FtSaleshExtService.getExportBySalesDetailDesGreen({
        fdivisionIds: this.filterFdivisions,
        fsalesmanIds: this.filterFsalesmans,
        fstoreIds: this.filterFstores,
        fexpedisiIds: this.filterFexpedisies,
        statusPengirimanIds: this.filterEstatusPengiriman,
        fmaterialIds: this.filterFmaterials,
        fwarehouseIds: this.filterFwarehouses,
        dateFrom: orderDateFrom,
        dateTo: orderDateTo,
        dateInvoiceFrom: invoiceDateFrom,
        dateInvoiceTo: invoiceDateTo,
        filterBy: this.filterBy,
        value: this.multiResi,
      })
        .then((response) => {
          let headerLine =
            response.headers["content-disposition"].split("filename=")[1];
          let fileURL = window.URL.createObjectURL(new Blob([response.data]));
          let fileLink = document.createElement("a");
          fileLink.href = fileURL;
          fileLink.setAttribute("download", headerLine);
          document.body.appendChild(fileLink);
          fileLink.click();
          this.isLoading = false;
        })
        .catch(() => {
          this.$swal({
            title: "Gagal ambil data",
            text: "terdapat kesalahan, silahkan coba lagi",
            icon: "error",
            confirmButtonText: "Tutup",
          });
          this.isLoading = false;
        });
    },
    fetchParent() {
      this.$store.dispatch("data/loadFExpedisi");
      this.$store.dispatch("data/loadFWarehouse");
    },

    lookupFDivision(fdivisionBean) {
      const str = this.itemsFDivision.filter((x) => x.id === fdivisionBean);
      if (str.length > 0) {
        return str[0];
      } else {
        return undefined;
      }
    },

    lookupFSalesman(fsalesmanBean) {
      const str = this.itemsFSalesman.filter((x) => x.id === fsalesmanBean);

      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },

    lookupFStore(fstoreBean) {
      const str = this.itemsFStore.filter((x) => x.id === fstoreBean);
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },

    lookupFExpedisi(fexpedisiBean) {
      const str = this.itemsFExpedisi.filter((x) => x.id === fexpedisiBean);
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },

    lookupFWarehouse(fwarehouseBean) {
      const str = this.itemsFWarehouse.filter((x) => x.id === fwarehouseBean);
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },

    lookupFtSalesdItems(ftSaleshBean) {
      let ftSalesdItemsFiltered = ftSaleshBean.listFtSalesdItems;
      try {
        ftSalesdItemsFiltered = ftSaleshBean.listFtSalesdItems.slice(0);
      } catch (e) {
        e.toString();
      }

      // ftSalesdItemsFiltered.sort(function (a, b){
      //   return a.fmaterialBean -b.fmaterialBean
      // })

      ftSalesdItemsFiltered.sort((a, b) =>
        a.fmaterialBean > b.fmaterialBean ? 1 : -1
      );

      if (ftSalesdItemsFiltered.length > 0) {
        let str = "";
        ftSalesdItemsFiltered.forEach((item) => {
          str += `${item.qty} ${this.lookupFMaterialPcode(
            item.fmaterialBean
          )}, `; //Lihat ada koma dan spasi
        });

        return str.substr(0, str.length - 2);
      } else {
        return "-";
      }
    },

    lookupFtSalesdItemsSalesToDist(ftSaleshBean) {
      const ftSalesdItemsFiltered = ftSaleshBean.listFtSalesdItems;
      if (ftSalesdItemsFiltered.length > 0) {
        let nilai = 0;
        ftSalesdItemsFiltered.forEach((item) => {
          const fmaterial = this.lookupFMaterial(item.fmaterialBean);
          // nilai += (item.qty* item.sprice2ToDist1)
          nilai += item.qty * fmaterial.sprice2ToDist1;
        });

        return nilai;
      } else {
        return 0;
      }
    },
    lookupFtSalesdItemsSalesToAgenThio(ftSaleshBean) {
      const ftSalesdItemsFiltered = ftSaleshBean.listFtSalesdItems;
      if (ftSalesdItemsFiltered.length > 0) {
        let nilai = 0;
        ftSalesdItemsFiltered.forEach((item) => {
          const fmaterial = this.lookupFMaterial(item.fmaterialBean);
          if (fmaterial.pcode === "HBN" || fmaterial.pcode === "HBD") {
            fmaterial.sprice2ToDist2 = 24000;
          }
          nilai += item.qty * fmaterial.sprice2ToDist2;
        });
        return nilai;
      } else {
        return 0;
      }
    },
    lookupFtSalesdItemsSalesToAgen(ftSaleshBean) {
      const ftSalesdItemsFiltered = ftSaleshBean.listFtSalesdItems;
      if (ftSalesdItemsFiltered.length > 0) {
        let nilai = 0;
        ftSalesdItemsFiltered.forEach((item) => {
          const fmaterial = this.lookupFMaterial(item.fmaterialBean);
          nilai += item.qty * fmaterial.sprice2ToDist2;
        });

        return nilai;
      } else {
        return 0;
      }
    },

    lookupFtSalesdItemsSalesToResellerThio(ftSaleshBean) {
      const ftSalesdItemsFiltered = ftSaleshBean.listFtSalesdItems;
      if (ftSalesdItemsFiltered.length > 0) {
        let nilai = 0;
        ftSalesdItemsFiltered.forEach((item) => {
          const fmaterial = this.lookupFMaterial(item.fmaterialBean);
          if (fmaterial.pcode === "HBN" || fmaterial.pcode === "HBD") {
            fmaterial.sprice2ToDist3 = 26000;
          }
          nilai += item.qty * fmaterial.sprice2ToDist3;
        });

        return nilai;
      } else {
        return 0;
      }
    },
    lookupFtSalesdItemsSalesToReseller(ftSaleshBean) {
      const ftSalesdItemsFiltered = ftSaleshBean.listFtSalesdItems;
      if (ftSalesdItemsFiltered.length > 0) {
        let nilai = 0;
        ftSalesdItemsFiltered.forEach((item) => {
          const fmaterial = this.lookupFMaterial(item.fmaterialBean);
          // nilai += (item.qty* item.sprice2ToDist1)
          nilai += item.qty * fmaterial.sprice2ToDist3;
        });

        return nilai;
      } else {
        return 0;
      }
    },

    lookupFMaterialPcode(fmaterialBean) {
      const str = this.itemsFMaterial.filter((x) => x.id === fmaterialBean);
      if (str.length > 0) {
        return `${str[0].pcode}`;
      } else {
        return "-";
      }
    },
    lookupFMaterial(fmaterialBean) {
      const str = this.itemsFMaterial.filter((x) => x.id === fmaterialBean);
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },
    lookupEStatusPengiriman(statusPengiriman) {
      const str = this.itemsEStatusPengiriman.filter(
        (x) => x.id === statusPengiriman
      );
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },
    lookupImageUrl(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        //   return FileService.image_url_verylow(item.avatarImage)
      }
    },
    lookupImageUrlLazy() {
      return "./assets/images/no_image_available.jpeg";
    },
    save(type, isSimple) {
      this.isLoading = true;
      const ftSaleshFilter = new FtSaleshFilter();
      ftSaleshFilter.fdivisionIds = this.filterFdivisions; //dilakukan pada back-end untuk security

      if (this.filterFsalesmans.length > 0) {
        ftSaleshFilter.fsalesmanIds = this.filterFsalesmans;
      } else {
        // console.log(`>> ${JSON.stringify(this.itemsFSalesman)}`)
        ftSaleshFilter.fsalesmanIds = this.itemsFSalesman.map(
          (item) => item.id
        );
      }

      if (this.filterFstores.length > 0) {
        ftSaleshFilter.fstoreIds = this.filterFstores;
      } else {
        ftSaleshFilter.fstoreIds = this.itemsFStore.map((item) => item.id);
      }

      if (this.filterFexpedisies.length > 0) {
        ftSaleshFilter.fexpedisiIds = this.filterFexpedisies;
      } else {
        ftSaleshFilter.fexpedisiIds = this.itemsFExpedisi.map(
          (item) => item.id
        );
      }

      if (this.filterEstatusPengiriman.length > 0) {
        ftSaleshFilter.statusPengirimanIds = this.filterEstatusPengiriman;
      } else {
        ftSaleshFilter.statusPengirimanIds = this.itemsEStatusPengiriman.map(
          (item) => item.id
        );
      }

      if (this.filterFmaterials.length > 0) {
        ftSaleshFilter.fmaterialIds = this.filterFmaterials;
      } else {
        ftSaleshFilter.fmaterialIds = this.itemsFMaterial.map(
          (item) => item.id
        );
      }

      if (this.filterFwarehouses.length > 0) {
        ftSaleshFilter.fwarehouseIds = this.filterFwarehouses;
      } else {
        ftSaleshFilter.fwarehouseIds = this.itemsFWarehouse.map(
          (item) => item.id
        );
      }

      // console.log(`${this.datePickerRangeOrder.startDate} >> ${this.datePickerRangeOrder.endDate}`)
      ftSaleshFilter.orderDateFrom = this.toISOLocal(
        this.datePickerRangeOrder.startDate
      );
      ftSaleshFilter.orderDateTo = this.toISOLocal(
        this.datePickerRangeOrder.endDate
      );
      ftSaleshFilter.invoiceDateFrom = this.toISOLocal(
        this.datePickerRangeInv.startDate
      );
      ftSaleshFilter.invoiceDateTo = this.toISOLocal(
        this.datePickerRangeInv.endDate
      );

      ftSaleshFilter.pageNo = this.currentPage;
      ftSaleshFilter.multiResi = this.multiResi;
      ftSaleshFilter.sortBy = "id";
      ftSaleshFilter.order = "ASC";
      ftSaleshFilter.search = this.search;
      ftSaleshFilter.listRemark = this.filterByGroupMaterialOrdered;

      if (this.filterByGroupMaterialOrdered.length > 0) {
        FtSaleshService.getAllFtSaleshContainingAndRemarkInExt(
          ftSaleshFilter
        ).then(
          (response) => {
            const { items, totalPages } = response.data;
            this.ftSaleshs = items;
            this.totalPaginationPages = totalPages;
            if (type == 1) {
              this.isLoading = false;
              this.exportSalesToFile(this.ftSaleshs);
            } else if (type == 2) {
              let ftSalesIds = items.map((item) => item.id);
              FtSaleshService.getAllFtSalesDetailByIds(ftSalesIds).then(
                (rows) => {
                  this.exportBukaPaket(rows.data, isSimple);
                  this.isLoading = false;
                }
              );
            }
          },
          (error) => {
            this.isLoading = false;
            console.log(error);
          }
        );
      } else {
        FtSaleshService.getAllFtSaleshContainingExt(ftSaleshFilter).then(
          (response) => {
            const { items, totalPages } = response.data;
            this.ftSaleshs = items;
            this.totalPaginationPages = totalPages;

            this.itemsGroupMaterialOrdered = [];
            this.ftSaleshs.forEach((item) => {
              if (item.remark.trim() != "") {
                this.itemsGroupMaterialOrdered.push(item.remark);
              }
            });

            if (type == 1) {
              this.isLoading = false;
              this.exportSalesToFile(this.ftSaleshs);
            } else if (type == 2) {
              let ftSalesIds = items.map((item) => item.id);
              FtSaleshService.getAllFtSalesDetailByIds(ftSalesIds).then(
                (rows) => {
                  this.exportBukaPaket(rows.data, isSimple);
                  this.isLoading = false;
                }
              );
            }
          },
          (error) => {
            this.isLoading = false;
            console.log(error);
          }
        );
      }
    },

    toISOLocal(d) {
      var z = (n) => ("0" + n).slice(-2);
      var zz = (n) => ("00" + n).slice(-3);
      var off = d.getTimezoneOffset();
      var sign = off > 0 ? "-" : "+";
      off = Math.abs(off);

      return (
        d.getFullYear() +
        "-" +
        z(d.getMonth() + 1) +
        "-" +
        z(d.getDate()) +
        "T" +
        z(d.getHours()) +
        ":" +
        z(d.getMinutes()) +
        ":" +
        z(d.getSeconds()) +
        "." +
        zz(d.getMilliseconds()) +
        sign +
        z((off / 60) | 0) +
        ":" +
        z(off % 60)
      );
    },

    exportSalesToFile(listFtSalesh) {
      let schema = ESchemaSales;
      if (
        this.haveRoleAdminMutlak ||
        (this.haveRolePiutang && this.currentUser.salesmanOf === 0)
      ) {
        schema = ESchemaSalesExt;
      } else if (this.haveRoleAgen) {
        schema = ESchemaSalesAgen;
      } else if (this.haveRoleSales) {
        schema = ESchemaDefault;
      }

      let fileBits = "file_rekap_sales.xlsx";

      let ftSaleshSorted = listFtSalesh.slice().sort(function (a, b) {
        return a.orderDate > b.orderDate ? 1 : -1;
      });
      this.totalWrite = 0;

      let ftSaleshReports = [];

      ftSaleshSorted.forEach((item) => {
        let ftSalesh = item;

        this.$nextTick(() => {
          setTimeout(() => {
            this.totalWrite += 1;
          }, 0.5);
        });

        ftSalesh.fdivision = this.lookupFDivision(ftSalesh.fdivisionBean);
        ftSalesh.fsalesman = this.lookupFSalesman(ftSalesh.fsalesmanBean);
        ftSalesh.fstore = this.lookupFStore(ftSalesh.fstoreBean);
        ftSalesh.fcustomer = ftSalesh.fcustomerBean;
        ftSalesh.penambahanRp = item.penambahanRp;
        ftSalesh.fwarehouse = this.lookupFWarehouse(ftSalesh.fwarehouseBean);
        ftSalesh.fexpedisi = this.lookupFExpedisi(ftSalesh.fexpedisiBean);
        ftSalesh.statusKirim = this.lookupEStatusPengiriman(
          ftSalesh.statusPengiriman
        ).shortDesc;

        ftSalesh.items = ftSalesh.remark;

        if (ftSalesh.codRp > 0) {
          ftSalesh.totalBayar = ftSalesh.codRp;
          ftSalesh.byPenanganan =
            parseFloat(item.codRp) -
            (parseFloat(item.amountAfterDiscPlusRpAfterPpn_FG) +
              parseFloat(item.ongkirRp));
        } else {
          ftSalesh.totalBayar =
            ftSalesh.amountAfterDiscPlusRpAfterPpn_FG + ftSalesh.ongkirRp;
          ftSalesh.byPenanganan = 0;
        }

        if (
          this.haveRoleAdminMutlak ||
          (this.haveRolePiutang && this.currentUser.salesmanOf === 0)
        ) {
          if (
            ftSalesh.fdivision.description === "THIO" &&
            this.currentUser.fdivisionBean !== 307 &&
            (!this.haveRoleAdmin || !this.haveRolePiutang)
          ) {
            ftSalesh.amountSalesToDist =
              this.lookupFtSalesdItemsSalesToDist(ftSalesh);
            ftSalesh.amountSalesToAgen =
              this.lookupFtSalesdItemsSalesToAgenThio(ftSalesh);
            ftSalesh.amountSalesToReseller =
              this.lookupFtSalesdItemsSalesToResellerThio(ftSalesh);
          } else {
            ftSalesh.amountSalesToDist =
              this.lookupFtSalesdItemsSalesToDist(ftSalesh);
            ftSalesh.amountSalesToAgen =
              this.lookupFtSalesdItemsSalesToAgen(ftSalesh);
            ftSalesh.amountSalesToReseller =
              this.lookupFtSalesdItemsSalesToReseller(ftSalesh);
          }
        } else if (this.haveRoleAgen) {
          if (
            ftSalesh.fdivision.description === "THIO" &&
            this.currentUser.fdivisionBean !== 307 &&
            (!this.haveRoleAdmin || !this.haveRolePiutang)
          ) {
            ftSalesh.amountSalesToRole =
              this.lookupFtSalesdItemsSalesToAgenThio(ftSalesh);
            ftSalesh.amountSalesToReseller =
              this.lookupFtSalesdItemsSalesToResellerThio(ftSalesh);
          } else {
            ftSalesh.amountSalesToRole =
              this.lookupFtSalesdItemsSalesToAgen(ftSalesh);
            ftSalesh.amountSalesToReseller =
              this.lookupFtSalesdItemsSalesToReseller(ftSalesh);
          }
        } else if (this.haveRoleSales) {
          if (
            ftSalesh.fdivision.description === "THIO" &&
            this.currentUser.fdivisionBean !== 307 &&
            (!this.haveRoleAdmin || !this.haveRolePiutang)
          ) {
            ftSalesh.amountSalesToRole =
              this.lookupFtSalesdItemsSalesToResellerThio(ftSalesh);
          } else {
            ftSalesh.amountSalesToRole =
              this.lookupFtSalesdItemsSalesToReseller(ftSalesh);
          }
        }

        ftSaleshReports.push(ftSalesh);
      });

      writeXlsxFile(ftSaleshReports, {
        schema,
        fileName: fileBits,
      });

      // this.isLoading = false;

      setTimeout(() => {
        let file = new File(fileBits, "file_rekap_sales.txt", {
          type: "xlsx/plain;charset=utf-8",
        });
        FileSaver.saveAs(file);
      }, 1000);
    },

    exportBukaPaket(listFtSalesh, isSimple) {
      let schema = ESchemaSalesDetail;
      if (isSimple) {
        schema = ESchemaSalesDetailSimple;
      }

      let fileBits = "file_rekap_sales_bukapaket.xlsx";

      let ftSaleshSorted = listFtSalesh;
      try {
        ftSaleshSorted = listFtSalesh.slice().sort(function (a, b) {
          return a.orderDate > b.orderDate ? 1 : -1;
        });
      } catch (e) {
        e.toString();
      }

      let ftSaleshReports = [];
      ftSaleshSorted.forEach((item) => {
        this.$nextTick(() => {
          setTimeout(() => {
            this.totalWrite += 1;
          }, 0.5);
        });

        let ftSalesDetail = item;
        if (!isSimple) {
          ftSalesDetail.fsalesman = this.lookupFSalesman(
            ftSalesDetail.fsalesmanBean
          );
          ftSalesDetail.fstore = this.lookupFStore(ftSalesDetail.fstoreBean);
        }
        ftSalesDetail.fdivision = this.lookupFDivision(
          ftSalesDetail.fdivisionBean
        );
        ftSalesDetail.fcustomer = ftSalesDetail.fcustomerBean;
        ftSalesDetail.fwarehouse = this.lookupFWarehouse(
          ftSalesDetail.fwarehouseBean
        );
        ftSalesDetail.fexpedisi = this.lookupFExpedisi(
          ftSalesDetail.fexpedisiBean
        );
        ftSalesDetail.statusKirim = this.lookupEStatusPengiriman(
          ftSalesDetail.statusPengiriman
        ).shortDesc;

        ftSalesDetail.pcode = this.lookupFMaterial(
          ftSalesDetail.fmaterialBean
        ).pcode;
        ftSalesDetail.pname = this.lookupFMaterial(
          ftSalesDetail.fmaterialBean
        ).pname;

        if (ftSalesDetail.fmaterialBaseSprice === "NaN")
          ftSalesDetail.fmaterialBaseSprice = 0;
        if (
          ftSalesDetail.discPersen === "NaN" ||
          ftSalesDetail.discPersen === "Infinity"
        )
          ftSalesDetail.discPersen = 0;
        if (ftSalesDetail.amountAfterDiscPlusRpAfterPpn_FG === "NaN")
          ftSalesDetail.amountAfterDiscPlusRpAfterPpn_FG = 0;
        /**
         * Jangan Buka Dulu
         */
        if (this.haveRoleAdminMutlak || this.haveRolePiutang) {
          ftSalesDetail.sprice2ToDist1 = this.lookupFMaterial(
            ftSalesDetail.fmaterialBean
          ).sprice2ToDist1;
          ftSalesDetail.sprice2ToDist2 = this.lookupFMaterial(
            ftSalesDetail.fmaterialBean
          ).sprice2ToDist2;
          ftSalesDetail.sprice2ToDist3 = this.lookupFMaterial(
            ftSalesDetail.fmaterialBean
          ).sprice2ToDist3;
        }

        ftSaleshReports.push(ftSalesDetail);
      });

      writeXlsxFile(ftSaleshReports, {
        schema,
        fileName: fileBits,
      });

      // this.isLoading = false;
      setTimeout(() => {
        let file = new File(fileBits, "file_rekap_sales.txt", {
          type: "xlsx/plain;charset=utf-8",
        });
        FileSaver.saveAs(file);
      }, 1000);
    },
  },

  mounted() {
    this.fetchParent();
    if (
      !this.currentUser ||
      (this.haveRolePiutang && this.currentUser.salesmanOf != 0)
    ) {
      /* role admin finance direct admin */
      this.$router.push("/dashboard");
    }

    if (this.currentUser.roles !== undefined) {
      if (
        this.currentUser.salesmanOf > 0 &&
        [
          ERole.ROLE_CS,
          ERole.ROLE_AGEN,
          ERole.ROLE_RSL_1,
          ERole.ROLE_RSL_2,
        ].some((x) => this.currentUser.roles.includes(x))
      ) {
        this.pageSizes = [10, 20, 40, 75, 150];
      }
    }
  },
};
</script>

<style></style>
