<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <FMaterialTable
        :data="data"
        :title="'Products'"
        :hint="'Nama, kode produk (press ENTER to search)'"
        @refreshData="fetchProduct"
        ref="refTabMaterialClick"
      >
        <v-data-table
          :headers="headers"
          :items="data.data"
          :page.sync="data.currentPage"
          :items-per-page="data.pageSize"
          hide-default-footer
          class="elevation-0"
        >
          <template v-slot:top>
            <v-row align="start" class="ml-4 mr-4">
              <div class="d-flex align-center">
                <v-select
                  v-model="data.pageSize"
                  :items="data.pageSizes"
                  label="Items per page"
                ></v-select>
              </div>

              <v-spacer></v-spacer>

              <v-btn
                fab
                dark
                elevation="0"
                color="green"
                x-small
                @click="showDialog('new')"
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-row>
          </template>

          <template v-slot:[`item.number`]="{ index }">
            {{ index + (data.currentPage - 1) * data.pageSize + 1 }}
          </template>

          <template v-slot:[`item.avatarImage`]="{ item }">
            <v-img
              :lazy-src="lookupImageUrlLazy(item.avatarImage)"
              :src="lookupImageUrl(item.avatarImage)"
              width="90px"
              height="90px"
              class="ma-2 rounded"
            >
            </v-img>
          </template>

          <template v-slot:[`item.pname`]="{ item }">
            <div class="fill-height">
              <div class="subtitle-2">{{ item.pname }}</div>
              <div class="blue--text">{{ item.pcode }}</div>
              <div class="d-flex">
                <div class="mt-2 mr-2" v-if="item.statusActive === true">
                  <v-icon color="green" small
                    >mdi-checkbox-marked-circle</v-icon
                  >
                  Active
                </div>

                <div class="mt-2 mr-2" v-else>
                  <v-icon color="grey" small>mdi-stop-circle-outline</v-icon>
                  <span class="grey--text caption"> Non-Active</span>
                </div>

                <div class="mt-2" v-if="item.showCatalog === true">
                  <v-icon color="green" small
                    >mdi-checkbox-marked-circle</v-icon
                  >
                  Catalog
                </div>

                <div class="mt-2" v-else>
                  <v-icon color="grey" small>mdi-stop-circle-outline</v-icon>
                  <span class="grey--text caption"> Non-catalog</span>
                </div>
              </div>
            </div>
          </template>

          <template v-slot:[`item.pprice2AfterPpn`]="{ item }">
            <div class="fill-height">
              Jual
              <div>
                <span class="subtitle-2">{{
                  formattedCurrencyValue("", item.sprice2AfterPpn)
                }}</span>
                <span
                  class="ml-1 blue--text caption"
                  v-if="item.taxKode != null"
                  >include {{ item.taxKode }}</span
                >
                <span class="ml-1 blue--text caption" v-else>exclude tax</span>
              </div>
              <div class="grey--text" v-if="haveRoleAdminMutlak">
                <span>{{
                  formattedCurrencyValue("", item.hpp_distributor)
                }}</span>
                |
                <span>{{ formattedCurrencyValue("", item.hpp_agen) }}</span>
                |
                <span>{{
                  formattedCurrencyValue("", item.hpp_reseller_1)
                }}</span>
                |
                <span>{{
                  formattedCurrencyValue("", item.hpp_reseller_2)
                }}</span>
              </div>

              <div>
                <span class="mt-2 caption small" v-show="haveRoleAdmin"
                  >Beli</span
                >
                <span class="ml-1">{{
                  formattedCurrencyValue("", item.pprice2AfterPpn)
                }}</span>
              </div>
            </div>
          </template>

          <template v-slot:[`item.divisionName`]="{ item }">
            <div class="fill-height">
              <div class="text-caption small">
                {{ item.divisionName }}
              </div>
              <div class="mt-2">
                {{ item.categoryName }} - {{ item.brandName }}
              </div>
            </div>
          </template>

          <template v-slot:[`item.actions`]="{ item }">
            <v-btn icon @click="showDialog('edit', item.id)">
              <v-icon small color="warning"> mdi-pencil </v-icon>
            </v-btn>

            <v-btn icon @click="validateDelete(item.id)">
              <v-icon small color="red accent-4"> mdi-delete </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </FMaterialTable>
    </v-col>

    <v-overlay opacity="0.3" :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>

    <FMaterialDialog @refreshData="fetchProduct" ref="fmaterialDialog" />
    <DeleteConfirmDialog
      ref="refDeleteConfirmDialog"
      @eventFromDeleteConfirmDialog1="deleteById"
    ></DeleteConfirmDialog>
  </v-row>
</template>

<script>
import FMaterialTable from "../components/material/FMaterialTable";
import FMaterialService from "../services/f-material-service";
import FileService from "../../../services/apiservices/file_service/file-service";
import FMaterialDialog from "../components/material/FMaterialDialog";
import DeleteConfirmDialog from "../../../components/utils/DeleteConfirmDialog";

export default {
  components: { FMaterialDialog, FMaterialTable, DeleteConfirmDialog },
  data() {
    return {
      loading: false,

      headers: [
        {
          text: "No",
          value: "number",
          width: "8%",
          sortable: false,
        },
        {
          text: "Product image",
          sortable: false,
          value: "avatarImage",
          width: "20%",
        },
        { text: "Deskripsi-Satuan", value: "pname", width: "30%" },
        { text: "Harga (Smallest)", value: "pprice2AfterPpn", width: "20%" },
        { text: "Klasifikasi", value: "divisionName", width: "25%" },
        { text: "Actions", value: "actions", align: "start", sortable: false },
      ],
      data: {
        search: "",
        data: [],
        pageSizes: [10, 25, 50, 150, 500],
        pageSize: 10,
        currentPage: 1,
        totalItems: 0,
        totalPages: 0,
      },
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleAdminMutlak() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_ADMIN")) {
          isValid = true;
        }
      }
      return isValid;
    },
  },
  methods: {
    tabMaterialClick() {
      try {
        this.$refs.refTabMaterialClick.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
    validateDelete(id) {
      this.$refs.refDeleteConfirmDialog.showDialog(
        id,
        "dengan id " + id,
        "Yakin hapus data"
      );
    },
    deleteById(id) {
      this.loading = true;
      FMaterialService.deleteFMaterial(id)
        .then((response) => {
          if (response.status === 200) {
            this.loading = false;
            this.$refs.refDeleteConfirmDialog.setDialogState(false);
            this.fetchProduct();
          }
        })
        .catch(() => {
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
          this.$swal({
            title: "Gagal delete data",
            text: "terdapat kesalahan, silahkan hubungi admin",
            icon: "error",
            confirmButtonText: "Tutup",
          });
          this.loading = false;
        })
        .finally(() => (this.loading = false));
    },
    fetchProduct() {
      this.loading = true;
      FMaterialService.getAllFMaterialContaining(
        this.data.currentPage,
        this.data.pageSize,
        "created",
        "DESC",
        this.data.search
      ).then(
        (response) => {
          const { items, totalPages } = response.data.data;
          this.data.data = items;
          this.data.totalPages = totalPages;
          this.loading = false;
        },
        (error) => {
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },

    showDialog(type, id) {
      if (type === "new") {
        this.$refs.fmaterialDialog.showDialog(null);
      } else {
        this.$refs.fmaterialDialog.showDialog(id);
      }
    },

    lookupImageUrl(item) {
      if (item === undefined || item === "" || item == null) {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_low(item);
      }
    },

    lookupImageUrlLazy(item) {
      return FileService.image_url_verylow(item);
    },

    formattedCurrencyValue(prefix, value) {
      if (!value) {
        return "0";
      }
      return prefix + "" + parseFloat(value).toLocaleString();
    },
  },
  mounted() {
    this.fetchProduct();
  },
};
</script>

<style scoped></style>
