<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <v-card flat>
        <v-tabs
          :vertical="$vuetify.breakpoint.mdAndUp"
          :centered="$vuetify.breakpoint.smAndDown"
          color="deep-purple accent-4"
          background-color="#F5F5FF5F"
        >
          <v-tab class="justify-md-start" disabled>
            <v-icon left>
              {{ firstTabIcon }}
            </v-icon>
            {{ firstTabTitle }}
          </v-tab>

          <v-tab class="justify-start" @click="tabWarehouseClick">
            PRODUCT TAX
          </v-tab>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <p></p>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FTaxTable ref="refTabWarehouseClick" />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FTaxTable from "../components/tax/FTaxTable";

export default {
  name: "ProductTax",
  components: { FTaxTable },
  data() {
    return {
      firstTabTitle: "TAX",
      firstTabIcon: "mdi-home-variant",
    };
  },
  methods: {
    tabUsersClick() {
      // this.$refs.refUsersTable.fetchParent()
    },
    tabWarehouseClick() {
      this.$refs.refTabWarehouseClick.fetchParent();
    },
  },
};
</script>

<style scoped></style>
