<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <v-card flat>
        <v-tabs
          :vertical="$vuetify.breakpoint.mdAndUp"
          :centered="$vuetify.breakpoint.smAndDown"
          color="deep-purple accent-4"
          background-color="#F5F5FF5F"
        >
          <v-tab class="justify-md-start" disabled>
            <v-icon left>
              {{ firstTabIcon }}
            </v-icon>
            {{ firstTabTitle }}
          </v-tab>

          <v-tab class="justify-start" @click="tabSalesBrandClick">
            SALES BRAND
          </v-tab>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <p></p>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FSalesBrandTable ref="refTabSalesBrandClick" />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FSalesBrandTable from "../components/sales-brand/FMaterialSalesBrandTable";

export default {
  name: "SalesBrand",
  components: {
    FSalesBrandTable,
  },
  data() {
    return {
      firstTabTitle: "BRAND",
      firstTabIcon: "mdi-file-tree",
    };
  },
  methods: {
    tabUsersClick() {
      // this.$refs.refUsersTable.fetchParent()
    },
    tabSalesBrandClick() {
      try {
        // this.$refs.refTabSalesBrandClick.fetchParent()
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
