<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <v-card flat>
        <v-tabs
          :vertical="$vuetify.breakpoint.mdAndUp"
          :centered="$vuetify.breakpoint.smAndDown"
          color="deep-purple accent-4"
          background-color="#F5F5FF5F"
        >
          <v-tab class="justify-md-start" disabled>
            <v-icon left>
              {{ firstTabIcon }}
            </v-icon>
            {{ firstTabTitle }}
          </v-tab>
          <v-tab class="justify-start"> User </v-tab>
          <v-tab class="justify-start"> Ekspedisi </v-tab>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <p></p>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FCategorySupportTicketTable />
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FCategorySupportTicketExpedisiTable />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FCategorySupportTicketTable from "../components/category/FCategorySupportTicketTable";
import FCategorySupportTicketExpedisiTable from "../components/category/FCategorySupportTicketExpedisiTable.vue";

export default {
  components: {
    FCategorySupportTicketTable,
    FCategorySupportTicketExpedisiTable,
  },
  data() {
    return {
      firstTabTitle: "Data",
      firstTabIcon: "mdi-credit-card",
    };
  },
  methods: {},
};
</script>

<style scoped></style>
