<template v-for>
  <v-row class="mx-2">
    <v-col cols="12">
      <v-row v-if="true" class="my-2">
        <v-col cols="12" sm="4" md="3" xs="12" class="d-flex child-flex">
          <v-card
            color="red darken-1"
            elevation="0"
            class="rounded no-gutters white--text"
          >
            <div class="d-flex justify-space-between py-0 my-0">
              <v-card-title class="subtitle-2 py-0 my-0">
                <span class="font-weight-black">Wait to replay</span>
              </v-card-title>
              <v-card-title class="">
                <v-avatar color="white" dark size="30">
                  <v-icon small> mdi mdi-send </v-icon>
                </v-avatar>
              </v-card-title>
            </div>
            <v-card-text class="white--text text-center pb-3 pt-0 my-0">
              <span class="font-weight-bold text-h3">{{ summary.open }}</span>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="4" md="3" xs="12" class="d-flex child-flex">
          <v-card
            color="yellow darken-3"
            elevation="0"
            class="rounded no-gutters white--text"
          >
            <div class="d-flex justify-space-between py-0 my-0">
              <v-card-title class="subtitle-2 py-0 my-0">
                <span class="font-weight-black">Pending from ekspedisi</span>
              </v-card-title>
              <v-card-title class="">
                <v-avatar color="white" dark size="30">
                  <v-icon small> mdi mdi-send </v-icon>
                </v-avatar>
              </v-card-title>
            </div>
            <v-card-text class="white--text text-center pb-3 pt-0 my-0">
              <span class="font-weight-bold text-h3">{{
                summary.pending
              }}</span>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="4" md="3" xs="12" class="d-flex child-flex">
          <v-card
            color="green darken-1"
            elevation="0"
            class="rounded no-gutters white--text"
          >
            <div class="d-flex justify-space-between py-0 my-0">
              <v-card-title class="subtitle-2 py-0 my-0">
                <span class="font-weight-black">Closed ticket</span>
              </v-card-title>
              <v-card-title class="">
                <v-avatar color="white" dark size="30">
                  <v-icon small> mdi mdi-send </v-icon>
                </v-avatar>
              </v-card-title>
            </div>
            <v-card-text class="white--text text-center pb-3 pt-0 my-0">
              <span class="font-weight-bold text-h3">{{ summary.close }}</span>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" sm="4" md="3" xs="12" class="d-flex child-flex">
          <v-card
            color="primary darken-1"
            elevation="0"
            class="rounded no-gutters white--text"
          >
            <div class="d-flex justify-space-between py-0 my-0">
              <v-card-title class="subtitle-2 py-0 my-0">
                <span class="font-weight-black">Delivered ticket</span>
              </v-card-title>
              <v-card-title class="">
                <v-avatar color="white" dark size="30">
                  <v-icon small> mdi mdi-send </v-icon>
                </v-avatar>
              </v-card-title>
            </div>
            <v-card-text class="white--text text-center pb-3 pt-0 my-0">
              <span class="font-weight-bold text-h3">{{
                summary.delivered
              }}</span>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

      <v-card flat>
        <v-tabs
          :vertical="$vuetify.breakpoint.mdAndUp"
          :centered="$vuetify.breakpoint.smAndDown"
          color="deep-purple accent-4"
          background-color="#F5F5FF5F"
          style="z-index: 0"
        >
          <v-tab class="justify-md-start" disabled style="z-index: 0">
            <v-icon left>
              {{ firstTabIcon }}
            </v-icon>
            {{ firstTabTitle }}
          </v-tab>
          <v-tab class="justify-start" @click="loadSupportTicketing">
            Ticket
          </v-tab>
          <v-tab class="justify-start" @click="loadSupportTicketingEkspedisi">
            Ekspedisi
          </v-tab>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <p></p>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FTicketTable
                  @updateSummary="updateSummary"
                  ref="refTicketUser"
                />
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FTicketTableExpedisi
                  @updateSummary="updateSummary"
                  ref="refTicketEkspedisi"
                />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FTicketTable from "../components/ticket/FTicketTable";
import FTicketTableExpedisi from '../components/ticket/FTicketTableExpedisiToUser.vue';
import FSupportTicketService from "../services/f-support-ticket-service";

export default {
  components: { FTicketTable,FTicketTableExpedisi},
  data() {
    return {
      firstTabTitle: "Data",
      firstTabIcon: "mdi-credit-card",
      summaryTicketing: [],
      summary: {
        open: 0,
        close: 0,
        pending: 0,
        delivered: 0,
      },
    };
  },
  methods: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    isHasRoleExpedisiComputed() {
      if (this.currentUser().roles) {
        return (
          this.currentUser().roles.find((e) => e.includes("ROLE_EKSPEDISI")) ===
            "ROLE_EKSPEDISI" && this.currentUser().roles.length === 1
        );
      } else {
        return false;
      }
    },
    updateSummary(payload, isEkspedisi) {
      this.loadSummaryTicketing(payload, isEkspedisi);
    },
    loadSupportTicketing() {
      this.$refs.refTicketUser.fetchFSupportTicket();
    },
    loadSupportTicketingEkspedisi() {
      this.$refs.refTicketEkspedisi.fetchFSupportTicket();
    },
    loadSummaryTicketing(payload, isEkspedisi) {
      FSupportTicketService.getSummaryTicketing(
        payload.deliveryNumber,
        payload.expedisiIds,
        payload.status,
        payload.dateEnd,
        payload.dateStart,
        isEkspedisi
      ).then(
        (res) => {
          this.summary.open = 0;
          this.summary.close = 0;
          this.summary.pending = 0;
          this.summary.delivered = 0;
          res.data.data.forEach((item) => {
            if (item.id === "OPEN") {
              this.summary.open = item.count;
            } else if (item.id === "CLOSED") {
              this.summary.close = item.count;
            } else if (item.id === "PENDING") {
              this.summary.pending = item.count;
            } else if (item.id === "DELIVERED") {
              this.summary.delivered = item.count;
            }
          });
        },
        (err) => {
          console.log(err);
        }
      );
    },
  },
};
</script>

<style scoped></style>
