<template>
  <DashboardSales></DashboardSales>
</template>

<script>
import ERole from "../../../../models/e-role";
import DashboardSales from "./SalesReportDetil";

export default {
  name: "DashboardUtama",
  components: { DashboardSales },
  data() {
    return {};
  },
  watch: {},
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    fetchParent() {
      let fetch = false;
      if (
        this.currentUser.salesmanOf > 0 &&
        [
          ERole.ROLE_CS,
          ERole.ROLE_AGEN,
          ERole.ROLE_RSL_1,
          ERole.ROLE_RSL_2,
        ].some((x) => this.currentUser.roles.includes(x))
      ) {
        fetch = true;
        this.$store.dispatch("data/loadFSalesmanChildrenAndMe");
      }

      if (fetch === false) {
        this.$store.dispatch("data/loadFSalesman");
      }
    },
  },
  mounted() {
    this.fetchParent();
  },
};
</script>

<style scoped></style>
