<template>
  <v-card elevation="0">
    <v-row class="px-5">
      <v-col cols="12" sm="4" md="4" v-if="true">
        <div class="mb-4">
          <v-row>
            <v-col cols="12" sm="12" md="12">
              <div class="caption">Total Sales:</div>
              <div class="subtitle-2">
                {{
                  formattedCurrencyValue(
                    "Rp.",
                    data.summary.reduce((accumulator, current) => {
                      return accumulator + parseInt(current.value);
                    }, 0)
                  )
                }}
              </div>

              <div class="caption">
                Paket:
                <span class="subtitle-2"
                  >{{
                    formattedCurrencyValue(
                      "",
                      Math.round(
                        data.summary.reduce((accumulator, current) => {
                          return accumulator + current.count;
                        }, 0)
                      )
                    )
                  }}
                </span>
              </div>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <v-row no-gutters>
            <v-col cols="4" sm="4" md="6">
              <v-row class="mt-1">
                <v-col cols="12" sm="12" md="12" class="subtitle-2">
                  On Proses
                  <span class="font-weight-bold">{{
                    summary.find((e) => e.status === 2, 0)
                      ? summary.find((e) => e.status === 2, 0).count
                      : 0
                  }}</span>
                </v-col>
              </v-row>
            </v-col>

            <v-col cols="4" sm="4" md="6">
              <v-row class="mt-1">
                <v-col cols="12" sm="12" md="12" class="subtitle-2">
                  Delivery
                  <span class="font-weight-bold">{{
                    summary.find((e) => e.status === 5, 0)
                      ? summary.find((e) => e.status === 5, 0).count
                      : 0
                  }}</span>
                </v-col>
              </v-row>
            </v-col>

            <v-col cols="4" sm="4" md="6">
              <v-row class="mt-1">
                <v-col cols="12" sm="12" md="12" class="subtitle-2">
                  Terkirim
                  <span class="font-weight-bold">{{
                    summary.find((e) => e.status === 6, 0)
                      ? summary.find((e) => e.status === 6, 0).count
                      : 0
                  }}</span>
                </v-col>
              </v-row>
            </v-col>

            <v-col cols="4" sm="4" md="6">
              <v-row class="mt-1">
                <v-col cols="12" sm="12" md="12" class="subtitle-2 red--text">
                  Proses Retur
                  <span class="font-weight-bold">{{
                    summary.find((e) => e.status === 10, 0)
                      ? summary.find((e) => e.status === 10, 0).count
                      : 0
                  }}</span>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="4" sm="4" md="6">
              <v-row class="mt-1">
                <v-col cols="12" sm="12" md="12" class="subtitle-2 red--text">
                  Retur Locked
                  <span class="font-weight-bold">{{
                    summary.find((e) => e.status === 11, 0)
                      ? summary.find((e) => e.status === 11, 0).count
                      : 0
                  }}</span>
                </v-col>
              </v-row>
              <!--                  <v-row no-gutters>-->
              <!--                    <v-col cols="12" sm="12" md="12">-->
              <!--                      <v-progress-circular-->
              <!--                        rotate="360"-->
              <!--                        size="80"-->
              <!--                        width="15"-->
              <!--                        color="red"-->
              <!--                        :value="-->
              <!--                          Math.round(-->
              <!--                            (totalGlobalSales.returSampaiGudang /-->
              <!--                              totalGlobalSales.retur) *-->
              <!--                              100-->
              <!--                          )-->
              <!--                        "-->
              <!--                      >-->
              <!--                        {{-->
              <!--                          Math.round(-->
              <!--                            (totalGlobalSales.returSampaiGudang /-->
              <!--                              totalGlobalSales.retur) *-->
              <!--                              100-->
              <!--                          )-->
              <!--                        }}<span class="caption">%</span>-->
              <!--                      </v-progress-circular>-->
              <!--                    </v-col>-->
              <!--                  </v-row>-->
            </v-col>
            <v-col cols="4" sm="4" md="6">
              <v-row class="mt-1">
                <v-col cols="12" sm="12" md="12" class="subtitle-2 red--text">
                  Return Complete
                  <span class="font-weight-bold">{{
                    summary.find((e) => e.status === 12, 0)
                      ? summary.find((e) => e.status === 12, 0).count
                      : 0
                  }}</span>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="4" sm="4" md="6">
              <v-row class="mt-1">
                <v-col cols="12" sm="12" md="12" class="subtitle-2 red--text">
                  Cancel
                  <span class="font-weight-bold">{{
                    summary.find((e) => e.status === 9, 0)
                      ? summary.find((e) => e.status === 9, 0).count
                      : 0
                  }}</span>
                </v-col>
              </v-row> </v-col
            ><v-col cols="4" sm="4" md="6">
              <v-row class="mt-1">
                <v-col cols="12" sm="12" md="12" class="subtitle-2 red--text">
                  Invalid Awb
                  <span class="font-weight-bold">{{
                    summary.find((e) => e.status === 401, 0)
                      ? summary.find((e) => e.status === 401, 0).count
                      : 0
                  }}</span>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="4" sm="4" md="6">
              <v-row class="mt-1">
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                  class="subtitle-2 purple--text"
                >
                  PAID
                  <span class="font-weight-bold">{{
                    summary.find((e) => e.status === 7, 0)
                      ? summary.find((e) => e.status === 7, 0).count
                      : 0
                  }}</span>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </div>
      </v-col>

      <v-col cols="12" sm="12" md="8">
        <div
          class="pa-2 rounded-lg"
          style="background-color: rgb(66, 103, 178)"
        >
          <div class="font-weight-bold subtitle-1 white--text">SALES</div>
          <div>
            <v-row>
              <v-col cols="4">
                <DateRangePicker
                  style="width: 100%"
                  :ranges="ranges"
                  v-model="datePickerRange"
                  :locale-data="dprLocale"
                  @update="changeDatePickerRange"
                  :autoApply="dprAutoApply"
                  :showDropdowns="dprShowDropdowns"
                ></DateRangePicker>
              </v-col>

              <v-col cols="4">
                <v-autocomplete
                  v-model="status"
                  :items="itemsEStatusPengiriman"
                  item-value="id"
                  item-text="shortDesc"
                  dense
                  chips
                  dark
                  small-chips
                  deletable-chips
                  clearable
                  label="Status Pengiriman"
                  multiple
                  hide-details
                ></v-autocomplete>
              </v-col>

              <v-col v-if="haveRoleAgen || haveRoleReseller" cols="4">
                <v-switch
                  color="white"
                  v-model="personalTeam"
                  :disabled="salesmanTeamNonDirectCs.length === 0"
                  class="ml-8 white--text"
                  :label="personalTeam ? 'Personal team' : 'Team'"
                  dense
                ></v-switch>
              </v-col>
            </v-row>
          </div>

          <div v-if="!personalTeam && !cantAccessTeamFeature">
            <v-row>
              <v-col cols="12" md="12">
                <v-autocomplete
                  filled
                  dark
                  item-value="id"
                  item-text="spname"
                  dense
                  v-model="statusSelected"
                  placeholder="Pilih personal team parent"
                  :items="salesmanTeamNonDirectCs"
                ></v-autocomplete>
              </v-col>
            </v-row>
          </div>

          <div v-if="!personalTeam && !cantAccessTeamFeature">
            <v-autocomplete
              filled
              dark
              item-value="id"
              item-text="spname"
              dense
              :disabled="salesmanPersonalTeamChildNonCs.length == 0"
              v-model="teamSelected"
              :items="salesmanPersonalTeamChildNonCs"
              placeholder="Pilih personal team child"
            ></v-autocomplete>
          </div>

          <div class="d-flex justify-end mt-3">
            <v-btn
              color="white"
              v-if="!cantAccessTeamFeature"
              small
              @click="fetchFtSalesh"
            >
              Terapkan
              <v-icon small class="ml-1">mdi-filter</v-icon>
            </v-btn>
          </div>
        </div>

        <div class="py-3 mt-3 overflow-y-auto" style="height: 550px">
          <div v-for="(item, i) in data.data" :key="i">
            <div :class="item.count > 0 ? '' : 'grey rounded'">
              <v-divider class="my-5" v-if="i > 0"></v-divider>
              <v-row>
                <v-col
                  cols="12"
                  sm="3"
                  md="3"
                  :class="item.count > 0 ? '' : 'ml-3'"
                >
                  <v-flex class="justify-lg-space-around">
                    <v-flex>
                      <v-avatar>
                        <img
                          :lazy-src="lookupImageUrlLazy(item)"
                          :src="lookupImageUrl(item)"
                          alt="John"
                        />
                      </v-avatar>
                    </v-flex>
                    <div v-if="item.phone > 821999">
                      <v-btn
                        x-small
                        class="no-gutters"
                        plain
                        :href="`https://api.whatsapp.com/send?phone=+62${item.phone}&text=Hi kak`"
                        target="_blank"
                      >
                        <v-icon x-small color="green">mdi-whatsapp</v-icon>
                        <span class="caption">
                          {{ item.spname }}
                        </span>
                      </v-btn>
                    </div>
                    <div v-else>
                      <v-icon x-small color="grey">mdi-whatsapp</v-icon>
                      <span class="caption">
                        {{ item.spname }}
                      </span>
                    </div>
                  </v-flex>
                </v-col>

                <v-col cols="12" sm="8" md="8">
                  <v-row
                    no-gutters
                    class="subtitle-2"
                    v-for="row in item.items"
                    :key="row.spname"
                  >
                    <v-col cols="5" sm="5" md="5">{{ row.kode }}</v-col>
                    <v-col cols="3" sm="3" md="3" class="d-flex justify-end">
                      {{ row.sumQty }}</v-col
                    >
                    <v-col cols="4" sm="4" md="4" class="d-flex justify-end">
                      {{ formattedCurrencyValue("", row.value) }}
                    </v-col>
                  </v-row>
                  <v-row no-gutters class="mb-1" v-if="item.value > 0">
                    <v-col cols="12" sm="8" md="8">
                      <div class="caption d-flex justify-start">
                        <!--                            dari-->
                        <!--                            <span class="font-weight-bold ml-1 mr-1">{{-->
                        <!--                              item.counter-->
                        <!--                            }}</span>-->
                        <!--                            transaksi-->
                        <span>{{
                          formattedCurrencyValue("Rp ", item.value)
                        }}</span>
                      </div>
                    </v-col>
                    <v-col cols="12" sm="4" md="4">
                      <div
                        class="caption grey--text font-weight-light d-flex justify-end"
                      >
                        *{{ item.distributor }} | {{ item.salesType }}
                      </div>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import FtSaleshService from "../../../sales/services/ft-salesh-service";
import ERole from "../../../../models/e-role";
import { EStatusPengirimans } from "../../../../models/e-status-pengiriman";
import FileService from "../../../../services/apiservices/file_service/file-service";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment-timezone/moment-timezone-utils";

export default {
  name: "DashboardSales",
  components: {
    DateRangePicker,
  },
  data() {
    let today = new Date();
    today.setHours(12, 0, 0, 0);
    let yesterday = new Date();
    yesterday.setDate(today.getDate() - 1);
    yesterday.setHours(12, 0, 0, 0);

    return {
      ranges: {
        Today: [today, today],
        Yesterday: [yesterday, yesterday],
        "This month": [
          new Date(today.getFullYear(), today.getMonth(), 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 31, 12, 0, 0, 0),
        ],
        "This year": [
          new Date(today.getFullYear(), 0, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), 11, 31, 12, 0, 0, 0),
        ],
        "Last month": [
          new Date(today.getFullYear(), today.getMonth() - 1, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 0, 12, 0, 0, 0),
        ],
      },
      datePickerRange: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
          .toISOString()
          .substr(0, 10),
      },
      dprLocale: {
        direction: "ltr", //direction of text
        format: "dd-mm-yyyy",
        separator: " ~ ", //separator between the two ranges
        applyLabel: "Terapkan",
        cancelLabel: "Batal",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        firstDay: 1, //ISO first day of week - see moment documenations for details
      },
      dprAutoApply: true,
      dprShowDropdowns: true,
      data: [],
      summary: [],
      personalTeam: true,
      statusSelected: null,
      teamSelected: null,
      menuDate1: false,
      status: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],

      itemsEStatusPengiriman: EStatusPengirimans,
      totalSales: 0,
    };
  },
  watch: {
    datePickerRange: function () {
      this.fetchFtSalesh();
    },
    personalTeam: function (value) {
      this.runExtendedFilter(!value);
    },
    statusSelected: function () {
      this.teamSelected = null;
    },
  },
  computed: {
    cantAccessTeamFeature() {
      return [ERole.ROLE_CS].some((x) => this.currentUser.roles.includes(x));
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    salesmanPersonalTeam() {
      return this.$store.state.data.listFSalesman
        .filter(
          (x) =>
            x.salesType === "CS_1" &&
            x.statusActive &&
            x.childOf == this.currentUser.salesmanOf
        )
        .map((e) => e.id);
    },
    salesmanPersonalTeamChildNonCs() {
      return this.$store.state.data.listFSalesman.filter(
        (x) =>
          x.salesType !== "CS_1" &&
          x.statusActive &&
          x.childOf == this.statusSelected
      );
    },
    salesmanTeamNonDirectCs() {
      return this.$store.state.data.listFSalesman.filter(
        (x) =>
          x.salesType !== "CS_1" &&
          x.statusActive &&
          x.childOf == this.currentUser.salesmanOf
      );
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleAgen() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_AGEN") ||
          this.currentUser.roles.includes("ROLE_SALES") ||
          this.currentUser.roles.includes("ROLE_PIUTANG")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleReseller() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_RSL_1") ||
          this.currentUser.roles.includes("ROLE_RSL_2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleCS() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_CS")) {
          isValid = true;
        }
      }
      return isValid;
    },
  },
  methods: {
    searchCsParent(id) {
      return this.$store.state.data.listFSalesman
        .filter(
          (x) => x.salesType === "CS_1" && x.statusActive && x.childOf == id
        )
        .map((e) => e.id);
    },
    changeDatePickerRange() {},
    fetchFtSalesh() {
      this.runExtendedFilter();
    },
    runExtendedFilter(isAllTeam = false) {
      let salesmanIds = [];
      if (isAllTeam) {
        salesmanIds = this.$store.state.data.listFSalesman
          .filter(
            (x) => x.statusActive && x.childOf === this.currentUser.salesmanOf
          )
          .map((e) => e.id);
      } else {
        if (this.personalTeam) {
          salesmanIds = this.salesmanPersonalTeam;
          if (this.currentUser.salesmanOf > 0) {
            /* personal team include dirinya*/
            salesmanIds.push(this.currentUser.salesmanOf);
          }
        }

        if (this.statusSelected != null && !this.personalTeam) {
          salesmanIds = [
            ...this.searchCsParent(this.statusSelected),
            this.statusSelected,
          ];
        }

        if (
          this.statusSelected != null &&
          this.teamSelected != null &&
          !this.personalTeam
        ) {
          salesmanIds = [
            ...this.searchCsParent(this.teamSelected),
            this.teamSelected,
          ];
        }

        /* role cs */
        if (this.haveRoleCS) {
          salesmanIds = [this.currentUser.salesmanOf];
        }

        /* role piutang non direct */
        if (
          this.currentUser.salesmanOf > 0 &&
          this.currentUser.roles.includes("ROLE_PIUTANG")
        ) {
          // untuk admin finance reseller
          salesmanIds = [this.currentUser.salesmanOf];
        }
      }

      FtSaleshService.getSalesToItems({
        salesmanIds: salesmanIds,
        status: this.status,
        dateStart: moment(this.datePickerRange.startDate).format("YYYY-MM-DD"),
        dateEnd: moment(this.datePickerRange.endDate).format("YYYY-MM-DD"),
      }).then(
        (response) => {
          this.data = response.data.data;
          this.summary = response.data.data.summary;
        },
        (error) => {
          console.log(error);
        }
      );
    },
    formattedCurrencyValue(prefix, value) {
      if (!value) {
        return "0";
      }
      return prefix + "" + parseFloat(value).toLocaleString();
    },
    lookupImageUrl(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/account_icon.png";
      } else {
        return FileService.image_url_low(item.avatarImage);
      }
    },
    lookupImageUrlLazy() {
      return "./assets/images/account_icon.png";
    },
  },
  mounted() {
    setTimeout(this.runExtendedFilter, 150);
  },
};
</script>

<style scoped></style>
