<template>
  <div >
  <MenuBar/>
    <v-container>
    <v-row>
      <v-col cols="12">
        <v-card
        flat
        class="mx-auto rounded-lg  d-flex flex-column justify-center py-5"
        >
        <div >
          <v-row class="mt-1">
            <v-col>
              <h1 class="text-center text-h4 font-weight-medium">
                Forbidden
              </h1>
            </v-col>
          </v-row>
          <v-card-text>
            <div class="d-flex flex-column justify-space-between align-center">
              <v-img

              max-width="250"
              src="/assets/images/forbidden_page.png"></v-img>
            </div>
             <h4 class="text-center font-weight-light">
               Kamu tidak mempunyai akses ke halaman ini
              </h4>
          </v-card-text>
        </div>
        </v-card>
      </v-col>
    </v-row>
    </v-container>

      <v-footer absolute padless>
        <v-row style="background-color: #4267b2" justify="center" no-gutters>
          <v-col class="py-4 white--text text-center" cols="12">
            <v-container class="py-0">
              {{ new Date().getFullYear() }} — <strong>Sellin</strong>
            </v-container>
          </v-col>
        </v-row>
    </v-footer>
  </div>
</template>
<script>
import MenuBar from "../components/MenuBar.vue";
export default {
  name: "NotFoundPage",
  components: {MenuBar},
};
</script>
<style >
#app {
  background-color: white !important;
}
</style>
