<template>
  <div style="background-color: white">
    <MenuBar
      v-if="
        this.$router.currentRoute.path === '/' ||
        this.$router.currentRoute.path === ''
      "
    />

    <v-container class="pt-lg-0 pt-10">
      <v-row class="d-flex align-center justify-lg-space-around">
        <v-col cols="12" md="6">
          <div class="">
            <div
              class="d-inline-block text-lg-h2 text-h4 font-weight-medium text-center text-lg-start"
            >
              Jualan <span class="primary--text font-weight-bold">jadi</span>
              gampang bersama
              <img width="120" src="/assets/landing/logoCrop.svg" />
            </div>
          </div>
          <div class="text-body-1 text-lg-start text-center py-8">
            Platfrom management order bisnis online yang menyediakan beragam
            produk dan dapat dijual oleh pemula yang baru ingin memulai untuk
            berbisnis. Jualan menjadi gampang hingga memiliki penghasilan
            tambahan bersama sellin tanpa biaya registrasi.
          </div>
          <div class="d-flex justify-lg-start justify-center">
            <v-btn outlined large color="#4267B2"> Daftar Sekarang </v-btn>
          </div>
        </v-col>
        <v-col cols="12" md="5" offset-lg="1" class="hidden-md-and-down">
          <v-img src="/assets/landing/assets-1.png"></v-img>
        </v-col>
      </v-row>

      <v-row class="py-6">
        <v-col cols="12">
          <div
            class="text-lg-h4 text-h5 text-center font-weight-medium"
            style="color: #1d1d1d"
          >
            Our partner
          </div>
        </v-col>
        <v-col cols="12" class="d-flex align-center our_partner">
          <v-img
            max-height="80"
            max-width="180"
            src="/assets/landing/jne.png"
          ></v-img>
          <v-img
            max-height="43"
            max-width="142"
            src="/assets/landing/jnt.png"
          ></v-img>
          <v-img
            max-height="63"
            max-width="159"
            src="/assets/landing/sicepat.png"
          ></v-img>
          <v-img
            max-height="63"
            max-width="140"
            src="/assets/landing/anteraja.png"
          ></v-img>
          <v-img
            max-height="57"
            max-width="138"
            src="/assets/landing/ninja.png"
          ></v-img>
          <v-img
            max-height="79"
            max-width="118"
            src="/assets/landing/idexpress.png"
          ></v-img>
          <v-img
            max-height="78"
            max-width="116"
            src="/assets/landing/sap.png"
          ></v-img>
        </v-col>
      </v-row>

      <v-row class="py-9">
        <v-col cols="12" md="6" class="hidden-md-and-down">
          <v-img
            max-width="477"
            max-height="469.98"
            src="/assets/landing/assets-2.png"
          ></v-img>
        </v-col>
        <v-col cols="12" md="6">
          <div
            class="text-lg-h3 text-h4 text-center text-lg-start font-weight-bold"
          >
            <span style="color: #4267b2">Mudah</span> akses untuk memulai
          </div>
          <v-expansion-panels class="mt-6" v-model="activePanel" multiple flat>
            <v-expansion-panel
              v-for="(item, i) in [
                {
                  header: '1.Tersedia Catalog Product',
                  paragraf: `Kami menyediakan produk dengan kualitas terjamin, harga yang terjangkau dan jual dengan profit yang tinggi.Tidak perlu memikirkan soal packing, pengiriman, dan stok. kamu cukup fokus dengan penjualan, Jualan jadi semudah ini.`,
                },
                {
                  header: '2.Management team sales',
                  paragraf: `Management team lebih mudah dalam 1 platform, Kembangkan jaringan bersama tim, saling membantu untuk mendapatkan penghasilan yang lebih tinggi`,
                },
                {
                  header: '3.Pengiriman',
                  paragraf: `Kirim Paket Orderan dari Reguler, Kargo & COD Nikmati layanan kirim paket lengkap, aman, dan lebih menguntungkan dengan Cashback Ongkir. sistem terintegrasi dengan berbagai ekspedisi, terbitkan resi dan tracking serba otomatis agar  Return tetap rendah`,
                },
                {
                  header: '4.Marketing Kit Lengkap',
                  paragraf: `Ga perlu ribet buat foto product, bikin landingpage, karna Kami sediakan semua aset marketing yang kamu butuhkan, Jadi, kamu hanya fokus Scaleup jualanmu aja `,
                },
              ]"
              :key="i"
            >
              <v-expansion-panel-header class="font-weight-medium text-h6 pl-0">
                {{ item.header }}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                {{ item.paragraf }}
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
      </v-row>

      <v-row class="py-8 d-flex align-center justify-lg-space-between">
        <v-col cols="12" md="6" class="text-lg-start text-center">
          <div
            class="text-lg-h4 text-h5 font-weight-medium"
            style="color: #4267b2"
          >
            Jangan Khawatir!
          </div>
          <div class="text-lg-h3 text-h4 font-weight-medium mt-3 mb-6">
            Belajar jualan mulai dari Dropshipping
          </div>
          <div class="text-body-1">
            Dapatkan income baru tanpa memikirkan modal besar untuk stock
            produk, sistem pengiriman, dan sewa lahan untuk gudang. Belajar
            bersama team marketing kami untuk jualan diberbagai platform dengan
            metode organic maupun ads.
          </div>
        </v-col>
        <v-col cols="12" md="6">
          <v-img
            max-width="500"
            max-height="465.07"
            src="/assets/landing/assets-3.png"
          ></v-img>
        </v-col>
      </v-row>

      <v-row class="py-13">
        <v-col cols="12">
          <div
            class="text-h4 text-center font-weight-medium"
            style="color: #1d1d1d"
          >
            Our brand
          </div>
        </v-col>
        <v-col cols="12">
          <v-row class="text-center">
            <v-col cols="12" md="12" class="d-flex justify-center">
              <v-img
                class="text-center"
                max-width="199"
                max-height="166"
                src="/assets/landing/prd-1.png"
              ></v-img>
            </v-col>

            <v-col cols="12" md="3">
              <v-img
                max-width="250"
                max-height="140"
                class="mx-auto"
                src="/assets/landing/prd-2.png"
              ></v-img>
            </v-col>

            <v-col cols="12" md="3">
              <v-img
                max-width="250"
                max-height="140"
                class="mx-auto"
                src="/assets/landing/prd-3.png"
              ></v-img>
            </v-col>

            <v-col>
              <v-img
                max-width="250"
                max-height="140"
                class="mx-auto"
                src="/assets/landing/prd-4.png"
              ></v-img>
            </v-col>

            <v-col>
              <v-img
                max-width="250"
                max-height="140"
                class="mx-auto"
                src="/assets/landing/prd-5.png"
              ></v-img>
            </v-col>

            <v-col cols="12" md="3">
              <v-img
                max-width="250"
                max-height="140"
                class="mx-auto"
                src="/assets/landing/prd-6.png"
              ></v-img>
            </v-col>

            <v-col cols="12" md="3">
              <v-img
                max-width="250"
                max-height="140"
                class="mx-auto"
                src="/assets/landing/prd-7.png"
              ></v-img>
            </v-col>

            <v-col>
              <v-img
                max-width="250"
                max-height="140"
                class="mx-auto"
                src="/assets/landing/prd-8.png"
              ></v-img>
            </v-col>

            <v-col>
              <v-img
                max-width="250"
                max-height="140"
                class="mx-auto"
                src="/assets/landing/prd-9.png"
              ></v-img>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-row class="py-6">
      <v-col cols="12" class="text-center">
        <div class="text-h6 font-weight-medium" style="color: #4267b2">
          Kata mereka
        </div>
        <div class="text-h4 font-weight-medium" style="color: #1d1d1d">
          Belajar asik bersama komunitas
        </div>
      </v-col>
      <v-col cols="12" class="py-16">
        <v-img src="/assets/landing/testi.svg"></v-img>
      </v-col>
    </v-row>

    <v-container class="py-7">
      <v-col cols="12" class="text-center">
        <div class="text-h6 font-weight-medium" style="color: #4267b2">
          Gabung bersama kami
        </div>
        <div class="text-h4 font-weight-medium my-5" style="color: #1d1d1d">
          Siapkan diri untuk jualan bersama Sellin!
        </div>
        <v-btn
          elevation="0"
          rounded
          color="#4267B2"
          class="white--text"
          style="text-transform: capitalize"
          large
          >Gratis registrasi</v-btn
        >
      </v-col>
    </v-container>

    <AppFooter />
  </div>
</template>

<script>
import AppFooter from "../components/AppFooter.vue";
import MenuBar from "../components/MenuBar";

export default {
  components: {
    AppFooter,
    MenuBar,
  },
  data() {
    return {
      activePanel: [0],
    };
  },
};
</script>

<style scoped>
.our_partner > .v-image {
  margin-right: 48px;
}

.our_partner {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.our_partner::-webkit-scrollbar {
  display: none;
}
</style>
