<template>
  <div class="white">
    <MenuBar />
    <v-container class="pb-15">
      <v-row>
        <v-col>
          <h3 class="mb-5">
            Syarat dan Ketentuan yang ditetapkan di bawah ini mengatur pemakaian
            jasa yang ditawarkan oleh PT Sastro Utama Media Grup terkait
            penggunaan situs ({{ linkSellin }}) sebagai merchant. Merchant
            diwajibkan membaca dengan seksama karena syarat dan ketentuan ini
            berdampak kepada hak dan kewajiban masing-masing merchant
            berdasarkan hukum yang sedang berlaku.
          </h3>

          <p>A. DEFINISI</p>
          <ol>
            <li>
              Sellin adalah platform digital yang menghubungkan antara merchant
              dengan brand, mempermudah penjualan dengan membantu merchant
              mengelola data orderan, pergudangan hingga proses pengiriman.
            </li>
            <li>
              Situs Sellin yaitu {{ linkSellin }}dijalankan dan dikelola oleh PT
              Sastro Utama Media Grup.
            </li>
            <li>
              Syarat dan Ketentuan adalah perikatan yang berupa perjanjian
              antara masing-masing merchant dan Sellin yang berisikan
              seperangkat kesepakatan yang mengatur hak, kewajiban, tanggung
              jawab masing-masing merchant dan PT Sastro Utama Media Grup, serta
              tata cara penggunaan sistem layanan Situs Sellin.
            </li>
            <li>
              Merchant adalah masing-masing subyek hukum yang menggunakan dan
              terdaftar secara resmi di layanan Sellin sebagai individu yang
              menjual produk yang ada di dalam situs Sellin.
            </li>
            <li>
              Brand adalah pihak yang menyediakan produk yang dijual dan ada di
              dalam situs Sellin.
            </li>
            <li>
              Customer adalah orang yang melakukan transaksi dengan merchant dan
              di proses pada situs Sellin.
            </li>
            <li>
              Produk adalah barang-barang yang beragam mulai dari kebutuhan
              primer hingga sekunder yang disediakan oleh Sellin untuk dijual
              oleh merchant kepada customer dan disediakan dengan menggunakan
              jasa brand, yang dapat diantar / memenuhi kriteria pengiriman oleh
              perusahaan jasa pengiriman produk.
            </li>
            <li>
              Order adalah proses pembelian setelah merchant mendapatkan
              customer yang akan melakukan pembelian produk. Order dilakukan
              oleh merchant di {{ linkSellin }} dan di proses oleh Sellin jika
              melakukan pembayaran melalui sistus pribadi.
            </li>
            <li>
              Situs pribadi adalah situs e-commerce dan/atau landing page
              dan/atau web-site yang dimiliki merchant yang dijlankan diluar
              layanan Sellin.
            </li>
            <li>
              Perusahaan jasa pengiriman produk adalah pihak ketiga yang
              digunakan oleh Sellin untuk mengirimkan produk kepada customer,
              yang mana perusahaan jasa pengiriman produk tersebut memiliki
              kebijakan sendiri dalam mengirimkan produk.
            </li>
          </ol>
          <p>B. KETENTUAN UMUM</p>
          <ol>
            <li>
              Merchant dan customer dengan ini menyatakan bahwa merchant
              dan/atau customer adalah orang yang cakap dan mampu untuk
              mengikatkan dirinya dalam sebuah perjanjian yang sah menurut
              hukum.
            </li>
            <li>
              Sellin bertanggung jawab atas packaging, proses pengiriman sampai
              produk diterima oleh customer. Sellin tidak bertanggung jawab jika
              terjadi rusaknya reputasi pihak lain dan/atau terjadinya segala
              bentuk perselisihan yang dapat terjadi antara merchant dan/atau
              customer.
            </li>
            <li>
              Sellin selalu berusaha untuk memberikan deskripsi yang akurat
              tentang produk, namun tidak bertanggung jawab atas jaminan bahwa
              deskripsi tersebut akurat, terkini atau bebas dari kesalahan.
              Kemiripan gambar produk dengan produk aslinya tidak mungkin sama
              100%, dikarenakan adanya perbedaan warna, cahaya kamera saat
              pemotretan dan/ atau keadaan monitor komputer yang berbeda-beda.
            </li>
            <li>
              Sellin tanpa pemberitahuan terlebih dahulu kepada merchant,
              memiliki kewenangan untuk melakukan tindakan yang perlu atas
              setiap dugaan pelanggaran atau pelanggaran Syarat dan Ketentuan
              dan/atau hukum yang berlaku.
            </li>
            <li>
              Merchant bertanggung jawab secara pribadi untuk menjaga
              kerahasiaan akun dan password untuk semua aktivitas yang terjadi
              dalam akun merchant.
            </li>
            <li>
              Sellin tidak meminta password akun merchant untuk alasan apapun.
              Sellin juga menghimbau merchant agar segera menghubungi dan
              menginformasikan ke Sellin jika ada pihak ketiga maupun pihak yang
              mengatasnamakan Sellin meminta password akun dari merchant.
            </li>
            <li>
              Merchant dengan ini menyatakan bahwa Sellin tidak bertanggung
              jawab atas kerugian atau kerusakan yang timbul dari penyalahgunaan
              akun merchant.
            </li>
            <li>
              Harga jual produk, harga ke merchant yang tercantum dalam Sellin
              dihitung sesuai kebijakan Sellin yang dapat berubah sewaktu-waktu.
            </li>
            <li>
              Merchant dilarang untuk menciptakan dan/atau menggunakan
              perangkat, aplikasi, perangkat lunak, fitur dan/atau alat lainnya
              yang bertujuan untuk melakukan manipulasi pada sistem Sellin.
            </li>
            <li>
              Merchant menjamin bahwa tidak melanggar hak kekayaan intelektual
              dalam memasarkan produk dari Sellin. Setiap merchant dengan ini
              bertanggung jawab secara pribadi atas pelanggaran hak kekayaan
              intelektual dalam membuat konten.
            </li>
            <li>
              Merchant setuju untuk selalu mengakses dan/atau menggunakan Sellin
              hanya untuk tujuan yang tidak melanggar hukum, dan dengan cara
              yang sah dan selanjutnya setuju untuk melakukan kegiatan yang
              berkaitan dengan Sellin dengan itikad baik.
            </li>
            <li>
              Merchant setuju untuk selalu memastikan bahwa setiap informasi
              atau data yang merchant berikan/masukkan ke Sellin adalah akurat
              dan setuju untuk bertanggung jawab atas informasi dan data
              tersebut sesuai kebijakan privasi.
            </li>
            <li>
              Merchant yang ingin bergabung dan/atau menggunakan situs Sellin
              minimal usia 18 tahun.
            </li>
            <li>
              Merchant bertanggung jawab atas segala risiko yang timbul di
              kemudian hari atas informasi yang diberikannya ke dalam Sellin,
              termasuk namun tidak terbatas pada hal-hal yang berkaitan dengan
              Hak Kekayaan Intelektual.
            </li>
            <li>
              Sellin berhak menyesuaikan dan/atau menghapus informasi produk,
              brand dan menonaktifkan akun merchant.
            </li>
            <li>
              Sellin (termasuk pemegang saham, komisaris, direktur, dan
              karyawan) tidak bertanggung jawab, dan merchant setuju untuk tidak
              menuntut Sellin bertanggung jawab, atas segala kerusakan atau
              kerugian (termasuk namun tidak terbatas pada hilangnya uang,
              reputasi, biaya, bunga, denda, keuntungan, kerugian materiil atau
              kerugian immateriil) yang diakibatkan secara langsung atau tidak
              langsung dari:
            </li>
            <ul class="b">
              <li>
                Penggunaan atau ketidakmampuan merchant dalam menggunakan
                layanan Sellin.
              </li>
              <li>
                Harga produk, pengiriman atau petunjuk lain yang tersedia dalam
                layanan Sellin.
              </li>
              <li>Keterlambatan atau gangguan dalam layanan Sellin.</li>
              <li>
                Kelalaian dan kerugian yang ditimbulkan oleh masing-masing
                merchant.
              </li>
              <li>Pelanggaran Hak atas Kekayaan Intelektual.</li>
              <li>Perselisihan antar merchant dan/atau customer.</li>
              <li>Pencemaran nama baik pihak lain.</li>
              <li>
                Setiap penyalahgunaan produk yang sudah dibeli pihak customer.
              </li>
              <li>
                Kerugian akibat pembayaran tidak resmi kepada pihak lain yang
                tidak sesuai dengan prosedur transaksi atau tata cara pembayaran
                yang ditetapkan Sellin.
              </li>
              <li>
                Virus atau perangkat lunak berbahaya lainnya yang diperoleh
                dengan mengakses, atau menghubungkan ke layanan Sellin.
              </li>
              <li>
                Kerusakan pada perangkat keras merchant dari penggunaan setiap
                layanan Sellin.
              </li>
              <li>
                Isi, tindakan, atau tidak adanya tindakan dari pihak ketiga,
                termasuk terkait dengan produk yang ada dalam situs Sellin yang
                diduga melanggar Hak Kekayaan Intelektual.
              </li>
              <li>
                Tindak penegakan yang diambil sehubungan dengan akun merchant.
              </li>
              <li>
                Adanya tindakan peretasan yang dilakukan oleh pihak ketiga
                kepada akun merchant dan/atau customer.
              </li>
              <li>
                Hati-hati terhadap penipuan yang mengatasnamakan Sellin. Untuk
                informasi dan pengaduan, silakan hubungi info@sastro.id
              </li>
            </ul>
            <li>
              Syarat dan Ketentuan dapat berubah sewaktu-waktu dan/atau
              diperbaharui dari waktu ke waktu tanpa pemberitahuan terlebih
              dahulu. Dengan mengakses Sellin, merchant dianggap menyetujui
              perubahan-perubahan dalam Syarat dan Ketentuan.
            </li>
            <li>
              Dengan mendaftar dan/atau menggunakan Situs Sellin, maka
              masing-masing merchant dianggap telah membaca, mengerti, memahami
              dan menyetujui semua isi dalam Syarat dan Ketentuan ini. Syarat
              dan Ketentuan ini merupakan perikatan berupa perjanjian yang sah
              antara masing-masing merchant dengan Sellin. Jika ada merchant
              yang tidak menyetujui salah satu, sebagian, atau seluruh isi
              Syarat dan Ketentuan ini, maka merchant tersebut tidak
              diperkenankan mengakses atau menggunakan layanan di Sellin dan
              mohon agar segera berhenti atau menutup atau keluar dari Sellin.
            </li>
          </ol>
          <p>C. UNTUK MERCHANT / KODE ETIK MERCHANT</p>
          <p>C-1 Ketentuan Umum</p>
          <ol>
            <li>
              Merchant setuju akan bergabung sebagai keanggotaan merchant Sellin
              seumur hidup tanpa ada ketentuan transaksi awal dan akun merchant
              akan aktif selamanya. Sellin berhak menonaktifikan akun merchant
              termasuk namun tidak terbatas apabila ditemukan terjadi pemalsuan
              data atau kecurangan yg merugikan Sellin.
            </li>
            <li>
              Merchant akan mendapatkan akun merchant Sellin yang menggunakan
              nomor handphone, password dan merchant ID.
            </li>
            <li>
              Merchant setuju untuk memberikan informasi personal yang
              sebenar-benarnya sesuai yang tertera pada Kebijakan Privasi,
              termasuk namun tidak terbatas pada:
            </li>

            <ul class="b">
              <li>Nama Lengkap</li>
              <li>Alamat Email</li>
              <li>Nomor WhatsApp</li>
              <li>Tanggal Lahir</li>
              <li>Jenis Kelamin</li>
              <li>Foto KTP</li>
              <li>Rekening Bank sesuai nama merchant</li>
            </ul>

            <li>
              Merchant dilarang untuk memalsukan identitas sebagai orang lain,
              misalnya memalsukan identitas diri merchant dan/atau karyawan
              Sellin, dan menggunakan nomor handphone, nomor KTP atau alamat
              e-mail palsu.
            </li>
            <li>
              Merchant setuju untuk memastikan menggunakan nomor telepon aktif
              yang didaftarkan di dalam Sellin, termasuk juga akun Whatsapp
              aktif, Telegram aktif dan e-mail aktif
            </li>
            <li>
              Semua merchant harus mematuhi semua Syarat, Ketentuan dan kode
              etik merchant yang ditentukan oleh Sellin.
            </li>
            <li>
              Seluruh merchant adalah satu komunitas di dalam naungan Sellin
              dalam hal pemasaran dan penjualan, sehingga diwajibkan untuk dapat
              saling menjalin hubungan dan komunikasi yang membangun dan positif
              sesama merchant.
            </li>
            <li>
              Untuk pemesanan dengan sistem Non COD (tidak bayar di tempat) dan
              selain produk digital, merchant wajib menjual produk dengan harga
              ke customer yang sudah di tentukan oleh Sellin yang tertera dalam
              katalog, website, dan/atau materi penjualan apapun tidak boleh
              lebih ataupun kurang. Merchant menyetujui bahwa harga produk tidak
              termasuk ongkos kirim yang ditentukan oleh jasa ekspedisi
              pengiriman produk.
            </li>
            <li>
              Merchant dilarang untuk menciptakan dan/atau menggunakan
              perangkat, perangkat lunak, fitur dan/atau alat lainnya yang
              bertujuan untuk melakukan manipulasi Situs Sellin.
            </li>
            <li>
              Sellin berhak untuk memutuskan hubungan kerja sama dengan merchant
              jika ada pelanggaran yang sudah dicantumkan dalam ketentuan ini.
            </li>
          </ol>
          <p>C-2 KETENTUAN ASET VISUAL / CONTENT</p>
          <ol>
            <li>
              Segala produk yang ada didalam situs Sellin telah disediakan
              content yang siap dipakai untuk melakukan promosi penjualan,
              selanjutnya merchant diperbolehkan untuk memodifikasi content
              (kecuali logo produk dan dokumen produk).
            </li>
            <li>
              Sellin tidak bertanggung jawab apabila terjadi perselisihan
              terkait content, yang termasuk penjiplakan, manipulasi, dan
              menggunakan tanpa izin yang legal.
            </li>
            <li>
              Apabila poin 1 dan 2 dilanggar, maka merchant telah setuju untuk
              dikenakan sanksi yang telah disepakati berupa denda (Rp. 500.000 –
              Rp. 10.000.000) tergantung jenis pelanggaran, bahkan sanksi pidana
              atas kelalaian merchant.
            </li>
          </ol>
          <p>C-3 PENJUALAN DAN ORDER</p>
          <ol>
            <li>
              Merchant setuju dan diwajibkan untuk selalu aktif dalam memasarkan
              dan menjual produk di Sellin kepada customer.
            </li>
            <li>
              Merchant menyetujui dan memahami bahwa “harga ke customer” yang
              tertera dalam katalog, website, dan/atau materi penjualan apapun
              adalah harga yang harus diperlihatkan kepada customer.
            </li>
            <li>
              Dalam memberikan penawaran atau melakukan pembelian, merchant
              dianggap telah membaca, memahami, dan menyetujui
              informasi/deskripsi sebelum membuat tawaran atau komitmen untuk
              menjual kepada customer. Sellin tidak menerima klaim dalam bentuk
              apa pun yang disebabkan oleh kesalahan atau kelalaian merchant
              dalam membaca informasi atau deskripsi produk.
            </li>
            <li>
              Untuk proses Order yang langsung melalui merchant dari customer di
              situs pribadi, sepenuhnya merupakan tanggung jawab merchant.
            </li>
            <li>
              Merchant menyetujui, memahami dan mengetahui bahwa Order yang
              dilakukan lewat situs Sellin akan dikenakan “harga reseller”.
            </li>
            <li>
              Merchant dapat mempromosikan situs pribadi melalui media apapun,
              disarankan melalui Whatsapp, seperti di sosial media ataupun
              offline seperti di toko sendiri, secara personal lewat keluarga,
              teman, kerabat dan komunitas.
            </li>
            <li>
              Sellin tidak bertanggung jawab terhadap segala perselisihan antara
              merchant dengan para customer dari merchant, kecuali dapat
              dibuktikan bahwa perselisihan tersebut disebabkan oleh kesalahan
              atau kelalaian Sellin.
            </li>
            <li>
              Merchant berhak mendapatkan materi berupa deskripsi lengkap
              produk, foto produk dan informasi lainnya untuk digunakan beriklan
              dan materi pembelajaran.
            </li>
            <li>
              Merchant berhak mendapatkan materi edukasi dan materi kepemimpinan
              dari Sellin, termasuk namun tidak terbatas pada: dukungan pribadi
              lewat Whatsapp, grup Telegram dan pelatihan offline sesuai dengan
              kondisi dan kebijakan dari Sellin.
            </li>
          </ol>
          <p>C-4 PROMO DAN CAMPAIGN</p>
          <ol>
            <li>
              Merchant berhak mendapatkan promosi selama waktu yang ditentukan
              oleh pihak Sellin berupa diskon, voucher, cashback, dan mengikuti
              campaign.
            </li>
            <li>
              Promo dan campaign yang akan dijalankan harus sesuai dengan yang
              diumumkan oleh pihak Sellin.
            </li>
            <li>
              Merchant yang membuat promo dan campaign diluar dari batas waktu,
              nilai dan ketentuan yang telah ditentukan oleh pihak Sellin, maka
              berhak dikenai sanksi berupa penghapusan produk, denda, hingga
              pemberhentian penjualan.
            </li>
          </ol>
          <p>C-5 PENGIRIMAN</p>
          <ol>
            <li>
              Merchant menyadari, memahami, mengetahui, dan menyetujui bahwa
              produk dikirimkan bukan menggunakan jasa Sellin, melainkan
              menggunakan perusahaan jasa pengiriman produk yang memiliki
              kebijakan sendiri terkait pengiriman produk.
            </li>
            <li>
              Ongkos kirim akan dikenakan untuk pembelian produk di Sellin
              sesuai dengan kebijakan Sellin dan/atau perusahaan jasa pengiriman
              produk yang dapat berubah sewaktu-waktu.
            </li>
            <li>
              Sellin tidak memberikan jaminan apapun juga terkait ketepatan
              waktu pengiriman produk.
            </li>
            <li>
              Merchant dengan ini menyetujui untuk menerima kebijakan Sellin
              terkait pengembalian
            </li>
            <li>
              uang untuk pembayaran yang terlambat, yang dapat berubah
              sewaktu-waktu.
            </li>
            <li>
              Merchant memahami dan menyetujui bahwa setiap masalah pengiriman
              produk (termasuk tapi tidak terbatas pada penundaan dan/atau
              pembatalan pengiriman produk) yang disebabkan keterlambatan
              pembayaran adalah merupakan tanggung jawab dari merchant.
            </li>
          </ol>

          <p>C-6 PENGEMBALIAN / RETUR</p>
          <ol>
            <li>
              Jika produk yang telah dikirim ke customer retur, dipastikan
              kondisi produk belum digunakan, tag produk tidak rusak, dan produk
              harus dalam kemasan merk asli.
            </li>
            <li>
              Untuk seluruh produk yang akan diretur, mohon dipastikan BUKAN
              diluar produk yang disediakan oleh Sellin.
            </li>
            <li>
              Untuk seluruh produk yang akan diretur, merchant dan/ atau
              customer wajib melampirkan video unboxing sebelum paket dibuka.
            </li>
            <li>
              Untuk penggantian barang retur akan diberikan dalam bentuk
              potongan tagihan dikurangi biaya re-packing.
            </li>
            <li>
              Batas waktu claim retur adalah 6 bulan terhitung sejak tanggal
              order, jika jatuh tempo di tahun berikutnya maka maksimal claim
              adalah di bulan Maret tahun berikutnya.
            </li>
          </ol>

          <p>C-7 COMPLAIN PRODUK</p>
          <ol>
            <li>
              Produk yang dapat di complain adalah produk yang diterima customer
              dalam situasi; kelalaian pihak Sellin ketika mengirim produk yang
              berbeda dari transaksi, produk pecah atau rusak pada saat
              diterima.
            </li>
            <li>
              Jika merchant klaim kepada pihak Sellin terkait customer yang
              mengajukan complain harus disertakan video unboxing yang dimulai
              dari sebelum paket dibuka.
            </li>
          </ol>

          <p>C-8 PENGEMBALIAN UANG / REFUND</p>
          <ol>
            <li>
              Jika merchant dan/ atau customer tidak puas dengan pembelian atau
              mengalami kendala karena barang yang dipesan sudah habis setelah
              transfer, mengalami keterlambatan pengiriman melebihi batas wajar
              (minimal dua minggu), atau barang yang cacat atau mengalami
              kerusakan, namun tidak termasuk kerusakan barang/produk karena
              kesalahan pengiriman oleh ekspedisi. Merchant dapat meminta
              pengembalian uang pembelian barang senilai jumlah pembelian barang
              tersebut kepada Sellin dalam waktu dua (2) hari sejak diterima
              barangnya jika barangnya telah dikirim, atau pada saat itu juga
              jika mengalami kendala kehabisan stok atau keterlambatan
              pengiriman melebihi batas wajar, terhitung dari tanggal penerimaan
              yang tertera di laporan resi pengiriman. Produk harus belum
              digunakan, tag produk tidak rusak, dan produk harus dalam kemasan
              merek asli (jika ada).
            </li>
            <li>
              Untuk melakukan proses permintaan Pengembalian Uang, merchant
              harus menghubungi Customer Support Sellin terlebih dahulu di Nomer
              WA +62 853-3711-5755
            </li>
            <li>
              Jika produk sudah terkirim ke alamat merchant dan/ atau custoner
              maka pengembalian uang hanya akan dilakukan setelah barang
              dikembalikan/diretur ke gudang Sellin. merchant dan/ atau customer
              harus memastikan bahwa produk yang dikirim kepada Sellin dalam
              kondisi yang sama seperti ketika diterima dan dikemas dengan baik.
              Dalam hal ini, jika barang dikembalikan kepada Sellin dalam
              kondisi yang tidak sesuai, Sellin berhak untuk tidak menerima
              pengembalian dan mengirim produk kembali kepada merchant dan/ atau
              customer.
            </li>
            <li>
              Sellin menerima seluruh produk yang akan diretur apabila produk
              tersebut merupakan produk yang disediakan oleh Sellin.
            </li>
            <li>
              Merchant dapat mengirim produk yang akan dikembalikan melalui jasa
              pengiriman yang dipilih ke alamat Jl. Ligar Agung No. 37, Kel.
              Cibeunying, Kec. Cimenyan, Kab. Bandung, Jawa Barat 40191.
            </li>
            <li>
              Produk yang merchant dan/ atau customer kembalikan bersama dengan
              slip pengembalian biasanya akan diterima di gudang Sellin dalam
              waktu lima (5) hari kerja setelah diantarkan ke kantor ekspedisi.
              Refund akan diproses minimal 2 x 24 jam dan hari kerja sejak
              produk sampai di gudang Sellin.
            </li>
          </ol>

          <p>D. LAIN-LAIN</p>
          <ol class="mb-15">
            <li>
              Apabila merchant menggunakan fitur-fitur yang tersedia pada situs
              Sellin, maka merchant dengan ini menyatakan, memahami, dan
              menyetujui segala syarat dan ketentuan yang diatur khusus
              sehubungan dengan fitur-fitur tersebut.
            </li>
            <li>
              Syarat dan Ketentuan ini yang merupakan perjanjian antara setiap
              merchant dan Sellin akan diatur menggunakan hukum Indonesia.
            </li>
          </ol>
        </v-col>
      </v-row>
    </v-container>

    <v-footer absolute padless>
      <v-row style="background-color: #4267b2" justify="center" no-gutters>
        <v-col class="py-4 white--text text-center" cols="12">
          <v-container class="py-0">
            {{ new Date().getFullYear() }} — <strong>Sellin</strong>
          </v-container>
        </v-col>
      </v-row>
    </v-footer>
  </div>
</template>

<script>
import MenuBar from "../components/MenuBar.vue";

export default {
  name: "Tnc",
  components: { MenuBar },
  data() {
    return {
      linkSellin: "https://sastro.id",
    };
  },
};
</script>

<style>
#app {
  background-color: white !important;
}
</style>
