<template>
  <div>
    <v-alert
      class="mt-5"
      type="warning"
      v-if="!showInfo && !isCloseBannerInfo"
      icon="mdi-bell"
      dismissible
    >
      <template v-slot:close="{ toggle }">
        <v-icon @click="onCloseBannerInfo(toggle)">mdi-close</v-icon>
      </template>

      Tekan tombol dengan icon <v-icon>mdi-refresh</v-icon> untuk refresh data
      (jangan reload web)</v-alert
    >
    <v-card flat class="elevation-0 mb-10 mt-5">
      <v-card-title class="mb-0 pb-0">
        <v-row align="center">
          <v-col cols="12" md="6" sm="12">
            {{ title }}
          </v-col>
          <v-spacer></v-spacer>
          <v-col
            cols="12"
            md="6"
            lg="4"
            sm="12"
            class="d-flex justify-end align-center"
          >
            <v-text-field
              @keydown.enter="searchOnEnter"
              hint="Nama Penerima, No HP, Resi-AWB, Invoice"
              label="Search"
            ></v-text-field>
            <v-btn
              @click="showFilterDialog"
              icon
              fab
              color="rgb(66, 103, 178)"
              small
              class="ml-2"
            >
              <v-icon>mdi-filter</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>
      <v-expand-transition>
        <div class="pa-1">
          <v-card
            color="rgb(66, 103, 178)"
            class="mx-2 mb-1 elevation-0"
            v-show="showFilter === true"
          >
            <v-card-text>
              <v-row v-if="!haveRoleCSOnly">
                <v-col cols="12" sm="4" md="4">
                  <v-autocomplete
                    v-model="filterFdivisions"
                    :items="itemsFDivision"
                    item-value="id"
                    item-text="description"
                    dense
                    chips
                    small-chips
                    deletable-chips
                    clearable
                    label="Distributor"
                    multiple
                    hide-details
                    dark
                  ></v-autocomplete>
                </v-col>
                <v-col cols="12" sm="4" md="4">
                  <v-autocomplete
                    v-model="filterFsalesmans"
                    :items="itemsFSalesman"
                    item-value="id"
                    item-text="spname"
                    dense
                    chips
                    small-chips
                    deletable-chips
                    clearable
                    label="Salesman/CS"
                    multiple
                    hide-details
                    dark
                  ></v-autocomplete>
                </v-col>

                <v-col cols="12" sm="4" md="4">
                  <v-autocomplete
                    v-model="filterFstores"
                    :items="itemsFStore"
                    item-value="id"
                    item-text="description"
                    dense
                    chips
                    small-chips
                    deletable-chips
                    clearable
                    label="Store"
                    multiple
                    hide-details
                    dark
                  ></v-autocomplete>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="4" md="4">
                  <v-flex class="d-flex justify-end">
                    <span class="subtitle-2 mr-2 white--text">
                      Tanggal Order
                    </span>
                    <DateRangePicker
                      :opens="'right'"
                      :ranges="ranges"
                      v-model="datePickerRangeOrder"
                      :locale-data="dprLocale"
                      @update="changeDatePickerRange"
                      :autoApply="dprAutoApply"
                      :showDropdowns="dprShowDropdowns"
                    ></DateRangePicker>
                  </v-flex>
                </v-col>

                <v-col cols="12" sm="4" md="4">
                  <v-flex class="d-flex justify-end">
                    <span class="subtitle-2 mr-2 white--text">
                      Tanggal Invoice
                    </span>
                    <DateRangePicker
                      :opens="'left'"
                      :ranges="ranges"
                      v-model="datePickerRangeInv"
                      :locale-data="dprLocale"
                      @update="changeDatePickerRange"
                      :autoApply="dprAutoApply"
                      :showDropdowns="dprShowDropdowns"
                    ></DateRangePicker>
                  </v-flex>
                </v-col>

                <v-col cols="12" sm="4" md="4">
                  <v-autocomplete
                    v-model="filterFexpedisies"
                    :items="itemsFExpedisi.filter((x) => x.statusActive)"
                    item-value="id"
                    item-text="description"
                    auto-select-first
                    dense
                    chips
                    small-chips
                    deletable-chips
                    color="blue-grey lighten-2"
                    label="Expedisi"
                    persistent-hint
                    multiple
                    hide-details
                    dark
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        close
                        @click="data.select"
                        @click:close="removeAutoCompleteFExpedisi(data.item)"
                      >
                        <v-avatar left>
                          <v-img
                            :lazy-src="lookupImageUrlLazy(data.item)"
                            :src="lookupImageUrl(data.item)"
                          ></v-img>
                        </v-avatar>
                        <span class="font-weight-regular caption">
                          {{ data.item.kode1 }}
                        </span>
                      </v-chip>
                    </template>

                    <template v-slot:item="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content
                          v-text="data.item"
                        ></v-list-item-content>
                      </template>
                      <template v-else>
                        <v-list-item-avatar>
                          <v-img
                            :lazy-src="lookupImageUrlLazy(data.item)"
                            :src="lookupImageUrl(data.item)"
                          ></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title>{{
                            data.item.description
                          }}</v-list-item-title>
                          <v-list-item-subtitle>{{
                            data.item.kode2
                          }}</v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-col>

                <v-col cols="12" sm="4" md="4">
                  <v-autocomplete
                    v-model="filterEstatusPengiriman"
                    :items="itemsEStatusPengiriman"
                    item-value="id"
                    item-text="shortDesc"
                    dense
                    chips
                    small-chips
                    deletable-chips
                    clearable
                    label="Status Pengiriman"
                    multiple
                    hide-details
                    dark
                  ></v-autocomplete>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="4" md="4">
                  <v-autocomplete
                    v-model="filterFwarehouses"
                    :items="itemsFWarehouseActive"
                    item-value="id"
                    item-text="description"
                    auto-select-first
                    dense
                    chips
                    small-chips
                    deletable-chips
                    color="blue-grey lighten-2"
                    label="Warehouse"
                    persistent-hint
                    multiple
                    hide-details
                    dark
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        close
                        @click="data.select"
                        @click:close="removeAutoCompleteFWarehouse(data.item)"
                      >
                        <v-avatar left>
                          <v-img
                            :lazy-src="lookupImageUrlLazy(data.item)"
                            :src="lookupImageUrl(data.item)"
                          ></v-img>
                        </v-avatar>
                        <span class="font-weight-regular caption">
                          {{ data.item.kode1 }}
                        </span>
                      </v-chip>
                    </template>

                    <template v-slot:item="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content
                          v-text="data.item"
                        ></v-list-item-content>
                      </template>
                      <template v-else>
                        <v-list-item-avatar>
                          <v-img
                            :lazy-src="lookupImageUrlLazy(data.item)"
                            :src="lookupImageUrl(data.item)"
                          ></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title>{{
                            data.item.description
                          }}</v-list-item-title>
                          <v-list-item-subtitle>{{
                            data.item.kode1
                          }}</v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-autocomplete
                    autofocus
                    v-model="filterFmaterials"
                    :items="itemsFMaterial"
                    item-value="id"
                    item-text="pcode"
                    auto-select-first
                    dense
                    chips
                    small-chips
                    deletable-chips
                    color="blue-grey lighten-2"
                    label="Product"
                    persistent-hint
                    multiple
                    hide-details
                    dark
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        close
                        @click="data.select"
                        @click:close="removeAutoCompleteFMaterial(data.item)"
                      >
                        <v-avatar left>
                          <v-img
                            :lazy-src="lookupImageUrlLazy(data.item)"
                            :src="lookupImageUrl(data.item)"
                          ></v-img>
                        </v-avatar>
                        <span class="font-weight-bold caption ml-1 blue--text">
                          {{ data.item.pcode }}
                        </span>
                      </v-chip>
                    </template>

                    <template v-slot:item="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content
                          v-text="data.item"
                        ></v-list-item-content>
                      </template>
                      <template v-else>
                        <v-list-item-avatar>
                          <v-img
                            :lazy-src="lookupImageUrlLazy(data.item)"
                            :src="lookupImageUrl(data.item)"
                          ></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                          <v-list-item-title>
                            <span class="blue--text">{{
                              data.item.pcode
                            }}</span>
                          </v-list-item-title>
                          <v-list-item-subtitle>
                            <span class="caption">
                              {{ data.item.pname }}
                            </span>
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-col>
                <v-col cols="6" sm="2" md="2">
                  <v-btn color="white" @click="onClickLoadMore">
                    Terapkan
                  </v-btn>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="8" md="10">
                  <v-autocomplete
                    v-model="filterByGroupMaterialOrdered"
                    :items="itemsGroupMaterialOrdered"
                    item-value="id"
                    item-text="description"
                    dense
                    chips
                    small-chips
                    deletable-chips
                    clearable
                    label="Items Group"
                    multiple
                    hide-details
                    dark
                  ></v-autocomplete>
                </v-col>
                <v-col cols="6" sm="2" md="2">
                  <v-btn
                    color="white"
                    @click="runExtendedFilter"
                    v-if="itemsGroupMaterialOrdered.length > 0"
                    :disabled="filterByGroupMaterialOrdered.length === 0"
                  >
                    Terapkan
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </div>
      </v-expand-transition>
      <div>
        <v-row>
          <v-col cols="12">
            <v-data-table
              :loading="loading"
              loading-text="Loading... Please wait"
              ref="overflowTable"
              v-model="selectedItems"
              :single-select="!multiSelect"
              :show-select="multiSelect"
              :headers="headers"
              hide-default-footer
              :items="ftSaleshsFiltered"
              :items-per-page="pageSizeCount"
              class="elevation-0 mx-5"
              align="start"
            >
              <template v-slot:top>
                <v-row align="center" justify="space-between" class="pa-1">
                  <v-col cols="12" md="2" lg="2" sm="2">
                    <v-select
                      v-model="pageSize"
                      :items="pageSizes"
                      label="Jumlah per load"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" md="3" lg="2" sm="3">
                    <v-switch
                      v-model="multiSelect"
                      :label="multiSelect ? 'Multi Select' : 'Single Select'"
                      x-small
                    ></v-switch>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col
                    cols="12"
                    :md="multiSelect ? 2 : 1"
                    :sm="2"
                    class="d-flex justify-end"
                  >
                    <div class="d-flex align-center">
                      <v-menu
                        v-if="
                          [
                            ERole.ROLE_ADMIN,
                            ERole.ROLE_AGEN,
                            ERole.ROLE_RSL_1,
                            ERole.ROLE_PIUTANG,
                            ERole.ROLE_SALES,
                            ERole.ROLE_INVENTORY,
                            ERole.ROLE_CS,
                          ].some((x) => currentUser.roles.includes(x))
                        "
                        offset-y
                        left
                        transition="slide-y-transition"
                        bottom
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            class="mr-2"
                            fab
                            elevation="0"
                            dark
                            x-small
                            color="blue"
                            v-bind="attrs"
                            v-on="on"
                          >
                            <v-icon>mdi-view-grid</v-icon>
                          </v-btn>
                        </template>
                        <v-list>
                          <v-list-item>
                            <v-btn
                              plain
                              elevation="0"
                              color="gray darken-1"
                              small
                              @click="multiExport('CS')"
                            >
                              <v-icon color="green" small
                                >mdi-file-excel</v-icon
                              >
                              Export Sales CS
                            </v-btn>
                          </v-list-item>
                          <v-divider
                            v-if="!currentUser.roles.includes(ERole.ROLE_CS)"
                          ></v-divider>
                          <v-list-item
                            v-if="
                              [
                                ERole.ROLE_ADMIN,
                                ERole.ROLE_AGEN,
                                ERole.ROLE_RSL_1,
                                ERole.ROLE_PIUTANG,
                                ERole.ROLE_SALES,
                                ERole.ROLE_INVENTORY,
                              ].some((x) => currentUser.roles.includes(x))
                            "
                          >
                            <v-btn
                              plain
                              elevation="0"
                              color="gray darken-1"
                              small
                              @click="multiExport('SALE')"
                            >
                              <v-icon color="green" small
                                >mdi-file-excel</v-icon
                              >
                              Export Sales
                            </v-btn>
                          </v-list-item>
                          <v-divider
                            v-if="!currentUser.roles.includes(ERole.ROLE_CS)"
                          ></v-divider>
                          <v-list-item
                            v-if="
                              [
                                ERole.ROLE_ADMIN,
                                ERole.ROLE_AGEN,
                                ERole.ROLE_RSL_1,
                                ERole.ROLE_PIUTANG,
                                ERole.ROLE_SALES,
                                ERole.ROLE_INVENTORY,
                              ].some((x) => currentUser.roles.includes(x))
                            "
                          >
                            <v-btn
                              plain
                              elevation="0"
                              color="gray darken-1"
                              small
                              @click="multiExport('DETAIL')"
                            >
                              <v-icon color="green" small
                                >mdi-file-excel</v-icon
                              >
                              Export Sales Detail
                            </v-btn>
                          </v-list-item>
                        </v-list>
                      </v-menu>

                      <div
                        v-if="
                          (haveRoleAdmin ||
                            haveRoleInventory ||
                            haveRolePiutang) &&
                          multiSelect
                        "
                      >
                        <v-btn
                          fab
                          dark
                          color="red accent-4"
                          x-small
                          :disabled="!multiSelect"
                          class="mr-2"
                          @click="deleteDialogMultiShow"
                          v-if="false"
                        >
                          <v-icon>mdi-delete</v-icon>
                        </v-btn>
                        <v-btn
                          fab
                          dark
                          color="blue"
                          x-small
                          :disabled="!multiSelect"
                          class="mr-2 elevation-0"
                          @click="showConfirmDialogCreateAwb"
                          v-if="haveRoleAdmin"
                        >
                          <v-icon>mdi-truck-fast</v-icon>
                        </v-btn>
                        <v-btn
                          fab
                          dark
                          color="deep-purple darken-2"
                          x-small
                          :disabled="!multiSelect"
                          class="mr-2 elevation-0"
                          @click="showConfirmDialogStatusOnPacking"
                        >
                          <v-icon>mdi-cube-outline</v-icon>
                        </v-btn>
                        <v-btn
                          fab
                          dark
                          color="deep-orange accent-3"
                          class="mr-2 elevation-0"
                          x-small
                          :disabled="!multiSelect"
                          @click="showConfirmDialogPrintAwb"
                        >
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                              <v-icon v-bind="attrs" v-on="on"
                                >mdi-printer</v-icon
                              >
                            </template>
                            <span>Print dengan kode produk</span>
                          </v-tooltip>
                        </v-btn>

                        <v-btn
                          fab
                          dark
                          class="elevation-0"
                          color="deep-greem accent-3"
                          x-small
                          :disabled="!multiSelect"
                          @click="showConfirmDialogPrintAwbFullName"
                        >
                          <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                              <v-icon v-bind="attrs" v-on="on"
                                >mdi-printer</v-icon
                              >
                            </template>
                            <span>Print dengan nama produk</span>
                          </v-tooltip>
                        </v-btn>
                      </div>
                      <v-btn
                        fab
                        dark
                        class="mr-2"
                        color="orange"
                        elevation="0"
                        x-small
                        @click="refreshData"
                        v-if="!multiSelect"
                      >
                        <v-icon>mdi-refresh</v-icon>
                      </v-btn>
                      <v-btn
                        fab
                        dark
                        elevation="0"
                        color="green"
                        x-small
                        @click="showDialogNew"
                        v-if="!haveRoleInventory && !multiSelect"
                      >
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </div>
                  </v-col>
                </v-row>
              </template>

              <template v-slot:[`item.number`]="{ index }">
                {{ index + 1 }}
              </template>

              <template v-slot:[`item.orderno`]="{ item }">
                <div class="fill-height single-line-height">
                  <div class="caption">
                    {{ item.orderno }}
                  </div>
                  <div class="caption" v-if="item.orderno">
                    {{ dateFormattedDatefnsShort(item.orderDate) }}
                  </div>

                  <div class="short-line-height">
                    <div class="caption" v-if="item.invoiceno">
                      #{{ item.invoiceno }}
                    </div>
                    <div class="font-weight-bold caption" v-if="item.invoiceno">
                      {{ dateFormattedDatefnsShort(item.invoiceDate) }}
                    </div>
                  </div>
                </div>
              </template>

              <template v-slot:[`item.deliveryNumber`]="{ item }">
                <div class="fill-height">
                  <div v-if="item.salesmanPhone > 821999">
                    <v-btn
                      x-small
                      class="no-gutters"
                      plain
                      :href="`https://api.whatsapp.com/send?phone=+62${item.salesmanPhone}&text=Hi kak, untuk pelanggan a/n ${item.destName} dengan Resi ${item.deliveryNumber} tsb `"
                      target="_blank"
                    >
                      <v-icon x-small color="green">mdi-whatsapp</v-icon>
                      <span class="caption">
                        {{ item.salesmanName }}
                      </span>
                    </v-btn>
                  </div>
                  <div v-else>
                    <v-icon x-small color="grey">mdi-whatsapp</v-icon>
                    <span class="caption">
                      {{ item.salesmanName }}
                    </span>
                  </div>

                  <div class="caption grey--text">
                    {{ item.ekspedisiName }}
                  </div>

                  <div class="font-weight-regular">
                    <span
                      class="purple--text caption"
                      v-if="
                        lookupFCustomerGroup(item.fcustomerGroupBean)
                          .autoOngkir === false
                      "
                    >
                      #{{ item.deliveryNumber }}
                    </span>
                    <span v-else class="caption blue--text"
                      >#{{ item.deliveryNumber }}</span
                    >
                  </div>
                  <div
                    class="font-weight-light caption"
                    v-if="item.deliveryNumber"
                  >
                    {{ dateFormattedDatefns(item.deliveryDate) }}
                  </div>

                  <div class="caption">
                    <v-chip
                      x-small
                      dark
                      :color="
                        lookupEStatusPengirimanColor(item.statusPengiriman)
                      "
                      @click="showTimeLine(item)"
                    >
                      <span v-if="item.statusPengiriman == 11">
                        {{
                          lookupEStatusPengiriman(item.statusPengiriman)
                            .shortDesc
                        }}
                        <v-icon class="ml-1" small> mdi-lock </v-icon>
                      </span>
                      <span v-else>{{
                        lookupEStatusPengiriman(item.statusPengiriman).shortDesc
                      }}</span>

                      <v-icon
                        class="ml-1"
                        small
                        v-if="item.statusPengirimanIcon === 5"
                      >
                        mdi-motorbike
                      </v-icon>
                    </v-chip>
                  </div>
                </div>
              </template>

              <template v-slot:[`item.ftSalesdItems`]="{ item }">
                <div class="fill-height">
                  <div>
                    <div
                      :class="
                        item.statusPengiriman == 9
                          ? 'text-decoration-line-through'
                          : ''
                      "
                      class="fon-"
                    >
                      {{ item.remark }}
                    </div>
                  </div>
                  <div class="caption font-weight-light blue--text">
                    {{ item.warehouseCode }}
                  </div>
                </div>
              </template>

              <template v-slot:[`item.fcustomerBean`]="{ item }">
                <div class="fill-height">
                  <div class="mt-1">
                    {{ item.destName }}
                    <span
                      class="purple--text caption"
                      v-if="
                        lookupFCustomerGroup(item.fcustomerGroupBean)
                          .autoOngkir == false
                      "
                    >
                      <v-chip x-small color="purple" outlined> MP </v-chip>
                    </span>
                  </div>
                  <div
                    class="caption small grey--text"
                    v-if="item.destDistrict1 != undefined"
                  >
                    {{ item.destDistrict1 }}
                  </div>
                  <div class="caption small grey--text" v-if="item.destCity1">
                    <div v-if="item.destCode === ''">
                      <span class="red--text text-decoration-line-through"
                        >Expedisi</span
                      >
                    </div>
                    <div v-else>
                      {{ item.destCity1 }} - {{ item.destState1 }}
                    </div>
                  </div>
                  <div v-if="item.destPhone">
                    <v-icon x-small color="green">mdi-whatsapp</v-icon>
                    <v-btn
                      x-small
                      class="no-gutters"
                      plain
                      :href="`https://api.whatsapp.com/send?phone=+62${item.destPhone}&text=Hi, `"
                      target="_blank"
                    >
                      <span class="caption"> 0{{ item.destPhone }} </span>
                    </v-btn>
                  </div>
                </div>
              </template>

              <template v-slot:[`item.fdivisionBean`]="{ item }">
                <div class="fill-height">
                  <div class="subtitle-2 blue--text">
                    {{
                      formattedCurrencyValue(
                        "",
                        item.amountAfterDiscPlusRpAfterPpn_FG
                      )
                    }}
                  </div>

                  <div class="mt-1">
                    <div v-if="item.ongkirRp === 0">
                      <span class="red--text text-decoration-line-through"
                        >Ongkir</span
                      >
                    </div>
                    <div v-else>
                      <span class="caption grey--text">Ongkir</span>
                      <span class="ml-1 grey--text">{{
                        formattedCurrencyValue("", item.ongkirRp)
                      }}</span>
                    </div>
                  </div>

                  <span class="grey--text"
                    >Discount ({{
                      formattedCurrencyValue("", item.penambahanRp.toFixed())
                    }})</span
                  ><br />

                  <span class="grey--text"
                    >Discount Manual ({{
                      formattedCurrencyValue("", item.discountManual.toFixed())
                    }})</span
                  ><br />

                  <div
                    class="mt-1 subtitle-2 green--text"
                    v-if="item.codRp > 0"
                  >
                    <span class="caption green--text">COD</span>
                    <span v-if="item.noBiaya" class="ml-1">
                      <v-icon x-small color="purple">mdi-gift</v-icon>
                    </span>
                    <span
                      v-if="
                        dateFormattedDatefnsShort(item.created) >= '15-05-23'
                      "
                      :class="
                        validateCODAmount(item)
                          ? 'green--text'
                          : [boldClass, redClass]
                      "
                    >
                      ({{
                        formattedCurrencyValue(
                          "",
                          parseFloat(item.biayaRp).toFixed()
                        )
                      }})
                      {{ formattedCurrencyValue("", item.codRp.toFixed()) }}
                    </span>

                    <span
                      v-else
                      :class="
                        validateCODAmount(item)
                          ? 'green--text'
                          : [boldClass, redClass]
                      "
                    >
                      ({{
                        formattedCurrencyValue(
                          "",
                          parseFloat(item.biayaRp).toFixed()
                        )
                      }})
                      {{
                        formattedCurrencyValue(
                          "",
                          (item.codRp + item.penambahanRp).toFixed()
                        )
                      }}
                    </span>
                  </div>

                  <div v-else class="mt-1 subtitle-2 green--text">
                    <span class="caption green--text">REG </span>
                    <span class="caption green--text">{{
                      formattedCurrencyValue(
                        "",
                        item.amountAfterDiscPlusRpAfterPpn_FG +
                          item.ongkirRp +
                          item.penambahanRp +
                          item.discountManual
                      )
                    }}</span>
                  </div>
                </div>
              </template>

              <template v-slot:[`item.statusActive`]="{ item }">
                <v-chip
                  :color="getColorStatusActive(item.statusActive)"
                  dark
                  small
                >
                  {{ item.statusActive === true ? "Aktif" : "-" }}
                </v-chip>
              </template>

              <template v-slot:[`item.actions`]="{ item }">
                <div class="text-caption small font-weight-light grey--text">
                  <div>{{ dateFormattedDatefnsWithTime(item.created) }}</div>
                  <div>
                    {{
                      (item.scanAt && item.scanAtBy) !== null
                        ? dateFormattedDatefnsWithTimeShort(item.scanAt) +
                          " " +
                          item.scanAtBy
                        : "-"
                    }}
                  </div>
                  <span>{{
                    dateFormattedDatefnsWithTimeShort(item.modified)
                  }}</span>
                  <span class="ml-1">{{ item.modifiedBy }} </span>
                </div>

                <div>
                  <v-btn
                    @click="showDialogEdit(item)"
                    icon
                    :disabled="multiSelect"
                  >
                    <v-icon small color="warning"> mdi-pencil </v-icon>
                  </v-btn>

                  <v-btn
                    @click="deleteDialogShow(item)"
                    icon
                    :disabled="multiSelect || item.deliveryNumber !== null"
                  >
                    <v-icon small color="red accent-4"> mdi-delete </v-icon>
                  </v-btn>
                  <v-btn
                    v-if="
                      lookupFCustomerGroup(item.fcustomerGroupBean)
                        .custOnline == false &&
                      (haveRoleAdmin || haveRoleInventory)
                    "
                    @click="showConfirmDialogPrintPos(item)"
                    icon
                    :disabled="multiSelect"
                  >
                    <v-icon small color="blue accent-4"> mdi-printer </v-icon>
                  </v-btn>
                </div>
              </template>
            </v-data-table>
          </v-col>
          <v-col cols="12" v-if="!loading">
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12" class="pt-0" v-if="!loading">
            <div class="d-flex justify-center">
              <v-btn
                v-show="loadMoreState.buttonLoadShow"
                elevation="0"
                :disabled="loadMoreState.butttonLoad"
                @click.prevent="onClickLoadMore"
                color="primary"
                >Load more</v-btn
              >
            </div>
          </v-col>
        </v-row>
      </div>

      <DeleteConfirmDialog
        ref="refDeleteConfirmDialog"
        @eventFromDeleteConfirmDialog1="deleteItemConfirmedSingleSelect"
        @eventFromDeleteConfirmDialog2="deleteItemConfirmedMultiSelect"
      ></DeleteConfirmDialog>

      <ConfirmDialogStatusOnPacking
        ref="refConfirmDialogStatusOnPacking"
        @eventFromConfirmDialog="statusPackingCofirmed"
      ></ConfirmDialogStatusOnPacking>

      <ConfirmDialogCreateAwb
        ref="refConfirmDialogCreateAwb"
        @eventFromConfirmDialog="createAwbCofirmed"
      ></ConfirmDialogCreateAwb>

      <ConfirmDialogPrintAwb
        ref="refConfirmDialogPrintAwb"
        @eventFromConfirmDialog="printAwbCofirmed"
      ></ConfirmDialogPrintAwb>

      <ConfirmDialogPrintPos
        ref="refConfirmDialogPrintFullNameItems"
        @eventFromConfirmDialog="printAwbCofirmedFullItems"
      ></ConfirmDialogPrintPos>

      <ConfirmDialogPrintPos
        ref="refConfirmDialogPrintPos"
        @eventFromConfirmDialog="printPosCofirmed"
      ></ConfirmDialogPrintPos>

      <FtSaleshDialog
        @eventCloseFormDialog1="eventCloseFormDialog1"
        @eventEditFormDialog1="eventEditFormDialog1"
        @eventCreateFormDialog1="eventCreateFormDialog1"
      ></FtSaleshDialog>

      <DialogOrderComponent
        ref="refFormDialog"
        @refresh="eventCloseFormDialog1"
      >
      </DialogOrderComponent>

      <FtSaleshImportDialog
        :itemsFDivision="itemsFDivision"
        ref="refFtSaleshImportDialog"
        @importExcelCompleted="importExcelCompleted"
      ></FtSaleshImportDialog>

      <FtSaleshTimeLineDialog
        ref="refFtSaleshTimeLineDialog"
      ></FtSaleshTimeLineDialog>

      <v-snackbar v-model="snackbar">
        {{ snackBarMesage }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
        </template>
      </v-snackbar>
    </v-card>
  </div>
</template>

<script>
import FtSaleshService from "../../services/ft-salesh-service";
import FileService from "../../../../services/apiservices/file_service/file-service";

import DeleteConfirmDialog from "../../../../components/utils/DeleteConfirmDialog";
import ConfirmDialogStatusOnPacking from "../../../../components/utils/ConfirmDialog";
import ConfirmDialogCreateAwb from "../../../../components/utils/ConfirmDialog";
import ConfirmDialogPrintAwb from "../../../../components/utils/ConfirmDialog";
import ConfirmDialogPrintPos from "../../../../components/utils/ConfirmDialog";

import FtSaleshDialog from "./FtSaleshDialog";
import FtSaleshImportDialog from "./FtSaleshImportDialog";
import FormMode from "../../../../models/form-mode";

import EStatusPengiriman, {
  EStatusPengirimans,
} from "../../../../models/e-status-pengiriman";
import FtSaleshTimeLineDialog from "../FtSaleshTimeLineDialog";

import FtSaleshFilter from "../../../../models/payload/ft-salesh-filter";
import ERole from "../../../../models/e-role";

import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import {
  dateFormattedDatefns,
  dateFormattedDatefnsShort,
  dateFormattedDatefnsWithTime,
  dateFormattedDatefnsWithTimeShort,
} from "@/utils/date-utils";
import "vue-loading-overlay/dist/vue-loading.css";
import moment from "moment-timezone/moment-timezone-utils";
import changeHelper from "../../helper/changeHelper";
import FtSaleshExtService from "../../services/ft-salesh-ext-service";
import DialogOrderComponent from "@/modules/sales/components/invoice-type1-new/DialogOrderComponent.vue";

export default {
  components: {
    DialogOrderComponent,
    DateRangePicker,
    FtSaleshTimeLineDialog,
    FtSaleshImportDialog,
    FtSaleshDialog,
    DeleteConfirmDialog,
    ConfirmDialogStatusOnPacking,
    ConfirmDialogCreateAwb,
    ConfirmDialogPrintAwb,
    ConfirmDialogPrintPos,
  },
  props: {
    newsletterPopup: Boolean,
    title: String,
  },
  data() {
    let today = new Date();
    today.setHours(12, 0, 0, 0);
    let yesterday = new Date();
    yesterday.setDate(today.getDate() - 1);
    yesterday.setHours(12, 0, 0, 0);

    return {
      ranges: {
        Today: [today, today],
        Yesterday: [yesterday, yesterday],
        "This month": [
          new Date(today.getFullYear(), today.getMonth(), 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 31, 12, 0, 0, 0),
        ],
        "This year": [
          new Date(today.getFullYear(), 0, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), 11, 31, 12, 0, 0, 0),
        ],
        "Last month": [
          new Date(today.getFullYear(), today.getMonth() - 1, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 0, 12, 0, 0, 0),
        ],
      },
      loading: false,
      // date: format(parseISO(new Date().toISOString()), 'dd-MMM-yyyy'),
      menuDate1: false,
      filterOrderDateFrom: "",
      menuDate2: false,
      filterOrderDateTo: "",

      datePickerRangeOrder: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(),
      },
      datePickerRangeInv: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(),
      },

      dprLocale: {
        direction: "ltr", //direction of text
        format: "dd/mm/yyyy",
        separator: " - ", //separator between the two ranges
        applyLabel: "Terapkan",
        cancelLabel: "Batal",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        // daysOfWeek: moment.weekdaysMin(), //array of days - see moment documenations for details
        // monthNames: moment.monthsShort(), //array of month names - see moment documenations for details
        firstDay: 1, //ISO first day of week - see moment documenations for details
      },
      dprAutoApply: true,
      dprShowDropdowns: true,

      showFilter: false,
      fetchFilter: false,
      filterFdivisions: [],
      filterFsalesmans: [],
      filterFstores: [],
      filterFexpedisies: [],
      filterFmaterials: [],
      filterEstatusPengiriman: [],
      filterFwarehouses: [],

      filterByGroupMaterialOrdered: [],
      itemsGroupMaterialOrdered: [],

      snackbar: false,
      snackBarMesage: "",

      multiSelect: false,
      selectedItems: [],
      ERole: ERole,
      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      pageSize: 10,
      pageSizeCount: 10,
      pageSizes: [10, 20, 40, 75, 150, 500, 1000, 2500, 5000],

      search: "",
      headers: [
        {
          text: "No",
          value: "number",
          width: "8%",
          sortable: false,
        },
        { text: "No.Order & INV", value: "orderno", width: "10%" },
        { text: "AWB", value: "deliveryNumber", width: "15%" },
        { text: "Member", value: "fcustomerBean", width: "20%" },
        { text: "Items", value: "ftSalesdItems", width: "15%" },
        { text: "Total", value: "fdivisionBean", width: "15%" },
        {
          text: "Acts",
          value: "actions",
          width: "13%",
          align: "start",
          sortable: false,
        },
      ],
      loadMoreState: {
        init: 0,
        initExt: 1,
        isFilter: true,
        isFilterExt: false,
        butttonLoad: false,
        buttonLoadShow: true,
      },
      // formMode: '',
      ftSaleshFilterTemp: new FtSaleshFilter(),
      itemSelectedIndex: -1,
      itemSelected: "",
      ftSaleshs: [],
      // itemsFDivision: [],
      itemsDestAddr: [],
      itemsFtSalesdItems: [],

      itemsEStatusPengiriman: EStatusPengirimans,
      isCloseBannerInfo: false,
      boldClass: "font-weight-bold",
      redClass: "red--text",
    };
  },
  watch: {
    pageSize: {
      handler: function () {
        const refreshData = this.currentPage == 1;
        this.currentPage = 1;
        if (refreshData) {
          if (this.showFilter) {
            this.runExtendedFilter();
          } else {
            this.fetchFtSalesh();
          }
        }
      },
    },
    multiSelect: function (value) {
      if (value == false) {
        this.selectedItems = [];
      }
    },
  },
  computed: {
    showInfo() {
      return JSON.parse(localStorage.getItem("isCloseBannerInfo"));
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    haveRoleAdminMutlak() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_ADMIN")) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleInventory() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_INVENTORY")) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRolePiutang() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_PIUTANG")) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleSalesOrCS() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_CS") ||
          this.currentUser.roles.includes("ROLE_SALES") ||
          this.currentUser.roles.includes("ROLE_RSL_1") ||
          this.currentUser.roles.includes("ROLE_RSL_2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRoleCSOnly() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_CS")) {
          isValid = true;
        }
      }
      return isValid;
    },

    formMode: {
      get() {
        return this.$store.state.sales.formMode;
      },
      set(value) {
        this.$store.dispatch("sales/updateFormMode", value);
      },
    },

    ftSaleshsFiltered() {
      return this.ftSaleshs;
    },
    itemsFDivision() {
      return this.$store.state.data.listFDivision;
    },
    itemsFMaterial() {
      return this.$store.state.data.listFMaterial;
    },
    itemsFExpedisi() {
      return this.$store.state.data.listFExpedisi;
    },
    itemsFWarehouse() {
      return this.$store.state.data.listFWarehouse;
    },
    itemsFWarehouseActive() {
      return this.$store.state.data.listFWarehouse.filter(
        (x) => x.statusActive === true
      );
    },
    itemsFSalesman() {
      const listFSalesman = [];

      if (
        this.currentUser.salesmanOf > 0 &&
        [ERole.ROLE_CS].some((x) => this.currentUser.roles.includes(x))
      ) {
        this.$store.state.data.listFSalesman
          .filter((x) => x.id === this.currentUser.salesmanOf)
          .forEach((item) => {
            listFSalesman.push(item);
          });
      } else {
        this.$store.state.data.listFSalesman.forEach((item) => {
          listFSalesman.push(item);
        });
      }

      return listFSalesman;
    },
    itemsFPayMethod() {
      return this.$store.state.data.listFPayMethod;
    },
    itemsFStore() {
      return this.$store.state.data.listFStore;
    },
    itemsFCustomer() {
      return this.$store.state.data.listFCustomer;
    },
    itemsFCustomerGroup() {
      return this.$store.state.data.listFCustomerGroup;
    },
  },

  methods: {
    multiExport(type) {
      let ids = [];
      if (this.multiSelect) {
        ids = this.selectedItems.map((e) => e.id);
      } else {
        ids = this.ftSaleshs.map((e) => e.id);
      }
      FtSaleshExtService.getMultiExport(type, ids)
        .then((response) => {
          let headerLine =
            response.headers["content-disposition"].split("filename=")[1];
          let fileURL = window.URL.createObjectURL(new Blob([response.data]));
          let fileLink = document.createElement("a");
          fileLink.href = fileURL;
          fileLink.setAttribute("download", headerLine);
          document.body.appendChild(fileLink);
          fileLink.click();
        })
        .catch(() => {
          this.$swal({
            title: "Gagal",
            text: "Gagal export data",
            icon: "error",
            confirmButtonText: "Tutup",
          });
        });
    },
    onCloseBannerInfo() {
      this.isCloseBannerInfo = true;
      localStorage.setItem("isCloseBannerInfo", JSON.stringify(true));
    },
    refreshData() {
      this.loading = true;
      this.ftSaleshFilterTemp = new FtSaleshFilter(); /* re init temp */
      if (this.showFilter) {
        this.runExtendedFilter();
      } else {
        this.fetchFtSalesh();
      }
    },
    onClickLoadMore() {
      this.loading = true;
      this.currentPage += 1;
      this.pageSizeCount += this.pageSize;
      this.loadMoreState.butttonLoad = true;
      if (this.showFilter) {
        if (this.loadMoreState.isFilterExt) {
          if (this.loadMoreState.initExt !== 0) {
            this.ftSaleshs = [];
            this.currentPage = 1;
            this.loadMoreState.init = 1;
            this.loadMoreState.isFilter = true;
            this.loadMoreState.isFilterExt = false;
          }
        }
        this.runExtendedFilter();
      } else {
        if (this.loadMoreState.isFilter) {
          if (this.loadMoreState.init !== 0) {
            this.ftSaleshs = [];
            this.currentPage = 1;
          }
          this.loadMoreState.initExt = 1;
          this.loadMoreState.isFilter = false;
          this.loadMoreState.isFilterExt = true;
        }
        this.fetchFtSalesh();
      }
    },
    onCancel() {},
    toISOLocal(d) {
      var z = (n) => ("0" + n).slice(-2);
      var zz = (n) => ("00" + n).slice(-3);
      var off = d.getTimezoneOffset();
      var sign = off > 0 ? "-" : "+";
      off = Math.abs(off);

      return (
        d.getFullYear() +
        "-" +
        z(d.getMonth() + 1) +
        "-" +
        z(d.getDate()) +
        "T" +
        z(d.getHours()) +
        ":" +
        z(d.getMinutes()) +
        ":" +
        z(d.getSeconds()) +
        "." +
        zz(d.getMilliseconds()) +
        sign +
        z((off / 60) | 0) +
        ":" +
        z(off % 60)
      );
    },
    showFilterDialog() {
      this.showFilter = !this.showFilter;
      const itemPayload = Object;
      itemPayload.orderDateFrom = this.datePickerRangeOrder.startDate;
      itemPayload.orderDateTo = this.datePickerRangeOrder.endDate;
      itemPayload.invoiceDateFrom = this.datePickerRangeInv.startDate;
      itemPayload.invoiceDateTo = this.datePickerRangeInv.endDate;
    },
    showConfirmDialogPrintPos(item) {
      this.itemSelectedIndex = this.ftSaleshsFiltered.indexOf(item);
      this.$refs.refConfirmDialogPrintPos.showDialog(
        "Yakin akan Print dan Memberi Status Diterima?"
      );
    },
    printPosCofirmed(value) {
      // change status ambil di gudang ke received
      if (value === "OKE") {
        let selectedItem = this.ftSaleshs[this.itemSelectedIndex];
        if (selectedItem.invoiceno === "") {
          FtSaleshService.updateFtSaleshCreateInvoiceNo(selectedItem.id).then(
            (response) => {
              const updatedItem = response.data;
              updatedItem.statusPengiriman = EStatusPengiriman.RECEIVED;
              updatedItem.modifiedBy = this.currentUser.username;
              this.printPosPdf(updatedItem);
            }
          );
        } else {
          selectedItem.statusPengiriman = EStatusPengiriman.RECEIVED;
          selectedItem.modifiedBy = this.currentUser.username;
          this.printPosPdf(selectedItem);
        }
      }
    },
    printPosPdf(selectedItem) {
      /* wrap ke array karna API menerima array */
      const itemsToPrint = [selectedItem.id];
      FtSaleshService.postReportJasperPrintPos(itemsToPrint).then(
        (response) => {
          /* untuk download data */
          let fileURL = window.URL.createObjectURL(new Blob([response.data]));
          let fileLink = document.createElement("a");
          fileLink.href = fileURL;
          fileLink.setAttribute("download", "file_pos.pdf");
          document.body.appendChild(fileLink);
          fileLink.click();
          /* update status delivered */
          FtSaleshService.updateFtSaleshDeliveryStatusWithTime(
            selectedItem
          ).then(
            () => {
              /* ubah status by reactive vue */
              this.ftSaleshsFiltered.splice(
                this.itemSelectedIndex,
                1,
                selectedItem
              );
              this.$refs.refConfirmDialogPrintPos.setDialogState(false);
            },
            (error) => {
              console.log(error);
            }
          );
        },
        (error) => {
          console.log(error);
        }
      );
    },
    showConfirmDialogPrintAwb() {
      this.$refs.refConfirmDialogPrintAwb.showDialog(
        "Yakin akan Print AWB/Resi?"
      );
    },
    showConfirmDialogPrintAwbFullName() {
      this.$refs.refConfirmDialogPrintFullNameItems.showDialog(
        "Yakin akan print full name product AWB/Resi?"
      );
    },
    /* non-full name */
    printAwbCofirmed(value) {
      if (value === "OKE") {
        let itemsToPrint = [];
        let expedisiName = "";

        this.selectedItems.forEach((item) => {
          if (item.statusPengiriman === EStatusPengiriman.ON_PACKING) {
            if (item.deliveryNumber !== "") {
              itemsToPrint.push(item.id);
              if (expedisiName === "") {
                expedisiName = item.ekspedisiName;
              }
            }
          }
          this.$refs.refConfirmDialogPrintAwb.setDialogState(false);
        });

        if (expedisiName.toUpperCase().includes("JNE")) {
          FtSaleshService.postReportJasperResiJne(itemsToPrint, "").then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_jne.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (
          expedisiName.toUpperCase().includes("JNT") ||
          expedisiName.toUpperCase().includes("J&T")
        ) {
          FtSaleshService.postReportJasperResiJnt(itemsToPrint, "").then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_jnt.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (
          expedisiName.toUpperCase().includes("ID") &&
          expedisiName.toUpperCase().includes("EXPRESS")
        ) {
          FtSaleshService.postReportJasperResiIdExpress(itemsToPrint, "").then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_id_express.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (
          expedisiName.toUpperCase().includes("SI") &&
          expedisiName.toUpperCase().includes("CEPAT")
        ) {
          FtSaleshService.postReportJasperResiSiCepat(itemsToPrint, "").then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_si_cepat.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (expedisiName.toUpperCase().includes("SAP")) {
          FtSaleshService.postReportJasperResiSAP(itemsToPrint, "").then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_sap.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (
          expedisiName.toUpperCase().includes("ANTER") &&
          expedisiName.toLocaleUpperCase().includes("AJA")
        ) {
          FtSaleshService.postReportJasperResiAnterAja(itemsToPrint, "").then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_anter_aja.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else {
          console.log("Tidak ada yang di print");
        }
      }
    },
    /* full name items */
    printAwbCofirmedFullItems(value) {
      if (value === "OKE") {
        let itemsToPrint = [];
        let expedisiName = "";

        this.selectedItems.forEach((item) => {
          if (item.statusPengiriman === EStatusPengiriman.ON_PACKING) {
            if (item.deliveryNumber !== "") {
              itemsToPrint.push(item.id);
              if (expedisiName === "") {
                expedisiName = item.ekspedisiName;
              }
            }
          }
          this.$refs.refConfirmDialogPrintFullNameItems.setDialogState(false);
        });

        if (expedisiName.toUpperCase().includes("JNE")) {
          FtSaleshService.postReportJasperResiJne(itemsToPrint, true).then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_jne.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (
          expedisiName.toUpperCase().includes("JNT") ||
          expedisiName.toUpperCase().includes("J&T")
        ) {
          FtSaleshService.postReportJasperResiJnt(itemsToPrint, true).then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_jnt.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (
          expedisiName.toUpperCase().includes("ID") &&
          expedisiName.toUpperCase().includes("EXPRESS")
        ) {
          FtSaleshService.postReportJasperResiIdExpress(
            itemsToPrint,
            true
          ).then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_id_express.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (
          expedisiName.toUpperCase().includes("SI") &&
          expedisiName.toUpperCase().includes("CEPAT")
        ) {
          FtSaleshService.postReportJasperResiSiCepat(itemsToPrint, true).then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_si_cepat.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (expedisiName.toUpperCase().includes("SAP")) {
          FtSaleshService.postReportJasperResiSAP(itemsToPrint, true).then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_sap.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else if (
          expedisiName.toUpperCase().includes("ANTER") &&
          expedisiName.toLocaleUpperCase().includes("AJA")
        ) {
          FtSaleshService.postReportJasperResiAnterAja(itemsToPrint, true).then(
            (response) => {
              // console.log(response.data)

              let fileURL = window.URL.createObjectURL(
                new Blob([response.data])
              );
              let fileLink = document.createElement("a");

              fileLink.href = fileURL;
              fileLink.setAttribute("download", "file_resi_anter_aja.pdf");
              document.body.appendChild(fileLink);

              fileLink.click();
            },
            (error) => {
              console.log(error);
            }
          );
        } else {
          console.log("Tidak ada yang di print");
        }
      }
    },
    showConfirmDialogStatusOnPacking() {
      this.$refs.refConfirmDialogStatusOnPacking.showDialog(
        "Yakin akan Mememberikan status On-Packing?"
      );
    },
    statusPackingCofirmed(value) {
      if (value === "OKE") {
        /**
         * KENAPA UPDATE STATUS PACKING DUA KALI
         */
        this.$refs.refConfirmDialogStatusOnPacking.setDialogState(false);

        const selectedConfirmed = this.selectedItems.filter(
          (row) => row.statusPengiriman === EStatusPengiriman.CONFIRMED
        );

        FtSaleshService.updateStatusFtSalesh({
          status: EStatusPengiriman.ON_PACKING,
          data: selectedConfirmed,
        }).then(
          (response) => {
            const { data } = response.data;

            data.forEach((row) => {
              const index = this.ftSaleshsFiltered.indexOf(
                selectedConfirmed.find((e) => e.id === row.id)
              );
              let newItem = Object.assign({}, row);
              this.ftSaleshsFiltered.splice(index, 1, newItem);
            });
          },
          (error) => {
            this.formDialogOptions.errorMessage = error.response.data.message;
          }
        );
      }
    },
    showConfirmDialogCreateAwb() {
      // this.$refs.refConfirmDialogCreateAwb.showDialog("Yakin akan Mememberikan Menerbitkan Air Way Bill (Nomor Resi)?")
    },
    createAwbCofirmed(value) {
      if (value === "OKE") {
        this.$refs.refConfirmDialogCreateAwb.setDialogState(false);
        this.selectedItems.forEach((item) => {
          if (item.statusPengiriman == 0) {
            const itemModified = Object.assign({}, item);
            this.$refs.refFormDialog.saveProses(itemModified, false);
          }
        });
      }
    },
    changeDatePickerRange() {
      // console.log(`${this.datePickerRangeOrder.startDate} >> ${this.datePickerRangeOrder.endDate}`)
    },
    runExtendedFilter(fromDialog = false) {
      this.loadMoreState.buttonLoadShow = true;
      const ftSaleshFilter = new FtSaleshFilter();

      ftSaleshFilter.fdivisionIds = this.filterFdivisions; // dilakukan pada back-end untuk security

      if (this.filterFsalesmans.length > 0) {
        ftSaleshFilter.fsalesmanIds = this.filterFsalesmans;
      }

      if (this.filterFstores.length > 0) {
        ftSaleshFilter.fstoreIds = this.filterFstores;
      }

      if (this.filterFexpedisies.length > 0) {
        ftSaleshFilter.fexpedisiIds = this.filterFexpedisies;
      }

      if (this.filterEstatusPengiriman.length > 0) {
        ftSaleshFilter.statusPengirimanIds = this.filterEstatusPengiriman;
      }

      if (this.filterFmaterials.length > 0) {
        // blm di implementasi
        ftSaleshFilter.fmaterialIds = this.filterFmaterials;
      }

      if (this.filterFwarehouses.length > 0) {
        ftSaleshFilter.fwarehouseIds = this.filterFwarehouses;
      }

      if (this.filterFwarehouses.length > 0) {
        ftSaleshFilter.fmaterialIds = this.filterFmaterials;
      }

      if (this.filterFwarehouses.length > 0) {
        ftSaleshFilter.listRemark = this.filterByGroupMaterialOrdered;
      }

      // if (
      //   // for filter material and group material
      //   this.filterFmaterials.length > 0 ||
      //   this.filterByGroupMaterialOrdered.length > 0
      // ) {
      //   if (this.filterFwarehouses.length === 0) {
      //     ftSaleshFilter.fmaterialIds = this.itemsFMaterial.map(
      //       (item) => item.id
      //     );
      //   }
      //
      //   if (this.filterEstatusPengiriman.length === 0) {
      //     ftSaleshFilter.statusPengirimanIds = this.itemsEStatusPengiriman.map(
      //       (item) => item.id
      //     );
      //   }
      //
      //   if (this.filterEstatusPengiriman.length === 0) {
      //     ftSaleshFilter.fmaterialIds = this.itemsFMaterial.map(
      //       (item) => item.id
      //     );
      //   }
      //
      //   if (this.filterFexpedisies.length === 0) {
      //     ftSaleshFilter.fexpedisiIds = this.itemsFExpedisi.map(
      //       (item) => item.id
      //     );
      //   }
      //
      //   if (this.filterFstores.length === 0) {
      //     ftSaleshFilter.fstoreIds = this.itemsFStore.map((item) => item.id);
      //   }
      //
      //   if (this.filterFsalesmans.length === 0) {
      //     ftSaleshFilter.fsalesmanIds = this.itemsFSalesman.map(
      //       (item) => item.id
      //     );
      //   }
      //
      //   if (this.filterFwarehouses.length === 0) {
      //     ftSaleshFilter.fwarehouseIds = this.itemsFWarehouse.map(
      //       (item) => item.id
      //     );
      //   }
      // }

      ftSaleshFilter.orderDateFrom = moment(
        this.toISOLocal(this.datePickerRangeOrder.startDate)
      ).format("YYYY-MM-DD");
      ftSaleshFilter.orderDateTo = moment(
        this.toISOLocal(this.datePickerRangeOrder.endDate)
      ).format("YYYY-MM-DD");

      ftSaleshFilter.invoiceDateFrom = moment(
        this.toISOLocal(this.datePickerRangeInv.startDate)
      ).format("YYYY-MM-DD");
      ftSaleshFilter.invoiceDateTo = moment(
        this.toISOLocal(this.datePickerRangeInv.endDate)
      ).format("YYYY-MM-DD");

      /* ini sebenernya blm dipakai, cuma diinilize saja */
      ftSaleshFilter.deliveryDateFrom = moment(
        this.toISOLocal(this.datePickerRangeInv.startDate)
      ).format("YYYY-MM-DD");
      ftSaleshFilter.deliveryDateTo = moment(
        this.toISOLocal(this.datePickerRangeInv.endDate)
      ).format("YYYY-MM-DD");

      ftSaleshFilter.pageNo = this.currentPage;
      ftSaleshFilter.pageSize = this.pageSize;
      ftSaleshFilter.sortBy = "id";
      ftSaleshFilter.order = "DESC";
      ftSaleshFilter.search = this.search;
      ftSaleshFilter.listRemark = this.filterByGroupMaterialOrdered;

      /* check jika ada perubahan */
      const check = changeHelper(
        {
          ...this.ftSaleshFilterTemp,
          pageNo: 0,
          pageSize: 0,
        },
        {
          ...ftSaleshFilter,
          pageNo: 0,
          pageSize: 0,
        }
      );

      /* jika ada perubahan maka akan fetch dari awal dengan data 0 */
      if (JSON.stringify(check) !== "{}" || fromDialog) {
        this.ftSaleshs = [];
        this.currentPage = 1;
        ftSaleshFilter.pageNo = this.currentPage;
      }

      this.ftSaleshFilterTemp = ftSaleshFilter;

      FtSaleshService.getAllFtSaleshContainingAndRemarkInExt(
        ftSaleshFilter
      ).then(
        (response) => {
          this.loading = false;
          const { items } = response.data;
          if (items.length === 0) {
            this.loadMoreState.buttonLoadShow = false;
          }

          if (this.currentPage === 1) {
            this.ftSaleshs = items;
          } else {
            this.ftSaleshs = [...this.ftSaleshs, ...items];
          }

          this.itemsGroupMaterialOrdered = [];
          this.ftSaleshs.forEach((item) => {
            if (item.remark.trim() != "") {
              this.itemsGroupMaterialOrdered.push(item.remark);
            }
          });

          this.loadMoreState.butttonLoad = false;
          this.loading = false;
        },
        (error) => {
          this.loading = false;
          console.log(error);
        }
      );
    },
    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        this.currentPage = 1;
        this.search = event.target.value;

        if (this.showFilter) {
          this.runExtendedFilter();
        } else {
          this.fetchFtSalesh();
        }
      }
    },
    fetchParent() {
      /* fetch untuk data pada filter */
      this.$store.dispatch("data/loadFDivision");
      this.$store.dispatch("data/loadFCustomerGroup");
      this.$store.dispatch("data/loadFDistributionChannel");
      this.$store.dispatch("data/loadFWarehouseExpedisiAvailable");
      this.$store.dispatch("data/loadFMaterial");
      this.$store.dispatch("data/loadFExpedisi");
      this.$store.dispatch("data/loadFWarehouse");
      this.$store.dispatch("data/loadFPayMethod");
      this.$store.dispatch("data/loadFStore");
      this.$store.dispatch("data/loadDiscount");
      if (
        this.currentUser.salesmanOf > 0 &&
        [
          ERole.ROLE_CS,
          ERole.ROLE_AGEN,
          ERole.ROLE_RSL_1,
          ERole.ROLE_RSL_2,
        ].some((x) => this.currentUser.roles.includes(x))
      ) {
        this.$store.dispatch("data/loadFSalesmanChildrenAndMe");
      } else {
        this.$store.dispatch("data/loadFSalesman");
      }
      this.fetchFilter = true;
    },

    async fetchFtSalesh(isUpdated = false, fromDialog = false) {
      /* fetch tanpa filter */
      this.loadMoreState.buttonLoadShow = true;
      const temp = {
        pageNo: 0,
        pageSize: 0,
        sortBy: "created",
        order: "DESC",
        search: this.search,
      };
      const check = changeHelper(
        { ...this.ftSaleshFilterTemp, pageNo: 0, pageSize: 0 },
        temp
      );
      if (JSON.stringify(check) !== "{}" || fromDialog) {
        this.ftSaleshs = [];
        this.currentPage = 1;
      }
      this.ftSaleshFilterTemp = temp;
      const response = await FtSaleshService.getAllFtSaleshContaining(
        this.currentPage,
        this.pageSize,
        "created",
        "DESC",
        this.search
      );

      const { items } = response.data;
      if (items.length === 0) {
        this.loadMoreState.buttonLoadShow = false;
      }

      if (!isUpdated) {
        this.ftSaleshs = [...this.ftSaleshs, ...items];
      } else {
        this.ftSaleshs = items;
      }
      this.loading = false;
      this.loadMoreState.butttonLoad = false;
    },
    showTimeLine(item) {
      const itemModified = Object.assign({}, item);
      this.$refs.refFtSaleshTimeLineDialog.showDialog(itemModified);
    },
    showDialogNew() {
      this.itemSelectedIndex = -1;
      const itemModified = Object.assign({}, "");
      this.formMode = FormMode.NEW_FORM;
      this.$refs.refFormDialog.initialize("create");
    },
    showDialogEdit(item) {
      this.itemSelectedIndex = this.ftSaleshsFiltered.indexOf(item);
      const itemModified = Object.assign({}, item);
      this.formMode = FormMode.EDIT_FORM;
      this.$refs.refFormDialog.initialize("edit", itemModified.id);
    },
    eventEditFormDialog1() {},
    eventCreateFormDialog1() {},
    eventCloseFormDialog1() {
      if (this.showFilter) {
        this.runExtendedFilter(true);
      } else {
        this.fetchFtSalesh(true, true);
      }
    },
    deleteDialogShow(item) {
      this.itemSelectedIndex = this.ftSaleshsFiltered.indexOf(item);
      this.itemSelected = Object.assign({}, item);
      let title = undefined;
      let message = `${item.orderno} >> ${
        item.destName != undefined ? item.destName : ""
      }, ${item.destCity1 != undefined ? item.destCity1 : ""} `;

      title = "Yakin hapus data?";
      if (item.invoiceno !== null) {
        title = "SUDAH TERBIT INVOCE, YAKIN BATAL INVOICE?";
        message = `${item.orderno} | INV: ${item.orderno} >> ${
          item.destName != undefined ? item.destName : ""
        }, ${item.destCity1 != undefined ? item.destCity1 : ""} `;
      }

      this.$refs.refDeleteConfirmDialog.showDialog(
        this.itemSelectedIndex,
        message,
        title
      );
    },
    deleteDialogMultiShow() {
      if (this.multiSelect === true) {
        // console.log(`nilai ${this.selectedItems}`)
        this.$refs.refDeleteConfirmDialog.showDialogMulti(
          this.selectedItems,
          `${this.selectedItems.length} items selected`
        );
      }
    },
    deleteItemConfirmedSingleSelect() {
      const deletedItem = this.ftSaleshs[this.itemSelectedIndex];
      FtSaleshService.deleteOrder(deletedItem.id)
        .then(async (res) => {
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
          if (this.showFilter) {
            this.runExtendedFilter(true);
          } else {
            await this.fetchFtSalesh(true);
          }
          this.$swal({
            title: "Success",
            text: res.data.message,
            icon: "success",
            confirmButtonText: "Tutup",
          });
        })
        .catch((err) => {
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
          this.$swal({
            title: "Error",
            text: err.response.data.message,
            icon: "error",
            confirmButtonText: "Tutup",
          });
        });
    },
    deleteItemConfirmedMultiSelect(items) {
      if (items.length > -1) {
        let itemIds = [];
        for (let i = 0; i < items.length; i++) {
          itemIds.push(items[i].id);
        }
        FtSaleshService.deleteAllFtSalesh(itemIds).then(
          (response) => {
            if (response.data) {
              for (let i = 0; i < items.length; i++) {
                if (
                  !response.data.includes(items[i].id) ||
                  response.data.length === 0
                ) {
                  const index = this.ftSaleshsFiltered.indexOf(items[i]);
                  this.ftSaleshs.splice(index, 1);
                }
                if (response.data.length > 0) {
                  this.snackBarMesage = `${response.data.length} items gagal hapus (digunakan oleh data anak)`;
                  this.snackbar = true;
                }
              }
              this.closeDialog();
            }
          },
          (error) => {
            console.log("error " + error);
          }
        );
      }
    },
    closeDialog() {
      this.formMode = "";
      this.$refs.refDeleteConfirmDialog.setDialogState(false);
      this.$refs.refFormDialog.setDialogState(false);

      this.$nextTick(() => {
        this.itemSelected = Object.assign({}, "");
        this.itemSelectedIndex = -1;
      });
    },
    importDialogShow() {
      this.$refs.refFtSaleshImportDialog.showDialog();
    },
    importExcelCompleted(value) {
      if (value === "OKE") {
        this.fetchFtSalesh();
      }
    },
    getColorStatusActive(trueFalse) {
      if (trueFalse === true) return "green";
      else if (trueFalse === false) return "gray";
      else return "gray";
    },
    removeAutoCompleteFExpedisi(item) {
      const index = this.filterFexpedisies.indexOf(item.id);
      if (index >= 0) this.filterFexpedisies.splice(index, 1);
    },
    removeAutoCompleteFWarehouse(item) {
      const index = this.filterFwarehouses.indexOf(item.id);
      if (index >= 0) this.filterFwarehouses.splice(index, 1);
    },
    removeAutoCompleteFMaterial(item) {
      const index = this.filterFmaterials.indexOf(item.id);
      if (index >= 0) this.filterFmaterials.splice(index, 1);
    },
    lookupFDivision(fdivisionBean) {
      const str = this.itemsFDivision.filter((x) => x.id === fdivisionBean);
      if (str.length > 0) {
        return str[0];
      } else {
        return undefined;
      }
    },
    lookupFCustomerGroup(fcustomerGroupBean) {
      const str = this.itemsFCustomerGroup.filter(
        (x) => x.id == fcustomerGroupBean
      );
      if (str.length > 0) {
        return str[0];
      } else {
        return "";
      }
    },
    lookupEStatusPengiriman(statusPengiriman) {
      const str = this.itemsEStatusPengiriman.filter(
        (x) => x.id === statusPengiriman
      );
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },
    lookupEStatusPengirimanColor(statusPengiriman) {
      const str = this.itemsEStatusPengiriman.filter(
        (x) => x.id === statusPengiriman
      );
      if (str.length > 0) {
        return `${str[0].color}`;
      } else {
        return "-";
      }
    },
    lookupImageUrl(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_verylow(item.avatarImage);
      }
    },
    lookupImageUrlLazy() {
      return "./assets/images/no_image_available.jpeg";
    },
    formattedCurrencyValue(prefix, value) {
      if (!value) {
        return "0";
      }
      return prefix + "" + parseFloat(value).toLocaleString();
    },
    dateFormattedDatefns(value) {
      return dateFormattedDatefns(value);
    },
    dateFormattedDatefnsShort(value) {
      return dateFormattedDatefnsShort(value);
    },
    dateFormattedDatefnsWithTime(value) {
      return dateFormattedDatefnsWithTime(value);
    },
    dateFormattedDatefnsWithTimeShort(value) {
      return dateFormattedDatefnsWithTimeShort(value);
    },
    validateCODAmount(item) {
      let valid = true;
      if (item.codRp > 0 && item.noBiaya == false) {
        const amountAndOngkir =
          item.amountAfterDiscPlusRpAfterPpn_FG + item.ongkirRp;
        const biayaPenangangan = item.codRp - amountAndOngkir;
        const persenBiayaPenangangan =
          (biayaPenangangan / amountAndOngkir) * 100;

        if (persenBiayaPenangangan < 2 || persenBiayaPenangangan > 4)
          valid = false;
        if (
          item.biayaRp -
            (item.codRp -
              item.amountAfterDiscPlusRpAfterPpn_FG -
              item.ongkirRp) >
          10
        )
          valid = false;
      }
      return valid;
    },
  },

  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.loading = true;
      /* fetch data filter */
      this.fetchParent();

      /* filter dari dashboard */
      if (this.$route.params.statusPengiriman !== undefined) {
        const statusPengirimanInt = this.$route.params.statusPengiriman;
        const dateFromLong = this.$route.params.dateFrom;
        const dateToLong = this.$route.params.dateTo;
        this.showFilter = true;
        this.datePickerRangeOrder.startDate = new Date(parseInt(dateFromLong));
        this.datePickerRangeOrder.endDate = new Date(parseInt(dateToLong));
        this.datePickerRangeInv.startDate = new Date(parseInt(dateFromLong));
        this.datePickerRangeInv.endDate = new Date(parseInt(dateToLong));

        if (statusPengirimanInt === EStatusPengiriman.ON_PACKING) {
          this.filterEstatusPengiriman = [EStatusPengiriman.ON_PACKING];
        } else if (statusPengirimanInt === EStatusPengiriman.ON_DELIVERY) {
          this.filterEstatusPengiriman = [EStatusPengiriman.ON_DELIVERY];
        } else if (
          (statusPengirimanInt >= 0 && statusPengirimanInt <= 12) ||
          statusPengirimanInt === 401
        ) {
          this.filterEstatusPengiriman = [parseInt(statusPengirimanInt)];
        }
        this.runExtendedFilter();
      } else {
        this.fetchFtSalesh();
      }
    }
    if (this.currentUser.roles != undefined) {
      if (
        this.currentUser.salesmanOf > 0 &&
        [
          ERole.ROLE_CS,
          ERole.ROLE_AGEN,
          ERole.ROLE_RSL_1,
          ERole.ROLE_RSL_2,
        ].some((x) => this.currentUser.roles.includes(x))
      ) {
        this.pageSizes = [10, 20, 40, 75, 150];
      }
    }
  },
};
</script>

<style scoped>
.single-line-height {
  line-height: 0.9em;
}
.short-line-height {
  line-height: 0.5em;
}
</style>
