<template>
  <div id="app">
    <v-dialog title="Tips" :visible.sync="dialogVisible" width="30%">
      <span>This is a message</span>
      <span slot="footer">
        <v-btn @click="dialogVisible = false">Cancel</v-btn>
        <v-btn type="primary" @click="dialogVisible = false">Confirm</v-btn>
      </span>
    </v-dialog>

    <v-row class="grey lighten-5 mb-1">
      <v-col cols="12" sm="6" md="6">
        <v-autocomplete
          v-model="itemModified.fdivisionBean"
          :items="itemsFDivision"
          item-value="id"
          item-text="description"
          auto-select-first
          dense
          chips
          deletable-chips
          color="blue-grey lighten-2"
          label="Division/Branch"
          :hint="`Branch/Distributor : ${lookupFDivision(
            itemModified.fdivisionBean
          )}`"
          persistent-hint
          single-line
          small-chips
          @change="drawOrgChart"
        ></v-autocomplete>
      </v-col>
    </v-row>
    <organization-chart
      id="organization-chart"
      :datasource="orgChartDS"
    ></organization-chart>
  </div>
</template>

<script>
import OrganizationChart from "vue-organization-chart";

import "element-ui/lib/theme-chalk/index.css";
import "vue-organization-chart/dist/orgchart.css";
import FPegawaiService from "../../services/f-pegawai-service";
import FDivisionService from "../../../division/services/f-division-service";
import { ESalesTypes } from "../../../../models/e-sales-type";
import FSalesman from "../../../../models/f-salesman";

export default {
  name: "App",
  components: {
    OrganizationChart,
  },
  data() {
    return {
      dialogVisible: false,
      activeId: 0,

      itemModified: new FSalesman(),
      fdivisionSelected: {},
      itemsFDivision: [],
      itemsFSalesman: [],
      itemsESalesType: ESalesTypes,
      fPegawais: [],

      ds: {
        id: "1",
        name: "Ana",
        title: "General",
        children: [
          { id: "2", name: "Abraham", title: "Lieutenant General" },
          {
            id: "3",
            name: "Nate",
            title: "Lieutenant General",
            children: [
              { id: "4", name: "Mike", title: "Major General" },
              {
                id: "5",
                name: "Blake",
                title: "Major General",
                children: [
                  { id: "6", name: "Bob", title: "Colonel" },
                  { id: "7", name: "Dave", title: "Colonel" },
                ],
              },
            ],
          },
        ],
      },
    };
  },

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    fPegawaisFiltered() {
      return this.fPegawais.filter((x) => x.statusActive == true);
    },

    orgChartDS_XX() {
      let ds = {
        id: 0,
        name: this.fdivisionSelected.description,
        title: "BRANCH/DIVISION",
        children: [],
      };
      /**
       * 1. Cari yang tidak mempunya childOf
       */
      if (this.fPegawais.length > 0) {
        let roots = this.fPegawais.filter(
          (x) => x.childOf === 0 && x.statusActive == true
        );
        // console.log(JSON.stringify(root))
        const dsRoot = [];
        roots.forEach((item) => {
          let children = this.fPegawais.filter(
            (x) => x.childOf === item.id && x.statusActive == true
          );

          const dsChildren = [];
          children.forEach((itemChild) => {
            const child = {
              id: itemChild.id,
              name: itemChild.spname,
              title: itemChild.childOf + " | " + itemChild.id,
            };
            // console.log(JSON.stringify(child.name))
            if (itemChild.statusActive == true) {
              dsChildren.push(child);
            }
          });

          const root = {
            id: item.id,
            name: item.spname,
            title: item.childOf + " | " + item.id,
            children: dsChildren,
          };
          // console.log(JSON.stringify(root.name) + " >> " + JSON.stringify(root.children))
          dsRoot.push(root);
        });

        ds.children = dsRoot;
      }
      // console.log(`Ukuran this ${this.fPegawais.length}`)
      return ds;
    },

    orgChartDS() {
      let dsData = {
        id: 0,
        name: this.fdivisionSelected.description,
        title: "BRANCH/DIVISION",
        children: [],
      };
      let dsRoot = [];
      if (this.fPegawais.length > 0) {
        let roots = this.fPegawaisFiltered.filter(
          (x) => x.childOf === 0 && x.statusActive == true
        );
        roots.forEach((item) => {
          const root = {
            id: item.id,
            name: item.spname,
            title: item.childOf + " | " + item.id,
            children: this.createChildren(item),
          };
          dsRoot.push(root);
        });
      }

      dsData.children = dsRoot; //dsRoot With children
      return dsData;
    },
  },

  methods: {
    createChildren(data) {
      const children = [];
      if (data.length > 0) {
        data.forEach((item) => {
          const child = {
            id: item.id,
            name: item.spname,
            title: item.childOf + " | " + item.id,
          };
          if (item.statusActive == true) {
            children.push(child);
          }
        });
      }

      // console.log(`>>> ${JSON.stringify(children)}`)

      return children;
    },

    lookupFDivision(fdivisionBean) {
      const str = this.itemsFDivision.filter((x) => x.id === fdivisionBean);
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },

    lookupESalesType(eSalesType) {
      const str = this.itemsESalesType.filter((x) => x.id === eSalesType);
      if (str.length > 0) {
        return `${str[0].description}`;
      } else {
        return "-";
      }
    },

    lookupFSalesman(fsalesmanBean) {
      const str = this.itemsFSalesman.filter((x) => x.id === fsalesmanBean);
      if (str.length > 0) {
        return `${str[0].spname} *${str[0].spcode}`;
      } else {
        return "-";
      }
    },

    drawOrgChart(value) {
      // console.log(value)
      this.fetchFPegawai(value);
      this.fdivisionSelected = this.lookupFDivision(value);
    },

    fetchFPegawai(fdivisionBean) {
      FPegawaiService.getAllFSalesmanByDivision(fdivisionBean).then(
        (response) => {
          this.fPegawais = response.data;
          console.log(JSON.stringify(response.data));
        },
        (error) => {
          console.log(error);
        }
      );
    },

    fetchParent() {
      if (this.currentUser.organizationLevel === "DIV") {
        FDivisionService.getFDivisionById(this.currentUser.fdivisionBean).then(
          (response) => {
            this.itemsFDivision = [response.data];
            // console.log(response.data.items)
          },
          (error) => {
            console.log(error.response);
          }
        );
      } else {
        FDivisionService.getAllFDivision().then(
          (response) => {
            // console.log(JSON.stringify(response.data))
            this.itemsFDivision = response.data;
          },
          (error) => {
            console.log(error.response);
          }
        );
      }
    },
  },

  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.fetchParent();
    }
  },
};
</script>

<style>
#app .orgchart .node .title {
  background-color: #06c4de;
}
#app .orgchart .node .content {
  border: 1px solid #06c4de;
}
#app .orgchart .lines .leftLine {
  border-left: 1px solid #06c4de;
}
#app .orgchart .lines .rightLine {
  border-right: 1px solid #06c4de;
}
#app .orgchart .lines .topLine {
  border-top: 1px solid #06c4de;
}
#app .orgchart .lines .bottomLine {
  border-bottom: 1px solid #06c4de;
}
#app .orgchart .lines .downLine {
  background-color: #06c4de;
}
</style>
