<template>
  <div class="DialogOrderComponent">
    <v-dialog
      ref="mainDialogOrder"
      v-model="dialogShow"
      class="mainDialogOrder"
      fullscreen
      hide-overlay
      persistent
      transition="dialog-bottom-transition"
      @keydown.esc.prevent="closeForm"
    >
      <v-card color="#f3f3f9">
        <v-toolbar dense flat>
          <v-container class="px-0">
            <div class="d-flex align-center">
              <div class="d-flex align-center">
                <v-btn icon @click="closeForm">
                  <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
                <v-toolbar-title>{{ title }}</v-toolbar-title>
              </div>
              <v-spacer></v-spacer>
              <div class="pr-5">
                <v-chip
                  v-show="isItemModified"
                  class="ma-2"
                  color="warning"
                  outlined
                  x-small
                >
                  <v-icon left x-small> mdi-pencil </v-icon>
                  modfied
                </v-chip>
              </div>
            </div>
          </v-container>
        </v-toolbar>

        <v-container class="mt-5">
          <v-form ref="validateFormRef">
            <v-row>
              <v-col cols="12" lg="9">
                <product-item-order-component
                  :data="item"
                  :is-items-modified="isItemModified"
                  :items-division-active="itemsDivisionActive"
                  :items-salesman-users="itemsSalesmanUsers"
                  :items-store-active="itemsStoreActive"
                  :items-warehouse-active="itemsWarehouseActive"
                  :rule="rulesNotEmtpy"
                  :canCalculate="canCalculate"
                  :canSaveDraft="canSaveDraft"
                  :cantEdit="cantEdit"
                  @calculateOrder="calculateOrder"
                  @fetchAvailableEkspedisiByWarehouse="
                    fetchAvailableEkspedisiByWarehouse
                  "
                  @openCustomerDialog="openCustomerDialog"
                  @reCalculateSummary="calculateSummary"
                  @saveDraft="saveDraft"
                >
                </product-item-order-component>
              </v-col>

              <v-col cols="12" lg="3">
                <sidebar-order-component
                  :id="id"
                  :isError="onError"
                  :data="item"
                  :ekspedisiList="ekspedisiList"
                  :canCalculate="canCalculate"
                  :is-items-modified="isItemModified"
                  :canSaveDraft="canSaveDraft"
                  :cantEdit="cantEdit"
                  :itemsMethodPaymentByEkspedisi="itemsMethodPaymentByEkspedisi"
                  :itemsDiscount="itemsDiscount"
                  @alertMessage="alertMessage"
                  @copyDetail="copyDetail"
                  @cancelOrder="cancelOrder"
                  @closeForm="closeForm"
                  @openCustomerDialog="openCustomerDialog"
                  @saveDraft="saveDraft"
                  @loading="onLoading"
                  @changeDiscountValue="changeDiscountValue"
                  @changeDiscountManualValue="changeDiscountManualValue"
                ></sidebar-order-component>
              </v-col>
            </v-row>
          </v-form>
        </v-container>

        <v-snackbar
          v-model="showSnackbar"
          :timeout="2000"
          color="green darken-2"
          right
          top
        >
          {{ snackbarMessage }}
        </v-snackbar>
      </v-card>
      <v-overlay :value="loadingDialog" opacity="0.7" z-index="99">
        <LogoLoader />
      </v-overlay>
    </v-dialog>

    <!-- customer dialog   -->
    <MemberOrderComponent
      ref="customerDialogRef"
      :customerTemp="tempCustomer"
      :data="item"
      :items-channel-active="itemsChannelActive"
      :items-customer-group-active="itemsCustomerGroupActive"
      :items-division-active="itemsDivisionActive"
      @onSuccessCreateCustomer="onSuccessCreateCustomer"
      @loading="onLoading"
    />
  </div>
</template>

<script>
import ProductItemOrderComponent from "@/modules/sales/components/invoice-type1-new/ProductItemOrderComponent.vue";
import SidebarOrderComponent from "@/modules/sales/components/invoice-type1-new/SidebarOrderComponent.vue";
import { computed, reactive, ref, toRefs } from "vue";
import ftSaleshService from "@/modules/sales/services/ft-salesh-service";
import fEkspedisiService from "../../../mitra/services/ekspedisi_service/f-expedisi-service";
import Order from "@/models/order";
import MemberOrderComponent from "@/modules/sales/components/invoice-type1-new/MemberComponent.vue";
import { useGetters, useStore } from "vuex-composition-helpers";
import Swal from "sweetalert2";
import LogoLoader from "@/modules/public/components/LogoLoader.vue";
import momentTimzone from "moment-timezone";

export default {
  name: "DialogOrderComponent",
  components: {
    LogoLoader,
    MemberOrderComponent,
    SidebarOrderComponent,
    ProductItemOrderComponent,
  },
  setup(props, { expose, emit }) {
    const dataStore = useStore();

    const {
      itemsDivisionActive,
      itemsStoreActive,
      itemsWarehouseActive,
      itemsSalesmanUsers,
      itemsChannelActive,
      itemsCustomerGroupActive,
      itemsMethodPaymentByEkspedisi,
      itemsDiscount,
      getTempOrder,
    } = useGetters("data", [
      "itemsDivisionActive",
      "itemsStoreActive",
      "itemsWarehouseActive",
      "itemsSalesmanUsers",
      "itemsChannelActive",
      "itemsCustomerGroupActive",
      "itemsMethodPaymentByEkspedisi",
      "itemsDiscount",
      "getTempOrder",
    ]);

    const { user } = useGetters("auth", ["user"]);

    /* reactive data */
    const customerDialogRef = ref(null);

    const validateFormRef = ref(null);

    /* general */
    const state = reactive({
      title: "Create order",
      dialogShow: false,
      showSnackbar: false,
      loadingDialog: false,
      onError: false,
      snackbarMessage: "",
    });

    /* customer */
    const customer = reactive({
      tempCustomer: {
        division_id: null,
        channel_id: null,
        cutomer_group_id: null,
      },
    });

    /* order */
    const order = reactive({
      /* item modified use to know item modified or not by user*/
      id: null /* id will assign when save */,
      itemModified: JSON.stringify(new Order()),
      item: new Order(),
      ekspedisiList: [],
    });

    /* validation */
    const vuetifyValidation = reactive({
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
    });

    /* end reactive data */

    /* method */
    const initialize = (type, id = null) => {
      if (type === "create") {
        state.title = "Create order";
        resetOrder();

        order.item.created = momentTimzone
          .tz(Date(), "Asia/Jakarta")
          .locale("id")
          .format("yyyy-MM-DD");

        if (user.value !== null) {
          order.item.division_id = user.value.fdivisionBean;
          customerDialogRef.value.itemModified.fdivisionBean =
            user.value.fdivisionBean;
        }

        if (getTempOrder.value !== null) {
          order.item.store_id = getTempOrder.value.store_id;
          order.item.salesman_id = getTempOrder.value.salesman_id;
        }
      } else if (type === "edit" && id != null) {
        state.title = "Edit order";
        getById(id);
      }
      state.dialogShow = !state.dialogShow;
    };

    const resetOrder = () => {
      order.id = null;
      order.itemModified = JSON.stringify(new Order());
      order.item = new Order();
      order.ekspedisiList = [];
    };

    const openCustomerDialog = (type, id = null) => {
      customerDialogRef.value.initialize(type, id);
    };

    /* this for when initialize edit data */
    const getById = (id) => {
      state.loadingDialog = true;
      ftSaleshService
        .getOrder(id)
        .then((res) => {
          if (res.status === 200) {
            state.onError = false;
            order.itemModified = JSON.stringify(res.data.data);
            order.item = res.data.data;
            order.id = id;

            if (order.item.warehouse_id != null) {
              state.loadingDialog = true;
              fEkspedisiService
                .getFExpedisiByWarehouseId(order.item.warehouse_id)
                .then((res) => {
                  /* assign new ekspedisi */
                  order.ekspedisiList = res.data.data;

                  let ekspedisi = order.ekspedisiList.find(
                    (row) => row.id === order.item.ekspedisi_id
                  );

                  if (ekspedisi !== undefined) {
                    dataStore.dispatch(
                      "data/loadMetodePembayaranByEkpedisi",
                      ekspedisi.kode1
                    );
                  }
                })
                .finally(() => {
                  state.loadingDialog = false;
                })
                .catch((err) => {
                  state.loadingDialog = false;
                  Swal.fire({
                    title: "Terjadi kesalahan",
                    text: err.response.data.message,
                    icon: "error",
                    confirmButtonText: "Tutup",
                  });
                });
            }
          }
        })
        .finally(() => (state.loadingDialog = false))
        .catch((e) => {
          state.loadingDialog = false;
          Swal.fire({
            title: "Terjadi kesalahan",
            text: e.message,
            icon: "error",
            confirmButtonText: "Tutup",
          });
        });
    };

    /* fetch ekspedisi when warehouse change */
    const fetchAvailableEkspedisiByWarehouse = () => {
      if (order.item.warehouse_id != null) {
        state.loadingDialog = true;
        fEkspedisiService
          .getFExpedisiByWarehouseId(order.item.warehouse_id)
          .then((res) => {
            /* assign new ekspedisi */
            order.ekspedisiList = res.data.data;
          })
          .finally(() => {
            state.loadingDialog = false;
          })
          .catch((err) => {
            state.loadingDialog = false;
            Swal.fire({
              title: "Terjadi kesalahan",
              text: err.response.data.message,
              icon: "error",
              confirmButtonText: "Tutup",
            });
          });
      }

      /* reset all */
      order.item.items = [];
      order.item.ekspedisi_id = null;
      order.item.total = 0;
      order.item.sub_total = 0;
      order.item.ongkir = 0;
      order.item.admin_fee = 0;
    };

    /* success create customer memberComponent*/
    const onSuccessCreateCustomer = (item, type) => {
      /* type -> add, change
       * if change, reset ongkir, ekspedisi selected */
      order.item.customer_id = item.id;
      order.item.customer_name = item.custname;
      order.item.customer_phone = item.phone;
      order.item.customer_address = item.address1;
      order.item.sub_area_id = item.fsubAreaBean;

      /* customer area */
      order.item.customer_state = item.fregion; // provinsi
      order.item.customer_city = item.farea; // kabupaten
      order.item.customer_district = item.fsubArea; // kecamatan

      /* reset ekspedisi */
      if (type === "change") {
        /* temp for change */
        customer.tempCustomer.cutomer_group_id = item.fcustomerGroupBean;
        customer.tempCustomer.division_id = item.fdivisionBean;
        customer.tempCustomer.channel_id = item.fdistributionChannelBean;
      }

      /* reload ekspedisi */
      if (order.id !== null) {
        saveDraft();
      }

      customerDialogRef.value.closeForm();
    };

    const alertMessage = (type, title, message, confirmButton = "Tutup") => {
      Swal.fire({
        title: title,
        text: message,
        icon: type,
        confirmButtonText: confirmButton,
      });
    };

    const saveDraft = () => {
      if (validateFormRef.value.validate() && canSaveDraft) {
        state.loadingDialog = true;
        if (order.id !== null) {
          ftSaleshService
            .updateOrder(order.item, order.id)
            .then((res) => {
              const { data } = res.data;
              /* update data */
              order.item = data;
              order.id = data.id;
              order.total = data.total;
              order.sub_total = data.sub_total;
              order.admin_fee = data.admin_fee;

              order.itemModified = JSON.stringify(data);

              state.onError = false;
              state.showSnackbar = true;
              state.snackbarMessage = "Berhasil update draft data";

              if (canCalculate.value) {
                calculateOrder();
              }
            })
            .finally(() => {
              if (!canCalculate.value) {
                state.loadingDialog = false;
              }
            })
            .catch((err) => {
              state.loadingDialog = false;
              state.onError = true;
              const message = err.response.data.message;
              if (message.includes("Wilayah tidak support COD")) {
                alertMessage("info", "Info ekspedisi", message);
              } else {
                alertMessage("error", "Terjadi kesalahan", message);
              }
            });
        } else {
          ftSaleshService
            .createOrder(order.item)
            .then((res) => {
              const { data } = res.data;
              state.title = "Edit order";
              order.item = data;
              order.id = data.id;
              order.itemModified = JSON.stringify(data);

              state.showSnackbar = true;
              state.snackbarMessage = "Berhasil simpan draft data";

              if (canCalculate.value) {
                calculateOrder();
              }
            })
            .finally(() => {
              if (!canCalculate.value) {
                state.loadingDialog = false;
              }
            })
            .catch((err) => {
              state.loadingDialog = false;
              Swal.fire({
                title: "Terjadi kesalahan",
                text: err.response.data.message,
                icon: "error",
                confirmButtonText: "Tutup",
              });
            });
        }
      }
    };

    const changeDiscountValue = (value) => {
      order.item.discount = value;
      order.item.ongkir = 0;
      order.item.admin_fee = 0;
      calculateSummary();
    };

    const changeDiscountManualValue = () => {
      order.item.ongkir = 0;
      order.item.admin_fee = 0;
      calculateSummary();
    };

    const calculateSummary = async () => {
      const total = order.item.items
        .map((row) => row.qty * row.price)
        .reduce((old, next) => old + next, 0);
      order.item.sub_total = total;
      order.item.total =
        total + order.item.ongkir + order.item.admin_fee + order.item.discount;
    };

    const cancelOrder = () => {
      if (cantEdit) {
        state.loadingDialog = true;
        ftSaleshService
          .cancelOrder(order.id)
          .then((res) => {
            Swal.fire({
              title: "Success",
              text: res.data.message,
              icon: "success",
              confirmButtonText: "Tutup",
            });
            closeForm();
          })
          .finally(() => (state.loadingDialog = false))
          .catch((err) => {
            state.loadingDialog = false;
            Swal.fire({
              title: "Terjadi kesalahan",
              text: err.response.data.message,
              icon: "error",
              confirmButtonText: "Tutup",
            });
          });
      }
    };

    const calculateOrder = () => {
      state.loadingDialog = true;
      if (order.id !== null && canCalculate.value) {
        ftSaleshService
          .orderCalculate(order.id)
          .then((res) => {
            const { data } = res.data;
            /* update data */
            state.onError = false;
            order.item = data;
            order.itemModified = JSON.stringify(data);

            state.showSnackbar = true;
            state.snackbarMessage = "Berhasil calculate data";
          })
          .finally(() => (state.loadingDialog = false))
          .catch((err) => {
            state.loadingDialog = false;
            state.onError = true;
            const message = err.response.data.message;
            if (message.includes("Wilayah tidak support COD")) {
              alertMessage("info", "Info ekspedisi", message);
            } else {
              alertMessage("error", "Terjadi kesalahan", message);
            }
          });
      }
    };

    const closeForm = () => {
      resetOrder();
      state.dialogShow = false;
      state.loadingDialog = false;
      emit("refresh");
    };

    const onLoading = (loadingState) => {
      state.loadingDialog = loadingState;
    };

    /* end method */

    /* start computed */

    const isItemModified = computed(
      () => order.itemModified !== JSON.stringify(order.item)
    );

    const canCalculate = computed(() => {
      return (
        order.item.division_id !== null &&
        order.item.salesman_id !== null &&
        order.item.store_id !== null &&
        order.item.warehouse_id != null &&
        order.item.customer_id != null &&
        order.item.sub_area_id !== null &&
        order.item.customer_name !== null &&
        order.item.customer_address !== null &&
        order.item.customer_phone !== null &&
        order.item.customer_state !== null &&
        order.item.customer_city !== null &&
        order.item.customer_district !== null &&
        order.item.ekspedisi_id !== null &&
        order.item.items.length !== 0
      );
    });

    const cantEdit = computed(() => {
      return order.item.waybill_no !== null || order.item.status > 1;
    });

    const canSaveDraft = computed(() => {
      return (
        order.item.division_id !== null &&
        order.item.salesman_id !== null &&
        order.item.store_id !== null &&
        order.item.warehouse_id != null &&
        order.item.customer_id != null &&
        order.item.sub_area_id !== null &&
        order.item.customer_name !== null &&
        order.item.customer_address !== null &&
        order.item.customer_phone !== null &&
        order.item.customer_state !== null &&
        order.item.customer_city !== null &&
        order.item.customer_district !== null
      );
    });

    /* end computed */

    /* expose public property to template */
    expose({
      initialize,
    });
    /* end expose */

    return {
      ...toRefs(state),
      ...toRefs(order),
      ...toRefs(customer),
      ...toRefs(vuetifyValidation),

      validateFormRef,

      isItemModified,
      fetchAvailableEkspedisiByWarehouse,
      closeForm,
      openCustomerDialog,
      customerDialogRef,
      onSuccessCreateCustomer,
      calculateSummary,
      changeDiscountValue,
      changeDiscountManualValue,
      calculateOrder,
      saveDraft,
      cancelOrder,
      onLoading,
      alertMessage,

      /* vuex data*/
      itemsDivisionActive,
      itemsStoreActive,
      itemsWarehouseActive,
      itemsSalesmanUsers,
      itemsMethodPaymentByEkspedisi,
      itemsDiscount,
      itemsChannelActive,
      itemsCustomerGroupActive,

      /* required */
      canSaveDraft,
      canCalculate,
      cantEdit,
    };
  },
  methods: {
    copyDetail() {
      const container = document.querySelector(".v-dialog");
      this.$copyText(
        `Invoice no : ${this.item.invoice_no ?? "-"}\nOrder no : ${
          this.item.order_no ?? "-"
        }\nWaybill : ${this.item.waybill_no ?? "-"}\nSub total : ${
          this.item.sub_total
        }\nOngkir : ${this.item.ongkir}\nAdmin Fee : ${
          this.item.admin_fee
        }\nDiscount : ${this.item.discount}\nDiscount Manual : ${
          this.item.discountManual
        }\nTotal : ${this.item.total}\n`,
        container
      ).then(() => {
        this.showSnackbar = true;
        this.snackbarMessage = "Berhasil copy data";
      });
    },
  },
  mounted() {
    this._keyListener = function (e) {
      if (e.key === "s" && (e.ctrlKey || e.metaKey)) {
        e.preventDefault(); // present "Save Page" from getting triggered.
        if (this.isItemModified && !this.cantEdit) {
          this.saveDraft();
        }
      }
    };

    document.addEventListener("keydown", this._keyListener.bind(this));
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this._keyListener);
  },
};
</script>
