<template>
  <div class="DialogCustomerOrderComponent">
    <v-dialog
      v-model="dialogShow"
      persistent
      style="z-index: 2"
      transition="dialog-bottom-transition"
      width="500px"
      @keydown.esc.prevent="closeForm"
    >
      <v-card color="#f3f3f9">
        <v-toolbar dense flat>
          <v-container class="px-0">
            <div class="d-flex align-center">
              <div class="d-flex align-center">
                <v-toolbar-title>{{ title }}</v-toolbar-title>
                <div class="pl-5">
                  <v-chip
                    v-show="isItemModified"
                    class="ma-2"
                    color="warning"
                    outlined
                    prepend-inner-icon="mdi-user"
                    x-small
                  >
                    <v-icon left x-small> mdi-pencil </v-icon>
                    modfied
                  </v-chip>
                </div>
              </div>
              <v-spacer></v-spacer>
              <v-btn icon @click="closeForm">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </div>
          </v-container>
        </v-toolbar>
        <v-form ref="form" @submit.prevent>
          <v-container>
            <v-row>
              <v-col cols="12" lg="12">
                <v-autocomplete
                  :items="member.data"
                  :loading="member.loading"
                  :search-input.sync="member.search"
                  background-color="white"
                  chips
                  dense
                  filled
                  flat
                  hide-details
                  label="Cari customer"
                  no-filter
                  prepend-inner-icon="mdi-magnify"
                  return-object
                  small-chips
                  solo
                  @change="onChangeSearchCustomer"
                >
                  <template v-slot:item="data">
                    <v-list-item-content
                      v-text="
                        `${data.item.custname} (+62${data.item.phone}) - (${data.item.fregion} - ${data.item.farea} - ${data.item.fsubArea})`
                      "
                    ></v-list-item-content>
                  </template>
                </v-autocomplete>
                <v-divider />
              </v-col>
              <v-col cols="12" lg="12">
                <v-text-field
                  v-model="itemModified.custname"
                  :rules="rulesNotEmtpy"
                  dense
                  flat
                  placeholder="Nama customer"
                  prepend-inner-icon="mdi-account"
                  solo
                ></v-text-field>

                <v-text-field
                  v-model="itemModified.phone"
                  :rules="rulesNotEmtpy"
                  dense
                  flat
                  label="Phone (WhatsApp)"
                  placeholder="Telp customer"
                  prepend-inner-icon="mdi-whatsapp"
                  solo
                  @blur="validatePhone"
                ></v-text-field>

                <v-textarea
                  v-model="itemModified.address1"
                  :rules="[min5_max200]"
                  dense
                  flat
                  placeholder="Alamat customer"
                  prepend-inner-icon="mdi-map-marker"
                  solo
                ></v-textarea>

                <v-row>
                  <v-col cols="12" lg="6">
                    <v-autocomplete
                      v-model="itemModified.fdistributionChannelBean"
                      :items="itemsChannelActive"
                      :rules="rulesNotEmtpy"
                      chips
                      deletable-chips
                      dense
                      flat
                      item-text="description"
                      item-value="id"
                      label="Channel"
                      placeholder="Channel"
                      small-chips
                      solo
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12" lg="6">
                    <v-autocomplete
                      v-model="itemModified.fcustomerGroupBean"
                      :items="itemsCustomerGroupActive"
                      :rules="rulesNotEmtpy"
                      chips
                      deletable-chips
                      dense
                      flat
                      item-text="description"
                      item-value="id"
                      label="Jenis customer"
                      placeholder="Jenis customer"
                      small-chips
                      solo
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12" lg="6">
                    <v-autocomplete
                      v-model="itemModified.fdivisionBean"
                      :items="itemsDivisionActive"
                      :rules="rulesNotEmtpy"
                      chips
                      deletable-chips
                      dense
                      flat
                      item-text="description"
                      item-value="id"
                      label="Division/Branch"
                      placeholder="Division/Branch"
                      small-chips
                      solo
                    ></v-autocomplete>
                  </v-col>
                  <v-col cols="12" lg="6">
                    <v-autocomplete
                      v-model="itemModified.fsubAreaBean"
                      :items="kecamatan.data"
                      :loading="kecamatan.loading"
                      :rules="rulesNotEmtpy"
                      :search-input.sync="kecamatan.search"
                      chips
                      deletable-chips
                      dense
                      flat
                      item-value="id"
                      label="Kecamatan"
                      no-filter
                      placeholder="Kecamatan"
                      small-chips
                      solo
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          :input-value="data.selected"
                          close
                          v-bind="data.attrs"
                          @click="data.select"
                          @click:close="itemModified.fsubAreaBean = null"
                        >
                          {{ data.item.description }} -
                          {{ data.item.fareaBean }} - {{ data.item.region }}
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <v-list-item-content
                          v-text="
                            `${data.item.description} - ${data.item.fareaBean} - ${data.item.region}`
                          "
                        ></v-list-item-content>
                      </template>
                    </v-autocomplete>
                  </v-col>
                </v-row>
              </v-col>

              <v-col cols="12" lg="12">
                <div class="d-flex justify-end">
                  <v-btn
                    class="mr-2"
                    color="orange white--text darken-1"
                    elevation="0"
                    type="button"
                    @click="saveCustomer"
                    >Simpan dan gunakan</v-btn
                  >
                  <v-btn
                    v-if="
                      data.customer_id !== null && title !== 'Create customer'
                    "
                    color="primary"
                    elevation="0"
                    @click="updateCustomerOnly"
                    >Gunakan</v-btn
                  >
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { computed, reactive, ref, toRefs, watch } from "vue";
import fSubareaService from "../../../mitra/services/area_service/f-sub-area-service";
import fCustomerService from "../../../mitra/services/customer_service/f-customer-service";
import FCustomer from "@/models/f-customer";
import Swal from "sweetalert2";

export default {
  name: "MemberOrderComponent",
  props: {
    data: Object,
    customerTemp: Object,
    itemsDivisionActive: Array,
    itemsChannelActive: Array,
    itemsCustomerGroupActive: Array,
  },
  setup(props, { expose, emit }) {
    /* reactive data */

    const form = ref(null);

    /* general */
    const state = reactive({
      title: "Create customer",
      dialogShow: false,
      itemModified: new FCustomer(),
      rulesLenght: [
        (v) => !!v || " Tidak Boleh Kosong",
        (v) => v.length <= 255 || "Maksimal 255 Karakter",
        (v) => v.length > 1 || "Harus lebih besar dari 1 karakter",
      ],
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
    });

    const kecamatanRef = reactive({
      kecamatan: {
        search: "",
        loading: false,
        data: [],
      },
      member: {
        search: "",
        loading: false,
        data: [],
      },
    });

    /* kecamatan serach */
    watch(
      () => kecamatanRef.kecamatan.search,
      (newValue, oldValue) => {
        if (
          kecamatanRef.kecamatan.search === "" ||
          kecamatanRef.kecamatan.search === null ||
          kecamatanRef.kecamatan.search.length < 3
        )
          return;

        if (kecamatanRef.kecamatan.loading) return;

        kecamatanRef.kecamatan.loading = true;
        fSubareaService
          .getAllFSubAreaSimpleBySearch(newValue)
          .then((res) => {
            kecamatanRef.kecamatan.data = res.data.data;
          })
          .finally(() => (kecamatanRef.kecamatan.loading = false));
      }
    );
    /* member */
    watch(
      () => kecamatanRef.member.search,
      (newValue, oldValue) => {
        if (
          kecamatanRef.member.search === "" ||
          kecamatanRef.member.search === null ||
          kecamatanRef.member.search.length < 3
        )
          return;

        if (kecamatanRef.member.loading) return;

        kecamatanRef.member.loading = true;
        fCustomerService
          .getAllSearchFCustomerSimple(newValue)
          .then((res) => {
            kecamatanRef.member.data = res.data;
          })
          .finally(() => (kecamatanRef.member.loading = false));
      }
    );

    /* end reactive data */

    /* method */
    const initialize = (type, id = null) => {
      if (type === "create") {
        state.title = "Create customer";
        state.itemModified = {
          ...state.itemModified,
          fdivisionBean: state.itemModified.fdivisionBean,
        };
      } else if (type === "edit" && id != null) {
        state.title = "Edit customer";
        emit("loading", true);
        fCustomerService
          .getFCustomerByIdSimple(id)
          .then((res) => {
            const response = res.data;

            state.itemModified.id = response.id;
            state.itemModified.phone = response.phone;
            state.itemModified.custname = response.custname;
            state.itemModified.address1 = response.address1;
            state.itemModified.fdivisionBean = response.fdivisionBean;
            state.itemModified.fcustomerGroupBean = response.fcustomerGroupBean;
            state.itemModified.fdistributionChannelBean =
              response.fdistributionChannelBean;
            state.itemModified.fsubAreaBean = response.fsubAreaBean;

            let subareaSearch = response.fsubArea;

            if (state.itemModified.phone !== props.data.customer_phone) {
              state.itemModified.phone = props.data.customer_phone;
            }

            if (state.itemModified.custname !== props.data.customer_name) {
              state.itemModified.custname = props.data.customer_name;
            }

            if (state.itemModified.address1 !== props.data.customer_address) {
              state.itemModified.address1 = props.data.customer_address;
            }

            /* division, channel, customer group */
            if (
              props.customerTemp.division_id !== null &&
              state.itemModified.fdivisionBean !==
                props.customerTemp.division_id
            ) {
              state.itemModified.fdivisionBean = props.customerTemp.division_id;
            }

            if (
              props.customerTemp.channel_id !== null &&
              state.itemModified.fdistributionChannelBean !==
                props.customerTemp.channel_id
            ) {
              state.itemModified.fdistributionChannelBean =
                props.customerTemp.channel_id;
            }

            if (
              props.customerTemp.cutomer_group_id !== null &&
              state.itemModified.fcustomerGroupBean !==
                props.customerTemp.cutomer_group_id
            ) {
              state.itemModified.fcustomerGroupBean =
                props.customerTemp.cutomer_group_id;
            }

            if (response.fsubAreaBean !== props.data.sub_area_id) {
              subareaSearch = props.data.customer_district;
              state.itemModified.fsubAreaBean = props.data.sub_area_id;
            }

            kecamatanRef.kecamatan.loading = true;

            /* panggil item fsubarea */
            fSubareaService
              .getAllFSubAreaSimpleBySearch(subareaSearch)
              .then((res) => {
                kecamatanRef.kecamatan.data = res.data.data;
              })
              .finally(() => {
                kecamatanRef.kecamatan.loading = false;
                emit("loading", false);
              })
              .catch((err) => {
                emit("loading", false);
                Swal.fire({
                  title: "Terjadi kesalahan",
                  text: err.response.data.message,
                  icon: "error",
                  confirmButtonText: "Tutup",
                });
              });
          })
          .catch((err) => {
            emit("loading", false);
            Swal.fire({
              title: "Terjadi kesalahan",
              text: err.response.data.message,
              icon: "error",
              confirmButtonText: "Tutup",
            });
          });
      }
      state.dialogShow = !state.dialogShow;
    };

    const validatePhone = () => {
      if (state.itemModified.phone !== undefined) {
        state.itemModified.phone = parseInt(
          state.itemModified.phone.toString().replace(/[^0-9.]/g, "")
        );
      }
    };

    const min5_max200 = (value) => {
      if (value) {
        if (value.length >= 5 && value.length <= 200) {
          return true;
        } else {
          return "Minimal 5 maksimal 200 karakter(huruf)";
        }
      } else {
        return true;
      }
    };

    const saveCustomer = () => {
      if (form.value.validate()) {
        emit("loading", true);
        if (state.itemModified.id === 0) {
          fCustomerService
            .createFCustomer(state.itemModified)
            .then((res) => {
              if (res.status === 200) {
                /* success */
                emit("onSuccessCreateCustomer", res.data.data, "add");
              }
            })
            .finally(() => emit("loading", false))
            .catch((err) => {
              emit("loading", false);
              Swal.fire({
                title: "Terjadi kesalahan",
                text: err.response.data.message,
                icon: "error",
                confirmButtonText: "Tutup",
              });
            });
        } else {
          fCustomerService
            .updateFCustomer(state.itemModified)
            .then((res) => {
              if (res.status === 200) {
                /* success */
                emit("onSuccessCreateCustomer", res.data.data, "change");
              }
            })
            .finally(() => emit("loading", false))
            .catch((err) => {
              emit("loading", false);
              Swal.fire({
                title: "Terjadi kesalahan",
                text: err.response.data.message,
                icon: "error",
                confirmButtonText: "Tutup",
              });
            });
        }
      }
    };

    const updateCustomerOnly = () => {
      if (form.value.validate()) {
        fSubareaService
          .findFAreaFRegionByFSubArea(state.itemModified.fsubAreaBean)
          .then((res) => {
            if (res.status === 200) {
              const { data } = res.data;
              console.log(data);
              emit(
                "onSuccessCreateCustomer",
                {
                  ...state.itemModified,
                  fregion: data.fregion,
                  farea: data.farea,
                  fsubArea: data.fsubArea,
                },
                "change"
              );
            }
          });
      }
    };

    const onChangeSearchCustomer = (item) => {
      emit("loading", true);
      state.itemModified.id = item.id;
      state.itemModified.fregion = item.fregion;
      state.itemModified.farea = item.farea;
      state.itemModified.fsubArea = item.fsubAreaBean;

      state.itemModified.custname = item.custname;
      state.itemModified.phone = item.phone;
      state.itemModified.address1 = item.address1;
      state.itemModified.fsubAreaBean = item.fsubAreaBean;
      state.itemModified.fdistributionChannelBean =
        item.fdistributionChannelBean;
      state.itemModified.fcustomerGroupBean = item.fcustomerGroupBean;
      state.itemModified.fdivisionBean = item.fdivisionBean;

      kecamatanRef.member.search = "";
      kecamatanRef.member.data = [];

      kecamatanRef.kecamatan.loading = true;

      /* panggil item fsubarea */
      fSubareaService
        .getAllFSubAreaSimpleBySearch(item.fsubArea)
        .then((res) => {
          kecamatanRef.kecamatan.data = res.data.data;
        })
        .finally(() => {
          kecamatanRef.kecamatan.loading = false;
          emit("loading", false);
        })
        .catch((err) => {
          emit("loading", false);
          Swal.fire({
            title: "Terjadi kesalahan",
            text: err.response.data.message,
            icon: "error",
            confirmButtonText: "Tutup",
          });
        });
    };

    const closeForm = () => {
      state.dialogShow = false;
      state.itemModified = new FCustomer();
    };

    /* end method */

    /* start computed */

    const isItemModified = computed(() => console.log(1));

    expose({
      initialize,
    });
    /* end computed */

    return {
      ...toRefs(state),
      ...toRefs(kecamatanRef),

      isItemModified,
      closeForm,
      initialize,
      validatePhone,
      min5_max200,
      saveCustomer,
      updateCustomerOnly,
      onChangeSearchCustomer,
      form,
    };
  },
};
</script>
