<template>
  <div>
    <v-card color="white" flat>
      <div class="d-flex justify-space-between align-center mx-5 py-3">
        <div class="text-lg-h6">Product information</div>
        <v-btn
          :disabled="cantEdit"
          color="green darken-1 white--text"
          elevation="0"
          small
          @click="openCustomerDialog"
          >Tambah customer
        </v-btn>
      </div>
      <v-divider />
      <v-card-text>
        <v-row>
          <v-col cols="12" lg="3">
            <v-autocomplete
              v-model="data.division_id"
              :disabled="cantEdit"
              :items="itemsDivisionActive"
              :rules="rule"
              background-color="secondary"
              chips
              deletable-chips
              dense
              flat
              item-text="description"
              item-value="id"
              label="Pilih branch"
              placeholder="Pilih branch"
              small-chips
              solo
            ></v-autocomplete>
          </v-col>
          <v-col cols="12" lg="3">
            <v-autocomplete
              v-model="data.salesman_id"
              :disabled="cantEdit"
              :items="itemsSalesmanUsers"
              :rules="rule"
              background-color="secondary"
              chips
              deletable-chips
              dense
              flat
              item-text="spname"
              item-value="id"
              label="Pilih resseler/agen/cs"
              placeholder="Pilih resseler/agen/cs"
              small-chips
              solo
            ></v-autocomplete>
          </v-col>
          <v-col cols="12" lg="3">
            <v-autocomplete
              v-model="data.store_id"
              :disabled="cantEdit"
              :items="itemsStoreActive"
              :rules="rule"
              background-color="secondary"
              chips
              deletable-chips
              dense
              flat
              item-text="description"
              item-value="id"
              label="Pilih toko"
              placeholder="Pilih toko"
              small-chips
              solo
            ></v-autocomplete>
          </v-col>
          <v-col cols="12" lg="3">
            <v-autocomplete
              v-model="data.warehouse_id"
              :disabled="cantEdit"
              :items="itemsWarehouseActive"
              :rules="rule"
              background-color="secondary"
              chips
              deletable-chips
              dense
              flat
              item-text="description"
              item-value="id"
              label="Pilih warehouse"
              placeholder="Pilih warehouse"
              small-chips
              solo
              @change="onChangeWarehouse"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider />
    </v-card>

    <v-card class="mt-5" flat>
      <div class="d-flex justify-space-between align-center mx-5 py-3">
        <div class="text-lg-h6">Product list</div>
      </div>
      <v-divider />
      <v-row class="py-5">
        <v-col class="py-0" cols="12" lg="12">
          <div
            class="d-flex flex-column flex-md-row align-center white px-5 py-3"
          >
            <v-autocomplete
              v-model="productSelected"
              :disabled="data.warehouse_id == null || cantEdit"
              :items="productData"
              :label="
                data.warehouse_id !== null
                  ? 'Cari nama/kode barang (minimal 2 huruf)'
                  : 'Pilih warehouse terlebih dahulu'
              "
              :loading="productLoading"
              :search-input.sync="productSearch"
              chips
              deletable-chips
              flat
              hide-details
              hide-no-data
              hide-selected
              item-text="name"
              no-filter
              prepend-inner-icon="mdi-magnify"
              return-object
              small-chips
              solo
            >
              <template v-slot:selection="data">
                <v-chip
                  :input-value="data.selected"
                  close
                  small
                  v-bind="data.attrs"
                  @click="data.select"
                  @click:close="productSelected = null"
                >
                  {{ data.item.name }} -
                  {{ formattedCurrencyValue("Rp", data.item.price) }}
                </v-chip>
              </template>
              <template v-slot:item="data">
                <v-list-item-content
                  v-text="
                    `${data.item.name} - ${formattedCurrencyValue(
                      'Rp',
                      data.item.price
                    )}`
                  "
                ></v-list-item-content>
              </template>
            </v-autocomplete>

            <v-card
              class="d-flex flex-column flex-md-row align-md-center align-start px-2 mt-5 mt-md-0"
              flat
            >
              <!--              <v-btn-->
              <!--                color="primary"-->
              <!--                elevation="0"-->
              <!--                x-small-->
              <!--                :disabled="cantEdit"-->
              <!--                @click="changeQty('minus')"-->
              <!--              >-->
              <!--                <v-icon small>mdi-minus</v-icon>-->
              <!--              </v-btn>-->
              <v-text-field
                v-model="productQty"
                :disabled="cantEdit"
                append-icon="mdi-plus"
                background-color="secondary"
                class="centered-input"
                dense
                flat
                hide-details
                prepend-inner-icon="mdi-minus"
                readonly
                solo
                @click:append="changeQty('plus')"
                @click:prepend-inner="changeQty('minus')"
              >
              </v-text-field>
              <!--              <v-btn-->
              <!--                color="primary"-->
              <!--                elevation="0"-->
              <!--                x-small-->
              <!--                :disabled="cantEdit"-->
              <!--                @click="changeQty('plus')"-->
              <!--              >-->
              <!--                <v-icon small>mdi-plus</v-icon>-->
              <!--              </v-btn>-->
              <v-btn
                :disabled="productSelected === null"
                class="ml-md-5 mt-5 mt-md-0"
                color="green white--text"
                small
                @click="onClickAddItemButton"
                >Tambah</v-btn
              >
            </v-card>
          </div>
        </v-col>
      </v-row>

      <v-divider />
      <v-card color="secondary py-0" flat>
        <v-card-text
          class="overflow-y-auto overflow-x-hidden px-0"
          style="max-height: 100vh"
        >
          <v-row v-if="data.items.length > 0">
            <v-col
              v-for="item in data.items"
              :key="item.materialId"
              cols="12"
              lg="12"
            >
              <!--      mobile version        -->
              <v-card class="px-2 py-5 d-block d-md-none" flat outlined>
                <div class="d-flex align-center pb-3">
                  <v-img
                    height="80"
                    max-height="80"
                    max-width="80"
                    src="/assets/images/account_icon.png"
                    width="80"
                  />
                  <div>
                    <v-card-subtitle class="my-0 py-0">{{
                      item.name
                    }}</v-card-subtitle>
                    <v-card-text class="my-0 py-0"
                      >Price :
                      {{ formattedCurrencyValue("Rp. ", item.price) }}
                    </v-card-text>
                    <v-card-text class="my-0 py-0"
                      >Total : {{ formattedCurrencyValue("Rp. ", item.total) }}
                    </v-card-text>
                  </div>
                </div>
                <v-divider />
                <v-card-actions class="pb-0 pt-5">
                  <v-btn
                    :disabled="cantEdit"
                    icon
                    @click="onClickDeleteItem(item.materialId)"
                    ><v-icon color="red accent-4">mdi-delete</v-icon></v-btn
                  >
                  <v-text-field
                    v-model="item.qty"
                    :disabled="cantEdit"
                    append-icon="mdi-plus"
                    background-color="secondary"
                    class="qty-input"
                    dense
                    flat
                    hide-details
                    prepend-inner-icon="mdi-minus"
                    readonly
                    solo
                    @click:append="onChangeQtyItem('plus', item.materialId)"
                    @click:prepend-inner="
                      onChangeQtyItem('minus', item.materialId)
                    "
                  >
                  </v-text-field>
                </v-card-actions>
              </v-card>
              <!--      desktop version        -->
              <v-card class="px-2 py-2 d-none d-md-block" flat outlined>
                <!--       product       -->
                <div class="d-flex flex-column flex-lg-row align-start">
                  <v-img
                    height="100"
                    max-height="100"
                    max-width="100"
                    src="/assets/images/account_icon.png"
                    width="100"
                  />
                  <div class="d-flex align-center mb-2">
                    <div style="width: 85%">
                      <v-card-title>{{ item.name }}</v-card-title>
                      <v-card-subtitle
                        v-html="
                          item.description.length > 20
                            ? item.description.substr(0, 150) + ' ...'
                            : item.description
                        "
                      ></v-card-subtitle>

                      <!--       counter       -->
                      <div style="width: 25%">
                        <v-card class="d-flex align-center px-2" flat>
                          <v-text-field
                            v-model="item.qty"
                            :disabled="cantEdit"
                            append-icon="mdi-plus"
                            background-color="secondary"
                            class="qty-input"
                            dense
                            flat
                            hide-details
                            prepend-inner-icon="mdi-minus"
                            readonly
                            solo
                            @click:append="
                              onChangeQtyItem('plus', item.materialId)
                            "
                            @click:prepend-inner="
                              onChangeQtyItem('minus', item.materialId)
                            "
                          >
                          </v-text-field>
                        </v-card>
                      </div>
                      <!--       end counter       -->
                    </div>
                    <div style="width: 15%">
                      Item price <br />
                      {{ formattedCurrencyValue("Rp. ", item.price) }} <br />
                      {{ formattedCurrencyValue("Rp. ", item.total) }} <br />
                    </div>
                  </div>
                </div>

                <v-divider />
                <div class="d-flex justify-lg-end align-center mx-2 pt-2">
                  <v-btn
                    :disabled="cantEdit"
                    color="red darken-2"
                    small
                    text
                    @click="onClickDeleteItem(item.materialId)"
                    >Hapus</v-btn
                  >
                </div>
              </v-card>
            </v-col>
          </v-row>
          <v-row v-else class="d-flex justify-center">
            <v-col cols="12">
              <v-card
                class="d-flex align-center justify-center"
                flat
                min-height="300"
              >
                <div>
                  <svg
                    class="text-center"
                    fill="none"
                    height="160"
                    viewBox="0 0 161 160"
                    width="100%"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M75.6548 160C117.076 160 150.655 155.36 150.655 149.637C150.655 143.914 117.076 139.275 75.6548 139.275C34.2334 139.275 0.654785 143.914 0.654785 149.637C0.654785 155.36 34.2334 160 75.6548 160Z"
                      fill="#DBDBDB"
                    />
                    <path
                      d="M121.181 149.001H30.129C5.52308 149.001 9.47337 129.424 15.3849 108.879C21.2964 88.3339 30.0177 57.1772 52.0225 57.1772H99.3148C121.306 57.1772 130.055 88.32 135.952 108.879C141.85 129.438 145.8 149.001 121.181 149.001Z"
                      fill="#FFC727"
                    />
                    <path
                      d="M50.4924 75.4953C54.6561 75.4953 58.0314 72.138 58.0314 67.9967C58.0314 63.8553 54.6561 60.498 50.4924 60.498C46.3288 60.498 42.9535 63.8553 42.9535 67.9967C42.9535 72.138 46.3288 75.4953 50.4924 75.4953Z"
                      fill="black"
                      opacity="0.1"
                    />
                    <path
                      d="M100.817 75.4953C104.981 75.4953 108.356 72.138 108.356 67.9967C108.356 63.8553 104.981 60.498 100.817 60.498C96.6534 60.498 93.2781 63.8553 93.2781 67.9967C93.2781 72.138 96.6534 75.4953 100.817 75.4953Z"
                      fill="black"
                      opacity="0.1"
                    />
                    <path
                      d="M50.4925 73.0879C53.3194 73.0879 55.6111 70.8084 55.6111 67.9966C55.6111 65.1847 53.3194 62.9053 50.4925 62.9053C47.6655 62.9053 45.3738 65.1847 45.3738 67.9966C45.3738 70.8084 47.6655 73.0879 50.4925 73.0879Z"
                      fill="#263238"
                    />
                    <path
                      d="M100.817 73.0879C103.644 73.0879 105.936 70.8084 105.936 67.9966C105.936 65.1847 103.644 62.9053 100.817 62.9053C97.9899 62.9053 95.6982 65.1847 95.6982 67.9966C95.6982 70.8084 97.9899 73.0879 100.817 73.0879Z"
                      fill="#263238"
                    />
                    <path
                      d="M100.817 69.0897C100.053 69.0897 99.3212 68.7879 98.7812 68.2509C98.2412 67.7138 97.9379 66.9853 97.9379 66.2258C97.3766 57.1169 95.9373 48.0826 93.6398 39.2474C90.7467 28.5252 85.3915 15.7277 76.3364 15.7277C59.645 15.7277 53.3718 57.6619 53.3718 66.2258C53.3718 66.9853 53.0685 67.7138 52.5285 68.2509C51.9885 68.7879 51.2562 69.0897 50.4926 69.0897C49.7289 69.0897 48.9966 68.7879 48.4566 68.2509C47.9166 67.7138 47.6133 66.9853 47.6133 66.2258C47.6133 65.6724 51.1185 10 76.3364 10C100.803 10 103.696 65.6724 103.696 66.2258C103.698 66.6024 103.625 66.9756 103.481 67.3239C103.337 67.6722 103.125 67.9886 102.857 68.2549C102.589 68.5212 102.271 68.7321 101.921 68.8754C101.571 69.0187 101.196 69.0915 100.817 69.0897Z"
                      fill="#FFC727"
                    />
                    <g clip-path="url(#clip0_781_7623)">
                      <path
                        d="M160.453 17.5C160.453 26.865 152.862 34.4531 143.5 34.4531C134.138 34.4531 126.547 26.865 126.547 17.5C126.547 8.14044 134.138 0.546875 143.5 0.546875C152.862 0.546875 160.453 8.14044 160.453 17.5ZM143.5 20.918C141.763 20.918 140.355 22.3258 140.355 24.0625C140.355 25.7992 141.763 27.207 143.5 27.207C145.237 27.207 146.645 25.7992 146.645 24.0625C146.645 22.3258 145.237 20.918 143.5 20.918ZM140.515 9.61502L141.022 18.9119C141.045 19.3469 141.405 19.6875 141.841 19.6875H145.159C145.595 19.6875 145.955 19.3469 145.978 18.9119L146.485 9.61502C146.511 9.14512 146.137 8.75 145.666 8.75H141.334C140.863 8.75 140.489 9.14512 140.515 9.61502Z"
                        fill="#FF7979"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_781_7623">
                        <rect
                          fill="white"
                          height="35"
                          transform="translate(126)"
                          width="35"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                  <v-card-title align="center"
                    >Keranjang kosong, silahkan tambahkan produk</v-card-title
                  >
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-card>
  </div>
</template>

<script>
import { useState, useStore } from "vuex-composition-helpers";
import { reactive, toRefs, watch } from "vue";
import FMaterialService from "@/modules/material/services/f-material-service";

export default {
  name: "productItemOrderComponent",
  props: {
    data: Object,
    rule: Array,
    isItemsModified: Boolean,
    canSaveDraft: Boolean,
    cantEdit: Boolean,
    canCalculate: Boolean,
    itemsDivisionActive: Array,
    itemsStoreActive: Array,
    itemsWarehouseActive: Array,
    itemsSalesmanUsers: Array,
  },
  setup(props, { emit }) {
    const dataStore = useStore();

    const productState = reactive({
      productSearch: "",
      productLoading: false,
      productSelected: null,
      productData: [],
      productQty: 1,
    });

    const onChangeWarehouse = () => {
      /* reset search */
      props.data.payment_id = null;
      props.data.ekspedisi_code = null;
      productState.productData = [];
      productState.productSearch = "";
      emit("fetchAvailableEkspedisiByWarehouse");
    };

    const openCustomerDialog = () => {
      emit("openCustomerDialog", "create", null);
    };

    /* product search */
    watch(
      () => productState.productSearch,
      (newValue, oldValue) => {
        if (
          productState.productSearch === "" ||
          productState.productSearch === null ||
          productState.productSearch.length < 2
        )
          return;

        if (productState.productLoading) return;

        searchProduct();
      }
    );

    const resetOngkirAndAdminFee = () => {
      props.data.ongkir = 0;
      props.data.admin_fee = 0;
    };

    const changeQty = (type) => {
      if (type === "minus") {
        if (productState.productQty - 1 !== 0) {
          productState.productQty -= 1;
        }
      } else {
        productState.productQty += 1;
      }

      if (productState.productSelected !== null) {
        searchProduct();
      }
    };

    const onChangeQtyItem = (type, materialId) => {
      const searchItem = props.data.items.find(
        (row) => row.materialId === materialId
      );

      const searchItemIndex = props.data.items.findIndex(
        (row) => row.materialId === materialId
      );

      if (searchItem !== undefined) {
        /* update qty */
        if (type === "minus") {
          if (searchItem.qty - 1 !== 0) {
            props.data.items[searchItemIndex].qty -= 1;
          }
        } else {
          props.data.items[searchItemIndex].qty += 1;
        }

        /* update price & total */
        if (searchItem.name !== null) {
          FMaterialService.getProductPriceWithQty(
            searchItem.name,
            searchItem.qty,
            props.data.warehouse_id
          ).then((res) => {
            const data = res.data.data;
            let search = data.find((row) => row.id === searchItem.materialId);
            if (search !== undefined) {
              /* splice data qty dan total baru */
              props.data.items.splice(searchItemIndex, 1, {
                materialId: search.id,
                name: search.name,
                image: searchItem.image,
                description: search.description,
                qty: searchItem.qty,
                price: search.price,
                total: search.price * searchItem.qty,
              });
              emit("reCalculateSummary");
            } else {
              /* if not exist, then remove selected product */
              alert("product tidak ditemukan");
              productState.productSelected = null;
            }
            resetOngkirAndAdminFee();
          });
        }
      }
    };

    const searchProduct = () => {
      productState.productLoading = true;

      FMaterialService.getProductPriceWithQty(
        productState.productSearch,
        productState.productQty,
        props.data.warehouse_id
      )
        .then((res) => {
          const data = res.data.data;

          if (productState.productSelected !== null) {
            /* update selected when exist */
            let search = data.find(
              (row) => row.id === productState.productSelected.id
            );
            if (search != null || search !== undefined) {
              productState.productSelected = search;
            } else {
              /* if not exist, then remove selected product */
              productState.productSelected = null;
            }
          }

          productState.productData = data;
        })
        .finally(() => (productState.productLoading = false));
    };

    const onClickAddItemButton = () => {
      /* search product exist on array or not */
      const checkSelectedItem = props.data.items.find(
        (row) => row.materialId === productState.productSelected.id
      );

      /* check product exist */
      if (checkSelectedItem !== undefined) {
        /* find index */
        let updIndex = props.data.items.findIndex(
          (row) => row.materialId === productState.productSelected.id
        );

        /* search new price with new qty */
        FMaterialService.getProductPriceWithQty(
          checkSelectedItem.name,
          checkSelectedItem.qty + productState.productQty,
          props.data.warehouse_id
        ).then((res) => {
          const data = res.data.data;
          /* update selected when exist */
          let search = data.find(
            (row) => row.id === checkSelectedItem.materialId
          );

          if (search != null || search !== undefined) {
            /* remove & update object, cause this we need nextTick on dialog order component*/
            props.data.items.splice(updIndex, 1, {
              materialId: search.id,
              image: search.image,
              name: search.name,
              description: search.description,
              qty: productState.productQty + checkSelectedItem.qty,
              price: search.price,
              total:
                search.price *
                (productState.productQty + checkSelectedItem.qty),
            });
            /* must call here, its doesn't work when called on end code */
            emit("reCalculateSummary");

            if (props.canCalculate && props.canSaveDraft) {
              props.data.admin_fee = 0;
              props.data.ongkir = 0;
              emit("saveDraft");
            }
          }

          resetOngkirAndAdminFee();
          resetSearchProduct();
        });
      } else {
        /* new object & put on first array */
        props.data.items.unshift({
          materialId: productState.productSelected.id,
          image: productState.productSelected.image,
          name: productState.productSelected.name,
          description: productState.productSelected.description,
          qty: productState.productQty,
          price: productState.productSelected.price,
          total: productState.productSelected.price * productState.productQty,
        });

        resetOngkirAndAdminFee();
        resetSearchProduct();
        emit("reCalculateSummary");

        if (props.canCalculate && props.canSaveDraft) {
          props.data.admin_fee = 0;
          props.data.ongkir = 0;
          emit("saveDraft");
        }
      }
    };

    const resetSearchProduct = () => {
      productState.productQty = 1;
      productState.productSearch = "";
      productState.productData = [];
      productState.productSelected = null;
      productState.productLoading = false;
    };

    const onClickDeleteItem = (materialId) => {
      /* delete from array, calculate items & save to db */
      props.data.items = props.data.items.filter(
        (row) => row.materialId !== materialId
      );

      if (props.data.items.length === 0) {
        props.data.ekspedisi_code = null;
      }

      resetOngkirAndAdminFee();
      emit("reCalculateSummary");
    };

    const formattedCurrencyValue = (prefix, value) => {
      if (!value) {
        return "0";
      }
      return prefix + "" + parseFloat(value).toLocaleString();
    };

    /* get current user login */
    const { user } = useState("auth", ["user"]);

    /* get salesman by role */
    dataStore.dispatch("data/getSalesmanByRole", user.value);

    return {
      ...toRefs(productState),
      onChangeWarehouse,
      openCustomerDialog,
      changeQty,
      onChangeQtyItem,
      formattedCurrencyValue,
      onClickAddItemButton,
      onClickDeleteItem,
    };
  },
};
</script>

<style scoped>
.centered-input >>> input {
  text-align: center;
}

.qty-input >>> input {
  text-align: center;
}
</style>
