<template>
  <div>
    <v-row>
      <!--      <v-col cols="12" lg="12">-->
      <!--        <v-card flat>-->
      <!--          <v-card-title>Detail order</v-card-title>-->
      <!--          <v-divider />-->
      <!--          <v-divider />-->
      <!--          <v-card-text>-->
      <!--            <v-autocomplete dense placeholder="Pilih branch"></v-autocomplete>-->
      <!--            <v-autocomplete-->
      <!--              dense-->
      <!--              placeholder="Pilih resseler/agen/cs"-->
      <!--            ></v-autocomplete-->
      <!--            ><v-autocomplete dense placeholder="Pilih toko"></v-autocomplete>-->
      <!--            <v-autocomplete-->
      <!--              dense-->
      <!--              placeholder="Pilih warehouse"-->
      <!--            ></v-autocomplete>-->
      <!--          </v-card-text>-->
      <!--        </v-card>-->
      <!--      </v-col>-->

      <v-col v-if="data.customer_id !== null" cols="12" lg="12">
        <v-card flat>
          <v-card-title>Detail customer</v-card-title>
          <v-divider />
          <div class="mx-5">
            <v-card-text class="px-0 d-inline-block customer_decs">
              <div>{{ data.customer_name }}</div>
              <div>+62{{ data.customer_phone }}</div>
              <div>
                {{ data.customer_address }}
              </div>
              <div>
                {{ data.customer_state }} - {{ data.customer_city }} -
                {{ data.customer_district }}
              </div>
            </v-card-text>
          </div>
          <v-divider />
          <v-card-actions class="pa-0 py-0">
            <v-btn
              :disabled="cantEdit"
              block
              class="rounded-t-0"
              color="primary"
              elevation="0"
              @click="openCustomerDialog('edit', data.customer_id)"
              >Edit</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col v-else cols="12" lg="12">
        <v-card
          color="primary white--text"
          flat
          style="cursor: pointer"
          @click="openCustomerDialog('create')"
        >
          <v-card-title> Tambah customer </v-card-title>
        </v-card>
      </v-col>

      <v-col cols="12" lg="12">
        <v-card flat>
          <div class="d-flex justify-space-between align-center mx-4 py-2">
            <div class="text-lg-h6">Summary</div>
            <v-btn icon @click="copySummary"
              ><v-icon small>mdi-content-copy</v-icon></v-btn
            >
          </div>
          <v-divider />
          <v-card-text>
            <v-row>
              <v-col class="py-2" cols="6" sm="6"> Invoice no </v-col>
              <v-col align="end" class="py-2" cols="6" lg="6">
                {{ data.invoice_no ? data.invoice_no : "-" }}
              </v-col>

              <v-col class="py-2" cols="6" lg="6" md="6" sm="6">
                Order no
              </v-col>
              <v-col align="end" class="py-2" cols="6" lg="6" md="6" sm="6">
                {{ data.order_no ? data.order_no : "-" }}
              </v-col>

              <!--     v-show if delivery number not empty         -->
              <v-col class="py-2" cols="6" lg="6"> Waybill </v-col>
              <v-col align="end" class="py-2" cols="6" lg="6" md="6" sm="6">
                {{ data.waybill_no ? data.waybill_no : "-" }}
              </v-col>

              <v-col class="py-2" cols="6" lg="6"> Sub total </v-col>
              <v-col align="end" class="py-2" cols="6" lg="6" md="6" sm="6">
                {{ formattedCurrencyValue("Rp. ", data.sub_total) }}
              </v-col>

              <v-col class="py-2" cols="6" lg="6"> Ongkir </v-col>
              <v-col align="end" class="py-2" cols="6" lg="6" md="6" sm="6">
                {{ formattedCurrencyValue("Rp. ", data.ongkir) }}
              </v-col>

              <v-col class="py-2" cols="6" lg="6"> Admin </v-col>
              <v-col align="end" class="py-2" cols="6" lg="6" md="6" sm="6">
                {{ formattedCurrencyValue("Rp. ", data.admin_fee) }}
              </v-col>

              <v-col class="py-2" cols="6" lg="6"> Potongan </v-col>
              <v-col align="end" class="py-2" cols="6" lg="6" md="6" sm="6">
                {{ formattedCurrencyValue("Rp. ", data.discount) }}
              </v-col>

              <v-col class="py-2" cols="6" lg="6"> Potongan manual </v-col>
              <v-col align="end" class="py-2" cols="6" lg="6" md="6" sm="6">
                {{ formattedCurrencyValue("Rp. ", data.discountManual) }}
              </v-col>

              <v-col class="py-2" cols="6" lg="6" md="6" sm="6"> Total </v-col>
              <v-col
                align="end"
                class="py-2 font-weight-bold green--text text-lg-subtitle-1"
                cols="6"
                md="6"
                sm="6"
                lg="6"
              >
                {{ formattedCurrencyValue("Rp. ", data.total) }}
              </v-col>

              <v-col
                v-if="
                  data.invoice_no !== null &&
                  data.waybill_no !== null &&
                  data.status === 1
                "
                class="pa-0 py-0"
                cols="12"
              >
                <v-btn
                  block
                  @click="onClickOrder"
                  class="px-0"
                  color="red white--text"
                  elevation="0"
                  small
                >
                  Cancel
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
          <v-divider />
          <div class="d-flex justify-space-between align-center mx-4 py-2">
            <div class="text-lg-h6">Discount</div>
          </div>
          <v-divider />
          <v-card-text>
            <v-text-field
              v-model.number="data.discountManual"
              :disabled="cantEdit"
              dense
              type="number"
              @input="onChangeDiscountManual"
            ></v-text-field>
            <v-autocomplete
              dense
              :item-text="(row) => formattedCurrencyValue('', row.value)"
              :items="itemsDiscount"
              chips
              :disabled="cantEdit"
              v-model="data.discount_id"
              deletable-chips
              item-value="id"
              return-object
              small-chips
              label="Discount"
              placeholder="Pecahan discount"
              @change="onChangeDiscount"
            ></v-autocomplete>

            <v-autocomplete
              :items="[
                {
                  text: 'Active',
                  value: true,
                },
                {
                  text: 'Non-active',
                  value: false,
                },
              ]"
              :rules="[
                (v) => {
                  if (v !== true || v !== false) {
                    if (v === true || v === false) {
                      return true;
                    } else {
                      return 'Tidak boleh kosong';
                    }
                  }
                },
              ]"
              dense
              chips
              class="mt-5"
              :disabled="cantEdit"
              v-model="data.is_admin_free"
              label="Free admin"
              small-chips
              placeholder="Free admin"
            ></v-autocomplete>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" lg="12">
        <v-alert
          v-if="data.ekspedisi_code != null && data.items.length !== 0"
          class="text-lg-body-1"
          color="orange darken-1 white--text"
          ><div class="text-lg-body-2 font-weight-medium">
            {{ data.ekspedisi_code }} (Dest Code) <br />{{
              data.customer_district
            }}
            - {{ data.customer_city }} - <br />{{ data.customer_state }}
          </div></v-alert
        >

        <v-card flat>
          <v-card-title>Shipment & payment</v-card-title>
          <v-divider />
          <v-card-text>
            <v-textarea
              :disabled="cantEdit"
              v-model="data.notes"
              placeholder="Note ekspedisi"
              rows="2"
            ></v-textarea>
            <v-autocomplete
              :disabled="
                data.warehouse_id === null ||
                data.customer_id === null ||
                data.items.length === 0 ||
                cantEdit
              "
              auto-select-first
              chips
              v-model="data.ekspedisi_id"
              deletable-chips
              :items="ekspedisiList"
              item-text="description"
              item-value="id"
              label="Pilih ekspedisi"
              @change="onChangeEkspedisi"
            ></v-autocomplete>
            <v-autocomplete
              dense
              :items="itemsMethodPaymentByEkspedisi"
              chips
              deletable-chips
              item-text="description"
              item-value="id"
              v-model="data.payment_id"
              :disabled="data.ekspedisi_id == null || cantEdit"
              label="Pilih metode pembayaran"
              placeholder="Pilih metode pembayaran"
            ></v-autocomplete>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col class="actionBtn" cols="12" lg="12">
        <v-btn
          :disabled="!canSaveDraft || !isItemsModified || cantEdit"
          color="primary white--text"
          elevation="0"
          small
          @click="saveDraft"
        >
          Simpan draft
        </v-btn>
        <v-btn
          :disabled="
            isItemsModified || cantEdit || !canProcess || isError === true
          "
          color="orange white--text"
          @click="processOrder"
          elevation="0"
          small
        >
          proses <v-icon x-small>mdi-send</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { computed, reactive, toRefs } from "vue";
import { useStore } from "vuex-composition-helpers";
import ftSaleshService from "@/modules/sales/services/ft-salesh-service";
import { dateFormattedDatefnsShort } from "@/utils/date-utils";

export default {
  props: {
    id: Number,
    ekspedisiList: Array,
    itemsMethodPaymentByEkspedisi: Array,
    itemsDiscount: Array,
    data: Object,
    canSaveDraft: Boolean,
    isError: Boolean,
    canCalculate: Boolean,
    cantEdit: Boolean,
    isItemsModified: Boolean,
  },
  setup(props, { emit }) {
    const dataStore = useStore();
    const openCustomerDialog = (type, id = null) => {
      emit("openCustomerDialog", type, id);
    };

    const state = reactive({});

    const copySummary = () => {
      emit("copyDetail");
    };

    const formatDate = (value) => {
      return dateFormattedDatefnsShort(value);
    };

    const formattedCurrencyValue = (prefix, value) => {
      if (!value) {
        return "0";
      }
      return prefix + "" + parseFloat(value).toLocaleString();
    };

    const onChangeEkspedisi = (id) => {
      let item = props.ekspedisiList.find((row) => row.id === id);
      props.data.payment_id = null;

      if (item !== undefined) {
        dataStore.dispatch("data/loadMetodePembayaranByEkpedisi", item.kode1);
        if (item.kode1.includes("COD")) {
          props.data.payment_id = 403;
        } else {
          props.data.payment_id = null;
        }
      }
      emit("saveDraft");
    };

    const onChangeDiscount = (item) => {
      props.data.discount_id = null;
      emit("changeDiscountValue", 0);

      if (item != null) {
        props.data.discount_id = item.id;
        emit("changeDiscountValue", item.value);
      }
    };

    const onChangeDiscountManual = (item) => {
      props.data.discountManual = parseFloat(item);
      emit("changeDiscountManualValue");
    };

    const canProcess = computed(() => {
      const { data } = props;
      return (
        data.division_id !== null &&
        data.salesman_id !== null &&
        data.store_id !== null &&
        data.warehouse_id != null &&
        data.customer_id != null &&
        data.sub_area_id !== null &&
        data.customer_name !== null &&
        data.customer_address !== null &&
        data.customer_phone !== null &&
        data.customer_state !== null &&
        data.customer_city !== null &&
        data.customer_district !== null &&
        data.ekspedisi_id !== null &&
        data.items.length !== 0 &&
        data.payment_id !== null
      );
    });

    const processOrder = () => {
      emit("loading", true);
      ftSaleshService
        .processOrder(props.data, props.id)
        .then(() => {
          dataStore.dispatch("data/tempOrder", {
            store_id: props.data.store_id,
            salesman_id: props.data.salesman_id,
          });
          emit("closeForm");
        })
        .catch((err) => {
          emit("loading", false);
          const message = err.response.data.message;
          if (message.includes("Wilayah tidak support COD")) {
            emit("alertMessage", "info", "Info ekspedisi", message);
          } else {
            emit("alertMessage", "error", "Terjadi kesalahan", message);
          }
        });
    };

    const saveDraft = () => {
      emit("saveDraft");
    };

    const onClickOrder = () => {
      emit("cancelOrder");
    };

    return {
      ...toRefs(state),
      formatDate,
      openCustomerDialog,
      formattedCurrencyValue,
      saveDraft,
      copySummary,
      onChangeEkspedisi,
      onChangeDiscount,
      onChangeDiscountManual,
      canProcess,
      processOrder,
      onClickOrder,
    };
  },
};
</script>

<style scoped>
.actionBtn > .v-btn {
  margin-right: 5px;
}

.customer_decs > div {
  margin-bottom: 10px;
}
</style>
