<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <FCustomerTable ref="refTabCustomerClick" />
    </v-col>
  </v-row>
</template>

<script>
import FCustomerTable from "../components/customer/FCustomerTable";

export default {
  components: { FCustomerTable },
  data() {
    return {
      firstTabTitle: "SUPPLIER",
      firstTabIcon: "mdi-factory",
    };
  },
  methods: {
    tabCustomerClick() {
      try {
        this.$refs.refTabCustomerClick.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
