<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <FExpedisiTable ref="refTabExpedisiClick" />
    </v-col>
  </v-row>
</template>

<script>
import FExpedisiTable from "../components/expedisi/FExpedisiTable";

export default {
  components: { FExpedisiTable },
  data() {
    return {
      firstTabTitle: "EXPEDISI",
      firstTabIcon: "mdi-factory",
    };
  },
  methods: {
    tabExpedisiClick() {
      try {
        this.$refs.refTabExpedisiClick.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
