<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <FStoreTable ref="refTabStoreClick" />
    </v-col>
  </v-row>
</template>

<script>
import FStoreTable from "../components/mp-store/FStoreTable";

export default {
  components: { FStoreTable },
  data() {
    return {
      firstTabTitle: "EXPEDISI",
      firstTabIcon: "mdi-factory",
    };
  },
  methods: {
    tabStoreClick() {
      try {
        this.$refs.refTabStoreClick.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
