<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <FVendorTable ref="refTabVendorClick" />
    </v-col>
  </v-row>
</template>

<script>
import FVendorTable from "../components/vendor/FVendorTable";

export default {
  components: { FVendorTable },
  data() {
    return {
      firstTabTitle: "SUPPLIER",
      firstTabIcon: "mdi-factory",
    };
  },
  methods: {
    tabVendorClick() {
      try {
        this.$refs.refTabVendorClick.fetchParent();
      } catch (e) {
        e.toString();
      }
    },
  },
};
</script>

<style scoped></style>
