<template>
  <div class="mt-2 mx-1 pa-4">
    <v-row>
      <v-col cols="12" sm="6" md="4">
        <div class="white py-3 rounded" style="min-height: 300px">
          <div class="text-center">
            <span>Sales Contributions By Distributor</span>
          </div>
          <div
            class="d-flex justify-center align-center"
            style="min-height: 250px"
          >
            <PieSalesContributionsByFtSalesh
              v-if="division.length > 0"
              :labels="mapToChart('division', true, true)"
              :series="mapToChart('division', false, true)"
            ></PieSalesContributionsByFtSalesh>
            <div v-else>Belum ada data</div>
          </div>
        </div>
      </v-col>

      <v-col cols="12" sm="6" md="4">
        <div class="white py-3 rounded" style="min-height: 300px">
          <div class="text-center">
            <span>Sales Contributions By Channel</span>
          </div>
          <div
            class="d-flex justify-center align-center"
            style="min-height: 250px"
          >
            <PieSalesContributionsByFtSalesh
              v-if="channel.length > 0"
              :labels="mapToChart('channel', true, true)"
              :series="mapToChart('channel', false, true)"
            ></PieSalesContributionsByFtSalesh>
            <div v-else>Belum ada data</div>
          </div>
        </div>
      </v-col>

      <v-col cols="12" sm="6" md="4">
        <div class="white py-3 rounded" style="min-height: 300px">
          <div class="text-center">
            <span>Sales Contributions By Brand</span>
          </div>
          <div
            class="d-flex justify-center align-center"
            style="min-height: 250px"
          >
            <PieSalesContributionsByFtSalesh
              v-if="brand.length > 0"
              :labels="mapToChart('brand', true, true)"
              :series="mapToChart('brand', false, true)"
            ></PieSalesContributionsByFtSalesh>
            <div v-else>Belum ada data</div>
          </div>
        </div>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <div class="white py-3 rounded" style="min-height: 300px">
          <div class="text-center">
            <span>Sales Contributions By Grup</span>
          </div>
          <div
            class="d-flex justify-center align-center"
            style="min-height: 250px"
          >
            <PieSalesContributionsByFtSalesh
              v-if="materialGroup3.length > 0"
              :labels="mapToChart('materialGroup3', true, true)"
              :series="mapToChart('materialGroup3', false, true)"
            ></PieSalesContributionsByFtSalesh>
            <div v-else>Belum ada data</div>
          </div>
        </div>
      </v-col>

      <v-col cols="12" sm="6" md="4">
        <div class="white py-3 rounded" style="min-height: 300px">
          <div class="text-center">
            <span>Sales by ekspedisi</span>
          </div>
          <div
            class="d-flex justify-center align-center"
            style="min-height: 250px"
          >
            <PieSalesContributionsByFtSalesh
              v-if="ekspedisi.length > 0"
              :labels="mapToChart('ekspedisi', true, false)"
              :series="mapToChart('ekspedisi', false, false)"
            ></PieSalesContributionsByFtSalesh>
            <div v-else>Belum ada data</div>
          </div>
        </div>
      </v-col>

      <v-col cols="12" sm="6" md="4">
        <div class="white py-3 rounded" style="min-height: 300px">
          <div class="text-center">
            <span>Return By Ekspedisi</span>
          </div>
          <div
            class="d-flex justify-center align-center"
            style="min-height: 250px"
          >
            <PieSalesContributionsByFtSalesh
              v-if="ekspedisi.length > 0"
              :labels="mapToChart('returnEkspedisi', true, false)"
              :series="mapToChart('returnEkspedisi', false, false)"
            ></PieSalesContributionsByFtSalesh>
            <div v-else>Belum ada data</div>
          </div>
        </div>
      </v-col>

      <!--      <v-col-->
      <!--        cols="12"-->
      <!--        sm="6"-->
      <!--        md="4"-->
      <!--        style="background-color: white"-->
      <!--        v-if="false"-->
      <!--      >-->
      <!--        <MyChart2></MyChart2>-->
      <!--      </v-col>-->

      <!--      <v-col-->
      <!--        cols="12"-->
      <!--        sm="6"-->
      <!--        md="4"-->
      <!--        style="background-color: white"-->
      <!--        v-if="false"-->
      <!--      >-->
      <!--        <span>Sales By Brand</span>-->
      <!--        <SalesTrendByBrand></SalesTrendByBrand>-->
      <!--      </v-col>-->
      <!--      <v-col-->
      <!--        cols="12"-->
      <!--        sm="6"-->
      <!--        md="4"-->
      <!--        style="background-color: white"-->
      <!--        v-if="false"-->
      <!--      >-->
      <!--        <span>Sales By Channel</span>-->
      <!--        <SalesTrendByChannel></SalesTrendByChannel>-->
      <!--      </v-col>-->
      <!--      <v-col-->
      <!--        cols="12"-->
      <!--        sm="6"-->
      <!--        md="4"-->
      <!--        style="background-color: white"-->
      <!--        v-if="false"-->
      <!--      >-->
      <!--        <span>Sales By Distributor/Salesman</span>-->
      <!--        <SalesPerSalesforce></SalesPerSalesforce>-->
      <!--      </v-col>-->
      <!--      <v-col-->
      <!--        cols="12"-->
      <!--        sm="6"-->
      <!--        md="4"-->
      <!--        style="background-color: white"-->
      <!--        v-if="false"-->
      <!--      >-->
      <!--        <span>Achievement Sales Vs Target</span>-->
      <!--        <AchievementSalesVsTarget></AchievementSalesVsTarget>-->
      <!--      </v-col>-->

      <!--      <v-col-->
      <!--        cols="12"-->
      <!--        sm="6"-->
      <!--        md="4"-->
      <!--        style="background-color: white"-->
      <!--        v-if="false"-->
      <!--      >-->
      <!--        <span>Trend Return Ratio</span>-->
      <!--        <TrendReturnRatio></TrendReturnRatio>-->
      <!--      </v-col>-->
    </v-row>
  </div>
</template>

<script>
import PieSalesContributionsByFtSalesh from "./sales-inventory/PieSalesContributionsFtSalesh";
export default {
  name: "ReportAnalisis",
  props: {
    division: Array,
    channel: Array,
    brand: Array,
    salesman: Array,
    materialGroup3: Array,
    ekspedisi: Array,
    returnEkspedisi: Array,
  },
  components: {
    PieSalesContributionsByFtSalesh,
  },
  methods: {
    mapToChart(type, isLabel, isSum) {
      let label = [];
      let series = [];
      label = this[type].map((row) => row.name);

      if (isSum === true) {
        /* sum */
        series = this[type].map((row) => row.sum);
      } else {
        /* count */
        series = this[type].map((row) => row.count);
      }

      /* return type */
      if (isLabel === true) {
        return label;
      } else {
        return series;
      }
    },
  },
};
</script>
