<template>
  <div class="mt-4 mx-4 elevation-10 rounded-lg pa-4">
    <v-row>
      <v-col cols="12" sm="6" md="4">
        <span>Sales Contributions By Products</span>
        <PieSalesContributions></PieSalesContributions>
      </v-col>

      <v-col cols="12" sm="6" md="4">
        <span>Sales Contributions By Channel</span>
        <PieSalesContributionsByChannel></PieSalesContributionsByChannel>
      </v-col>
      <v-col cols="12" sm="6" md="4" v-if="false">
        <MyChart2></MyChart2>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <span>Aging Hutang Piutang</span>
        <AgingHutangPiutang></AgingHutangPiutang>
      </v-col>

      <v-col cols="12" sm="6" md="4">
        <span>Sales Trend</span>
        <SalesTrend></SalesTrend>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <span>Sales per Salesforce</span>
        <SalesTrend></SalesTrend>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <span>Achievement Sales Vs Target</span>
        <SalesTrend></SalesTrend>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <span>Outlet Active Vs Customer Base</span>
        <SalesTrend></SalesTrend>
      </v-col>

      <v-col cols="12" sm="6" md="4">
        <span>Omset Vs Persediaan</span>
        <OmsetAndPersediaan></OmsetAndPersediaan>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <span>Trend Inventory</span>
        <TrendInventory></TrendInventory>
      </v-col>
      <v-col cols="12" sm="6" md="4">
        <span>Cash Flow</span>
        <CashFlow></CashFlow>
      </v-col>

      <v-col cols="12" sm="6" md="4" v-if="false">
        <MyChart2></MyChart2>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" md="4" sm="6">
        <v-card class="mt-4 mx-auto" max-width="400">
          <v-sheet
            class="v-sheet--offset mx-auto"
            color="cyan"
            elevation="12"
            max-width="calc(100% - 32px)"
          >
            <v-sparkline
              :labels="labels"
              :value="value"
              color="white"
              line-width="2"
              padding="16"
            ></v-sparkline>
          </v-sheet>

          <v-card-text class="pt-0">
            <div class="text-h6 font-weight-light mb-2">Sales Performance</div>
            <div class="subheading font-weight-light grey--text">
              Last Campaign Performance
            </div>
            <v-divider class="my-2"></v-divider>
            <v-icon class="mr-2" small> mdi-clock </v-icon>
            <span class="text-caption grey--text font-weight-light"
              >last registration 26 minutes ago</span
            >
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import MyChart2 from "./MyChartDonut";
import PieSalesContributions from "./sales-inventory/PieSalesContributionsByBrand";
import AgingHutangPiutang from "./finance/AgingHutangPiutang";
import SalesTrend from "./sales-inventory/OutletActiveVsCustomerBase";
import OmsetAndPersediaan from "./sales-inventory/OmsetAndPersediaan";
import TrendInventory from "./sales-inventory/TrendInventory";
import CashFlow from "./finance/CashFlow";
import PieSalesContributionsByChannel from ".//sales-inventory/PieSalesContributionsByChannel";
export default {
  name: "ReportAnalisis",
  components: {
    PieSalesContributionsByChannel,
    CashFlow,
    TrendInventory,
    OmsetAndPersediaan,
    SalesTrend,
    AgingHutangPiutang,
    PieSalesContributions,
    MyChart2,
  },
  data: () => ({
    labels: ["12am", "3am", "6am", "9am", "12pm", "3pm", "6pm", "9pm"],
    value: [200, 675, 410, 390, 310, 460, 250, 240],
  }),
};
</script>

<style scoped>
.v-sheet--offset {
  top: -12px;
  position: relative;
}
</style>
