<template>
  <v-app id="app">
    <NavDrawer
      ref="navbar"
      v-if="
        currentUser !== null &&
        this.$router.currentRoute.path !== '/' &&
        this.$router.currentRoute.meta.requiredAuth === true
      "
    />

    <div>
      <v-snackbar :value="snackbar" :timeout="-1" color="primary" top>
        <div v-html="message"></div>
        <template v-slot:action="{ attrs }">
          <v-btn
            class="mx-2"
            color="white"
            small
            icon
            v-bind="attrs"
            @click="closeNotification"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </template>
      </v-snackbar>
    </div>
    <v-main
      :style="{
        backgroundColor: bg,
      }"
      class="overflow-hidden"
    >
      <v-app-bar
        v-if="
          currentUser !== null &&
          this.$router.currentRoute.path !== '/' &&
          this.$router.currentRoute.meta.requiredAuth === true
        "
        color="white"
        elevation="0"
      >
        <v-app-bar-nav-icon @click="changeDrawerState"></v-app-bar-nav-icon>

        <v-spacer></v-spacer>

        <v-menu
          :close-on-content-click="false"
          content-class="mw-full"
          offset-x
          offset-y
          open-on-hover
          rounded
        >
          <template v-slot:activator="{ on, attrs }">
            <v-badge
              :content="
                totalAllNotifWithTicketing == 0
                  ? '0'
                  : totalAllNotifWithTicketing
              "
              color="red"
              offset-x="15"
              offset-y="15"
            >
              <v-avatar
                :color="attrs['aria-expanded'] == 'true' ? 'primary' : 'white'"
                dark
                size="40"
                v-bind="attrs"
                v-on="on"
              >
                <v-icon v-if="attrs['aria-expanded'] == 'false'" color="primary"
                  >mdi mdi-bell-outline</v-icon
                >
                <v-icon v-else color="white">mdi mdi-bell-outline</v-icon>
              </v-avatar>
            </v-badge>
          </template>

          <template>
            <v-sheet class="mx-auto py-3">
              <h3 class="mb-3 px-3 text-center">NOTIFICATION</h3>
              <v-divider></v-divider>
              <v-tabs-slider></v-tabs-slider>

              <v-tabs v-model="parentTab" fixed-tabs>
                <v-tab :key="'pesan'" @click="onClickTabParent('pesan')">
                  pesan
                </v-tab>
                <v-tab
                  :key="'ticketing'"
                  @click="onClickTabParent('ticketing')"
                >
                  <v-badge
                    :content="
                      ticketingNotification.length === 0
                        ? '0'
                        : ticketingNotification.length
                    "
                    color="red"
                  >
                    ticketing
                  </v-badge>
                </v-tab>
              </v-tabs>

              <v-divider></v-divider>

              <v-tabs-items v-model="parentTab">
                <v-tab-item>
                  <v-card flat>
                    <v-tabs v-model="tab" show-arrows>
                      <v-tabs-slider></v-tabs-slider>

                      <v-tab
                        v-for="row in notification"
                        :key="row.id"
                        :href="'#tab-' + row.id"
                      >
                        <v-badge
                          :content="
                            row.totalNotification === 0
                              ? '0'
                              : row.totalNotification
                          "
                          color="blue"
                        >
                          {{ row.namaLabel }}
                        </v-badge>
                      </v-tab>
                    </v-tabs>
                    <v-tabs-items v-model="tab">
                      <v-tab-item
                        v-for="row in notification"
                        :key="row.id"
                        :value="'tab-' + row.id"
                      >
                        <div v-if="row.notificationList.length > 0">
                          <div style="max-height: 400px; overflow-y: auto">
                            <template
                              v-for="d in row.notificationList.slice(0, 5)"
                            >
                              <v-hover :key="d.id" v-slot="{ hover }">
                                <v-card flat>
                                  <div
                                    style="cursor: pointer"
                                    @click="readNotification(d.id)"
                                  >
                                    <v-card-text
                                      :style="
                                        hover
                                          ? 'cursor:pointer;background-color: #dfe6e9'
                                          : d.isRead
                                          ? 'cursor:pointer;'
                                          : 'cursor:pointer;background-color: rgb(122, 164, 250)'
                                      "
                                      class="d-flex align-start"
                                      color="blue"
                                    >
                                      <v-avatar
                                        color="primary white--text"
                                        size="40"
                                        >{{
                                          d.username.substring(0, 2)
                                        }}</v-avatar
                                      >
                                      <div class="flex-column mx-2">
                                        <div>
                                          <b>{{ d.username }}</b>
                                          <b
                                            v-if="d.allTeam"
                                            class="red--text ml-2"
                                            >Announce To All Team</b
                                          >
                                        </div>
                                        <b>{{ d.created | toDiffHuman }}</b>
                                        <div
                                          v-html="
                                            d.description.length > 500
                                              ? d.description.substring(
                                                  0,
                                                  500
                                                ) + ' ...'
                                              : d.description
                                          "
                                        ></div>
                                      </div>
                                    </v-card-text>
                                  </div>
                                  <!--                                    </router-link>-->
                                  <v-divider class="mx-4"></v-divider>
                                </v-card>
                              </v-hover>
                            </template>
                            <!--/*                                    <router-link to="/notification" style="text-decoration: none;color: black">-->
                          </div>
                          <div class="pt-3 px-2">
                            <div
                              class="d-flex align-center justify-space-between"
                            >
                              <div style="text-decoration: none">
                                <v-btn
                                  style="text-decoration: none"
                                  text
                                  @click="readAllNotification(row.id)"
                                >
                                  Mark as read
                                </v-btn>
                              </div>
                              <router-link
                                style="text-decoration: none"
                                to="/notification"
                              >
                                <v-btn color="primary" text>
                                  See all notification
                                </v-btn>
                              </router-link>
                            </div>
                          </div>
                        </div>
                        <div v-else class="py-5">
                          <p class="text-center">Belum ada notifikasi</p>
                        </div>
                      </v-tab-item>
                    </v-tabs-items>
                  </v-card>
                </v-tab-item>

                <v-tab-item>
                  <v-card
                    min-width="400"
                    style="max-height: 400px; overflow-y: auto"
                  >
                    <div
                      v-for="(d, index) in dataNotificationTicketing"
                      :key="d.id"
                      style="cursor: pointer"
                      @click="readNotification(d.id)"
                    >
                      <v-card-text
                        class="d-flex align-start"
                        color="blue"
                        @click.stop="showDialogTicketingConversation(d)"
                      >
                        <v-avatar color="primary white--text" size="40">{{
                          d.created_by.substring(0, 2)
                        }}</v-avatar>
                        <div class="flex-column mx-2">
                          <div>
                            <b>{{ d.created_by }}</b>
                          </div>
                          <b>{{ d.created_at | toDiffHuman }}</b>
                          <div
                            v-html="
                              d.message.length > 500
                                ? d.message.substring(0, 500) + ' ...'
                                : d.message
                            "
                          ></div>
                        </div>
                      </v-card-text>
                      <v-divider
                        v-if="ticketingNotification.length - 1 !== index"
                        class="mx-4"
                      ></v-divider>
                    </div>
                  </v-card>
                  <v-card-text v-if="ticketingNotification.length === 0">
                    <p class="text-center">Belum ada notifikasi</p>
                  </v-card-text>
                </v-tab-item>
              </v-tabs-items>
            </v-sheet>
          </template>
        </v-menu>

        <v-menu v-if="currentUser" :nudge-bottom="10" offset-y right>
          <template v-slot:activator="{ on, attrs }">
            <div>
              <v-btn plain v-bind="attrs" v-on="on">
                <v-avatar color="grey lighten-1" size="36">
                  <v-img
                    :lazy-src="lookupImageUrlLazy(currentUser.avatarImage)"
                    :src="lookupImageUrl(currentUser)"
                  ></v-img>
                </v-avatar>
                <div class="text-start ml-2">
                  <span class="text-sm-body-2">{{ currentUser.username }}</span>
                  <br />
                  <span class="text-sm-body-2">{{ currentUser.roles[0] }}</span>
                </div>
                <v-icon>mdi mdi-chevron-down</v-icon>
              </v-btn>
            </div>
          </template>
          <v-card>
            <v-list class="text-start" flat>
              <v-list-item
                v-for="link in top_menus"
                :key="link.title"
                :to="link.route"
                route
              >
                <span class="align-center align-content-center">{{
                  link.title
                }}</span>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item>
                <v-btn
                  class="pl-0"
                  color="gray darken-1"
                  elevation="0"
                  plain
                  small
                  @click="logOut"
                >
                  <v-icon color="red">mdi-power</v-icon>
                  Keluar
                </v-btn>
              </v-list-item>
            </v-list>
          </v-card>
        </v-menu>
      </v-app-bar>

      <router-view></router-view>
    </v-main>

    <div
      style="position: fixed; right: 0; bottom: 0; margin: 10px"
      v-if="currentUser !== null"
    >
      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-skeleton-loader
            v-if="currentGroupNotificaion.length < 1"
            type="list-item-avatar-two-line, list-item-avatar-two-line, list-item-avatar-two-line, list-item-avatar-two-line, list-item-avatar-two-line, list-item-avatar-two-line, list-item-avatar-two-line"
          ></v-skeleton-loader>
          <div v-if="step === 1">
            <div
              class="white--text py-2 px-3"
              style="background-color: #4267b2"
            >
              <h2>Hi {{ currentUser.username }}!</h2>
              <h4>Kami siap membantu</h4>
            </div>
            <div
              v-for="group in currentGroupNotificaion"
              v-bind:key="group.id"
              class="py-1"
            >
              <a
                @click="onCLickNotificationButtom(group.id)"
                :href="
                  group.direct
                    ? `https://api.whatsapp.com/send?phone=+62${group.phone}&text=Hi kak,`
                    : `#`
                "
                :target="group.direct ? '_blank' : '_parent'"
                class="py-2 px-3 d-flex align-center justify-space-between black--text"
                style="width: 100%; text-decoration: none"
              >
                <h3>{{ group.question }}</h3>
                <v-icon>mdi-chevron-right</v-icon>
              </a>
            </div>
          </div>
          <div v-if="step === 2">
            <div class="py-3 px-3 d-flex align-center justify-space-between">
              <v-btn
                @click="onCLickNotificationButtom(null, 'backwardTwoToOne')"
              >
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
              <h3 class="blue--text text-right">
                {{ notificationGroupUserList.question }}
              </h3>
            </div>
            <div
              v-for="user in notificationGroupUserList.userList"
              v-bind:key="user.id"
            >
              <a
                @click="
                  onCLickNotificationButtom(
                    notificationGroupUserList.id,
                    'forwardTwoToThree',
                    user
                  )
                "
                class="py-2 px-3 d-flex align-center justify-space-between black--text"
                style="width: 100%; text-decoration: none"
              >
                <div class="d-flex align-center space-x-2">
                  <v-avatar color="grey mr-2" size="36">
                    <v-img
                      :lazy-src="lookupImageUrlLazy(user.avatarImage)"
                      :src="lookupImageUrl(user.avatarImage)"
                    ></v-img>
                  </v-avatar>
                  <div>
                    <h3>{{ user.username }}</h3>
                    <p class="mb-0">{{ user.posisi }}</p>
                  </div>
                </div>
                <v-icon>mdi-chevron-right</v-icon>
              </a>
            </div>
          </div>
          <div v-if="step === 3">
            <div class="py-3 px-3 d-flex align-center justify-space-between">
              <v-btn
                @click="onCLickNotificationButtom(null, 'backwardThreeToTwo')"
              >
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
              <div class="text-right">
                <h3 class="blue--text">
                  {{ notificationGroupUserList.question }}
                </h3>
                <h4 class="black--text">{{ userSelected.username }}</h4>
              </div>
            </div>
            <div
              v-for="template in currentGroupNotificationTemplate"
              v-bind:key="template.id"
            >
              <a
                :href="`https://api.whatsapp.com/send?phone=+62${userSelected.phone}&text=${template.template}`"
                :target="'_blank'"
                class="py-2 px-3 d-flex align-center justify-space-between black--text"
                style="width: 100%; text-decoration: none"
              >
                <div>
                  <h3>{{ template.template }}</h3>
                </div>
                <v-icon>mdi-chevron-right</v-icon>
              </a>
            </div>
            <a
              :href="`https://api.whatsapp.com/send?phone=+62${userSelected.phone}&text=Hi kak,`"
              :target="'_blank'"
              class="py-2 px-3 d-flex align-center justify-space-between black--text"
              style="width: 100%; text-decoration: none"
            >
              <div>
                <h3>Lainnya</h3>
              </div>
              <v-icon>mdi-chevron-right</v-icon>
            </a>
          </div>
        </v-card>
      </v-dialog>
      <v-fab-transition
        v-if="
          currentUser !== null &&
          this.$router.currentRoute.path !== '/' &&
          this.$router.currentRoute.meta.requiredAuth === true
        "
      >
        <v-btn @click="dialog = !dialog" color="#4267B2" dark fab large>
          <v-icon>mdi-message</v-icon>
        </v-btn>
      </v-fab-transition>
    </div>

    <!--  next plan  -->
    <div
      v-if="
        window.width <= 1000 &&
        currentUser !== null &&
        this.$router.currentRoute.path !== '/' &&
        this.$router.currentRoute.meta.requiredAuth === true
      "
      class="mt-12"
    >
      <template>
        <v-bottom-navigation fixed>
          <v-btn link to="/dashboard" value="/dashboard">
            <span>Dashboard</span>

            <v-icon>mdi-home</v-icon>
          </v-btn>

          <v-btn link to="/sales" value="/sales">
            <span>Transaksi</span>

            <v-icon>mdi-cart</v-icon>
          </v-btn>

          <v-btn link to="/change-profile" value="/change-profile">
            <span>Profile</span>

            <v-icon>mdi-cog</v-icon>
          </v-btn>
        </v-bottom-navigation>
      </template>
    </div>
  </v-app>
</template>

<script>
import NavDrawer from "./modules/public/components/NavDrawer";
import FileService from "./services/apiservices/file_service/file-service";
import FSupportTicketService from "@/modules/ticketing/services/f-support-ticket-service";
import FGroupNotification from "@/modules/top-notification/services/f-notification-service";
import SockJS from "sockjs-client";
import ConstApiUrls from "@/services/const-api-urls";
import Stomp from "webstomp-client";
import momentTimzone from "moment-timezone";

export default {
  components: { NavDrawer },
  name: "App",
  data() {
    return {
      window: {
        width: 0,
        height: 0,
      },
      tab: null,
      parentTab: null,
      top_menus: [
        {
          icon: "mdi-help-box",
          title: "Ubah Profile",
          route: "/change-profile",
          visible: true,
        },
      ],
      dialog: false,
      connection: null,
      step: 1,
      notificationGroupUserList: [],
      notificationGroupTemplate: [],
      dataTicketingConversation: [],
      dataNotificationTicketing: [],
      userSelected: null,
    };
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    currentGroupNotificaion() {
      return this.$store.state.notification.itemsNotificationGroup;
    },
    snackbar() {
      return this.$store.state.notification.isSnackbar;
    },
    message() {
      return this.$store.state.notification.message;
    },
    currentGroupNotificationTemplate() {
      return this.$store.state.notification.itemsNotificationGroupTemplate;
    },
    bg() {
      return this.$store.state.data.bg;
    },
    notification() {
      return this.$store.state.notification
        .itemNotificationLabelWithNotificationItem;
    },
    ticketingNotification() {
      return this.dataTicketingConversation;
    },
    totalAllNotifWithTicketing() {
      let totalAllNotifWithTicketing =
        this.totalAllNotif + this.ticketingNotification.length;
      return totalAllNotifWithTicketing;
    },
    totalAllNotif() {
      let total = 0;
      this.notification.map((f) => {
        total += f.totalNotification;
      });
      return total;
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
  },
  filters: {
    toDiffHuman: function (date) {
      return momentTimzone.tz(date, "Asia/Jakarta").locale("id").fromNow();
    },
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    },
    onClickTabParent(name) {
      if (name === "ticketing") {
        this.fetchFSupportTicket();
        this.$store.dispatch("ticketing/loadTicketingNotification");
        this.dataNotificationTicketing =
          this.$store.state.ticketing.itemTicketingNotification;
      }
    },
    fetchFSupportTicket() {
      if (this.haveRoleAdmin) {
        FSupportTicketService.getAllSupportTicketContainingAdmin(
          1,
          5,
          "createdAt",
          "DESC",
          "",
          "",
          "",
          "",
          "",
          ""
        ).then(
          (response) => {
            console.log(response);
            // this.dataTicketingConversation = response.data.content;
          },
          (error) => {
            console.log(error.response);
          }
        );
      } else {
        FSupportTicketService.getAllSupportTicketContainingNonAdmin(
          1,
          5,
          "createdAt",
          "DESC",
          "",
          "",
          ""
        ).then(
          (response) => {
            console.log(response);
            // this.dataTicketingConversation = response.data.content;
          },
          (error) => {
            console.log(error);
          }
        );
      }
    },
    changeDrawerState() {
      this.$refs.navbar.drawer = !this.$refs.navbar.drawer;
    },
    fetchNotification() {
      this.$store.dispatch(
        "notification/loadNotificationLabelWithNotificationItem"
      );
    },
    readNotification(id) {
      let tmpNotif = [];
      this.notification.map(
        (e) => (tmpNotif = [...tmpNotif, ...e.notificationList])
      );
      if (tmpNotif.find((e) => e.id === id).isRead === false) {
        FGroupNotification.readFNotification([id]).then(() => {
          this.fetchNotification();
          this.$router.push("/notification");
        });
      } else {
        this.$router.push("/notification");
      }
    },
    readAllNotification(labelId) {
      let tmpNotif = [];
      this.notification.map((e) => {
        if (e.id === labelId) {
          tmpNotif = [
            ...tmpNotif,
            ...e.notificationList.slice(0, 5).map((e) => e.id),
          ];
        }
      });
      FGroupNotification.readFNotification(tmpNotif).then(() => {
        this.fetchNotification();
      });
    },
    showDialogTicketingConversation(item) {
      FSupportTicketService.openFSupportTicket(item.ticketId).then(
        (res) => {
          console.log(res);
          this.ticketingValue = this.dataTicketingConversation.find(
            (value) => value.id === item.ticketId
          );
          this.$refs.refConversationDialog.showDialog(this.ticketingValue);
        },
        (err) => {
          console.log(err);
        }
      );
    },
    logOut() {
      this.connection.close();
      this.client.disconnect();
      this.$store.dispatch("auth/logout");
      this.$router.push("/login");
    },
    lookupImageUrl(item) {
      // console.log(JSON.stringify(item))
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/account_icon.png";
      } else {
        return FileService.image_url_verylow(item.avatarImage);
      }
    },
    closeNotification() {
      this.$store.commit("notification/snackbar", false);
    },
    lookupImageUrlLazy() {
      return "./assets/images/account_icon.png";
    },
    onCLickNotificationButtom(id, type = "forward", user = null) {
      if (type === "forward") {
        const data = this.$store.state.notification.itemsNotificationGroup;
        const filtered = data.filter((currentValue) => {
          return currentValue.id === id;
        });

        if (filtered.length > 0 && filtered[0].userList.length > 0) {
          this.notificationGroupUserList = filtered[0];
          this.step = 2;
        }
      } else if (type === "forwardTwoToThree") {
        this.$store.dispatch("notification/loadNotificationTemplateByGroupId", {
          id: id,
        });
        this.userSelected = user;
        this.step = 3;
      } else if (type === "backwardTwoToOne") {
        this.notificationGroupUserList = [];
        this.step = 1;
      } else {
        this.step = 2;
      }
    },
  },
  mounted() {
    if (!this.currentUser) {
      //Kita tidak akan pernah push apapun jika belum login
      // this.$router.push('/login');
    } else {
      this.$store.dispatch("data/loadFTicketCategory");
      this.$store.dispatch("data/loadFTicketCategoryEkspedisi");

      /* jgn lupa close connection jika pindah halaman dan open kembali */
      this.connection = new SockJS(ConstApiUrls.WEBSOCKET_URL);
      this.client = new Stomp.over(this.connection);
      this.client.debug = (f) => f;

      this.client.connect(
        {},
        () => {
          this.client.subscribe("/topic/notifications", (tick) => {
            this.$store.commit("notification/snackbar", true);
            this.$store.commit("notification/message", tick.body);
          });
        },
        (error) => {
          console.log(error);
        }
      );
    }
  },
};
</script>

<style>
.row-pointer > .v-data-table__wrapper > table > tbody > tr:hover {
  cursor: pointer;
}
</style>
