<template>
  <div class="align-self-center">
    <loading
      :active.sync="loading"
      :can-cancel="false"
      :background-color="'rgb(66, 103, 178)'"
      :opacity="1"
      :is-full-page="true"
    >
      <LogoLoaderVue />
    </loading>
    <v-dialog
      v-model="dialogShow"
      :width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeDialog"
      transition="dialog-top-transition"
    >
      <v-card>
        <v-toolbar color="white" dense elevation="0" light>
          <v-toolbar-title>Filter export</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-divider />
        <v-card-text class="justify-center">
          <v-form v-model="valid" ref="form">
            <v-row justify="center" align="center" class="mt-5">
              <v-col cols="12">
                <DateRangePicker
                  style="width: 100%"
                  :ranges="ranges"
                  v-model="datePickerRangeReturn"
                  :locale-data="dprLocale"
                  :autoApply="dprAutoApply"
                  :showDropdowns="dprShowDropdowns"
                ></DateRangePicker>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  background-color="secondary"
                  chips
                  deletable-chips
                  dense
                  flat
                  small-chips
                  solo
                  :rules="rulesNotEmtpy"
                  v-model="exportData.sort"
                  placeholder="Pilih sort"
                  :items="sortBy"
                  filled
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  background-color="secondary"
                  chips
                  deletable-chips
                  dense
                  filled
                  flat
                  small-chips
                  solo
                  :rules="rulesNotEmtpy"
                  v-model="exportData.order"
                  placeholder="Pilih order"
                  :items="orderList"
                ></v-autocomplete> </v-col
              ><v-col cols="6">
                <v-autocomplete
                  v-model="exportData.warehouses"
                  :items="itemsFWarehouseActive"
                  background-color="secondary"
                  chips
                  class="text--white"
                  deletable-chips
                  dense
                  filled
                  flat
                  item-text="description"
                  item-value="id"
                  label="Pilih warehouse"
                  multiple
                  small-chips
                  solo
                ></v-autocomplete> </v-col
              ><v-col cols="6">
                <v-autocomplete
                  v-model="exportData.status"
                  :items="statusType"
                  background-color="secondary"
                  chips
                  class="text--white"
                  deletable-chips
                  dense
                  filled
                  flat
                  label="Pilih status"
                  multiple
                  small-chips
                  solo
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-divider />
        <v-card-actions class="d-flex justify-end">
          <div class="">
            <v-btn
              color="rgb(66, 103, 178)"
              elevation="0"
              style="color: white"
              @click="saveExport"
            >
              Export
              <v-icon right style="color: white">mdi-download</v-icon>
            </v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FReturnService from "../../services/f-return-service";
import { EStatusReturns } from "../../../../models/e-status-return";
import { dateFormattedDatefnsWithTime } from "@/utils/date-utils";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";

import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import LogoLoaderVue from "../../../public/components/LogoLoader.vue";

export default {
  name: "FReturnExportDialog",
  props: {},
  components: {
    DateRangePicker,
    Loading,
    LogoLoaderVue,
  },
  inject: {
    theme: {
      default: { isDark: false },
    },
  },
  data() {
    let today = new Date();
    today.setHours(12, 0, 0, 0);
    let yesterday = new Date();
    yesterday.setDate(today.getDate() - 1);
    yesterday.setHours(12, 0, 0, 0);

    return {
      loading: false,
      ranges: {
        Today: [today, today],
        Yesterday: [yesterday, yesterday],
        "This month": [
          new Date(today.getFullYear(), today.getMonth(), 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 31, 12, 0, 0, 0),
        ],
        "This year": [
          new Date(today.getFullYear(), 0, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), 11, 31, 12, 0, 0, 0),
        ],
        "Last month": [
          new Date(today.getFullYear(), today.getMonth() - 1, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 0, 12, 0, 0, 0),
        ],
      },
      valid: false,
      exportData: {
        order: "desc",
        sort: "return_date",
        warehouses: [],
        status: [],
      },

      datePickerRangeReturn: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(),
      },
      dprLocale: {
        direction: "ltr", //direction of text
        format: "dd/mm/yyyy",
        separator: " - ", //separator between the two ranges
        applyLabel: "Terapkan",
        cancelLabel: "Batal",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        firstDay: 1, //ISO first day of week - see moment documenations for details
      },
      dprAutoApply: true,
      dprShowDropdowns: true,
      statusType: [
        {
          text: "Pending",
          value: "1",
        },
        {
          text: "Invoice",
          value: "2",
        },
        {
          text: "Refund",
          value: "3",
        },
      ],
      orderList: [
        {
          text: "Descending",
          value: "desc",
        },
        {
          text: "Ascending",
          value: "asc",
        },
      ],
      sortBy: [
        {
          text: "Invoice date",
          value: "invoice_date",
        },
        {
          text: "Return date",
          value: "return_date",
        },
        {
          text: "Status",
          value: "status",
        },
      ],

      dialogShow: false,
      filterFwarehouses: [],
      filterFReturnStatus: [],
      itemsEStatusReturn: EStatusReturns,
      formDialogOptions: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
    };
  },
  methods: {
    showDialog() {
      this.dialogShow = true;
    },
    dateFormattedDatefnsWithTime(value) {
      return dateFormattedDatefnsWithTime(value);
    },
    saveExport() {
      if (this.$refs.form.validate()) {
        let filter = {};
        this.loading = true;
        filter.date_start = this.datePickerRangeReturn.startDate;
        filter.date_end = this.datePickerRangeReturn.endDate;
        filter.sortBy = this.exportData.sort;
        filter.order = this.exportData.order;
        filter.status = this.exportData.status;
        filter.warehouse = this.exportData.warehouses;
        FReturnService.export(filter)
          .then((response) => {
            let headerLine =
              response.headers["content-disposition"].split("filename=")[1];
            let fileURL = window.URL.createObjectURL(new Blob([response.data]));
            let fileLink = document.createElement("a");
            fileLink.href = fileURL;
            fileLink.setAttribute("download", headerLine);
            document.body.appendChild(fileLink);
            fileLink.click();
            this.loading = false;
            this.closeDialog();
          })
          .catch(() => {
            this.$swal({
              title: "Gagal ambil data",
              text: "terdapat kesalahan, silahkan coba lagi",
              icon: "error",
              confirmButtonText: "Tutup",
            });
            this.loading = false;
          });
      }
    },
    closeDialog() {
      this.dialogShow = false;
    },
  },
  computed: {
    itemsFWarehouseActive() {
      return this.$store.state.data.listFWarehouse.filter(
        (x) => x.statusActive === true
      );
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted() {},
};
</script>

<style scoped></style>
