<template>
    <div class="align-self-center">
      <v-dialog
        v-model="dialogShow"
        :width="formDialogOptions.width"
        :style="{ zIndex: formDialogOptions.zIndex }"
        @keydown.esc.prevent="closeDialog"
        transition="dialog-top-transition"
      >
        <v-card>
          <v-toolbar
            color="rgb(66, 103, 178)"
            elevation="0"
            dark
            dense
          >

            <v-toolbar-title>Read File Excel</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn
              color="white"
              icon
              @click="closeDialog"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar>

          <v-card-text class="justify-center">

            <v-row justify="center" align="center">
              <v-col cols="7">
                <v-file-input
                  v-model="currentFile"
                  show-size
                  counter
                  label="Pilih File Excel"
                  accept=".xls,.xlsx"
                  @change="selectFile"
                ></v-file-input>
              </v-col>
              <v-col cols="2" class="pl-2">
                <v-btn style="color: white;" color="rgb(66, 103, 178)" @click="startUpload" :disabled="!currentFile || sudahUpload===true">
                  Check
                  <v-icon right style="color: white;">mdi-cloud-upload</v-icon>
                </v-btn>
              </v-col>

            </v-row>

            <v-row >
              <v-col cols="12" sm="12" md="12">

                <v-skeleton-loader
                  v-if="loading"
                  class="mx-auto"
                  type="table"
                  transition="scale-transition"
                >
                </v-skeleton-loader>

                <v-data-table
                  v-if="!loading"
                  :headers="headers"
                  :items="itemsComputed"
                  item-key="name"
                  class="elevation-1"
                  height="400"
                  calculate-widths
                  hide-default-footer
                  disable-pagination
                >
                  <template v-slot:[`item.number`]="{ item }" >
                    <span><v-icon small color="green" v-if="item.statusUpload===1">mdi-check-circle</v-icon></span>
                    <span><v-icon small color="red" v-if="item.statusUpload===2">mdi-close</v-icon></span>
                    {{ item.number }}
                  </template>

                </v-data-table>

              </v-col>

            </v-row>

            <div v-if="progress">
              <div>
                <v-progress-linear
                  v-model="progress"
                  color="light-blue"
                  height="25"
                  reactive
                >
                  <strong>{{ progress }} %</strong>
                </v-progress-linear>
              </div>
            </div>

            <v-row v-if="previewImage" justify="center">
              <v-img class="ma-2" :src="previewImage" alt="" max-width="300px" max-height="300px"></v-img>
            </v-row>

          </v-card-text>

        </v-card>

        <v-alert v-if="message" border="left" color="blue-grey" dark>
          {{ message }}
        </v-alert>


      </v-dialog>


    </div>
  </template>

  <script>
  import readXlsxFile from 'read-excel-file'

  export default {
    name: "FReturnImportDialog",
    props:{},
    components:{
    },
    inject: {
      theme: {
        default: { isDark: false },
      },
    },
    data() {
      return {
        loading: false,
        sudahUpload: false,

        dialogShow: false,
        formDialogOptions: {
          color: "grey lighten-3",
          width:800,
          zIndex: 200,
          noconfirm: false,
        },

        currentFile: undefined,
        previewImage: undefined,

        fdivisionBeanSelected: '',
        rulesNotEmtpy: [
          v => !!v || 'Tidak boleh kosong'
        ],

        progress: 0,
        message: "",
        description: '',

        headers: [
          {
            text: 'No',
            value: 'number',
            width: '8%',
            sortable: false
          },
          { text: 'Delivery number', value: 'awb', width:'92%' },
        ],
        items:[],
      };
    },
    computed: {
      itemsComputed(){
        return this.items
      }
    },

    methods: {

      selectFile(file) {

        this.currentFile = file;
        // this.previewImage = URL.createObjectURL(this.currentFile);
        this.progress = 0;
        this.message = "";

        let rowKe =0
        readXlsxFile(this.currentFile).then( (rows) =>{
          rows.forEach( item => {
            this.items.push({
              "number": rowKe +1,
              "awb":item[0]
            })
            rowKe++
          })
        })

      },

      startUpload() {
        this.loading = true
        if (!this.currentFile) {
          this.message = "Please select an Image!";
          return;
        }

        let items = []
        this.items.forEach( item =>{
          items.push(item.awb)
        })

        this.sudahUpload = true
        this.dialogShow = false
        this.$emit('checkAwbByImport', items)
        this.loading = false
      },

      showDialog(){
        this.dialogShow = true
        this.currentFile = undefined
        this.previewImage = undefined
        this.progress =0
        this.message = ""

        this.sudahUpload = false

      },
      closeDialog(){
        if (! this.isItemModified){
          this.dialogShow = false
          this.$emit('eventFromFormDialog1', this.itemModified)
        }
        if (this.sudahUpload) {
          this.$emit('importExcelCompleted', "OKE")
        }

      },
      passingEventFromCloseConfirm(value){
        if (value==='OKE') this.dialogShow = false
      },


    },
    mounted() {
    },
  };
  </script>

  <style scoped>

  </style>
