<template>
  <div class="align-self-center">
    <v-dialog
      v-model="dialogShow"
      :style="{ zIndex: formDialogOptions.zIndex }"
      :width="formDialogOptions.width"
      transition="dialog-top-transition"
      @keydown.esc.prevent="closeDialog"
    >
      <v-card>
        <v-toolbar color="rgb(66, 103, 178)" dark dense elevation="0">
          <v-toolbar-title>Read File Excel | Update Status</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn color="white" icon @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-card-text class="justify-center">
          <v-row align="center" justify="center">
            <v-col cols="6">
              <v-file-input
                v-model="currentFile"
                accept=".xls,.xlsx"
                counter
                label="Pilih File Excel"
                show-size
                @change="selectFile"
              ></v-file-input>
            </v-col>
            <v-col class="mt-5" cols="4">
              <v-autocomplete
                v-model="statusSelected"
                :items="statusType"
                dense
                filled
                placeholder="Pilih status"
              ></v-autocomplete>
            </v-col>
            <v-col class="pl-2" cols="2">
              <v-btn
                :disabled="!currentFile"
                color="rgb(66, 103, 178)"
                style="color: white"
                @click="startUpload"
              >
                Upload
                <v-icon right style="color: white">mdi-cloud-upload</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" md="12" sm="12">
              <v-skeleton-loader
                v-if="loading"
                class="mx-auto"
                transition="scale-transition"
                type="table"
              >
              </v-skeleton-loader>

              <v-data-table
                v-if="!loading"
                :headers="headers"
                :items="itemsComputed"
                calculate-widths
                class="elevation-1"
                disable-pagination
                height="400"
                hide-default-footer
                item-key="name"
              >
                <template v-slot:[`item.number`]="{ item }">
                  <span
                    ><v-icon v-if="item.statusUpload === 1" color="green" small
                      >mdi-check-circle</v-icon
                    ></span
                  >
                  <span
                    ><v-icon v-if="item.statusUpload === 2" color="red" small
                      >mdi-close</v-icon
                    ></span
                  >
                  {{ item.number }}
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import readXlsxFile from "read-excel-file";

export default {
  name: "FReturnImportStatusDialog",
  props: {},
  components: {},
  inject: {
    theme: {
      default: { isDark: false },
    },
  },
  data() {
    return {
      loading: false,
      statusType: [
        {
          text: "Pending",
          value: "1",
        },
        {
          text: "Invoice",
          value: "2",
        },
        {
          text: "Refund",
          value: "3",
        },
      ],

      dialogShow: false,
      formDialogOptions: {
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },

      currentFile: undefined,

      statusSelected: "0",
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],

      headers: [
        {
          text: "No",
          value: "number",
          width: "8%",
          sortable: false,
        },
        { text: "Delivery number", value: "awb", width: "92%" },
      ],
      items: [],
    };
  },
  computed: {
    itemsComputed() {
      return this.items;
    },
  },

  methods: {
    selectFile(file) {
      this.currentFile = file;
      this.progress = 0;
      this.message = "";

      let rowKe = 0;
      readXlsxFile(this.currentFile).then((rows) => {
        rows.forEach((item) => {
          this.items.push({
            number: rowKe + 1,
            awb: item[0],
          });
          rowKe++;
        });
      });
    },

    startUpload() {
      this.loading = true;
      if (!this.currentFile) {
        this.message = "Please select an Image!";
        return;
      }

      let items = [];
      this.items.forEach((item) => {
        items.push(item.awb);
      });

      this.dialogShow = false;
      this.$emit("changeStatusAwbByImport", items, this.statusSelected);
      this.loading = false;
      this.currentFile = null;
      this.items = [];
      this.dialogShow = false;
    },

    showDialog() {
      this.dialogShow = true;
    },
    closeDialog() {
      this.currentFile = null;
      this.items = [];
      this.dialogShow = false;
    },
  },
};
</script>

<style scoped></style>
