<template>
  <v-card class="elevation-0">
    <loading
      :active.sync="loading"
      :can-cancel="false"
      :on-cancel="onCancel"
      :background-color="'rgb(66, 103, 178)'"
      :opacity="1"
      :is-full-page="true"
    >
      <LogoLoaderVue />
    </loading>
    <v-card-title>
      {{ title }}
      <v-spacer></v-spacer>

      <v-text-field
        v-on:keyup.enter="searchOnEnter"
        v-on:blur="searchOnEnter"
        append-icon="mdi-magnify"
        label="Nomor Awb"
      ></v-text-field>

      <v-btn
        v-if="haveRoleAdmin"
        @click="showDialogImportStatus"
        icon
        fab
        color="rgb(66, 103, 178)"
        small
        class="ml-2"
      >
        <v-icon>mdi-upload</v-icon>
      </v-btn>

      <v-btn
        v-if="haveRoleAdmin || haveRolePiutang"
        @click="showDialogExportReturn"
        icon
        fab
        color="rgb(66, 103, 178)"
        small
        class="ml-2"
      >
        <v-icon>mdi-download</v-icon>
      </v-btn>

      <v-btn
        @click="showFilter = !showFilter"
        icon
        fab
        color="rgb(66, 103, 178)"
        small
        class="ml-2"
      >
        <v-icon>mdi-filter</v-icon>
      </v-btn>
    </v-card-title>

    <v-expand-transition>
      <v-card
        color="rgb(66, 103, 178)"
        class="mx-2 mb-1 elevation-0 white--text"
        v-show="showFilter === true"
      >
        <v-card-text>
          <v-row>
            <v-col cols="12" sm="4" md="3">
              <v-autocomplete
                v-model="filterdata"
                :items="itemsFWarehouseActive"
                item-value="id"
                item-text="description"
                auto-select-first
                dense
                chips
                small-chips
                deletable-chips
                color="white"
                label="Pilih warehouse"
                dark
                class="text--white"
                persistent-hint
                multiple
                hide-details
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    close
                    @click="data.select"
                    @click:close="removeAutoCompleteFWarehouse(data.item)"
                  >
                    <v-avatar left>
                      <v-img
                        :lazy-src="lookupImageUrlLazy(data.item)"
                        :src="lookupImageUrl(data.item)"
                      ></v-img>
                    </v-avatar>
                    <span class="font-weight-regular caption">
                      {{ data.item.kode1 }}
                    </span>
                  </v-chip>
                </template>

                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-avatar>
                      <v-img
                        :lazy-src="lookupImageUrlLazy(data.item)"
                        :src="lookupImageUrl(data.item)"
                      ></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title>{{
                        data.item.description
                      }}</v-list-item-title>
                      <v-list-item-subtitle>{{
                        data.item.kode1
                      }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-col>

            <!-- Status table -->

            <v-col cols="12" sm="4" md="3">
              <v-autocomplete
                v-model="filterFReturnStatus"
                :items="itemsEStatusReturn"
                item-value="id"
                item-text="shortDesc"
                auto-select-first
                dense
                chips
                small-chips
                deletable-chips
                color="white"
                label="Pilih status"
                dark
                class="text--white"
                persistent-hint
                multiple
                hide-details
              >
              </v-autocomplete>
            </v-col>

            <v-col cols="12" sm="4" md="4">
              <v-flex class="d-flex justify-center align-center">
                <span class="subtitle-2 mr-2 white--text">
                  Tanggal Return
                </span>
                <DateRangePicker
                  style="width: 100%"
                  v-model="datePickerRangeReturn"
                  :locale-data="dprLocale"
                  @update="changeDatePickerRange"
                  :autoApply="dprAutoApply"
                  :showDropdowns="dprShowDropdowns"
                  :ranges="ranges"
                ></DateRangePicker>
              </v-flex>
            </v-col>

            <v-col cols="12" sm="4" md="2">
              <v-flex lass="d-flex justify-end align-center">
                <v-btn color="white" @click="fetchData"> Terapkan </v-btn>
              </v-flex>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-expand-transition>

    <div>
      <v-skeleton-loader
        v-if="loading"
        class="mx-auto"
        type="table"
        transition="scale-transition"
      >
      </v-skeleton-loader>

      <v-data-table
        :items="returnData"
        v-if="!loading"
        v-model="selectedItems"
        :single-select="!multiSelect"
        :show-select="multiSelect"
        :headers="headers"
        dense
        :page.sync="currentPage"
        :items-per-page="pageSize"
        hide-default-footer
        class="elevation-0"
        @page-count="totalTablePages = totalPaginationPages"
        align="start"
      >
        <template v-slot:[`item.number`]="{ index }">
          {{ index + (currentPage - 1) * pageSize + 1 }}
        </template>

        <template v-slot:[`item.actions`]="{ item }">
          <v-btn @click="showDialogEdit(item)" icon :disabled="multiSelect">
            <v-icon small color="info"> mdi-eye </v-icon>
          </v-btn>
        </template>

        <template v-slot:[`item.deliveryNumber`]="{ item }">
          <p style="padding: 0; margin: 0">{{ item.customer }}</p>
          <span class="my-2" style="color: blue"
            >#{{ item.deliveryNumber }}</span
          ><br />
          <v-chip :color="lookupEStatusReturnColor(item.status)" dark x-small>
            <span>{{ lookupEStatusReturn(item.status).shortDesc }}</span>
          </v-chip>
        </template>

        <template v-slot:[`item.created`]="{ item }">
          <div class="text-caption small">
            <div>
              {{
                new Date(item.return_date)
                  .toLocaleString("id")
                  .replace(["."], ":")
              }}
            </div>
          </div>
        </template>

        <template v-slot:[`item.deliveryDate`]="{ item }">
          <div class="text-caption small font-weight-light grey--text">
            <div>{{ item.deliveryDate == "" ? "-" : item.deliveryDate }}</div>
          </div>
        </template>

        <template v-slot:[`item.modifiedStatus`]="{ item }">
          <div class="text-caption small font-weight-light grey--text">
            <div>
              {{
                item.modifiedStatus == null
                  ? "-"
                  : new Date(item.modifiedStatus)
                      .toLocaleString("id")
                      .replace(["."], ":")
              }}
            </div>
          </div>
        </template>
      </v-data-table>
    </div>

    <v-container>
      <v-row justify="end" align="center">
        <v-col cols="4" md="2" sm="2">
          <v-select
            v-model="pageSize"
            :items="pageSizes"
            label="Items per page"
          ></v-select>
        </v-col>
        <v-col cols="10" md="9" sm="8" align="right">
          <v-pagination
            v-model="currentPage"
            :length="totalPaginationPages"
            total-visible="8"
            circle
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>

    <FReturnDialog
      :formMode.sync="formMode"
      ref="refFormDialog"
      @eventFromFormDialogEdit="saveDataEdit"
    ></FReturnDialog>

    <FReturnExportDialog
      :formMode.sync="formMode"
      ref="refFormDialogExport"
    ></FReturnExportDialog>

    <FReturnImportStatusDialog
      :formMode.sync="formMode"
      ref="refFormDialogImport"
      @changeStatusAwbByImport="changeStatusAwbByImport"
    >
    </FReturnImportStatusDialog>

    <v-snackbar v-model="snackbar">
      {{ snackBarMesage }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </v-card>
</template>

<script>
import FReturnService from "../../services/f-return-service";
import FileService from "../../../../services/apiservices/file_service/file-service";
import FormMode from "../../../../models/form-mode";

import FReturnDialog from "./FReturnDialog";

import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { EStatusReturns } from "@/models/e-status-return";

import FReturnExportDialog from "./FReturnExportDialog.vue";
import FReturnImportStatusDialog from "./FReturnImportStatusDialog.vue";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
import LogoLoaderVue from "../../../public/components/LogoLoader.vue";

export default {
  components: {
    FReturnDialog,
    DateRangePicker,
    FReturnExportDialog,
    FReturnImportStatusDialog,
    Loading,
    LogoLoaderVue,
  },
  data() {
    let today = new Date();
    today.setHours(12, 0, 0, 0);
    let yesterday = new Date();
    yesterday.setDate(today.getDate() - 1);
    yesterday.setHours(12, 0, 0, 0);

    return {
      loading: false,
      ranges: {
        Today: [today, today],
        Yesterday: [yesterday, yesterday],
        "This month": [
          new Date(today.getFullYear(), today.getMonth(), 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 31, 12, 0, 0, 0),
        ],
        "This year": [
          new Date(today.getFullYear(), 0, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), 11, 31, 12, 0, 0, 0),
        ],
        "Last month": [
          new Date(today.getFullYear(), today.getMonth() - 1, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 0, 12, 0, 0, 0),
        ],
      },

      title: "Data return",

      snackbar: false,
      showFilter: false,
      snackBarMesage: "",

      multiSelect: false,
      selectedItems: [],
      filterdata: [],
      filterFReturnStatus: [],
      itemsEStatusReturn: EStatusReturns,

      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      pageSize: 10,
      pageSizes: [10, 25, 50, 150, 500],

      datePickerRangeReturn: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(),
      },
      search: "",

      dprLocale: {
        direction: "ltr",
        format: "dd/mm/yyyy",
        separator: " - ",
        applyLabel: "Terapkan",
        cancelLabel: "Batal",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        firstDay: 1,
      },
      dprAutoApply: true,
      dprShowDropdowns: true,

      headers: [
        {
          text: "No",
          value: "number",
          width: "5%",
          sortable: false,
        },
        { text: "Delivery Number", value: "deliveryNumber", width: "15%" },
        { text: "Courier", value: "ekspedisi", width: "10%" },
        { text: "Distributor", value: "distributor", width: "10%" },
        { text: "Salesman", value: "salesmanParent", width: "15%" },
        { text: "Shop Name", value: "store", width: "15%" },
        { text: "Items", value: "remark", width: "10%" },
        { text: "Invoice date", value: "invoice_date", width: "10%" },
        { text: "Created date", value: "created", width: "15%" },
        { text: "Modified Status", value: "return_date", width: "15%" },
        { text: "Actions", value: "actions", align: "start", sortable: false },
      ],

      formMode: "",
      itemSelectedIndex: -1,
      itemSelected: "",
      data: [],
    };
  },
  watch: {
    currentPage: {
      handler: function (value) {
        if (value) {
          if (this.showFilter) {
            this.fetchData();
          } else {
            this.fetchData(true);
          }
        }
      },
    },
    pageSize: {
      handler: function (value) {
        const refreshData = this.currentPage == 1;
        this.currentPage = 1;
        if (refreshData) {
          if (this.showFilter) {
            this.fetchData();
          } else {
            this.fetchData(true);
          }
        }
      },
    },
  },
  computed: {
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
    haveRolePiutang() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (this.currentUser.roles.includes("ROLE_PIUTANG")) {
          isValid = true;
        }
      }
      return isValid;
    },
    itemsFWarehouseActive() {
      return this.$store.state.data.listFWarehouse.filter(
        (x) => x.statusActive === true
      );
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    returnData() {
      return this.data;
    },
  },
  methods: {
    onCancel() {},
    showDialogImportStatus() {
      this.$refs.refFormDialogImport.showDialog();
    },
    changeStatusAwbByImport(awbs, status) {
      FReturnService.updateStatusByDeliveryNumber({
        awbs: awbs,
        status: status,
      }).then(
        (response) => {
          const { success, alreadySaved, notFound } = response.data.data;

          if (this.showFilter) {
            this.fetchData();
          } else {
            this.fetchData(true);
          }

          this.$swal({
            title: `Berhasil Update status`,
            html: `resi success ${
              success.length === 0 ? "-" : success
            } <br> resi sudah pernah disimpan dengan status yg sama ${
              alreadySaved.length === 0 ? "-" : alreadySaved
            } <br> resi tidak ditemukan ${
              notFound.length === 0 ? "-" : notFound
            }`,
            icon: "success",
            showCancelButton: true,
            cancelButtonText: "Close",
            confirmButtonText: "Tutup",
          });
        },
        (error) => {
          console.log(error.response);
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },
    showDialogExportReturn() {
      this.$refs.refFormDialogExport.showDialog();
    },
    lookupEStatusReturnColor(statusReturn) {
      const str = this.itemsEStatusReturn.filter((x) => x.id === statusReturn);
      if (str.length > 0) {
        return `${str[0].color}`;
      } else {
        return "-";
      }
    },
    lookupEStatusReturn(statusReturn) {
      const str = this.itemsEStatusReturn.filter((x) => x.id === statusReturn);
      if (str.length > 0) {
        return str[0];
      } else {
        return "-";
      }
    },
    changeDatePickerRange() {},
    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        this.currentPage = 1;
        this.search = event.target.value;
        if (this.showFilter) {
          this.fetchData();
        } else {
          this.fetchData(true);
        }
      }
    },
    fetchData(isDateFilter = false) {
      this.loading = true;

      FReturnService.getReturn({
        page: this.currentPage,
        pageSize: this.pageSize,
        sortBy: "created",
        order: "DESC",
        query: this.search,
        warehouse: this.filterdata,
        status: this.filterFReturnStatus,
        date_end:
          isDateFilter === true ? null : this.datePickerRangeReturn.endDate,

        date_start:
          isDateFilter === true ? null : this.datePickerRangeReturn.startDate,
      })
        .then((res) => {
          const { items, totalPages } = res.data.data;
          this.data = items;
          this.totalPaginationPages = totalPages;
        })
        .finally(() => (this.loading = false));

      FReturnService.getSummary({
        query: this.search,
        warehouse: this.filterdata,
        status: this.filterFReturnStatus,
        date_end:
          isDateFilter === true ? null : this.datePickerRangeReturn.endDate,

        date_start:
          isDateFilter === true ? null : this.datePickerRangeReturn.startDate,
      }).then((res) => {
        this.$emit("refreshSummary", res.data);
      });
    },

    linkNeated(link) {
      return link.replace(/\s+/g, "-").toLocaleLowerCase();
    },

    showDialogEdit(item) {
      this.itemSelectedIndex = this.returnData.indexOf(item);
      const itemModified = Object.assign({}, item);
      this.formMode = FormMode.EDIT_FORM;
      this.$refs.refFormDialog.showDialog(this.itemSelectedIndex, itemModified);
    },

    saveDataEdit(item) {
      this.itemSelected = item;
      try {
        Object.assign(this.data[this.itemSelectedIndex], this.itemSelected);
      } catch (e) {
        this.fetchFWarehouse();
        return;
      }
      this.closeDialog();
    },

    closeDialog() {
      // this.myConfirmDialog = false
      this.formMode = "";
      this.$refs.refDeleteConfirmDialog.setDialogState(false);
      this.$refs.refFormDialog.setDialogState(false);
    },

    getColorStatusActive(trueFalse) {
      if (trueFalse === true) return "green";
      else if (trueFalse === false) return "gray";
      else return "gray";
    },

    lookupImageUrl(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_low(item.avatarImage);
      }
    },

    lookupImageUrlLazy(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_verylow(item.avatarImage);
      }
    },
    removeAutoCompleteFWarehouse(item) {
      const index = this.filterdata.indexOf(item.id);
      if (index >= 0) this.filterdata.splice(index, 1);
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.$store.dispatch("data/loadFWarehouse");
      this.fetchData(true);
    }
  },
};
</script>

<style scoped></style>
