<template>
  <div>
    <v-dialog
      v-model="dialogShow"
      :max-width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc.prevent="closeForm"
      persistent
      :fullscreen="$vuetify.breakpoint.smAndDown"
      :hide-overlay="$vuetify.breakpoint.smAndDown"
    >
      <v-card>
        <v-form ref="form">
          <v-toolbar dark color="primary" flat dense>
            <v-btn icon dark @click="closeForm">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-toolbar-title>{{ title }}</v-toolbar-title>

            <span class="ml-2 mr-2 font-weight-medium grey--text"> | </span>
            <span class="font-weight-light ml-1 mr-1">ITEM</span>

            <v-spacer></v-spacer>
          </v-toolbar>

          <v-card-title> </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    readonly
                    v-model="itemDefault.delivery_number"
                    label="Delivery Number"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    readonly
                    v-model="itemDefault.channelName"
                    label="Channel name"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    readonly
                    v-model="itemDefault.ekspedisi"
                    label="Courier"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    readonly
                    v-model="itemDefault.distributor"
                    label="Distributor"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    readonly
                    v-model="itemDefault.salesman_parent"
                    label="Salesman"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field
                    readonly
                    v-model="itemDefault.store"
                    label="Shop"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field
                    readonly
                    v-model="itemDefault.remark"
                    label="Ringkasan barang"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <h3>List barang</h3>
                  <template>
                    <v-simple-table>
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-left">Nama item</th>
                            <th class="text-left">Return amount</th>
                            <th class="text-left">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            v-for="(item, index) in itemDefault.items"
                            :key="index"
                          >
                            <td>{{ item.material }}</td>
                            <td>Rp. {{ item.return_amount | toMoney }}</td>
                            <td>{{ item.status | lockupStatus }}</td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </template>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-chip
              class="ml-4"
              color="error"
              outlined
              close
              small
              v-show="formDialogOptions.errorMessage"
            >
              {{ formDialogOptions.errorMessage }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              outlined
              text
              @click="closeForm"
              class="hidden-sm-and-down"
            >
              Tutup
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card>

      <CloseConfirmDialog
        ref="refCloseConfirmDialog"
        @eventFromCloseConfirm="passingEventFromCloseConfirm"
      ></CloseConfirmDialog>

      <v-snackbar v-model="snackbar">
        {{ snackBarMesage }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
        </template>
      </v-snackbar>
    </v-dialog>
  </div>
</template>

<script>
import FReturnService from "../../services/f-return-service";

import CloseConfirmDialog from "../../../../components/utils/CloseConfirmDialog";
import EReturn from "../../../../models/e-return";

export default {
  components: { CloseConfirmDialog },
  name: "FReturnDialog",
  props: {
    formMode: String,
  },
  data() {
    return {
      title: "RETURN DATA",
      snackBarMesage: "",
      snackbar: false,
      dialogShow: false,
      formDialogOptions: {
        title1: "",
        title2: "",
        message1: "",
        message2: "",
        errorMessage: "",
        color: "grey lighten-3",
        width: 800,
        zIndex: 200,
        noconfirm: false,
      },
      selectedItemIndex: -1,
      itemDefault: "",
      itemModified: null,
    };
  },
  filters: {
    lockupStatus: function (val) {
      if (val == EReturn.REUSE) {
        return "REUSE";
      } else if (val == EReturn.REPACK) {
        return "REPACK";
      } else if (val == EReturn.REJECT) {
        return "REJECT";
      } else if (val == EReturn.NOT_MATCH) {
        return "NOT MATCH";
      } else {
        return "-";
      }
    },
    toMoney: function (val) {
      return val.toLocaleString("en-US");
    },
  },
  methods: {
    showDialog(selectedIndex, item) {
      this.dialogShow = !this.dialogShow;
      if (selectedIndex > -1) {
        this.selectedIndex = selectedIndex;
        this.initializeEditMode(item);
      }
    },
    setDialogState(value) {
      this.dialogShow = value;
    },
    closeForm() {
      this.dialogShow = false;
      this.$emit("eventFromFormDialog1", this.itemModified);
    },
    passingEventFromCloseConfirm(value) {
      if (value === "OKE") this.dialogShow = false;
    },

    initializeEditMode(item) {
      this.formDialogOptions.errorMessage = "";
      FReturnService.getReturnById(item.id).then(
        (response) => {
          this.itemDefault = Object.assign({}, response.data.data);
          this.itemModified = response.data.data;
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
};
</script>
