<template>
  <v-card flat class="elevation-0">
    <v-card-title>
      <v-row class="d-flex justify-space-between align-center">
        <v-col cols="12" md="6" lg="8" sm="12">
          {{ title }}
        </v-col>
        <v-col cols="12" md="6" lg="3" sm="12">
          <v-text-field
            v-on:keyup.enter="searchOnEnter"
            v-on:blur="searchOnEnter"
            append-icon="mdi-magnify"
            :hint="hint"
            label="Search"
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card-title>

    <slot></slot>

    <v-row class="justify-end py-5">
      <v-col cols="12" md="12" sm="12">
        <v-pagination
          v-model="data.currentPage"
          :length="data.totalPages"
          total-visible="8"
          circle
        ></v-pagination>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  props: {
    data: Object,
    title: String,
    hint: String,
  },
  watch: {
    "data.currentPage": {
      handler: function (value) {
        if (value) this.$emit("refreshData");
      },
    },
    "data.pageSize": {
      handler: function (value) {
        const refreshData = this.data.currentPage === 1;
        this.data.currentPage = 1;
        if (refreshData) {
          this.$emit("refreshData");
        }
      },
    },
  },
  methods: {
    searchOnEnter(event) {
      if (this.data.search !== event.target.value) {
        this.data.currentPage = 1;
        this.data.search = event.target.value;
        this.$emit("refreshData");
      }
    },
  },
};
</script>
