<template>
  <div style="position: relative">
    <v-dialog
      v-model="dialogShow"
      @keydown.esc.prevent="closeForm"
      persistent
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card color="#f3f3f9">
        <v-toolbar flat dense>
          <v-container class="px-0">
            <div class="d-flex align-center">
              <div class="d-flex align-center">
                <v-btn icon @click="closeForm">
                  <v-icon>mdi-arrow-left</v-icon>
                </v-btn>
                <v-toolbar-title>{{ title }}</v-toolbar-title>
              </div>
              <v-spacer></v-spacer>
              <div class="pr-5">
                <v-chip
                  class="ma-2"
                  color="warning"
                  outlined
                  x-small
                  v-show="isItemModified"
                >
                  <v-icon left x-small> mdi-pencil </v-icon>
                  modfied
                </v-chip>
              </div>
            </div>
          </v-container>
        </v-toolbar>
        <v-form v-model="valid" ref="form" class="py-5">
          <v-container>
            <v-row>
              <v-col md="9" lg="9" cols="12">
                <v-row>
                  <v-col md="12" lg="12" cols="12">
                    <v-card color="" flat>
                      <v-card-title>Product information</v-card-title>
                      <v-divider />
                      <v-card-text>
                        <v-row>
                          <v-col cols="12" lg="3">
                            <v-text-field
                              v-model="items.pcode"
                              :rules="rulesNotEmtpy"
                              label="Product code"
                              hide-details="auto"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" lg="9">
                            <v-text-field
                              v-model="items.pname"
                              :rules="rulesNotEmtpy"
                              label="Product name"
                              hide-details="auto"
                            ></v-text-field>
                          </v-col>

                          <v-col cols="12" lg="6">
                            <v-text-field
                              v-model="items.weightSmalest"
                              :rules="rulesNotEmtpy"
                              type="number"
                              label="Item weight"
                              hide-details="auto"
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12" lg="6">
                            <v-text-field
                              v-model="items.caseWeight"
                              :rules="rulesNotEmtpy"
                              type="number"
                              label="Item weight with case"
                              hide-details="auto"
                            ></v-text-field>
                          </v-col>

                          <v-col cols="12" lg="12">
                            <div class="text-sm-body-2"></div>
                            <vue-editor
                              :placeholder="'Product description'"
                              :editorToolbar="customToolbar"
                              v-model="items.description"
                            ></vue-editor>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </v-col>

                  <v-col md="12" lg="12" cols="12">
                    <v-card flat>
                      <v-card-title>Product detail</v-card-title>
                      <v-divider />
                      <v-tabs v-model="tab" background-color="transparent">
                        <v-tab> Prices </v-tab>
                        <v-tab> Unit of Mesurements </v-tab>
                      </v-tabs>

                      <v-tabs-items v-model="tab">
                        <!-- Product default price role -->
                        <v-tab-item>
                          <v-card flat>
                            <v-card-text>
                              <v-row>
                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.hpp"
                                    :rules="rulesNotEmtpy"
                                    :label="`Hpp (DPP ${formattedCurrencyValue(
                                      '',
                                      items.hppWithTax
                                    )})`"
                                    type="number"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.basePrice"
                                    :rules="rulesNotEmtpy"
                                    :label="`Base price (DPP ${formattedCurrencyValue(
                                      '',
                                      items.basePriceWithTax
                                    )})`"
                                    type="number"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-autocomplete
                                    v-model="items.ftaxBean"
                                    label="Tax"
                                    :items="itemsFTax"
                                    item-value="id"
                                    item-text="description"
                                    hide-details="auto"
                                  ></v-autocomplete>
                                </v-col>
                              </v-row>

                              <v-row>
                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.hpp_distributor"
                                    :rules="rulesNotEmtpy"
                                    label="Hpp distributor"
                                    type="number"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.hpp_agen"
                                    :rules="rulesNotEmtpy"
                                    label="Hpp agen"
                                    type="number"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.hpp_resseler_1"
                                    :rules="rulesNotEmtpy"
                                    label="Hpp reseller 1"
                                    type="number"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.hpp_resseler_2"
                                    :rules="rulesNotEmtpy"
                                    label="Hpp reseller 2"
                                    type="number"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                            </v-card-text>
                          </v-card>
                        </v-tab-item>
                        <!-- Product measurement -->
                        <v-tab-item eager>
                          <v-card flat>
                            <v-card-text>
                              <v-row>
                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.uom1"
                                    :rules="rulesNotEmtpy"
                                    label="UOM-1 (Biggest)"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.uom2"
                                    :rules="rulesNotEmtpy"
                                    label="UOM-2"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.uom3"
                                    :rules="rulesNotEmtpy"
                                    label="UOM-3"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.uom4"
                                    :rules="rulesNotEmtpy"
                                    label="UOM-4 (Smallest)"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.convfact1"
                                    :rules="rulesNotEmtpy"
                                    label="Uom1 to smallest"
                                    type="number"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.convfact2"
                                    :rules="rulesNotEmtpy"
                                    label="Uom2 to smallest"
                                    type="number"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>

                                <v-col cols="12" lg="3">
                                  <v-text-field
                                    v-model="items.convfact3"
                                    :rules="rulesNotEmtpy"
                                    label="Uom3 to smallest"
                                    type="number"
                                    hide-details="auto"
                                  ></v-text-field>
                                </v-col>
                              </v-row>
                            </v-card-text>
                          </v-card>
                        </v-tab-item>
                      </v-tabs-items>
                    </v-card>
                  </v-col>
                  <!-- Product list -->
                  <v-col md="12" lg="6" cols="12">
                    <v-card flat>
                      <v-card-title class="d-flex justify-space-between">
                        <div>Product list</div>
                        <div>
                          <v-btn
                            fab
                            x-small
                            elevation="0"
                            color="primary"
                            @click="dialogChild('product')"
                            ><v-icon>mdi mdi-plus</v-icon></v-btn
                          >
                        </div>
                      </v-card-title>
                      <v-divider />
                      <v-card-text>
                        <div
                          class="overflow-y-auto"
                          :style="
                            items.materialMaps.length > 0 ? 'height: 300px' : ''
                          "
                        >
                          <v-simple-table>
                            <template v-slot:default>
                              <thead>
                                <tr>
                                  <th class="text-left">Name</th>
                                  <th class="text-left">Qty</th>
                                  <th class="text-left">Action</th>
                                </tr>
                              </thead>
                              <tbody v-if="items.materialMaps.length > 0">
                                <tr
                                  :key="row.id"
                                  v-for="row in items.materialMaps"
                                >
                                  <td>{{ row.materialName }}</td>
                                  <td>{{ row.qty }}</td>
                                  <td>
                                    <v-btn
                                      small
                                      icon
                                      @click="
                                        deleteChild('product', {
                                          material: row.material,
                                          qty: row.qty,
                                        })
                                      "
                                      ><v-icon color="red"
                                        >mdi mdi-delete-outline</v-icon
                                      ></v-btn
                                    >
                                  </td>
                                </tr>
                              </tbody>
                              <tbody v-else>
                                <tr align="center">
                                  <td colspan="3" align="center">
                                    - Belum terdapat data -
                                  </td>
                                </tr>
                              </tbody>
                            </template>
                          </v-simple-table>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-col>
                  <!-- Product prices -->
                  <v-col md="12" lg="6" cols="12">
                    <v-card flat>
                      <v-card-title class="d-flex justify-space-between">
                        <div>Product prices</div>
                        <div>
                          <v-btn
                            fab
                            x-small
                            elevation="0"
                            color="primary"
                            @click="dialogChild('prices')"
                            ><v-icon>mdi mdi-plus</v-icon></v-btn
                          >
                        </div>
                      </v-card-title>
                      <v-divider />
                      <v-card-text>
                        <div
                          class="overflow-y-auto"
                          :style="
                            items.prices.length > 0 ? 'height: 300px' : ''
                          "
                        >
                          <v-simple-table>
                            <template v-slot:default>
                              <thead>
                                <tr>
                                  <th class="text-left">Qty</th>
                                  <th class="text-left">Price</th>
                                  <th class="text-left">Action</th>
                                </tr>
                              </thead>
                              <tbody v-if="items.prices.length > 0">
                                <tr :key="row.id" v-for="row in items.prices">
                                  <td>{{ row.qty }}</td>
                                  <td>
                                    {{ formattedCurrencyValue("", row.price) }}
                                  </td>
                                  <td>
                                    <v-btn
                                      small
                                      icon
                                      @click="
                                        deleteChild('price', {
                                          price: row.price,
                                          qty: row.qty,
                                        })
                                      "
                                      ><v-icon color="red"
                                        >mdi mdi-delete-outline</v-icon
                                      ></v-btn
                                    >
                                  </td>
                                </tr>
                              </tbody>
                              <tbody v-else>
                                <tr align="center">
                                  <td colspan="3" align="center">
                                    - Belum terdapat data -
                                  </td>
                                </tr>
                              </tbody>
                            </template>
                          </v-simple-table>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
              <v-col md="3" lg="3" cols="12">
                <v-row>
                  <!-- Product image -->
                  <v-col cols="12" sm="12" lg="12">
                    <v-card flat>
                      <v-card-title> Product image </v-card-title>
                      <v-divider />
                      <v-card-text>
                        <file-upload
                          :post-action="`${ConstApiUrls.API_SERVICE_URL}storage/upload_image`"
                          :drop="true"
                          @input-filter="inputFilter"
                          @input-file="inputFile"
                          accept="image/*"
                          :drop-directory="false"
                          v-model="file"
                          ref="upload"
                          style="width: 100%"
                        >
                          <v-card
                            color="#f3f3f9"
                            class="rounded"
                            style="width: 100%"
                          >
                            <div
                              style="height: 150px; object-fit: cover"
                              class="d-flex align-center justify-center"
                            >
                              <div v-if="file.length > 0" style="z-index: 0">
                                <v-img cover :src="file[0].url" width="100%" />
                              </div>

                              <div v-else-if="items.avatarImage !== ''">
                                <v-img
                                  cover
                                  :src="lookupImageUrl(items)"
                                  width="100%"
                                  style="opacity: 0.8"
                                />

                                <div style="z-index: 99">Change image here</div>
                              </div>

                              <div v-else style="z-index: 99">
                                Drop image here
                              </div>
                            </div>
                          </v-card>
                        </file-upload>
                        <v-card-text v-for="f in file" :key="f.id"
                          >{{ f.name }}
                        </v-card-text>
                      </v-card-text>
                    </v-card>
                  </v-col>
                  <!-- Product visibility -->
                  <v-col cols="12" sm="12" lg="12">
                    <v-card flat>
                      <v-card-title> Product visibility </v-card-title>
                      <v-divider />
                      <v-card-text class="pb-8">
                        <v-row>
                          <v-col cols="12" lg="12">
                            <v-autocomplete
                              v-model="items.statusActive"
                              :rules="rulesNotEmtpyBoolean"
                              :items="customOption"
                              item-text="text"
                              item-value="value"
                              dense
                              label="Status"
                              hide-details="auto"
                            ></v-autocomplete>
                          </v-col>

                          <v-col cols="12" lg="12">
                            <v-autocomplete
                              v-model="items.showCatalog"
                              :rules="rulesNotEmtpyBoolean"
                              :items="customOption"
                              item-text="text"
                              item-value="value"
                              dense
                              label="Catalog visibility"
                              hide-details="auto"
                            ></v-autocomplete>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </v-col>
                  <!-- Product assign -->
                  <v-col cols="12" sm="12" lg="12">
                    <v-card flat>
                      <v-card-title> Product assign </v-card-title>
                      <v-divider />
                      <v-card-text class="pb-8">
                        <v-row>
                          <v-col cols="12" lg="12">
                            <v-autocomplete
                              v-model="items.fdivisionBean"
                              :rules="rulesNotEmtpy"
                              dense
                              :items="itemsFDivision"
                              chips
                              small-chips
                              item-value="id"
                              item-text="description"
                              label="Division/branch"
                              hide-details="auto"
                            ></v-autocomplete>
                          </v-col>

                          <v-col cols="12" lg="12">
                            <v-autocomplete
                              v-model="items.fvendorBean"
                              :rules="rulesNotEmtpy"
                              :items="itemsFVendor"
                              item-value="id"
                              item-text="vname"
                              chips
                              small-chips
                              dense
                              label="Vendor"
                              hide-details="auto"
                            ></v-autocomplete>
                          </v-col>

                          <v-col cols="12" lg="12">
                            <v-autocomplete
                              v-model="items.fmaterialGroup3Bean"
                              :rules="rulesNotEmtpy"
                              :items="itemsFMaterialGroup3"
                              item-value="id"
                              item-text="description"
                              chips
                              small-chips
                              dense
                              label="Category"
                              hide-details="auto"
                            ></v-autocomplete>
                          </v-col>

                          <v-col cols="12" lg="12">
                            <v-autocomplete
                              v-model="items.fmaterialSalesBrandBean"
                              :rules="rulesNotEmtpy"
                              :items="itemsFMaterialSalesBrand"
                              item-value="id"
                              item-text="description"
                              dense
                              chips
                              small-chips
                              label="Brand"
                              hide-details="auto"
                            ></v-autocomplete>
                          </v-col>

                          <v-col cols="12" lg="12">
                            <v-autocomplete
                              v-model="items.distributionChannels"
                              :rules="rulesNotEmtpy"
                              :items="itemsDistributorChannel"
                              item-value="id"
                              item-text="description"
                              dense
                              chips
                              deletable-chips
                              small-chips
                              label="Channels"
                              multiple
                              hide-details="auto"
                            ></v-autocomplete>
                          </v-col>

                          <v-col cols="12" lg="12">
                            <v-autocomplete
                              v-model="items.fwarehouses"
                              :rules="rulesNotEmtpy"
                              :items="itemsFWarehouse"
                              item-value="id"
                              item-text="description"
                              chips
                              small-chips
                              dense
                              deletable-chips
                              label="Warehouses"
                              multiple
                              hide-details="auto"
                            ></v-autocomplete>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </v-col>
                  <v-col md="12" lg="12" cols="12" class="d-flex justify-end">
                    <v-btn
                      color="primary"
                      elevation="0"
                      @click="validated"
                      block
                      >{{ title }}</v-btn
                    >
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-form>

        <v-overlay absolute opacity="0.3" :value="loading">
          <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>

        <FmaterialDialogMap
          @reset="resetChild"
          :title="'Add product list'"
          ref="refDialogProduct"
        >
          <v-card-text>
            <v-row>
              <v-col cols="12" lg="6">
                <v-autocomplete
                  :items="products"
                  :search-input.sync="productMap.search"
                  :loading="productMap.loadingSearch"
                  v-model="productMap.material"
                  hide-no-data
                  hide-selected
                  hide-details
                  item-text="pname"
                  item-value="id"
                  return-object
                  prepend-icon="mdi-database-search"
                  label="Nama product (min : 3 character)"
                  placeholder="Nama product (min : 3 character)"
                >
                </v-autocomplete>
              </v-col>

              <v-col cols="12" lg="6">
                <v-text-field
                  v-model="productMap.qty"
                  label="Masukan qty"
                  placeholder="Masukan qty"
                  type="number"
                  hide-details
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="d-flex justify-end">
            <v-btn elevation="0" color="primary" @click="addChild('product')"
              >Tambah</v-btn
            >
          </v-card-actions></FmaterialDialogMap
        >

        <FmaterialDialogMap
          @reset="resetChild"
          :title="'Add product price'"
          ref="refDialogPrice"
        >
          <v-card-text>
            <v-row>
              <v-col cols="12" lg="6">
                <v-text-field
                  v-model="priceMap.qty"
                  label="Masukan qty"
                  placeholder="Masukan qty"
                  type="number"
                  hide-details
                >
                </v-text-field>
              </v-col>

              <v-col cols="12" lg="6">
                <v-text-field
                  v-model="priceMap.price"
                  label="Masukan price"
                  placeholder="Masukan price"
                  type="number"
                  hide-details
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions class="d-flex justify-end">
            <v-btn elevation="0" color="primary" @click="addChild('price')"
              >Tambah</v-btn
            >
          </v-card-actions>
        </FmaterialDialogMap>

        <CloseConfirmDialog
          ref="refCloseConfirmDialog"
          @eventFromCloseConfirm="closeConfirmDialog"
        ></CloseConfirmDialog>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import FMaterialService from "../../services/f-material-service";

import FMaterial from "../../models/f-material";
import { format, parseISO } from "date-fns";
import FileUpload from "vue-upload-component";
import { VueEditor } from "vue2-editor";
import FDivisionService from "../../../division/services/f-division-service";
import FMaterialSalesBrandService from "../../services/f-material-sales-brand-service";
import FMaterialGroup3Service from "../../services/f-material-group3-service";
import FVendorService from "../../../mitra/services/f-vendor-service";
import FWarehouseService from "../../../inventory/services/f-warehouse-service";
import FTaxService from "../../services/f-tax-service";
import FDistributionChannelService from "../../../mitra/services/f-distribution-channel-service";
import CloseConfirmDialog from "../../../../components/utils/CloseConfirmDialog";
import FmaterialDialogMap from "./FMaterialDialogMap";
import FileService from "../../../../services/apiservices/file_service/file-service";
import ConstApiUrls from "@/services/const-api-urls";

export default {
  components: { FmaterialDialogMap, FileUpload, VueEditor, CloseConfirmDialog },
  props: {
    formMode: String,
  },

  data() {
    return {
      title: "Create product",
      tab: "Prices",
      ConstApiUrls: ConstApiUrls,
      customOption: [
        {
          text: "Active",
          value: true,
        },
        {
          text: "Non-active",
          value: false,
        },
      ],
      customToolbar: [
        ["bold", "italic", "underline"],
        [
          {
            align: "",
          },
          {
            align: "center",
          },
          {
            align: "right",
          },
          {
            align: "justify",
          },
        ],
        ["blockquote", "code-block"],
        [
          {
            list: "ordered",
          },
          {
            list: "bullet",
          },
          {
            list: "check",
          },
        ],
        [
          {
            indent: "-1",
          },
          {
            indent: "+1",
          },
        ],
        [
          {
            color: [],
          },
          {
            background: [],
          },
        ],
        ["clean"],
      ],

      loading: false,
      dialogShow: false,
      id: null,

      /* data for relation */
      itemsFDivision: [],
      itemsFMaterialSalesBrand: [],
      itemsFMaterialGroup3: [],
      itemsFVendor: [],
      itemsFWarehouse: [],
      itemsFTax: [],
      itemsDistributorChannel: [],
      products: [],

      /* product image */
      file: [],

      /* product, price map */
      productMap: {
        search: "",
        loadingSearch: false,
        qty: null,
        material: null,
      },
      priceMap: {
        qty: null,
        price: null,
      },

      date: format(parseISO(new Date().toISOString()), "dd-MMM-yyyy"),

      itemDefault: "",
      items: new FMaterial(),

      /* validation */
      valid: false,
      rulesLenght: [
        (v) => !!v || " Tidak Boleh Kosong",
        (v) => v.length <= 255 || "Maksimal 255 Karakter",
        (v) => v.length > 1 || "Harus lebih besar dari 1 karakter",
      ],
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
      rulesNotEmtpyBoolean: [
        (v) => {
          if (v !== true || v !== false) {
            if (v === true || v === false) {
              return true;
            } else {
              return "Tidak boleh kosong";
            }
          }
        },
      ],
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    isItemModified() {
      const defaultItem = JSON.stringify(this.itemDefault);
      const modifiedItem = JSON.stringify(this.items);
      return defaultItem !== modifiedItem;
    },
  },
  watch: {
    "productMap.search"(val) {
      // Search empty / null and must be 3 char
      if (
        this.productMap.search === "" ||
        this.productMap.search === null ||
        this.productMap.search.length < 3
      )
        return;

      // items while requested
      if (this.productMap.loadingSearch) return;

      this.productMap.loadingSearch = true;

      FMaterialService.getAllFMaterialByPnamePcode(val)
        .then((response) => {
          const { data } = response.data;
          this.products = data;
        })
        .finally(() => (this.productMap.loadingSearch = false));
    },
  },
  methods: {
    fetchParent() {
      this.loading = true;
      if (this.currentUser.organizationLevel === "DIV") {
        FDivisionService.getFDivisionById(this.currentUser.fdivisionBean).then(
          (response) => {
            this.itemsFDivision = [response.data];
          },
          (error) => {
            console.log(error.response);
          }
        );
      } else {
        FDivisionService.getAllFDivision().then(
          (response) => {
            this.itemsFDivision = response.data;
          },
          (error) => {
            console.log(error.response);
          }
        );
      }

      FMaterialSalesBrandService.getAllFMaterialSalesBrand().then(
        (response) => {
          this.itemsFMaterialSalesBrand = response.data;
        },
        (error) => {
          console.log(error.response);
        }
      );

      FMaterialGroup3Service.getAllFMaterialGroup3().then(
        (response) => {
          this.itemsFMaterialGroup3 = response.data;
        },
        (error) => {
          console.log(error.response);
        }
      );

      FVendorService.getAllFVendor().then(
        (response) => {
          this.itemsFVendor = response.data;
        },
        (error) => {
          console.log(error.response);
        }
      );

      FWarehouseService.getAllFWarehouse().then(
        (response) => {
          this.itemsFWarehouse = response.data;
        },
        (error) => {
          console.log(error.response);
        }
      );

      FTaxService.getAllFTax().then(
        (response) => {
          this.itemsFTax = response.data;
        },
        (error) => {
          console.log(error.response);
        }
      );

      FDistributionChannelService.getAllFDistributionChannel().then(
        (response) => {
          this.itemsDistributorChannel = response.data;
          this.loading = false;
        },
        (error) => {
          console.log(error.response);
        }
      );
    },
    inputFile(newFile, oldFile) {
      if (newFile && oldFile && !newFile.active && oldFile.active) {
        this.items.avatarImage = newFile.response.message;
        this.save();
      }
    },
    validated() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        if (this.file.length > 0) {
          /* if image exist then store image first then post data to backend with image */
          if (!this.$refs.upload || !this.$refs.upload.active) {
            this.$refs.upload.active = true;
          }
        } else {
          this.save();
        }
      }
    },
    save() {
      if (this.id != null) {
        FMaterialService.updateFMaterial(this.id, this.items)
          .then((res) => {
            if (res.status === 200) {
              this.dialogShow = false;
              this.$emit("refreshData");
            }
          })
          .finally(() => (this.loading = false));
      } else {
        FMaterialService.createFMaterial(this.items)
          .then((res) => {
            if (res.status === 201) {
              this.dialogShow = false;
              this.$emit("refreshData");
            }
          })
          .finally(() => (this.loading = false));
      }
    },
    lookupImageUrl(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/account_icon.png";
      } else {
        return FileService.image_url_original(item.avatarImage);
      }
    },
    dialogChild(type) {
      if (type === "product") {
        this.$refs.refDialogProduct.showDialog();
      } else if (type === "prices") {
        this.$refs.refDialogPrice.showDialog();
      } else {
        console.log("=======> tidak ditemukan");
      }
    },

    addChild(type) {
      if (type === "product") {
        this.items.materialMaps.push({
          material: this.productMap.material.id,
          materialName: `${this.productMap.material.pcode} - ${this.productMap.material.pname}`,
          qty: this.productMap.qty,
        });
        this.items.materialMaps = this.items.materialMaps.sort((a, b) =>
          a.material < b.material ? -1 : 1
        );
        this.resetChild(type);
        this.$refs.refDialogProduct.showDialog();
      } else if (type === "price") {
        this.items.prices.push(this.priceMap);
        this.items.prices = this.items.prices.sort((a, b) =>
          a.qty < b.qty ? -1 : 1
        );
        this.resetChild(type);
        this.$refs.refDialogPrice.showDialog();
      } else {
        console.log("=======> tidak ditemukan");
      }
    },

    deleteChild(type, data) {
      if (type === "product") {
        this.items.materialMaps = this.items.materialMaps.filter(
          (row) => row.qty !== data.qty && row.material !== data.material
        );
      } else if (type === "price") {
        this.items.prices = this.items.prices.filter(
          (row) => row.qty !== data.qty && row.price !== data.price
        );
      }
    },

    resetChild(type) {
      if (type === "product") {
        this.productMap = {
          search: "",
          loadingSearch: false,
          qty: null,
          material: null,
        };
      } else if (type === "price") {
        this.priceMap = {
          qty: null,
          price: null,
        };
      } else {
        console.log("=======> tidak ditemukan");
      }
    },

    showDialog(id = null) {
      this.dialogShow = !this.dialogShow;
      /* fetch relationship data */
      this.fetchParent();

      if (id != null) {
        this.id = id;
        this.title = "Edit product";
        this.initializeEditMode(id);
      } else {
        this.title = "Create product";
        this.file = [];
        this.itemDefault = new FMaterial();
        this.items = new FMaterial();
      }
    },

    setDialogState(value) {
      this.dialogShow = value;
    },

    closeForm() {
      this.id = null;
      this.file = [];
      if (!this.isItemModified) {
        this.dialogShow = false;
        this.$emit("refreshData");
      } else {
        this.$refs.refCloseConfirmDialog.showDialog(
          "Sudah terdapat modifikasi data",
          "Tetap tutup dan reset perubahan?"
        );
      }
    },

    closeConfirmDialog() {
      this.dialogShow = false;
      this.$emit("refreshData");
    },

    initializeEditMode(id) {
      FMaterialService.getFMaterialByIdTable(id).then(
        (response) => {
          const { data } = response.data;
          this.itemDefault = Object.assign({}, data);
          this.items = data;
          this.loading = false;
        },
        (error) => {
          console.log(error);
        }
      );
    },

    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        if (!/\.(gif|jpg|jpeg|png|webp)$/i.test(newFile.name)) {
          this.alert("Your choice is not a picture");
          return prevent();
        }
      }
      if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
        newFile.url = "";
        let URL = window.URL || window.webkitURL;
        if (URL && URL.createObjectURL) {
          newFile.url = URL.createObjectURL(newFile.file);
        }
      }
    },

    formattedCurrencyValue(prefix, value) {
      if (!value) {
        return "0";
      }
      return prefix + "" + parseFloat(value).toLocaleString();
    },
  },
};
</script>

<style scoped></style>
