<template>
  <v-dialog
    v-model="dialogShow"
    :max-width="options.width"
    :style="{ zIndex: options.zIndex }"
    @keydown.esc="closeDialog"
  >
    <v-card flat>
      <v-card-title class="d-flex justify-space-between align-center">
        <div>{{ title }}</div>
        <div>
          <v-btn icon @click="closeDialog"
            ><v-icon>mdi mdi-close</v-icon></v-btn
          >
        </div>
      </v-card-title>
      <v-divider />
      <v-card-text>
        <slot></slot>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "FmaterialDialogMap",
  props: {
    title: String,
  },
  data() {
    return {
      dialogShow: false,
      options: {
        color: "primary",
        width: 600,
        zIndex: 200,
      },
    };
  },
  methods: {
    showDialog() {
      this.dialogShow = !this.dialogShow;
    },
    closeDialog() {
      this.$emit(
        "reset",
        this.title === "Add product price" ? "price" : "product"
      );
      this.dialogShow = !this.dialogShow;
    },
  },
};
</script>
