<template>
  <v-row class="my-5 mx-2">
    <v-col cols="12">
      <v-card flat>
        <v-tabs
          :vertical="$vuetify.breakpoint.mdAndUp"
          :centered="$vuetify.breakpoint.smAndDown"
          color="deep-purple accent-4"
          background-color="#F5F5FF5F"
        >
          <v-tab class="justify-md-start" disabled>
            <v-icon left>
              {{ firstTabIcon }}
            </v-icon>
            {{ firstTabTitle }}
          </v-tab>

          <v-tab class="justify-start" @click="tabWarehouseClick"> Data </v-tab>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <p></p>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <FRekonTable ref="refTabWarehouseClick" />
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import FRekonTable from "../components/rekonsiliasi/FRekonTable";
export default {
  name: "ReturnData",
  components: { FRekonTable },
  data() {
    return {
      firstTabTitle: "Rekonsiliasi",
      firstTabIcon: "mdi-home-variant",
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    haveroleCS() {
      return this.currentUser.roles;
    },
  },
  methods: {
    tabUsersClick() {
      // this.$refs.refUsersTable.fetchParent()
    },
    tabInputReturnClick() {
      this.$refs.refTabInputReturnClick.fetchParent();
    },
    tabWarehouseClick() {
      this.$refs.refTabWarehouseClick.fetchParent();
    },
  },
  mounted() {
    if (this.haveroleCS.includes("ROLE_CS")) {
      this.$router.push("/dashboard");
    }
  },
};
</script>

<style scoped></style>
