<template>
  <div>
    <loading
      :active.sync="loading"
      :background-color="'rgb(66, 103, 178)'"
      :can-cancel="false"
      :is-full-page="true"
      :opacity="1"
    >
      <LogoLoaderVue />
    </loading>
    <v-row>
      <v-col class="d-flex child-flex" cols="12" md="3" sm="4" xs="12">
        <v-hover>
          <template v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 2 : 1"
              class="rounded no-gutters white--text"
              color="orange darken-1"
            >
              <v-card-title class="subtitle-2">
                <span class="font-weight-black">Total input</span>
              </v-card-title>
              <v-card-text
                class="white--text d-flex align-center justify-space-between"
              >
                <div>
                  <span class="font-weight-bold">{{ model.length }}</span>
                  Resi
                </div>
                <v-btn icon @click="copyResult('input')"
                  ><v-icon color="white" small>mdi-content-copy</v-icon></v-btn
                >
              </v-card-text>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col class="d-flex child-flex" cols="12" md="3" sm="4" xs="12">
        <v-hover>
          <template v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 2 : 1"
              class="rounded no-gutters white--text"
              color="green darken-1"
            >
              <v-card-title class="subtitle-2">
                <span class="font-weight-black">Berhasil disimpan</span>
              </v-card-title>
              <v-card-text
                class="white--text d-flex align-center justify-space-between"
              >
                <div>
                  <span class="font-weight-bold">{{
                    responseSave.success.length
                  }}</span>
                  Resi
                </div>
                <v-btn icon @click="copyResult('success')"
                  ><v-icon color="white" small>mdi-content-copy</v-icon></v-btn
                >
              </v-card-text>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col class="d-flex child-flex" cols="12" md="3" sm="4" xs="12">
        <v-hover>
          <template v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 2 : 1"
              class="rounded no-gutters white--text"
              color="info darken-1"
            >
              <v-card-title class="subtitle-2">
                <span class="font-weight-black">Sudah pernah disimpan</span>
              </v-card-title>
              <v-card-text
                class="white--text d-flex align-center justify-space-between"
              >
                <div>
                  <span class="font-weight-bold">{{
                    responseSave.alreadySaved.length
                  }}</span>
                  Resi
                </div>
                <v-btn icon @click="copyResult('alreadySaved')"
                  ><v-icon color="white" small>mdi-content-copy</v-icon></v-btn
                >
              </v-card-text>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col class="d-flex child-flex" cols="12" md="3" sm="4" xs="12">
        <v-hover>
          <template v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 2 : 1"
              class="rounded no-gutters white--text"
              color="red darken-1"
            >
              <v-card-title class="subtitle-2">
                <span class="font-weight-black">Resi tidak ditemukan</span>
              </v-card-title>
              <v-card-text
                class="white--text d-flex align-center justify-space-between"
              >
                <div>
                  <span class="font-weight-bold">{{
                    responseSave.notFound.length
                  }}</span>
                  Resi
                </div>
                <v-btn icon @click="copyResult('notFound')"
                  ><v-icon color="white" small>mdi-content-copy</v-icon></v-btn
                >
              </v-card-text>
            </v-card>
          </template>
        </v-hover>
      </v-col>
    </v-row>
    <v-divider class="my-3" />
    <v-row>
      <v-col class="d-flex child-flex" cols="12" md="4" sm="4" xs="12">
        <v-hover>
          <template v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 2 : 1"
              class="rounded no-gutters white--text"
              color="green darken-1"
            >
              <v-card-title class="subtitle-2">
                <span class="font-weight-black">Pencarian resi ditemukan</span>
              </v-card-title>
              <v-card-text
                class="white--text d-flex align-center justify-space-between"
              >
                <div>
                  <span class="font-weight-bold">{{
                    responseCheck.success.length
                  }}</span>
                  Resi
                </div>
                <v-btn icon @click="copyResult('awbSuccess')"
                  ><v-icon color="white" small>mdi-content-copy</v-icon></v-btn
                >
              </v-card-text>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col class="d-flex child-flex" cols="12" md="4" sm="4" xs="12">
        <v-hover>
          <template v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 2 : 1"
              class="rounded no-gutters white--text"
              color="info darken-1"
            >
              <v-card-title class="subtitle-2">
                <span class="font-weight-black"
                  >Pencarian resi sudah pernah disimpan</span
                >
              </v-card-title>
              <v-card-text
                class="white--text d-flex align-center justify-space-between"
              >
                <div>
                  <span class="font-weight-bold">{{
                    responseCheck.alreadySaved.length
                  }}</span>
                  Resi
                </div>
                <v-btn icon @click="copyResult('awbAlreadySaved')"
                  ><v-icon color="white" small>mdi-content-copy</v-icon></v-btn
                >
              </v-card-text>
            </v-card>
          </template>
        </v-hover>
      </v-col>
      <v-col class="d-flex child-flex" cols="12" md="4" sm="4" xs="12">
        <v-hover>
          <template v-slot:default="{ hover }">
            <v-card
              :elevation="hover ? 2 : 1"
              class="rounded no-gutters white--text"
              color="red darken-1"
            >
              <v-card-title class="subtitle-2">
                <span class="font-weight-black"
                  >Pencarian resi tidak ditemukan</span
                >
              </v-card-title>
              <v-card-text
                class="white--text d-flex align-center justify-space-between"
              >
                <div>
                  <span class="font-weight-bold">{{
                    responseCheck.notFound.length
                  }}</span>
                  Resi
                </div>
                <v-btn icon @click="copyResult('awbNotFound')"
                  ><v-icon color="white" small>mdi-content-copy</v-icon></v-btn
                >
              </v-card-text>
            </v-card>
          </template>
        </v-hover>
      </v-col>
    </v-row>
    <v-flex class="mt-2 ml-2 mr-2">
      <v-flex
        class="d-flex flex-column flex-md-row justify-space-between align-center my-5"
      >
        <v-card-title class="ml-0 pl-0">Return awb check</v-card-title>
        <div>
          <v-btn
            class="mr-md-2 mr-0 mb-2 mb-md-0"
            color="orange darken-2 white--text"
            elevation="0"
            @click="copyResult('all')"
          >
            <v-icon small>mdi-content-copy</v-icon>
            Copy summary
          </v-btn>
          <v-btn
            color="primary white--text"
            elevation="0"
            right
            @click="importDialogShow"
          >
            <v-icon>mdi-upload</v-icon>
            Upload
          </v-btn>
        </div>
      </v-flex>
      <template>
        <v-combobox
          v-model="model"
          :filter="filter"
          :hide-no-data="!search"
          :items="items"
          :search-input.sync="search"
          background-color="secondary"
          flat
          hide-selected
          label="Masukan airwaybill"
          multiple
          small-chips
          solo
        >
          <template v-slot:no-data>
            <v-list-item>
              <span class="subheading">Create</span>
              <v-chip :color="`${colors[nonce - 1]} lighten-3`" label small>
                {{ search }}
              </v-chip>
            </v-list-item>
          </template>
          <template v-slot:selection="{ attrs, item, parent, selected }">
            <v-chip
              v-if="item === Object(item)"
              :color="`${item.color} lighten-3`"
              :input-value="selected"
              label
              small
              v-bind="attrs"
            >
              <span class="pr-2">
                {{ item.text }}
              </span>
              <v-icon small @click="parent.selectItem(item)"> $delete </v-icon>
            </v-chip>
          </template>
          <template v-slot:item="{ index, item }">
            <v-text-field
              v-if="editing === item"
              v-model="editing.text"
              autofocus
              background-color="transparent"
              flat
              hide-details
              solo
              @keyup.enter="edit(index, item)"
            ></v-text-field>
            <v-chip v-else :color="`${item.color} lighten-3`" dark label small>
              {{ item.text }}
            </v-chip>
            <v-spacer></v-spacer>
            <v-list-item-action @click.stop>
              <v-btn icon @click.stop.prevent="edit(index, item)">
                <v-icon>{{
                  editing !== item ? "mdi-pencil" : "mdi-check"
                }}</v-icon>
              </v-btn>
            </v-list-item-action>
          </template>
        </v-combobox>
      </template>
      <v-form ref="form">
        <div v-if="data.length > 0">
          <v-card
            v-for="row in data"
            :key="row.order_id"
            class="mt-3"
            color="secondary"
            flat
          >
            <v-card-text>
              <v-row>
                <v-col class="py-0" cols="12" md="2">
                  <v-card-text>
                    Awb: {{ row.delivery_number }} <br />
                    Salesman : {{ row.salesman_input }}<br />
                    Store : {{ row.store }} <br />
                  </v-card-text> </v-col
                ><v-col class="py-0" cols="12" md="2">
                  <v-card-text>
                    Ekspedisi : {{ row.ekspedisi }}<br />
                    Distributor : {{ row.distributor }}<br />
                    Remark : {{ row.remark }}<br />
                  </v-card-text>
                </v-col>
                <v-col class="py-0" cols="12">
                  <v-divider />
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  v-for="(item, index) in row.items"
                  :key="item.material_id + index"
                  class="py-0"
                  lg="2"
                >
                  <v-card-text class="ml-0 pl-0">{{
                    item.material
                  }}</v-card-text>
                  <v-select
                    v-model="item.status"
                    :items="selectItems"
                    :rules="rulesNotEmtpy"
                    chips
                    deletable-chips
                    dense
                    filled
                    flat
                    label="Status package"
                    small-chips
                    solo
                  ></v-select>
                  <v-text-field
                    v-model="item.return_amount"
                    :rules="rulesNotEmtpy"
                    clearable
                    dense
                    flat
                    label="Return charge"
                    solo
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </div>
      </v-form>

      <div class="mt-5">
        <v-flex class="d-flex justify-start">
          <v-btn
            v-if="items.length > 1"
            color="error"
            elevation="0"
            @click="reset"
            >Reset</v-btn
          >
          <v-btn
            v-if="data.length < 1"
            class="ml-2"
            color="primary"
            elevation="0"
            @click="checkAwb"
            >Check</v-btn
          >
          <v-btn
            v-if="data.length > 0"
            class="ml-2"
            color="green white--text"
            elevation="0"
            @click="save"
            >Simpan</v-btn
          >
        </v-flex>
      </div>

      <FReturnImportDialogVue
        ref="refImportDialog"
        @checkAwbByImport="checkAwbByImport"
      >
      </FReturnImportDialogVue>

      <v-overlay :value="loading" absolute opacity="0.3">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    </v-flex>
  </div>
</template>

<script>
import FReturn from "../services/f-return-service";
import FReturnImportDialogVue from "../components/return/FReturnImportDialog.vue";
import Loading from "vue-loading-overlay";
import LogoLoaderVue from "@/modules/public/components/LogoLoader.vue";

export default {
  components: { LogoLoaderVue, Loading, FReturnImportDialogVue },
  data() {
    return {
      loading: false,
      activator: null,
      attach: null,
      colors: ["green", "purple", "indigo", "cyan", "teal", "orange"],
      editing: null,
      editingIndex: -1,
      items: [{ header: "Select an option or create one" }],
      nonce: 1,
      menu: false,
      model: [],
      search: null,
      data: [],
      responseSave: {
        success: [],
        alreadySaved: [],
        notFound: [],
      },
      responseCheck: {
        success: [],
        alreadySaved: [],
        notFound: [],
      },
      rulesNotEmtpy: [(v) => !!v || "Tidak boleh kosong"],
      selectItems: [
        { text: "Reuse", value: 1 },
        { text: "Repack", value: 2 },
        { text: "Reject", value: 3 },
        { text: "Not match", value: 4 },
      ],
    };
  },
  watch: {
    model(val, prev) {
      if (val.length === prev.length) return;

      this.model = val.map((v) => {
        if (typeof v === "string") {
          v = {
            text: v,
            color: this.colors[this.nonce - 1],
          };

          this.items.push(v);

          this.nonce++;
        }

        return v;
      });
    },
  },
  methods: {
    importDialogShow() {
      this.$refs.refImportDialog.showDialog();
    },
    copyResult(type) {
      let copyText = ``;

      if (type === "input") {
        copyText = `=============> Total Input <=============\n`;
        this.model.forEach((e) => {
          copyText += `${e.text}\n`;
        });
        copyText += `===========> End Total Input <===========\n`;
      } else if (type === "success") {
        copyText = `=============> Total Success <=============\n`;
        this.responseSave.success.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `===========> End Total Success <===========\n`;
      } else if (type === "alreadySaved") {
        copyText = `===========> Total Already Saved <==========\n`;
        this.responseSave.alreadySaved.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> End Total Already Saved <========\n`;
      } else if (type === "notFound") {
        copyText = `===========> Total Not Found <==========\n`;
        this.responseSave.notFound.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> End Total Not Found <========\n`;
      } else if (type === "awbSuccess") {
        copyText = `===========> Total Awb success <==========\n`;
        this.responseCheck.success.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> End Total Awb success <========\n`;
      } else if (type === "awbAlreadySaved") {
        copyText += `===========> Total Awb Already saved <==========\n`;
        this.responseCheck.alreadySaved.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> Total Awb Already saved <========\n`;
      } else if (type === "awbNotFound") {
        copyText += `===========> Total Awb Already saved <==========\n`;
        this.responseCheck.alreadySaved.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> Total Awb Already saved <========\n`;
      }

      if (type === "all") {
        copyText = `=============> Total Input <=============\n`;
        this.model.forEach((e) => {
          copyText += `${e.text}\n`;
        });
        copyText += `===========> End Total Input <===========\n`;

        copyText += `=============> Total Success <=============\n`;
        this.responseSave.success.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `===========> End Total Success <===========\n`;

        copyText += `===========> Total Already Saved <==========\n`;
        this.responseSave.alreadySaved.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> End Total Already Saved <========\n`;

        copyText += `===========> Total Not Found <==========\n`;
        this.responseSave.notFound.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> End Total Not Found <========\n`;

        copyText += `===========> Total Awb success <==========\n`;
        this.responseCheck.success.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> End Total Awb success <========\n`;

        copyText += `===========> Total Awb Already saved <==========\n`;
        this.responseCheck.alreadySaved.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> Total Awb Already saved <========\n`;

        copyText += `===========> Total Awb Not Found <==========\n`;
        this.responseCheck.notFound.forEach((e) => {
          copyText += `${e}\n`;
        });
        copyText += `========> Total Awb Not Found <========\n`;
      }

      this.$copyText(copyText).then(() => {
        this.$swal({
          title: "Success",
          text: "Berhasil copy data",
          icon: "success",
          confirmButtonText: "Tutup",
        });
      });
    },
    importExcelCompleted() {},
    save() {
      if (this.$refs.form.validate()) {
        this.loading = true;
        FReturn.create(this.data)
          .then((response) => {
            this.responseSave = response.data.data.summary;
            this.loading = false;
            this.model = [];
            this.data = [];
            this.$swal({
              title: "Success",
              text: `Berhasil update data`,
              icon: "success",
              confirmButtonText: "Tutup",
            });
          })
          .catch(() => {
            this.$swal({
              title: "Gagal update data",
              text: "terdapat kesalahan, silahkan coba lagi",
              icon: "error",
              confirmButtonText: "Tutup",
            });
            this.loading = false;
          });
      }
    },
    checkAwb() {
      if (this.model.length > 0) {
        this.loading = true;
        let temp = [];
        this.model.map((e) => temp.push(e.text));
        FReturn.scan(temp).then(
          (response) => {
            this.loading = false;
            const { data } = response.data;
            this.data = data.data;
            this.responseCheck = data.summary;
            this.responseSave = {
              success: [],
              alreadySaved: [],
              notFound: [],
            };
          },
          (error) => {
            console.log(error.response);
            if (error.response.status === 401) {
              this.snackBarMesage = "Anda tidak mempunyai Akses!!";
              this.snackbar = true;
            }
          }
        );
      }
    },
    checkAwbByImport(items) {
      if (items.length > 0) {
        this.model = items;
        this.loading = true;
        FReturn.scan(items).then(
          (response) => {
            this.loading = false;
            const { data } = response.data;
            this.data = data.data;
            this.responseCheck = data.summary;
            this.responseSave = {
              success: [],
              alreadySaved: [],
              notFound: [],
            };
          },
          (error) => {
            console.log(error.response);
            if (error.response.status === 401) {
              this.snackBarMesage = "Anda tidak mempunyai Akses!!";
              this.snackbar = true;
            }
          }
        );
      }
    },
    reset() {
      this.model = [];
      this.data = [];
      this.responseSave = {
        success: [],
        alreadySaved: [],
        notFound: [],
      };
      this.responseCheck = {
        success: [],
        alreadySaved: [],
        notFound: [],
      };
    },
    edit(index, item) {
      if (!this.editing) {
        this.editing = item;
        this.editingIndex = index;
      } else {
        this.editing = null;
        this.editingIndex = -1;
      }
    },
    filter(item, queryText, itemText) {
      if (item.header) return false;

      const hasValue = (val) => (val != null ? val : "");

      const text = hasValue(itemText);
      const query = hasValue(queryText);

      return (
        text.toString().toLowerCase().indexOf(query.toString().toLowerCase()) >
        -1
      );
    },
  },
};
</script>

<style></style>
