<template>
  <div>
    <div class="white">
      <v-divider />
      <v-card-text class="py-2 mx-2 text-body-1 font-weight-medium"
        >Product return</v-card-text
      >
    </div>
    <v-row class="mx-2 my-2">
      <v-col cols="12">
        <v-row v-if="isAdminOrInventory">
          <v-col
            v-for="(item, index) in summary.summaryItem"
            :key="item.status"
            class="d-flex child-flex"
            cols="12"
            md="3"
            sm="4"
            xs="12"
          >
            <v-hover>
              <template v-slot:default="{ hover }">
                <v-card
                  :color="summaryItemColor[index] + ' darken-1'"
                  :elevation="hover ? 2 : 1"
                  class="rounded no-gutters white--text"
                >
                  <v-card-title class="subtitle-2">
                    <span class="font-weight-black">{{ item.status }}</span>
                  </v-card-title>
                  <v-card-text class="white--text">
                    <span class="font-weight-bold">{{ item.count }}</span>
                    Item
                  </v-card-text>
                </v-card>
              </template>
            </v-hover>
          </v-col>
        </v-row>
        <v-row v-if="isAllRoleWithoutCs" class="pb-0">
          <v-col
            v-for="(item, index) in summary.summaryReturn"
            :key="item.status"
            cols="12"
            md="4"
            sm="12"
            xs="12"
          >
            <v-hover>
              <template v-slot:default="{ hover }">
                <v-card
                  :color="summaryReturnColor[index] + ' darken-1'"
                  :elevation="hover ? 2 : 1"
                  class="rounded no-gutters white--text"
                >
                  <v-card-title class="subtitle-2">
                    <span class="font-weight-black">{{ item.status }}</span>
                  </v-card-title>
                  <v-card-text class="white--text">
                    <span class="font-weight-bold">{{ item.count }}</span>
                    Paket
                  </v-card-text>
                </v-card>
              </template>
            </v-hover>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12">
        <v-card flat>
          <v-tabs
            :centered="$vuetify.breakpoint.smAndDown"
            :vertical="$vuetify.breakpoint.mdAndUp"
            background-color="#F5F5FF5F"
            color="deep-purple accent-4"
          >
            <v-tab class="justify-md-start" disabled>
              <v-icon left>
                {{ firstTabIcon }}
              </v-icon>
              {{ firstTabTitle }}
            </v-tab>

            <v-tab class="justify-start" @click="tabReturnTableClick">
              Return
            </v-tab>

            <v-tab
              v-if="currentUser"
              class="justify-start"
              @click="tabInputReturnClick"
            >
              Input
            </v-tab>

            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <p></p>
                </v-card-text>
              </v-card>
            </v-tab-item>

            <v-tab-item>
              <v-card flat>
                <v-card-text>
                  <FReturnTable
                    ref="reftabReturnTableClick"
                    @refreshSummary="refreshSummary"
                  />
                </v-card-text>
              </v-card>
            </v-tab-item>

            <v-tab-item v-if="currentUser">
              <v-card flat>
                <v-card-text>
                  <Return ref="refTabInputReturnClick" />
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ERole from "../../../models/e-role";
import FReturnTable from "../components/return/FReturnTable";
import Return from "./Return";

export default {
  name: "ReturnData",
  components: { FReturnTable, Return },
  data() {
    return {
      firstTabTitle: "Return",
      firstTabIcon: "mdi-home-variant",
      summary: {},
      summaryItemColor: ["grey", "orange", "blue", "red"],
      summaryReturnColor: ["indigo", "deep-purple", "teal"],
    };
  },
  computed: {
    currentUserCS() {
      return this.$store.state.auth.user;
    },
    haveroleCS() {
      return this.currentUserCS.roles;
    },
    currentUser() {
      return [
        ERole.ROLE_INVENTORY,
        ERole.ROLE_INVENTORY_1,
        ERole.ROLE_INVENTORY_2,
      ].some((x) => this.$store.state.auth.user.roles.includes(x));
    },
    isAdminOrInventory() {
      return [
        ERole.ROLE_INVENTORY,
        ERole.ROLE_INVENTORY_1,
        ERole.ROLE_INVENTORY_2,
        ERole.ROLE_ADMIN,
        ERole.ROLE_ADMIN1,
        ERole.ROLE_ADMIN2,
      ].some((x) => this.$store.state.auth.user.roles.includes(x));
    },
    isAllRoleWithoutCs() {
      return [
        ERole.ROLE_ADMIN,
        ERole.ROLE_ADMIN1,
        ERole.ROLE_ADMIN2,
        ERole.ROLE_USER,
        ERole.ROLE_SALES,
        ERole.ROLE_AGEN,
        ERole.ROLE_RSL_1,
        ERole.ROLE_RSL_2,
        ERole.ROLE_INVENTORY,
        ERole.ROLE_INVENTORY_1,
        ERole.ROLE_INVENTORY_2,
        ERole.ROLE_PIUTANG,
        ERole.ROLE_PIUTANG_1,
      ].some((x) => this.$store.state.auth.user.roles.includes(x));
    },
  },
  methods: {
    refreshSummary(data) {
      this.summary = data.data;
    },
    tabUsersClick() {},
    tabInputReturnClick() {
      // this.$refs.refTabInputReturnClick.fetchParent();
    },
    tabReturnTableClick() {
      this.$refs.reftabReturnTableClick.fetchData(true);
    },
  },
};
</script>

<style scoped></style>
