<template>
  <div class="align-self-center">
    <v-dialog
     v-model="dialogShow"
     :width="formDialogOptions.width"
     :style="{zIndex:formDialogOptions.zIndex}"
     @keydown.esc.prevent="closeDialog"
     transition="dialog-top-transition"
    >
    <v-card>
      <v-toolbar
      color="rgb(66,103,178)"
      elevation="0"
      dark
      dense
      >
      <v-toolbar-title>Import Ticket
        Ekspedisi</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
      color="white"
      icon
      @click="closeDialog"
      >
       <v-icon>mdi-close</v-icon>
      </v-btn>
      </v-toolbar>

      <v-card-text class="justify-center">
        <v-row>
         <v-col cols="6">
          <v-file-input
          v-model="currentFile"
          show-size
          counter
          label="Pilih File Excel"
          accept=".xls,.xlsx"
          @change="selectFile"
          >
          </v-file-input>
        </v-col>
         <v-col cols="6" class=" mt-5">
                <v-btn style="color: white;" block color="rgb(66, 103, 178)" @click="startUpload" :disabled="!currentFile || sudahUpload===true || prioritySelected === '' || supportTicketCategoryEkspedisi === '' || prioritySelected === null || supportTicketCategoryEkspedisi === null ">
                  Import
                  <v-icon right style="color: white;">mdi-cloud-upload</v-icon>
                </v-btn>
         </v-col>
        </v-row>
        <v-row justify="center" align="center">
        <v-col cols="6">
          <v-autocomplete
          filled
          dense
          clearable
          hide-details
          item-value="name"
          item-text="name"
          label="Priority"
          v-model="prioritySelected"
          :items="itemsPriority"
          >
          </v-autocomplete>
        </v-col>
        <v-col cols="6">
           <v-autocomplete
           v-model="supportTicketCategoryEkspedisi"
          :items="itemsFKategoriTicket"
           item-value="id"
           item-text="name"
           dense
           chips
           filled
           small-chips
           deletable-chips
           clearable
           label="Kategori"
           hide-details
          ></v-autocomplete>
        </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="12" md="12">
            <v-skeleton-loader
            v-if="loading"
            class="mx-auto"
            type="table"
            transition="scale-transition"
            >
            </v-skeleton-loader>
            <v-data-table
            :items="itemsComputed"
            v-if="!loading"
            :headers="headers"
            >
            </v-data-table>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    </v-dialog>
  </div>
</template>
<script>
import readXlsxFile from "read-excel-file";
import FSupportTicketExpedisiService from "../../services/f-support-ticket-expedisi-service"

export default{
  name:"FSupportTicketEkspedisiImportDialog",
  props:{},
  components:{},
  inject:{},
  data(){
    return{
      sudahUpload: false,
      dialogShow:false,
      formDialogOptions:{
        color:"grey lighten-3",
        width:800,
        zIndex:200,
        noConfirm:false,
      },
      supportTicketCategoryEkspedisi:'',
      currentFile:undefined,
      prioritySelected:'',
      progress:0,
      message:"",
      items:[],
      headers:[
        {
          text:'Delivery Number',
          value:'awb',
          width:'30%'
        },
        {
          text:'Pesan',
          value:'message',
          width:'35%'
        },
        {
          text:'Deskripsi',
          value:'description',
          width:'35%'
        }
      ],
      itemsPriority: [
        {
          id: 0,
          name: "LOW",
        },
        {
          id: 1,
          name: "MEDIUM",
        },
        {
          id: 2,
          name: "HIGH",
        },
      ],
    }
  },
  computed:{
    itemsComputed(){
      return this.items
    },
    itemsFKategoriTicket(){
      return this.$store.state.data.listFTicketCategoryEkspedisi;
    },
  },
  methods:{
    startUpload() {
      this.loading = true

      if (!this.currentFile) {
        return;
      }

      FSupportTicketExpedisiService.createFSupportExpedisiTicketByImport(
        {
          category_id:this.supportTicketCategoryEkspedisi,
          priority:this.prioritySelected,
          data:this.items
        }
      ).then(
        () => {
           this.$emit("loadTicketingExpedisi")
        },
        (error) => {
          console.log(error);
        }
      )

       this.dialogShow = false
       this.sudahUpload = true
       this.loading = false
      this.currentFile = undefined
      this.progress = 0;
      this.message = "";
      this.items = []

    },
    selectFile(file){
      this.currentFile = file
      this.progress = 0;
      this.message = "";
      this.items = []

      readXlsxFile(this.currentFile).then((rows) => {
        rows.forEach(items => {
          this.items.push({
            "awb":items[0],
            "message":items[1],
            "description":items[2],
            "imagePath":""
          })
        })
      })
    },
    showDialog(){
      this.dialogShow = true
       this.sudahUpload = false

    },
    closeDialog(){
      if (! this.isItemModified) {
        this.dialogShow = false
       this.currentFile = undefined
      this.progress = 0;
      this.message = "";
      this.items = []

      }
    }
  },
  mounted(){}
}
</script>
