<template>
  <div>
    <v-card class="elevation-0">
      <v-card-title>
        {{ title }}
        <v-spacer></v-spacer>
      </v-card-title>
      <v-container>
        <v-row>
          <v-col cols="14" sm="12" md="2">
            <v-autocomplete
              dense
              outlined
              :items="ticketStatus"
              item-value="value"
              item-text="name"
              v-model="payloadTicketingFilter.status"
            >
            </v-autocomplete>
          </v-col>
          <v-col cols="12" sm="12" md="3">
            <v-autocomplete
              dense
              outlined
              label="Expedisi"
              :items="expedisiData"
              item-value="id"
              item-text="kode1"
              multiple
              v-model="payloadTicketingFilter.expedisiIds"
              small-chips
            >
            </v-autocomplete>
          </v-col>
          <v-col cols="12" sm="12" md="3">
            <v-text-field
              v-on:keyup.enter="searchOnEnter"
              v-on:blur="searchOnEnter"
              label="Delivery Number"
              v-model="payloadTicketingFilter.deliveryNumber"
              outlined
              dense
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="3">
            <DateRangePicker
              ref="picker"
              style="height: 100%; width: 100%"
              :ranges="rangesDate"
              :opens="'left'"
              v-model="datePickerRangeOrder"
              @update="chaneDatePickerRange"
              :locale-data="{ format: 'dd-mm-yyyy' }"
              :auto-apply="true"
              :showDropdowns="dprShowDropdowns"
            >
            </DateRangePicker>
          </v-col>
          <v-col cols="12" sm="12" md="1">
            <div class="d-flex">
              <v-btn
                v-if="filterStatus"
                icon
                @click.stop="clearFetch()"
                color="primary"
                ><v-icon>mdi mdi-close</v-icon></v-btn
              >
              <v-btn icon @click.stop="fetchFilterTicketing()" color="primary"
                ><v-icon>mdi mdi-filter</v-icon></v-btn
              >
            </div>
          </v-col>
        </v-row>
      </v-container>

      <v-data-table
        v-model="selectedItems"
        :single-select="!multiSelect"
        :show-select="multiSelect"
        :headers="headers"
        :items="fTicketingDataComputed"
        :page.sync="currentPage"
        :items-per-page="pageSize"
        hide-default-footer
        class="elevation-0 row-pointer"
        @click:row="showChatDialog"
        @page-count="totalTablePages = totalPaginationPages"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn
            v-if="
              (haveRoleAdmin ||
                currentUser.roles.includes('ROLE_RSL_1') ||
                currentUser.roles.includes('ROLE_RSL_2') ||
                currentUser.roles.includes('ROLE_AGEN')) &&
              item.ticket_status !== 'CLOSED'
            "
            @click.stop="updateTicketCase(item, 1)"
            icon
          >
            <v-icon small color="green accent-4"> mdi-check </v-icon>
          </v-btn>
          <v-btn
            v-if="haveRoleAdmin"
            @click.stop="deleteDialogShow(item)"
            icon
            :disabled="multiSelect"
          >
            <v-icon small color="red accent-4"> mdi-delete </v-icon>
          </v-btn>
        </template>
        <template v-slot:[`item.description`]="{ item }">
          <div v-if="item.description">
            <div
              v-html="
                item.description.length > 50
                  ? item.description.substring(0, 50) + '...'
                  : item.description
              "
            ></div>
          </div>
        </template>
        <template v-slot:[`item.deliveryNumber`]="{ item }">
          <div :class="item.isOpen ? 'blue--text' : 'red--text'">
            {{ item.deliveryNumber }}
          </div>
        </template>
        <template v-slot:[`item.created_at`]="{ item }">
          <div>
            {{ unixTimeStampToDate(item.created_at) }}
          </div>
        </template>
      </v-data-table>

      <v-container>
        <v-row justify="end" align="center">
          <v-col cols="4" md="2" sm="2">
            <v-select
              v-model="pageSize"
              :items="pageSizes"
              label="Items per page"
            ></v-select>
          </v-col>
          <v-col cols="10" md="9" sm="8" align="right">
            <v-pagination
              v-model="currentPage"
              :length="totalPaginationPages"
              total-visible="8"
              circle
            ></v-pagination>
          </v-col>
        </v-row>
      </v-container>

      <DeleteConfirmDialog
        ref="refDeleteConfirmDialog"
        @eventFromDeleteConfirmDialog1="deleteItemConfirmedSingleSelect"
      ></DeleteConfirmDialog>

      <DialogTicketingConversation
        ref="refConversationDialog"
        @eventOnUpdateTicket="updateTicketCase"
      ></DialogTicketingConversation>

      <DialogTicketingExpedisi ref="refFormDialogTicketingExpedisi">
      </DialogTicketingExpedisi>

      <v-snackbar v-model="snackbar">
        {{ snackBarMesage }}
        <template v-slot:action="{ attrs }">
          <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
        </template>
      </v-snackbar>
    </v-card>
  </div>
</template>

<script>
import DeleteConfirmDialog from "../../../../components/utils/DeleteConfirmDialog";
import FSupportTicket from "../../models/f-support-ticket";
import FSupportTicketService from "../../services/f-support-ticket-service";
import DialogTicketingConversation from "../DialogTicketingConversation";
import FExpedisiService from "../../../mitra/services/ekspedisi_service/f-expedisi-service";
import FticketingFilter from "../../../../models/payload/f-ticketing-filter";
import DateRangePicker from "vue2-daterange-picker";
import DialogTicketingExpedisi from "../DialogTicketingExpedisi.vue";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";

export default {
  components: {
    DialogTicketingConversation,
    DeleteConfirmDialog,
    DateRangePicker,
    DialogTicketingExpedisi,
  },
  data() {
    let today = new Date();
    today.setHours(12, 0, 0, 0);
    let yesterday = new Date();
    yesterday.setDate(today.getDate() - 1);
    yesterday.setHours(12, 0, 0, 0);

    return {
      title: "Data tiket",
      snackbar: false,
      snackBarMesage: "",
      rangesDate: {
        Today: [today, today],
        Yesterday: [yesterday, yesterday],
        "This month": [
          new Date(today.getFullYear(), today.getMonth(), 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 31, 12, 0, 0, 0),
        ],
        "Last month": [
          new Date(today.getFullYear(), today.getMonth() - 1, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), today.getMonth(), 0, 12, 0, 0, 0),
        ],
        "This year": [
          new Date(today.getFullYear(), 0, 1, 12, 0, 0, 0),
          new Date(today.getFullYear(), 11, 31, 12, 0, 0, 0),
        ],
        "Last year": [
          new Date(today.getFullYear() - 1, 0, 1, 12, 0, 0, 0),
          new Date(today.getFullYear() - 1, 11, 31, 12, 0, 0, 0),
        ],
      },
      datePickerRangeOrder: {
        startDate: (function (d) {
          d.setDate(d.getDate() - 2);
          return d;
        })(new Date()),
        endDate: new Date(),
      },
      dprLocale: {
        direction: "ltr",
        format: "dd-mm-yyyy",
        separator: "~",
        applyLabel: "Terapkan",
        cancelLabel: "Batal",
        weekLabel: "W",
        customRangeLabel: "Custom Range",
        firstDay: 1,
      },
      dprAutoApply: true,
      dprShowDropdowns: true,
      multiSelect: false,
      selectedItems: [],
      ticketStatus: [
        { name: "All status", value: "" },
        { name: "Open ticket", value: "OPEN" },
        { name: "Pending ticket", value: "PENDING" },
        { name: "Closed ticket", value: "CLOSED" },
      ],
      expedisiData: [],
      ticketStatusValue: "",
      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      pageSize: 10,
      pageSizes: [10, 25, 50, 150, 500],
      payloadTicketingFilter: new FticketingFilter(),
      search: "",
      headers: [
        {
          text: "",
          align: "center",
          sortable: false,
          value: "avatar",
        },
        { text: "Pelapor", value: "created_by" },
        { text: "Delivery Number", value: "deliveryNumber" },
        { text: "Created", value: "created_at" },
        { text: "Description", value: "description" },
        { text: "Priority", value: "priority" },
        { text: "Kategori", value: "category" },
        { text: "Status", value: "ticket_status" },
        { text: "Actions", value: "actions", sortable: false },
      ],
      formMode: "",
      itemSelectedIndex: -1,
      itemSelected: "",
      fTicketingData: [new FSupportTicket()],
      orderDateFrom: new Date(),
      orderDateTo: new Date(),
      filterStatus: false,
    };
  },
  watch: {
    currentPage: {
      handler: function (value) {
        if (value) {
          if (this.filterStatus) {
            this.fetchFilterTicketing();
          } else {
            this.fetchFSupportTicket();
          }
        }
      },
    },
    pageSize: {
      handler: function () {
        const refreshData = this.currentPage == 1;
        this.currentPage = 1;
        if (this.filterStatus) {
          this.fetchFilterTicketing();
        } else if (refreshData) {
          this.fetchFSupportTicket();
        }
      },
    },
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    isHasRoleExpedisiComputed() {
      if (this.currentUser.roles) {
        return (
          this.currentUser.roles.find((e) => e.includes("ROLE_EKSPEDISI")) ===
            "ROLE_EKSPEDISI" && this.currentUser.roles.length === 1
        );
      } else {
        return false;
      }
    },
    fTicketingDataComputed() {
      return this.fTicketingData;
    },
    haveRoleAdmin() {
      let isValid = false;
      if (this.currentUser.roles != null) {
        if (
          this.currentUser.roles.includes("ROLE_ADMIN") ||
          this.currentUser.roles.includes("ROLE_ADMIN1") ||
          this.currentUser.roles.includes("ROLE_ADMIN2")
        ) {
          isValid = true;
        }
      }
      return isValid;
    },
  },
  methods: {
    unixTimeStampToDate(value) {
      return moment.unix(value).format("DD-MM-YYYY hh:mm:ss");
    },
    showDialogOpenTicket() {
      this.initTicketShow();
    },
    initTicketShow() {
      this.$refs.refFormDialogTicketingExpedisi.showDialog();
    },
    toISOLocal(d) {
      var z = (n) => ("0" + n).slice(-2);
      var zz = (n) => ("00" + n).slice(-3);
      var off = d.getTimezoneOffset();
      var sign = off > 0 ? "-" : "+";
      off = Math.abs(off);

      return (
        d.getFullYear() +
        "-" +
        z(d.getMonth() + 1) +
        "-" +
        z(d.getDate()) +
        "T" +
        z(d.getHours()) +
        ":" +
        z(d.getMinutes()) +
        ":" +
        z(d.getSeconds()) +
        "." +
        zz(d.getMilliseconds()) +
        sign +
        z((off / 60) | 0) +
        ":" +
        z(off % 60)
      );
    },
    chaneDatePickerRange() {
      this.payloadTicketingFilter.dateStart = moment(
        this.toISOLocal(this.datePickerRangeOrder.startDate)
      )
        .startOf("day")
        .unix();
      this.payloadTicketingFilter.dateEnd = moment(
        this.toISOLocal(this.datePickerRangeOrder.endDate)
      )
        .endOf("day")
        .unix();
    },
    showChatDialog(item) {
      if (
        !item.isOpen &&
        (this.haveRoleAdmin ||
          this.currentUser.roles.includes("ROLE_EKSPEDISI"))
      ) {
        FSupportTicketService.openFSupportTicket(item.id).then(
          () => {
            item.isOpen = true;
            this.$refs.refConversationDialog.showDialog(item);
          },
          (err) => {
            console.log(err);
          }
        );
      } else {
        this.$refs.refConversationDialog.showDialog(item);
      }
    },
    updateTicketCase(item, status = null) {
      if (status != null) {
        item.status = status;
      }

      FSupportTicketService.updateFSupportTicket(
        {
          support_ticket_category_id: item.category_id,
          description: item.description,
          priority: item.priority,
          status: item.status,
        },
        item.id
      ).then(
        () => {
          this.fetchFSupportTicket();
          this.$swal({
            title: "Success",
            text: "Berhasil update tiket",
            icon: "success",
            confirmButtonText: "Tutup",
          });
        },
        (err) => {
          console.log(err);
        }
      );
    },
    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        this.currentPage = 1;
        this.payloadTicketingFilter.deliveryNumber = event.target.value;
      }
    },
    clearFetch() {
      this.filterStatus = false;
      this.payloadTicketingFilter.deliveryNumber = "";
      this.payloadTicketingFilter.status = "";
      this.payloadTicketingFilter.expedisiIds = [];
      this.payloadTicketingFilter.dateEnd = "";
      this.payloadTicketingFilter.dateStart = "";

      this.$emit("updateSummary", this.payloadTicketingFilter, 0);

      FSupportTicketService.getAllSupportTicketContainingNonAdmin(
        this.currentPage,
        this.pageSize,
        "createdAt",
        "DESC",
        "",
        "",
        ""
      ).then(
        (response) => {
          const { content, totalPages } = response.data;
          this.totalPaginationPages = totalPages;
          this.fTicketingData = content;
        },
        (error) => {
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },
    fetchFSupportTicket(type) {
      if (type !== "mounted") {
        this.payloadTicketingFilter.dateStart = moment(
          this.toISOLocal(this.datePickerRangeOrder.startDate)
        )
          .startOf("day")
          .unix();
        this.payloadTicketingFilter.dateEnd = moment(
          this.toISOLocal(this.datePickerRangeOrder.endDate)
        )
          .endOf("day")
          .unix();
      }
      if (!this.filterStatus) {
        this.payloadTicketingFilter.dateStart = "";
        this.payloadTicketingFilter.dateEnd = "";
      }
      this.$emit("updateSummary", this.payloadTicketingFilter, 0);
      FSupportTicketService.getAllSupportTicketContainingNonAdmin(
        this.currentPage,
        this.pageSize,
        "createdAt",
        "DESC",
        this.payloadTicketingFilter.deliveryNumber,
        "",
        this.payloadTicketingFilter.status
      ).then(
        (response) => {
          const { content, totalPages } = response.data;
          this.totalPaginationPages = totalPages;
          this.fTicketingData = content;
        },
        (error) => {
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },
    linkNeated(link) {
      return link.replace(/\s+/g, "-").toLocaleLowerCase();
    },
    deleteDialogShow(item) {
      this.itemSelectedIndex = this.fTicketingDataComputed.indexOf(item);
      this.itemSelected = Object.assign({}, item);
      this.$refs.refDeleteConfirmDialog.showDialog(
        this.itemSelectedIndex,
        item.username
      );
    },
    deleteDialogMultiShow() {
      if (this.multiSelect === true) {
        this.$refs.refDeleteConfirmDialog.showDialogMulti(
          this.selectedItems,
          `${this.selectedItems.length} items selected`
        );
      }
    },
    deleteItemConfirmedSingleSelect() {
      const deletedItem = this.fTicketingData[this.itemSelectedIndex];
      FSupportTicketService.deleteFSupportTicket(deletedItem.id).then(
        () => {
          this.fTicketingData.splice(this.itemSelectedIndex, 1);
          this.closeDialog();
        },
        () => {
          this.snackBarMesage = "gagal hapus (digunakan oleh data anak)";
          this.snackbar = true;
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
        }
      );
    },
    closeDialog() {
      this.formMode = "";
      this.$refs.refDeleteConfirmDialog.setDialogState(false);
      this.$nextTick(() => {
        this.itemSelected = Object.assign({}, new FSupportTicket());
        this.itemSelectedIndex = -1;
      });
    },

    getColorStatusActive(trueFalse) {
      if (trueFalse === true) return "green";
      else if (trueFalse === false) return "gray";
      else return "gray";
    },

    fetchFAllExpedisi() {
      FExpedisiService.getAllFExpedisi().then(
        (res) => {
          this.expedisiData = res.data;
        },
        (err) => {
          console.log(err);
        }
      );
    },

    fetchFilterTicketing() {
      this.filterStatus = true;
      this.payloadTicketingFilter.page = this.currentPage;
      this.payloadTicketingFilter.pageSize = this.pageSize;
      this.payloadTicketingFilter.sortBy = "createdAt";
      this.payloadTicketingFilter.order = "DESC";
      this.payloadTicketingFilter.categoryId = "";
      this.payloadTicketingFilter.dateStart = moment(
        this.toISOLocal(this.datePickerRangeOrder.startDate)
      )
        .startOf("day")
        .unix();

      this.payloadTicketingFilter.dateEnd = moment(
        this.toISOLocal(this.datePickerRangeOrder.endDate)
      )
        .endOf("day")
        .unix();
      this.$emit("updateSummary", this.payloadTicketingFilter, 0);

      FSupportTicketService.filterTicketing(this.payloadTicketingFilter).then(
        (res) => {
          const { content, totalPages } = res.data;
          this.totalPaginationPages = totalPages;
          this.fTicketingData = content;
        },
        (err) => {
          console.log(err);
        }
      );
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.fetchFAllExpedisi();
      this.fetchFSupportTicket("mounted");
    }
  },
};
</script>
