<template>
  <v-dialog
    v-model="dialogShow"
    :max-width="options.width"
    :style="{ zIndex: options.zIndex }"
    @keydown.esc="dialogShow = false"
  >
    <v-card flat>
      <v-card-title>
        <v-icon class="mr-2" color="orange darken-1">mdi mdi-alert</v-icon>
        {{ options.title }}
      </v-card-title>
      <v-divider />
      <v-card-text>
        <div class="py-5">
          <span> {{ options.message1 }}, {{ options.message2 }}</span>
        </div>

        <div class="d-flex justify-end">
          <v-btn
            color="grey darken-1"
            class="mr-2"
            text
            @click="dialogShow = false"
            >Batal</v-btn
          >
          <v-btn color="primary darken-1" elevation="0" @click="closeConfirmed">
            Tutup</v-btn
          >
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "CloseDialog",
  data() {
    return {
      dialogShow: false,
      options: {
        title: "Konfirmasi Close",
        message1: "Sudah ada Modifikasi, Lanjutkan Cancel?",
        message2: "",
        color: "primary",
        width: 400,
        zIndex: 200,
      },
    };
  },
  methods: {
    closeConfirmed: function () {
      this.$emit("eventFromCloseConfirm", "OKE");
    },
    showDialog(message1, message2) {
      this.options.message1 = message1 !== undefined ? message1 : "";
      this.options.message2 = message2 !== undefined ? message2 : "";
      this.dialogShow = !this.dialogShow;
    },
  },
};
</script>
