<template>
  <v-dialog
      v-model="dialogShow"
      :max-width="myConfirmOptions.width"
      :style="{ zIndex: myConfirmOptions.zIndex }"
      @keydown.esc="dialogShow=false"
  >
    <v-card>
      <v-toolbar dark :color="myConfirmOptions.color" dense flat>
        <v-toolbar-title class="text-body-2 font-weight-bold grey--text">
          {{ myConfirmOptions.title }}
        </v-toolbar-title>
      </v-toolbar>
        <p align="center" class="mt-2">
          {{myConfirmOptions.message1}}<br>{{myConfirmOptions.message2}}
        </p>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey darken-1" outlined text @click="dialogShow=false">Cancel</v-btn>
        <v-btn color="blue darken-1" outlined text @click="okeConfirmed" >OKE<v-icon small color="blue">mdi-play</v-icon></v-btn>
      </v-card-actions>

    </v-card>
  </v-dialog>

</template>

<script>
export default {
  name: "CloseDialog",
  data() {
    return {
      dialogShow: false,
      myConfirmOptions: {
        title: 'Konfirmasi',
        message1: 'Lanjutkan Proses?',
        message2: '',
        color: "grey lighten-3",
        width: 400,
        zIndex: 200,
        noconfirm: false,
      },
    }
  },

  props: [
  ],
  computed: {
  },
  methods: {
    okeConfirmed: function(){
      // this.myConfirmDelete = false
      this.$emit('eventFromConfirmDialog', "OKE")
    },
    showDialog(message1, message2) {
      // console.log("from parent " + message)
      this.myConfirmOptions.message1 = message1!==undefined?message1:''
      this.myConfirmOptions.message2 = message2!==undefined?message2:''
      this.dialogShow = !this.dialogShow
    },
    setDialogState(value){
      // console.log(value)
      this.dialogShow =value
    }


  }

}
</script>

<style scoped>

</style>