<template>
  <div>
    <v-dialog
      v-model="dialogShow"
      :max-width="formDialogOptions.width"
      :style="{ zIndex: formDialogOptions.zIndex }"
      @keydown.esc="dialogShow = false"
    >
      <v-card>
        <v-toolbar dark color="white" flat dense>
          <div class="text-h6" style="color: black">Filter</div>
          <v-spacer></v-spacer>
          <v-btn @click="closeDialog" icon color="red">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6">
                <v-autocomplete
                  density="compact"
                  v-model="categoryId"
                  :items="categoryProductData"
                  item-value="id"
                  item-text="description"
                  outlined
                  dense
                  label="kategori"
                  deletable-chips
                  clearable
                >
                </v-autocomplete>
              </v-col>
              <v-col cols="12" md="6">
                <v-autocomplete
                  v-model="brandId"
                  :items="branchProductData"
                  item-value="id"
                  item-text="description"
                  outlined
                  dense
                  label="Brand"
                  deletable-chips
                  clearable
                >
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-card-text>
          <v-divider />
          <v-card-actions class="d-flex justify-end">
            <v-btn @click="fetchToParent" color="primary">Apply</v-btn>
          </v-card-actions>
        </v-card>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  name: "FilterCatalogProductDialog",
  data() {
    return {
      dialogShow: false,
      brandId: "",
      categoryId: "",
      formDialogOptions: {
        width: 500,
        zIndex: 200,
      },
      branchProductData: [],
      categoryProductData: [],
    };
  },
  props: {
    method: { type: Function },
  },
  computed: {},
  methods: {
    closeDialog() {
      this.dialogShow = false;
      this.brandId = "";
      this.categoryId = "";
    },
    showDialog() {
      this.dialogShow = !this.dialogShow;
    },
    setBrandAndCategoryProduct(brands, categorys) {
      this.branchProductData = brands;
      this.categoryProductData = categorys;
    },
    fetchToParent() {
      this.dialogShow = false;
      this.$emit("getCatalogPaginated", {
        brand: this.brandId,
        category: this.categoryId,
      });
    },
    clearFilterValue() {
      this.brandId = "";
      this.categoryId = "";
    },
  },
};
</script>
<style scoped></style>
