<template>
  <v-dialog
    v-model="dialogShow"
    :max-width="formDialogOptions.width"
    :style="{ zIndex: formDialogOptions.zIndex }"
    @keydown.esc="dialogShow = false"
  >
    <v-card>
      <v-toolbar dark color="primary" flat dense>
        <v-btn color="white" text @click="dialogShow = false">
          <v-icon small>mdi-close</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn target="_blank" :href="lookupImageUrl(imageUrl)" text>
          Download Image
        </v-btn>
      </v-toolbar>
      <v-img
        :src="lookupImageUrl(imageUrl)"
        :lazy-src="lookupImageUrlLazy(imageUrl)"
        height="500"
        contain
        class="grey darken-3"
      >
      </v-img>
    </v-card>
  </v-dialog>
</template>

<script>
import FileService from "../../services/apiservices/file_service/file-service";

export default {
  name: "ImagePreviewDialog",
  data() {
    return {
      dialogShow: false,
      formDialogOptions: {
        width: 800,
        zIndex: 200,
      },
      imageUrl: "",
    };
  },
  props: {},
  computed: {},
  methods: {
    lookupImageUrl(image) {
      if (image === undefined || image === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_original(image);
      }
    },
    lookupImageUrlLazy(image) {
      return FileService.image_url_verylow(image);
    },

    showDialog() {
      this.dialogShow = !this.dialogShow;
    },
    setDialogState() {
      this.dialogShow = false;
    },
    setImageUrl(url) {
      this.imageUrl = url;
    },
  },
};
</script>

<style scoped></style>
