<template>
  <v-card class="elevation-0">
    <v-card-title>
      {{ title }}
      <v-spacer></v-spacer>

      <v-text-field
        v-on:keyup.enter="searchOnEnter"
        v-on:blur="searchOnEnter"
        append-icon="mdi-magnify"
        hint="Kode, Deskripsi (press ENTER to search)"
        label="Search"
      ></v-text-field>
    </v-card-title>

    <v-data-table
      v-model="selectedItems"
      :single-select="!multiSelect"
      :show-select="multiSelect"
      :headers="headers"
      :items="fCustomersFiltered"
      :page.sync="currentPage"
      :items-per-page="pageSize"
      hide-default-footer
      class="elevation-0"
      @page-count="totalTablePages = totalPaginationPages"
      align="start"
    >
      <template v-slot:top>
        <v-row align="center" class="ml-4 mr-4">
          <v-switch
            v-model="multiSelect"
            :label="multiSelect ? 'Multi Select' : 'Single Select'"
            x-small
            class="pa-3"
          ></v-switch>
          <v-btn
            fab
            dark
            color="red accent-4"
            x-small
            :disabled="!multiSelect"
            class="mr-2"
            @click="deleteDialogMultiShow"
          >
            <v-icon>mdi-delete</v-icon>
          </v-btn>

          <v-spacer></v-spacer>

          <v-btn
            fab
            dark
            color="green"
            x-small
            @click="showDialogNew"
            :disabled="multiSelect"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-row>
      </template>

      <template v-slot:[`item.number`]="{ index }">
        {{ index + (currentPage - 1) * pageSize + 1 }}
      </template>

      <template v-slot:[`item.avatar`]="{ item }">
        <v-img
          :lazy-src="lookupImageUrlLazy(item)"
          :src="lookupImageUrl(item)"
          alt="avatar"
          width="80px"
          height="80px"
          class="ma-2 rounded"
        >
        </v-img>
      </template>

      <template v-slot:[`item.custname`]="{ item }">
        <div class="subtitle-2">
          {{ item.custname }}
        </div>
        <div class="subtitle-2 font-weight-light" v-if="item.custno">
          *{{ item.custno }}
        </div>
        <div v-if="item.npwp" class="caption small">
          NPWP <span class="font-italic">{{ item.npwp }}</span>
        </div>
        <div class="text-caption small grey--text">
          of {{ item.fsalesmanName }}
        </div>
      </template>

      <template v-slot:[`item.address1`]="{ item }">
        <div class="fill-height">
          <div>
            {{ item.address1 }}
          </div>
          <div class="caption small" v-if="item.address2">
            {{ item.address2 }}
          </div>
          <div>
            {{ item.district1 }} -
            <span class="subtitle-2">{{ item.city1 }}</span>
          </div>
          <div v-if="item.phone || item.email">
            <span v-if="item.phone"
              ><v-icon x-small>mdi-phone-classic</v-icon>+{{
                item.countryCode
              }}
              {{ item.phone }}</span
            >
            <span class="ml-1 caption" v-if="item.email"
              ><v-icon x-small>mdi-email</v-icon>{{ item.email }}</span
            >
          </div>
        </div>
      </template>

      <template v-slot:[`item.fdivisionBean`]="{ item }">
        <div class="fill-height">
          <div class="caption">
            {{ item.divisionName }}
          </div>
          <div>
            <v-chip
              :color="getColorStatusActive(item.statusActive)"
              dark
              x-small
            >
              {{ item.statusActive == true ? "Aktif" : "-" }}
            </v-chip>
          </div>
        </div>
      </template>

      <template v-slot:[`item.statusActive`]="{ item }">
        <v-chip :color="getColorStatusActive(item.statusActive)" dark small>
          {{ item.statusActive == true ? "Aktif" : "-" }}
        </v-chip>
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-btn @click="showDialogEdit(item)" icon :disabled="multiSelect">
          <v-icon small color="warning"> mdi-pencil </v-icon>
        </v-btn>

        <v-btn @click="deleteDialogShow(item)" icon :disabled="multiSelect">
          <v-icon small color="red accent-4"> mdi-delete </v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <!--    @page-count="pageCount = $event"-->

    <v-container>
      <v-row justify="end" align="center">
        <v-col cols="4" md="2" sm="2">
          <v-select
            v-model="pageSize"
            :items="pageSizes"
            label="Items per page"
          ></v-select>
        </v-col>
        <v-col cols="10" md="9" sm="8" align="right">
          <v-pagination
            v-model="currentPage"
            :length="totalPaginationPages"
            total-visible="8"
            circle
          ></v-pagination>
        </v-col>
      </v-row>
    </v-container>

    <DeleteDialog
      ref="refDeleteConfirmDialog"
      @eventFromDeleteConfirmDialog1="deleteItemConfirmedSingleSelect"
      @eventFromDeleteConfirmDialog2="deleteItemConfirmedMultiSelect"
    ></DeleteDialog>

    <FCustomerDialog
      :formMode.sync="formMode"
      :itemsFDivision="itemsFDivision"
      :itemsFCustomerGroup="itemsFCustomerGroup"
      :itemsFDistributionChannel="itemsFDistributionChannel"
      ref="refFormDialog"
      @eventFromFormDialogNew="saveDataNew"
      @eventFromFormDialogEdit="saveDataEdit"
    ></FCustomerDialog>

    <v-snackbar v-model="snackbar">
      {{ snackBarMesage }}
      <template v-slot:action="{ attrs }">
        <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </v-card>
</template>

<script>
import FCustomerService from "../../services/customer_service/f-customer-service";
import FDivisionService from "../../../division/services/f-division-service";
import FileService from "../../../../services/apiservices/file_service/file-service";
import FDistributionChannelService from "../../services/f-distribution-channel-service";
import FCustomerGroupService from "../../services/customer_service/f-customer-group-service";

import DeleteDialog from "../../../../components/utils/DeleteConfirmDialog";
import FCustomerDialog from "./FCustomerDialog";
import FormMode from "../../../../models/form-mode";
import FCustomer from "../../../../models/f-customer";

import { format, parseISO } from "date-fns";

export default {
  components: { FCustomerDialog, DeleteDialog },
  data() {
    return {
      title: "CUSTOMER",

      snackbar: false,
      snackBarMesage: "",

      multiSelect: false,
      selectedItems: [],
      imageBrokenLink: "./assets/img_sample/sample-1.jpeg",

      currentPage: 1,
      totalTablePages: 1,
      totalPaginationPages: 1,
      pageSize: 10,
      pageSizes: [10, 25, 50, 150, 500],

      search: "",
      headers: [
        {
          text: "No",
          value: "number",
          width: "8%",
          sortable: false,
        },
        {
          text: "",
          align: "start",
          sortable: false,
          value: "avatar",
          width: "20%",
        },
        { text: "Member/Customer", value: "custname", width: "30%" },
        { text: "Address (Default)", value: "address1", width: "35%" },
        { text: "Branch/Distributor", value: "fdivisionBean" },
        { text: "Actions", value: "actions", align: "start", sortable: false },
      ],

      formMode: "",
      itemSelectedIndex: -1,
      itemSelected: "",
      fCustomers: [],
      itemsFDivision: [],
      itemsFCustomerGroup: [],
      itemsFDistributionChannel: [],
    };
  },
  watch: {
    currentPage: {
      handler: function (value) {
        if (value) this.fetchFCustomer();
      },
    },
    pageSize: {
      handler: function (value) {
        const refreshData = this.currentPage == 1;
        this.currentPage = 1;
        if (refreshData) {
          console.log("Change PageSize " + value);
          this.fetchFCustomer();
        }
      },
    },
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    fCustomersFiltered() {
      return this.fCustomers;
    },
    itemsFSubArea() {
      return this.$store.state.data.listFSubArea;
    },
    itemsFArea() {
      return this.$store.state.data.listFArea;
    },
    itemsFRegion() {
      return this.$store.state.data.listFRegion;
    },
    itemsFSalesman() {
      return this.$store.state.data.listFSalesman;
    },
  },
  methods: {
    searchOnEnter(event) {
      if (this.search !== event.target.value) {
        //Krusial untuk search

        this.currentPage = 1;
        this.search = event.target.value;

        this.fetchFCustomer();
      }
    },
    fetchParent() {
      // this.$store.dispatch("data/loadFSalesman");
      // this.$store.dispatch("data/loadFSubArea");
      // this.$store.dispatch("data/loadFArea");
      // this.$store.dispatch("data/loadFRegion");

      if (this.currentUser.organizationLevel === "DIV") {
        FDivisionService.getFDivisionById(this.currentUser.fdivisionBean).then(
          (response) => {
            this.itemsFDivision = [response.data];
          },
          (error) => {
            console.log(error.response);
          }
        );
      } else {
        FDivisionService.getAllFDivision().then(
          (response) => {
            this.itemsFDivision = response.data;
          },
          (error) => {
            console.log(error.response);
          }
        );
      }

      FCustomerGroupService.getAllFCustomerGroupByCompany().then(
        (response) => {
          this.itemsFCustomerGroup = response.data;
        },
        (error) => {
          console.log(error.response);
        }
      );
      FDistributionChannelService.getAllFDistributionChannelByCompany().then(
        (response) => {
          this.itemsFDistributionChannel = response.data;
        },
        (error) => {
          console.log(error.response);
        }
      );
    },
    fetchFCustomer() {
      FCustomerService.getAllFCustomerContaining(
        this.currentPage,
        this.pageSize,
        "created",
        "DESC",
        this.search
      ).then(
        (response) => {
          const { items, totalPages } = response.data;
          this.fCustomers = items;
          this.totalPaginationPages = totalPages;
        },
        (error) => {
          console.log(error.response);
          if (error.response.status === 401) {
            this.snackBarMesage = "Anda tidak mempunyai Akses!!";
            this.snackbar = true;
          }
        }
      );
    },

    linkNeated(link) {
      return link.replace(/\s+/g, "-").toLocaleLowerCase();
    },

    showDialogNew() {
      this.itemSelectedIndex = -1;
      const itemModified = Object.assign({}, "");
      // this.formDialogShow = true
      this.formMode = FormMode.NEW_FORM;
      // this.$refs.refFormDialog.showDialog(this.itemSelectedIndex, itemModified, this.itemsFDivision, this.itemsCustomerType,
      //     this.itemsFCustomerSalesBrand, this.itemsFCustomerGroup3, this.itemsFCustomer, this.itemsFWarehouse, this.itemsFPegawai)
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.itemsFSubArea,
        this.itemsFArea,
        this.itemsFRegion
      );
    },
    saveDataNew(itemFromRest) {
      this.itemSelected = itemFromRest;
      this.closeDialog();
      /**
       * Setiap data baru harus terlihat
       */
      // this.fBeritas.push(this.itemSelected)
      // this.fBeritas = [itemFromRest].concat(this.fBeritas)
      // this.fBeritas.unshift(itemFromRest)
      this.fetchFCustomer();
    },

    showDialogEdit(item) {
      this.itemSelectedIndex = this.fCustomersFiltered.indexOf(item);
      const itemModified = Object.assign({}, item);
      this.formMode = FormMode.EDIT_FORM;
      // this.$refs.refFormDialog.showDialog(this.itemSelectedIndex, itemModified, this.itemsFDivision,  this.itemsCustomerType,
      //     this.itemsFCustomerSalesBrand, this.itemsFCustomerGroup3, this.itemsFCustomer, this.itemsFWarehouse, this.itemsFPegawai)
      this.$refs.refFormDialog.showDialog(
        this.itemSelectedIndex,
        itemModified,
        this.itemsFSubArea,
        this.itemsFArea,
        this.itemsFRegion
      );
    },
    saveDataEdit(item) {
      this.itemSelected = item;
      try {
        Object.assign(
          this.fCustomers[this.itemSelectedIndex],
          this.itemSelected
        );
      } catch (e) {
        this.fetchFCustomer();
        e.toString();
      }
      this.closeDialog();
    },

    deleteDialogShow(item) {
      this.itemSelectedIndex = this.fCustomersFiltered.indexOf(item);
      this.itemSelected = Object.assign({}, item);
      // this.myConfirmDelete = true
      this.$refs.refDeleteConfirmDialog.showDialog(
        this.itemSelectedIndex,
        item.username
      );
    },
    deleteDialogMultiShow() {
      if (this.multiSelect === true) {
        this.$refs.refDeleteConfirmDialog.showDialogMulti(
          this.selectedItems,
          `${this.selectedItems.length} items selected`
        );
      }
    },
    deleteItemConfirmedSingleSelect(index) {
      console.log("delete SingleItem: " + index);

      const deletedItem = this.fCustomers[this.itemSelectedIndex];
      FCustomerService.deleteFCustomer(deletedItem.id).then(
        () => {
          this.fCustomers.splice(this.itemSelectedIndex, 1);
          this.closeDialog();
        },
        (error) => {
          console.log(error);
          this.snackBarMesage = "gagal hapus (digunakan oleh data anak)";
          this.snackbar = true;
          this.$refs.refDeleteConfirmDialog.setDialogState(false);
        }
      );
    },
    deleteItemConfirmedMultiSelect(items) {
      if (items.length > -1) {
        let itemIds = [];
        for (let i = 0; i < items.length; i++) {
          itemIds.push(items[i].id);
        }
        FCustomerService.deleteAllFCustomer(itemIds).then(
          (response) => {
            if (response.data) {
              for (let i = 0; i < items.length; i++) {
                if (
                  !response.data.includes(items[i].id) ||
                  response.data.length === 0
                ) {
                  const index = this.fCustomersFiltered.indexOf(items[i]);
                  this.fCustomers.splice(index, 1);
                }
                if (response.data.length > 0) {
                  this.snackBarMesage = `${response.data.length} items gagal hapus (digunakan oleh data anak)`;
                  this.snackbar = true;
                }
              }
              this.closeDialog();
            }
          },
          (error) => {
            console.log("error " + error);
          }
        );

        // FCustomerService.deleteAllFCustomers()
      }
    },
    closeDialog() {
      // this.myConfirmDialog = false
      this.formMode = "";
      this.$refs.refDeleteConfirmDialog.setDialogState(false);
      this.$refs.refFormDialog.setDialogState(false);

      this.$nextTick(() => {
        this.itemSelected = Object.assign({}, new FCustomer());
        this.itemSelectedIndex = -1;
      });
    },

    getColorStatusActive(trueFalse) {
      if (trueFalse === true) return "green";
      else if (trueFalse === false) return "gray";
      else return "gray";
    },
    lookupImageUrl(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_low(item.avatarImage);
      }
    },
    lookupImageUrlLazy(item) {
      if (item.avatarImage === undefined || item.avatarImage === "") {
        return "./assets/images/no_image_available.jpeg";
      } else {
        return FileService.image_url_verylow(item.avatarImage);
      }
    },

    onImgError: function (event) {
      /**
       * masih belum fungsi
       */
      console.log(event);
    },
    computedDateFormattedDatefns(value) {
      return value ? format(parseISO(value), "dd-MMM-yyyy") : "";
    },
    formattedCurrencyValue(prefix, value) {
      if (!value) {
        return "0";
      }
      // return "Rp." + parseFloat(value).toFixed(0).toLocaleString()
      return prefix + "" + parseFloat(value).toLocaleString();
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.fetchParent();
      this.fetchFCustomer();
    }
  },
};
</script>

<style scoped></style>
