<template>
  <v-row no-gutters style="height: 100vh">
    <v-col v-if="window.width >= 1000" cols="12" md="6">
      <v-carousel
        :show-arrows="false"
        cycle
        height="100%"
        hide-delimiter-background
      >
        <v-carousel-item v-for="(slide, i) in slides" :key="i" eager>
          <v-sheet
            class="d-flex align-center flex-column justify-center"
            color="primary"
            height="100%"
            tile
          >
            <div class="d-flex justify-center align-center">
              <div>
                <v-img :src="slide.image" margin max-width="300"></v-img>
              </div>
            </div>
            <div class="mt-5 d-flex justify-center align-center">
              <h2 style="color: white">{{ slide.header }}</h2>
            </div>
            <div class="mt-4 d-flex justify-center align-center">
              <p class="text-center" style="color: white; max-width: 350px">
                {{ slide.description }}
              </p>
            </div>
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
    </v-col>
    <v-col cols="12" md="6">
      <v-form
        style="height: 100%; background-color: white"
        @submit="handleLogin"
      >
        <v-card
          class="mx-auto rounded-lg d-flex flex-column justify-center"
          flat
          max-width="450"
          style="height: 100%"
        >
          <div class="px-5">
            <v-card-title class="">
              <v-row>
                <v-col>
                  <v-alert v-if="message !== ''" dense type="error">
                    {{ message }}
                  </v-alert>
                </v-col>
              </v-row>
            </v-card-title>

            <v-row class="mb-4">
              <v-col>
                <h1 class="text-center text-h4 font-weight-bold">
                  Welcome Back
                </h1>
                <h3 class="text-center text-body-1">
                  Please enter your details.
                </h3>
              </v-col>
            </v-row>
            <v-card-text class="pb-0">
              <v-subheader class="pl-0">Username</v-subheader>
              <v-text-field
                v-model="user.username"
                background-color="secondary"
                class="mb-5"
                flat
                hide-details="auto"
                placeholder="Enter username"
                solo
              ></v-text-field>
              <v-subheader class="pl-0">Password</v-subheader>
              <v-text-field
                v-model="user.password"
                background-color="secondary"
                class="elevation-0"
                flat
                placeholder="********"
                solo
                type="password"
              ></v-text-field>
              <div class="mb-3 text-right">
                <a>Forgot password</a>
              </div>
            </v-card-text>
            <v-card-actions class="mx-2 pt-0">
              <v-btn
                class="button white--text"
                color="primary"
                elevation="0"
                large
                type="submit"
                width="100%"
                @click="handleLogin"
                >Login
              </v-btn>
            </v-card-actions>
            <div class="text-center grey--text">
              By loging in you accept the
              <a
                class="light-blue-lighten-4--text"
                href="/term_condition"
                target="_blank"
                >Term & Condition
              </a>
            </div>
            <div class="text-center pt-10 grey--text">
              <p>
                Doesn’t have account?
                <a class="light-blue-lighten-4--text" target="_blank">
                  sign up
                </a>
              </p>
            </div>
          </div>

          <v-footer
            absolute
            class="mb-5"
            padless
            style="
              border-top: 0.1px solid rgba(0, 0, 0, 0.2);
              padding-top: 10px;
              background-color: white;
            "
          >
            <v-row class="mt-3" justify="center" no-gutters>
              <v-col class="text-center" cols="6">
                <v-container class="py-0">
                  <a class="light-blue-lighten-4--text" href="/" target=""
                    >About Sellin</a
                  >
                </v-container>
              </v-col>
            </v-row>
          </v-footer>
        </v-card>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import User from "../../../models/user";

export default {
  name: "Login",
  components: {},
  data() {
    return {
      user: new User("", ""),
      loading: false,
      message: "",
      window: {
        width: 0,
        height: 0,
      },
      slides: [
        {
          image: "/assets/images/carousel/amico.png",
          header: "Jualan tanpa perlu stok barang",
          description:
            "Tanpa biaya registrasi, tanpa perlu stock dan packing barang, kamu Hanya fokus optimalkan penjualanmu di berbagai Platform sosial media dan Marketplace",
        },
        {
          image: "/assets/images/carousel/bro.png",
          header: "Multi Gudang",
          description:
            "Kirim paket dari berbagai lokasi yang sudah terafiliasi,hemat Ongkir dan paket lebih Cepat sampai, Return rate makin rendah",
        },
        {
          image: "/assets/images/carousel/pana.png",
          header: "Manajemen Team ",
          description:
            "Kamu bisa berkolaborasi dan kembangkan teammu secara sistematis dan efisien, bergabung dengan komunitas kami untuk Berbagi pengalaman berjualan Online",
        },
      ],
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();

    if (this.loggedIn) {
      this.$router.push("/dashboard");
    }
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    },
    handleLogin(e) {
      e.preventDefault();
      this.loading = true;
      this.$validator.validateAll().then((isValid) => {
        if (!isValid) {
          this.loading = false;
          return;
        }

        if (this.user.username && this.user.password) {
          this.$store.dispatch("auth/login", this.user).then(
            () => {
              if (
                this.$store.state.auth.user.roles.find(
                  (e) =>
                    e.includes("ROLE_EKSPEDISI") &&
                    this.$store.state.auth.user.roles.length === 1
                )
              ) {
                this.$router.push("/tickets");
              } else {
                this.$router.push("/dashboard");
              }
            },
            (error) => {
              this.loading = false;
              this.message = error.response.data.message;
            }
          );
        }
      });
    },
  },
};
</script>

<style scoped>
a {
  text-decoration: none;
}

.v-carousel >>> .v-carousel__controls__item.v-btn.v-btn--icon {
  background-color: black;
  height: 2px;
  width: 40px;
  border-radius: 0;
}

.v-carousel >>> .v-carousel__controls__item.v-btn.v-btn--icon.v-btn--active {
  background-color: white;
}

.v-carousel >>> .v-carousel__controls__item.v-btn.v-btn--icon:hover {
  background-color: white;
}

.v-carousel >>> .v-btn__content .v-icon {
  display: none;
}

.heighPrt {
  height: 80vh;
}

.v-main__wrap {
  display: flex;
}

@media only screen and (min-width: 2560px) {
  .heighPrt {
    height: 100vh;
  }
}

@media only screen and (max-width: 1440px) {
  .heighPrt {
    height: 90vh;
  }
}

@media only screen and (max-width: 768px) {
  .heighPrt {
    height: 85vh;
  }
}
</style>
