<template>
  <div class="container">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <p>
      <strong>Id:</strong>
      {{ currentUser.id }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Authorities:</strong>
    <ul>
      <li v-for="(role, index) in currentUser.roles" :key="index">
        {{ role }}
      </li>
    </ul>
    <p>
      <strong>Division: </strong>
      {{ currentUser.fdivisionBean }}
    </p>
    <p>
      <strong>organizationLevel: </strong>
      {{ currentUser.organizationLevel }}
    </p>
    <p>
      <strong>salesmanOf: </strong>
      {{ currentUser.salesmanOf }}
    </p>
    <TestEkspedisi />
  </div>
</template>

<script>
import TestEkspedisi from "../../mitra/components/TesEkpedisi";

export default {
  components: { TestEkspedisi },
  name: "Profile",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>
